{% comment %}
    Renders a product card

    Accepts:
    - product_card_product: {Object} Product Liquid object (optional)
    - media_size: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
    - add_image_padding: {Boolean} Enables padding on the image to space out the grid
    - show_vendor: {Boolean} Show the product vendor. Default: false
    - show_image_outline: {Boolean} Show card outline. Default: true (optional)

    Usage:
    {% render 'product-card', show_vendor: section.settings.show_vendor %}
{% endcomment %}
{% assign card_product = product_card_product %}
{% if is_variant == false %}
  {% assign card_product = product_card_product.product %}
{% endif %}
  
<div class="card-wrapper">
  {% if card_product.available == false %}
    {% render 'spinner-sold-out' %}
  {% elsif card_product.metafields.my_fields.show_trending_product_card == true %}
    {% render 'spinner-trending' %}
  {% elsif card_product.metafields.my_fields.show_most_popular_product_card == true %}
    {% render 'spinner-most-popular' %}
  {% endif %}

  <span class="visually-hidden">
    {% if is_variant == true %}
      {% if product_card_product.title == "Default Title" %}
        {{ product_card_product.product.title }}
      {% else %}
        {{ product_card_product.product.title }} - {{ product_card_product.title }}
      {% endif %}
    {% else %}
      {{ card_product.title }}
    {% endif %}
  </span>

  <div class="card card--product" tabindex="-1">
    <div class="card__inner">
      <a href="{{ card_product.url }}" class="full-unstyled-link">
        <div class="media" style="padding-bottom: 125%;">
          
          {% render 'lazy-image', image: product_card_product.featured_media, fade: true, classes: 'img-fill' %}

          {% if show_secondary_image %}
            {% assign images = product_card_product.product.media[1] %}
            {% if is_variant == false %}
              {% assign images = product_card_product.product.media[1] %}
            {% endif %}
            {% if images != nil and hover_video == blank %}
              {% render 'lazy-image', image: images, fade: true , classes: 'img-fill'%}
            {% elsif hover_video != blank %}
              <video autoplay loop muted playsinline class="img-fill">
                <source src="{{ hover_video }}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            {% endif %}
          {% endif %}
        </div>
      </a>

      {% comment %}
      <div class="card__buttons hide-mobile">
        <a href="{{ card_product.url | default: '#' }}" class="button learn-more">
          <span class="visually-hidden">{{ shop.name }}</span>Learn More</a>
      </div>
      {% endcomment %}
      
    </div>
  </div>

    <div class="card-information">
      <div class="card-information__wrapper">

        <div data-oke-reviews-product-listing-rating>
        {% if is_variant == false %}
          {{ product_card_product.metafields.okendo.ProductListingSnippet }}
        {% else %}
          {{ product_card_product.product.metafields.okendo.ProductListingSnippet }}
        {% endif %}
        </div>

        <a href="{{ card_product.url | default: '#' }}" class="full-unstyled-link">
          <div class="h5 card-information__title">{{ card_product.title | escape }}</div>
        {% comment %}
          <h5 class="card-information__title">
            {{ product_card_product.title | escape }}
          </h5>
          {% endcomment %}
        </a>

        {% if is_variant == false %}
          {% if product_card_product.metafields.my_fields.product_card_text != blank %}
            <p class="card-information__text light">{{ product_card_product.metafields.my_fields.product_card_text }}</p>
          {% endif %}
        {% else %}
          {% if product_card_product.product.metafields.my_fields.product_card_text != blank %}
            <p class="card-information__text light">{{ product_card_product.product.metafields.my_fields.product_card_text }}</p>
          {% endif %}
        {% endif %}

        <div class="product-actions--wrapper">
          <div class="product-qty--wrapper">
            <button type="button">
              <svg aria-labelledby="minusIconTitle" xmlns="http://www.w3.org/2000/svg" width="6" height="2" viewBox="0 0 12 4" fill="none">
                  <title id="minusIconTitle">minus</title>
                  <path d="M12 2L0 2" stroke="black" stroke-width="3"/>
              </svg>
            </button>
            {% if is_variant == false %}
            <input autocomplete="false" type="number" value="0" min="0" 
              max="{% if product_card_product.selected_or_first_available_variant.inventory_policy == 'deny' and product_card_product.selected_or_first_available_variant.inventory_management != nil %}{{ product_card_product.selected_or_first_available_variant.inventory_quantity }}{% else %}999{% endif %}" 
              class="lsg-bundle-product-select-quantity-input" 
              data-price="{{ product_card_product.selected_or_first_available_variant.price }}" 
              data-price-formatted="{{ product_card_product.selected_or_first_available_variant.price | money_without_trailing_zeros }}" 
              data-product="{{ product_card_product.selected_or_first_available_variant.id }}" 
              aria-label="quantity">
            {% else %}
              <input autocomplete="false" type="number" value="0" min="0" 
              max="{% if product_card_product.inventory_policy == 'deny' and product_card_product.inventory_management != nil %}{{ product_card_product.inventory_quantity }}{% else %}999{% endif %}" 
              class="lsg-bundle-product-select-quantity-input" 
              data-price="{{ product_card_product.price }}" 
              data-price-formatted="{{ product_card_product.price | money_without_trailing_zeros }}" 
              data-product="{{ product_card_product.id }}" 
              aria-label="quantity">
            {% endif %}
            <div class="lsg-bundle-product-select-quantity-input-display lsg-hidden">0</div>
            <button type="button">
              <svg aria-labelledby="plusIconTitle" xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 10 10" fill="none">
                  <title id="plusIconTitle">plus</title>
                      <path d="M10 5L-1.04308e-07 5" stroke="black" stroke-width="2.5"/>
                  <path d="M5 0L5 10" stroke="black" stroke-width="2.5"/>
              </svg>
            </button>
          </div>
          <button type="button" class="shop-btn button button--beige" {% if card_product.available == false %}disabled{% endif %}>Add - {{ card_product.price | money_without_trailing_zeros }}</button>
        </div>
        {% comment %}
        {% if show_shop_button %}
          <a href="{{ card_product.url | default: '#' }}" class="shop-btn button button--beige">Shop Now</a>
        {% endif %}
        {% endcomment %}
      </div>
    </div>
</div>
