{{ 'section-shop-slide-out.css' | asset_url | stylesheet_tag }}

<div class="shop-slide-out js-bundle-product-quick-slide-out">
  <div class="shop-slide-out__inner">
    <div class="shop-slide-out__header">
      <button class="shop-slide-out__close">
        {% render 'icon-arrow-left' %}
      </button>
      <p class="sh4 light">{{ section.settings.title }}</p>
    </div>
    <div class="shop-slide-out__content">
      <div class="shop-slide-out__items">
        {% for block in section.blocks %}
        {% assign current_product = all_products[block.settings.product] %}
        {% unless block.settings.show_second_slide %}
        <a class="shop-slide-out__item" href="{{ current_product.url }}">
          <div class="shop-slide-out__item-content">
            <h3 class="h5 medium">{{ current_product.title }}</h3>
            <p class="body light">{{ block.settings.description }}</p>
          </div>
          <div class="shop-slide-out__item-image">
            <img src="{{ current_product.featured_image | img_url: '200x' }}" alt="{{ current_product.title | escape }}"
                 loading="lazy" class="motion-reduce img-fill">
            <div class="shop-slide-out__item-image-overlay">
              <p class="body-small">Explore</p>
            </div>
          </div>
        </a>
        {% else %}
        <button class="shop-slide-out__item has-second-slide">
          <div class="shop-slide-out__item-content">
            <h3 class="h5 medium">{{ current_product.title }}</h3>
            <p class="body light">{{ block.settings.description }}</p>
          </div>
          <div class="shop-slide-out__item-image">
            <img src="{{ current_product.featured_image | img_url: '200x' }}" alt="{{ current_product.title | escape }}"
                 loading="lazy" class="motion-reduce img-fill">
          </div>
        </button>
        {% endunless %}
        {% endfor %}
      </div>
      <div style="{% if section.settings.button_link_1 != blank and section.settings.button_link_2 != blank %}grid-template-columns: 1fr 1fr;{% else %}grid-template-columns: 1fr;{% endif %}" class="shop-slide-out__footer">
        {% if section.settings.button_link_1 != blank %}
        <a href="{{ section.settings.button_link_1 }}" class="button button--blue">{{ section.settings.button_label_1 }}</a>
        {% endif %}
        {% if section.settings.button_link_2 != blank %}
        <a href="{{ section.settings.button_link_2 }}" class="button">{{ section.settings.button_label_2 }}</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% for block in section.blocks %}
  {% if block.settings.show_second_slide %}
  {% assign current_product = all_products[block.settings.product] %}
  <div class="shop-slide-out__second">
    <div class="shop-slide-out__second-header">
      <button class="shop-slide-out__second-back">
        {% render 'icon-arrow-left' %}
      </button>
      <p class="sh4 light">Maybe Later</p>
    </div>
    <div class="shop-slide-out__second-content">
      <div class="shop-slide-out__second-image">
        <img src="{{ block.settings.second_image | img_url: '500x' }}" alt="{{ block.settings.second_image.alt | escape }}"
             loading="lazy" class="motion-reduce" width="100%">
      </div>
      <div class="shop-slide-out__second-content-container">
        <h3 class="h5 medium">{{ current_product.title }}</h3>
        <p class="sh2 light">{{ block.settings.second_description }}</p>
      </div>
      
    </div>
    <div class="shop-slide-out__second-footer">
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>