 <div class="bundle__banner">
    <div class="bundle__banner--inner">
      <div class="bundle__banner--image">
        {% if settings.video_url != blank %}
          <video {% if settings.autoplay %}autoplay{% endif %}{% if settings.loop %} loop{% endif %}{% if settings.mute %} muted{% endif %} playsinline class="img-fill hide-mobile">
            <source src="{{ settings.video_url }}" type="video/mp4">
          </video>
        {% endif %}
        {% if settings.mobile_video_url != blank %}
          <video {% if settings.autoplay %}autoplay{% endif %}{% if settings.loop %} loop{% endif %}{% if settings.mute %} muted{% endif %} playsinline class="img-fill hide-desktop">
            <source src="{{ settings.mobile_video_url }}" type="video/mp4">
          </video>
        {% else %}
          <video {% if settings.autoplay %}autoplay{% endif %}{% if settings.loop %} loop{% endif %}{% if settings.mute %} muted{% endif %} playsinline class="img-fill hide-desktop">
            <source src="{{ settings.video_url }}" type="video/mp4">
          </video>
        {% endif %}
        {% if settings.video_url == blank and settings.image != blank %}
          {{ settings.image | image_url: width: 850 | image_tag: class: 'motion-reduce img-fill hide-mobile' }}
          {{ settings.image | image_url: width: 850 | image_tag: class: 'motion-reduce img-fill hide-desktop' }}
        {% endif %}
      </div>
      <div class="bundle__banner--title">
        <h1 class="product__title">{{ settings.title }}</h1>
        <div class="sh4">{{ settings.text }}</div>
      </div>
      <div class="bundle__banner--steps">
        <div class="bundle__banner--step">
          <div class="bundle__banner--step-image">
            {{ settings.image1 | image_url: width: 40 | image_tag: class: 'motion-reduce img-fill' }}
          </div>
          <div class="bundle__banner--step-text">
            <span>STEP 1</span>
            <p class="body-large">{{ settings.text1 }}</p>
          </div>
        </div>
        <div class="bundle__banner--step">
          <div class="bundle__banner--step-image">
            {{ settings.image2 | image_url: width: 40 | image_tag: class: 'motion-reduce img-fill' }}
          </div>
          <div class="bundle__banner--step-text">
            <span>STEP 2</span>
            <p class="body-large">{{ settings.text2 }}</p>
          </div>
        </div>
        <div class="bundle__banner--step">
          <div class="bundle__banner--step-image">
            {{ settings.image3 | image_url: width: 40 | image_tag: class: 'motion-reduce img-fill' }}
          </div>
          <div class="bundle__banner--step-text">
            <span>STEP 3</span>
            <p class="body-large">{{ settings.text3 }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
