{% liquid
  assign card_product = content.heading
  assign base = 'quick-add'
 %}

<quick-add-card class="{{ base }}__container" data-open="false" >
  <div class="{{ base }}__media">

    <div class="{{ base }}__media-inner">
      {% if content.image_hover != blank %}
        {{ content.image_hover | image_url: width: 850 | image_tag: class: 'quick-add__image-hover hide-mobile'  }}
      {% elsif content.video_hover != blank %}
        {{ content.video_hover | video_tag:
          autoplay: true,
          loop: true,
          muted: true,
          controls: false,
          class: 'quick-add__video-hover hide-mobile',
          sizes: '100vw',
          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000' }}
      {% endif %}

      {% if content.image != blank %}
        {{ content.image | image_url: width: 850 | image_tag: class: ''  }}
      {% elsif content.video != blank %}
        {{ content.video | video_tag:
          autoplay: true,
          loop: true,
          muted: true,
          controls: false,
          class: 'quick-add__video',
          sizes: '100vw',
          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000' }}
      {% else %}
        {{ card_product.featured_image | image_url: width: 850 | image_tag: class: '' }}
      {% endif %}

      
      <div class="{{ base }}__product-tags">
        {% for tag in card_product.tags %}
          <div {% if card_product.handle == 'rescue-drops' %}style="background: #DEF647; color: black;"{% endif %} class="{{ base }}__product-tag">
            {{ tag }}
          </div>
        {% endfor %}
        {% assign currentVariant = card_product.selected_or_first_available_variant %}
        {% capture discount %}
          {% if currentVariant.selling_plan_allocations.size > 0 %}
            {{ currentVariant.price | minus: currentVariant.selling_plan_allocations[0].price | times: 100 | divided_by: currentVariant.price }}
          {% else %}
            {% if currentVariant.compare_at_price > currentVariant.price %}
              {{ currentVariant.compare_at_price_max | minus: currentVariant.price | times:100 | divided_by: currentVariant.compare_at_price_max }}
            {% endif %}
          {% endif %}
        {% endcapture %}
        <span class="quick-add__discount-badge">{{ discount }}% off</span>
      </div>

      <a class="{{ base }}__link" href="{{ card_product.url }}">{{ card_product.title }}</a>

      {% liquid
        assign product_form_id = "product-form-" | append: product.id
        assign currentVariant = card_product.selected_or_first_available_variant 
      
        if product.selling_plan_groups.size > 0
          assign requiresPlan = card_product.requires_selling_plan
          assign selectedAllocation = ''
          assign currentAllocations = currentVariant.selling_plan_allocations
        endif
       %}
      
      <product-form data-form-type="product-card" class="product-form">
        {% form 'product', card_product, id: product_form_id, data-smartrr-form-id: card_product.id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form'  %}
      
          {% if card_product.selling_plan_groups[0].selling_plans[0].id %}
            <input type="hidden" name="selling_plan" value="{{ card_product.selling_plan_groups[0].selling_plans[0].id }}">
            <input type="hidden" name="selling_plan_id" value="{{ card_product.selling_plan_groups[0].selling_plans[0].id }}">
          {% endif %}
          <input type="hidden" name="id" value="{{ currentVariant.id }}">
      
          <div class="product-form__buttons">
            <button type="submit" name="add" class="{{ base }}__button" data-available="{{ currentVariant.available }}">
              {% if currentVariant.available %}
                <span>Add</span>
              {% else %}
                <span>Sold Out</span>
              {% endif %}        
            </button>
          </div>
        {% endform %}
      </product-form>
    </div>
  </div>
  <div class="{{ base }}__content">
    {% render 'okendo-reviews-product-rating-summary', product: card_product %}
    <h5 class="{{ base }}__title">{{ card_product.title }}</h5>
    {% if card_product.metafields.my_fields.product_card_text != blank %}
      <p class="sh4">{{ card_product.metafields.my_fields.product_card_text }}</p>
    {% endif %}

    <div class="{{ base }}__price">
      starting
      <div class="{{ base }}__price-recurring">
        {{ card_product.selected_or_first_available_selling_plan_allocation.price | money }}
      </div>
      <div class="{{ base }}__price-otp">
        {{ card_product.selected_or_first_available_variant.price | money }}
      </div>
    </div>
  </div>
</quick-add-card>