
{% liquid
    if variant.metafields.custom.badge
        assign productBadge = variant.metafields.custom.badge
    endif
%}
{% if variant.featured_image %}
    {% assign featuredImage = variant.featured_image.src %}
{% else %}
    {% assign featuredImage = variant.product.featured_image.src %}
{% endif %}
{% if variant.title == "Default Title" %}
    {% assign title = variant.product.title %}
{% else %}
    {% assign title = variant.product.title | append: ' - ' | append: variant.title %}
{% endif %}

{% comment %} <div class="lsg-bundle-product-select-wrapper" data-lsg-bundle-variant-select-id="{{ variant.id }}">
    <div class="lsg-bundle-product-select-img-wrap"><img src="{{ featuredImage | img_url: '200x200' }}" alt=""></div>		
    {% if productBadge %}
        <img class="lsg-bundle-product-select-badge" src="{{ productBadge | img_url: '60x60' }}" alt="{{ productBadgeAltText }}">
    {% endif %}
    <div class="lsg-bundle-product-select-title">{{ title }}</div>
    <div class="lsg-bundle-product-select-quantity-wrap no-quantity {% if variant.inventory_policy == 'deny' and variant.inventory_management != nil %}product-maxed{% else %}{% endif %}">
        <button class="lsg-bundle-product-select-quantity-increment lsg-bundle-product-select-quantity-minus" disabled>
            <svg aria-labelledby="minusIconTitle" xmlns="http://www.w3.org/2000/svg" width="6" height="2" viewBox="0 0 12 4" fill="none">
                <title id="minusIconTitle">minus</title>
                <path d="M12 2L0 2" stroke="black" stroke-width="3"/>
            </svg>
        </button>
        <input autocomplete="false" type="number" value="0" min="0" max="{% if variant.inventory_policy == 'deny' and variant.inventory_management != nil %}{{ variant.inventory_quantity }}{% else %}999{% endif %}" class="lsg-bundle-product-select-quantity-input lsg-hidden" data-price="{{ variant.price }}" data-price-formatted="{{ variant.price | money }}" data-product="{{ variant.id }}" aria-label="quantity">
        <div class="lsg-bundle-product-select-quantity-input-display">0</div>
        <button class="lsg-bundle-product-select-quantity-increment lsg-bundle-product-select-quantity-plus" disabled>
            <svg aria-labelledby="plusIconTitle" xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 10 10" fill="none">
                <title id="plusIconTitle">plus</title>
                    <path d="M10 5L-1.04308e-07 5" stroke="black" stroke-width="2.5"/>
                <path d="M5 0L5 10" stroke="black" stroke-width="2.5"/>
            </svg>
            <span class="lsg-bundle-product-select-quantity-increment-add-text">ADD</span>
        </button>
    </div>
</div> {% endcomment %}

{% assign metaobject_data = variant.product.metafields.custom.bundle_data.value %}

 <div class="lsg-bundle-product-select-wrapper quick-add__container" data-lsg-bundle-variant-select-id="{{ variant.id }}">
  <div class="quick-add__media">
    <div class="quick-add__media-inner">
      {% if variant.product.images.size > 1 %}
        {{ variant.product.images[1] | image_url: width: 500 | image_tag: class: 'quick-add__image-hover hide-mobile', alt: variant.product.images[1].alt | escape }}
        {{ featuredImage | image_url: width: 500 | image_tag: style: 'opacity: 1;', alt: featuredImage.alt | escape }}
      {% else %}
        {{ featuredImage | image_url: width: 500 | image_tag: style: 'opacity: 1;', alt: featuredImage.alt | escape }}
      {% endif %}
      {% if variant.product.tags != blank %}
        <div class="quick-add__product-tags">
          {% for tag in variant.product.tags limit: 1 %}
            <div {% if variant.product.handle == 'rescue-drops' %}style="background: #DEF647; color: black;"{% endif %} class="quick-add__product-tag">
              {{ tag }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      <div class="lsg-bundle-product-select-quantity-wrap no-quantity {% if variant.inventory_policy == 'deny' and variant.inventory_management != nil %}product-maxed{% else %}{% endif %}">
        <button class="lsg-bundle-product-select-quantity-increment lsg-bundle-product-select-quantity-minus" disabled>
          <svg aria-labelledby="minusIconTitle" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <title id="minusIconTitle">minus</title>
            <rect y="5.47754" width="12" height="1.04471" fill="#BBBCBC"/>
          </svg>
        </button>
        <input autocomplete="false" type="number" value="0" min="0" max="{% if variant.inventory_policy == 'deny' and variant.inventory_management != nil %}{{ variant.inventory_quantity }}{% else %}999{% endif %}" class="lsg-1 lsg-bundle-product-select-quantity-input lsg-hidden" data-price="{{ variant.price }}" data-price-formatted="{{ variant.price | money }}" data-product="{{ variant.id }}" aria-label="quantity">
        <div class="lsg-bundle-product-select-quantity-input-display body-small">0</div>
        <button class="lsg-bundle-product-select-quantity-increment lsg-bundle-product-select-quantity-plus" disabled>
          <svg aria-labelledby="plusIconTitle" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <title id="plusIconTitle">plus</title>
            <path d="M5.47634 6.52366H0L0 5.47634H5.47634V0L6.52366 0V5.47634L12 5.47634V6.52366L6.52366 6.52366L6.52366 12H5.47634L5.47634 6.52366Z" fill="#BBBCBC"/>
          </svg>
          <span class="lsg-bundle-product-select-quantity-increment-add-text quick-add__button">Add</span>
        </button>
      </div>
    </div>
  </div>
  <div class="quick-add__content">
    {% render 'okendo-reviews-product-rating-summary', product: variant.product %}
    <h5 class="quick-add__title lsg-bundle-product-select-title">{{ title }}</h5>
    <div class="quick-add__price">
      <div class="quick-add__price-recurring">
        {{ variant.product.price | money }}
      </div>
    </div>
    {% if variant.product.metafields.custom.bundle_saving_description != blank %}
      <span class="body-small quick-add__grid-text">{{ variant.product.metafields.custom.bundle_saving_description }}</span>
    {% endif %}
    {% if variant.product.metafields.my_fields.product_card_text != blank %}
      <p class="sh4">{{ variant.product.metafields.my_fields.product_card_text }}</p>
    {% endif %}
    <a href="javascript:void(0);" id="quick-add__drawer-open" class="quick-add__learn-more tabs-label body medium">Learn More</a>
  </div>

  <div class="quick-add__drawer">
    <div class="quick-add__close-main hide-desktop">
      {%- if section.settings.svg_logo != blank -%}
        <div class="quick-add__close-logo">
          <a href="{{ routes.root_url }}" class="header-icon">
            <div class="header__logo-wrapper">
              <div class="header__svg-logo" style="max-width: 42px;">
                {{ section.settings.svg_logo }}
              </div>
            </div>
          </a>
        </div>
      {%- endif -%}
      <div class="quick-add__close">
        <span class="body-small">Close</span>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.01257 6.99999L0.849431 1.83685L1.83686 0.849419L7 6.01256L12.1631 0.849419L13.1506 1.83685L7.98743 6.99999L13.1506 12.1631L12.1631 13.1506L7 7.98742L1.83686 13.1506L0.84943 12.1631L6.01257 6.99999Z" fill="#1F2322"/>
        </svg>
      </div>
    </div>
    <div class="quick-add__drawer--inner">
      <div class="quick-add__close-main hide-mobile">
        {%- if section.settings.svg_logo != blank -%}
          <div class="quick-add__close-logo">
            <a href="{{ routes.root_url }}" class="header-icon">
              <div class="header__logo-wrapper">
                <div class="header__svg-logo" style="max-width: 42px;">
                  {{ section.settings.svg_logo }}
                </div>
              </div>
            </a>
          </div>
        {%- endif -%}
        <div class="quick-add__close">
          <span class="body-small">Close</span>
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.01257 6.99999L0.849431 1.83685L1.83686 0.849419L7 6.01256L12.1631 0.849419L13.1506 1.83685L7.98743 6.99999L13.1506 12.1631L12.1631 13.1506L7 7.98742L1.83686 13.1506L0.84943 12.1631L6.01257 6.99999Z" fill="#1F2322"/>
          </svg>
        </div>
      </div>
      <div class="quick-add__images">
        {% if variant.product.tags != blank %}
          <div class="quick-add__product-tags">
            {% for tag in variant.product.tags limit: 1 %}
              <div {% if variant.product.handle == 'rescue-drops' %}style="background: #DEF647; color: black;"{% endif %} class="quick-add__product-tag">
                {{ tag }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
        <div class="quick-add__product-slider">
          {% for media in product.media %}
            <div class="product__media-item{% if media.media_type != 'image' %} product__media-item--full{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
              {% render 'product-thumbnail', media: media, position: forloop.index, loop: true, modal_id: section.id, xr_button: true %}
            </div>
          {% endfor %}
        </div>
        <div class="quick-add__product-slider-arrows"></div>
      </div>
      <div class="quick-add__reviews">
        {% render 'okendo-reviews-product-rating-summary', product: variant.product %}
      </div>
      <div class="quick-add__title">
        <h3 class="lsg-bundle-product-select-title">{{ title }}</h3>
        {% if variant.product.metafields.custom.bundle_saving_description != blank %}
          <span class="body-small quick-add__grid-text">{{ variant.product.metafields.custom.bundle_saving_description }}</span>
        {% endif %}
        <div class="product__description sh4">
          {{ product.description }}
        </div>
        {% if metaobject_data.icon_image != blank or metaobject_data.icon_text != blank  %}
        <div class="product-listblock__container-one">
          <div class="product-listblock">
            {{ metaobject_data.icon_image | image_url: width: 28 | image_tag: alt: metaobject_data.icon_image.alt | escape }}
            <div>
              <p class="sh3 product-listblock__text">{{ metaobject_data.icon_text }}</p>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="product__drawer-triggers">
          {% unless product.handle == 'rescue-kit' %}
          <a href="javascript:void(0);" class="tabs-label body medium js-ingredients-open">Full Supplement Facts</a>
          {% endunless %}
          {% if product.title == 'Hydration Drops' %}
          <a href="javascript:void(0);" class="tabs-label body medium js-clinical-open">Buoy's Clinical Trial</a>
          {% endif %}
          {% if product.title == "CP3's Secret Stuff" %}
            <a href="javascript:void(0);" class="tabs-label body medium js-clinical-open">Why This Collab</a>
          {% endif %}
          {% if product.handle == 'rescue-drops' or product.handle == 'rescue-kit' %}
          <a href="#chronic" class="green-text tabs-label body medium">35% Chronic Illness Discount</a>
          {% endif %}
        </div>
      </div>

      <div class="quick-add__buttons">
        <div class="lsg-bundle-product-select-quantity-wrap no-quantity {% if variant.inventory_policy == 'deny' and variant.inventory_management != nil %}product-maxed{% else %}{% endif %}">
          <button class="lsg-bundle-product-select-quantity-increment lsg-bundle-product-select-quantity-minus" disabled>
              <svg aria-labelledby="minusIconTitle" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <title id="minusIconTitle">minus</title>
              <rect y="5.47754" width="12" height="1.04471" fill="#BBBCBC"/>
              </svg>
          </button>
          <input autocomplete="false" type="number" value="0" min="0" max="{% if variant.inventory_policy == 'deny' and variant.inventory_management != nil %}{{ variant.inventory_quantity }}{% else %}999{% endif %}" class="lsg-2 lsg-bundle-product-select-quantity-input lsg-hidden" data-price="{{ variant.price }}" data-price-formatted="{{ variant.price | money }}" data-product="{{ variant.id }}" aria-label="quantity">
          <div class="lsg-bundle-product-select-quantity-input-display body-small">0</div>
          <button class="lsg-bundle-product-select-quantity-increment lsg-bundle-product-select-quantity-plus" disabled>
              <svg aria-labelledby="plusIconTitle" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <title id="plusIconTitle">plus</title>
                  <path d="M5.47634 6.52366H0L0 5.47634H5.47634V0L6.52366 0V5.47634L12 5.47634V6.52366L6.52366 6.52366L6.52366 12H5.47634L5.47634 6.52366Z" fill="#BBBCBC"/>
              </svg>
              <span class="lsg-bundle-product-select-quantity-increment-add-text quick-add__button">Add To Bundle — {{ variant.product.price | money }}</span>
          </button>
        </div>
      </div>

      <div class="quick-add__data">
        <div class="quick-add__info">
          <ul class="drawer__info-list">
            {%- if metaobject_data.info_icon_image_1 != blank and metaobject_data.info_icon_text_1 != blank -%}
              <li class="drawer__info-list-item">
                {{ metaobject_data.info_icon_image_1 | image_url: width: 24 | image_tag: alt: featuredImage.alt | escape }}
                <span>{{ metaobject_data.info_icon_text_1 }}</span>
              </li>
            {%- endif -%}
            {%- if metaobject_data.info_icon_image_2 != blank and metaobject_data.info_icon_text_2 != blank -%}
              <li class="drawer__info-list-item">
                {{ metaobject_data.info_icon_image_2 | image_url: width: 24 | image_tag: alt: featuredImage.alt | escape }}
                <span>{{ metaobject_data.info_icon_text_2 }}</span>
              </li>
            {%- endif -%}
            {%- if metaobject_data.info_icon_image_3 != blank and metaobject_data.info_icon_text_3 != blank -%}
              <li class="drawer__info-list-item">
                {{ metaobject_data.info_icon_image_3 | image_url: width: 24 | image_tag: alt: featuredImage.alt | escape }}
                <span>{{ metaobject_data.info_icon_text_3 }}</span>
              </li>
            {%- endif -%}
            {%- if metaobject_data.info_icon_image_4 != blank and metaobject_data.info_icon_text_4 != blank -%}
              <li class="drawer__info-list-item">
                {{ metaobject_data.info_icon_image_4 | image_url: width: 24 | image_tag: alt: featuredImage.alt | escape }}
                <span>{{ metaobject_data.info_icon_text_4 }}</span>
              </li>
            {%- endif -%}
          </ul>
        </div>
        <div class="quick-add__tabs">
          <div class="image-with-dropdowns__content">
            <div class="image-with-dropdowns__dropdown">
              {%- if metaobject_data.tab_health_benefits != blank -%}
              <div class="image-with-dropdowns__content-point active">
                <div class="image-with-dropdowns__q active">
                  <div class="image-with-dropdowns__content-text">
                    <h5>Health Benefits</h5>
                  </div>
                  <div class="image-with-dropdowns__x"></div>
                </div>
                <div class="image-with-dropdowns__a">
                  {{ metaobject_data.tab_health_benefits |  metafield_tag }}
                </div>
              </div>
              {%- endif -%}
              {%- if metaobject_data.tab_ingredients != blank -%}
              <div class="image-with-dropdowns__content-point">
                <div class="image-with-dropdowns__q">
                  <div class="image-with-dropdowns__content-text">
                    <h5>Ingredients</h5>
                  </div>
                  <div class="image-with-dropdowns__x"></div>
                </div>
                <div class="image-with-dropdowns__a">
                  {{ metaobject_data.tab_ingredients | metafield_tag }}
                </div>
              </div>
            {%- endif -%}
            {%- if metaobject_data.tab_how_to_use != blank -%}
              <div class="image-with-dropdowns__content-point">
                <div class="image-with-dropdowns__q">
                  <div class="image-with-dropdowns__content-text">
                    <h5>How To Use</h5>
                  </div>
                  <div class="image-with-dropdowns__x"></div>
                </div>
                <div class="image-with-dropdowns__a">
                  {{ metaobject_data.tab_how_to_use | metafield_tag }}
                </div>
              </div>
            {%- endif -%}
            </div>
          </div>
        </div>
      </div>

      <div class="quick-add__close quick-add__close-continue">
        <span class="body-small">Continue Bundling</span>
      </div>

    </div>
  </div>
</div>