{% capture content %}
  <div class="lsg-bundle-atc-wrapper">
    <button type="button" class="lsg-bundle-submit-button">Containue</button>
    <button type="submit" class="lsg-bundle-submit-button" data-lsg-bundle-atc>
      <div class="btn-text-wrapper">
        <span class="lsg-bundle-submit-button-atc-text" data-lsg-bundle-submit-button-atc-text>
          {{ settings.atc_text }} - <span data-bundle-total></span> <span class="subtotal-text">Subtotal</span>
        </span>
        <span class="lsg-bundle-submit-button-add-more-quantity hidden" data-lsg-bundle-submit-button-add-more-quantity></span>
        <span class="lsg-bundle-submit-button-add-more-text hidden" data-lsg-bundle-submit-button-add-more-text>
          <span class="lsg-bundle-submit-button-add-more-quantity" data-lsg-bundle-submit-button-add-to-cart-text>Continue - </span>
          <span data-bundle-total></span>
         <span class="subtotal-text">Subtotal</span>
        </span>
      </div>
      <div class="btn-icon--wrapper">
        {% render 'icon-arrow-right' %}
      </div>
    </button>
  </div>
{% endcapture %}
<div class="lsg-bundle-atc-wrapper">
  {% if isDuplicate %}
    <div class="lsg-bundle-form">
      {{ content }}
    </div>
  {% else %}
    <form action="/cart/add" method="post" enctype="multiplart/form-data" class="lsg-bundle-form">
      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
      <input
        type="hidden"
        name="selling_plan"
        value="{{ current_selling_plan_allocation.selling_plan.id | default: '' }}"
      >
      {{ content }}
    </form>
  {% endif %}
</div>
<div class="lsg-bundle-sub-atc hidden">{{ settings.sub_atc_text }}</div>
