
{% liquid
    if variant.metafields.custom.badge
        assign productBadge = variant.metafields.custom.badge
    endif
%}
{% if variant.featured_image %}
    {% assign featuredImage = variant.featured_image.src %}
{% else %}
    {% assign featuredImage = variant.product.featured_image.src %}
{% endif %}
{% if variant.title == "Default Title" %}
    {% assign title = variant.product.title %}
{% else %}
    {% assign title = variant.product.title | append: ' - ' | append: variant.title %}
{% endif %}

{% comment %} <div class="lsg-bundle-product-select-wrapper" data-lsg-bundle-variant-select-id="{{ variant.id }}">
    <div class="lsg-bundle-product-select-img-wrap"><img src="{{ featuredImage | img_url: '200x200' }}" alt=""></div>		
    {% if productBadge %}
        <img class="lsg-bundle-product-select-badge" src="{{ productBadge | img_url: '60x60' }}" alt="{{ productBadgeAltText }}">
    {% endif %}
    <div class="lsg-bundle-product-select-title">{{ title }}</div>
    <div class="lsg-bundle-product-select-quantity-wrap no-quantity {% if variant.inventory_policy == 'deny' and variant.inventory_management != nil %}product-maxed{% else %}{% endif %}">
        <button class="lsg-bundle-product-select-quantity-increment lsg-bundle-product-select-quantity-minus" disabled>
            <svg aria-labelledby="minusIconTitle" xmlns="http://www.w3.org/2000/svg" width="6" height="2" viewBox="0 0 12 4" fill="none">
                <title id="minusIconTitle">minus</title>
                <path d="M12 2L0 2" stroke="black" stroke-width="3"/>
            </svg>
        </button>
        <input autocomplete="false" type="number" value="0" min="0" max="{% if variant.inventory_policy == 'deny' and variant.inventory_management != nil %}{{ variant.inventory_quantity }}{% else %}999{% endif %}" class="lsg-bundle-product-select-quantity-input lsg-hidden" data-price="{{ variant.price }}" data-price-formatted="{{ variant.price | money }}" data-product="{{ variant.id }}" aria-label="quantity">
        <div class="lsg-bundle-product-select-quantity-input-display">0</div>
        <button class="lsg-bundle-product-select-quantity-increment lsg-bundle-product-select-quantity-plus" disabled>
            <svg aria-labelledby="plusIconTitle" xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 10 10" fill="none">
                <title id="plusIconTitle">plus</title>
                    <path d="M10 5L-1.04308e-07 5" stroke="black" stroke-width="2.5"/>
                <path d="M5 0L5 10" stroke="black" stroke-width="2.5"/>
            </svg>
            <span class="lsg-bundle-product-select-quantity-increment-add-text">ADD</span>
        </button>
    </div>
</div> {% endcomment %}

{% liquid
  assign card_product = block.heading
  assign base = 'quick-add'
 %}

 <div class="lsg-bundle-product-select-wrapper quick-add__container" data-lsg-bundle-variant-select-id="{{ variant.id }}">
  <div class="quick-add__media">

    <div class="quick-add__media-inner">

    {% if variant.product.images.size > 1 %}
      <img
        srcset="
          {%- if variant.product.images[1].width >= 535 -%}{{ variant.product.images[1] | image_url: width: 535 }} 535w,{%- endif -%}
          {%- if variant.product.images[1].width >= 750 -%}{{ variant.product.images[1] | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if variant.product.images[1].width >= 1070 -%}{{ variant.product.images[1] | image_url: width: 1070 }} 1070w,{%- endif -%}
          {%- if variant.product.images[1].width >= 1500 -%}{{ variant.product.images[1] | image_url: width: 1500 }} 1500w,{%- endif -%}
          {{ variant.product.images[1] | image_url }} {{ variant.product.images[1].width }}w
        " class="quick-add__image-hover hide-mobile"
        src="{{ variant.product.images[1] | image_url: width: 1500 }}"
        sizes="(min-width: 1440px) {{ 1440 | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
        alt="{{ variant.product.images[1].alt | escape }}" width="{{ variant.product.images[1].width }}" height="{{ variant.product.images[1].height }}"
      >
      <img
        srcset="
          {%- if featuredImage.width >= 535 -%}{{ featuredImage | image_url: width: 535 }} 535w,{%- endif -%}
          {%- if featuredImage.width >= 750 -%}{{ featuredImage | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if featuredImage.width >= 1070 -%}{{ featuredImage | image_url: width: 1070 }} 1070w,{%- endif -%}
          {%- if featuredImage.width >= 1500 -%}{{ featuredImage | image_url: width: 1500 }} 1500w,{%- endif -%}
          {{ featuredImage | image_url }} {{ featuredImage.width }}w
        " class="" style="opacity: 1;"
        src="{{ featuredImage | image_url: width: 1500 }}"
        sizes="(min-width: 1440px) {{ 1440 | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
        alt="{{ featuredImage.alt | escape }}" width="{{ featuredImage.width }}" height="{{ featuredImage.height }}"
      >
    {% else %}
      <img
        srcset="
          {%- if featuredImage.width >= 535 -%}{{ featuredImage | image_url: width: 535 }} 535w,{%- endif -%}
          {%- if featuredImage.width >= 750 -%}{{ featuredImage | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if featuredImage.width >= 1070 -%}{{ featuredImage | image_url: width: 1070 }} 1070w,{%- endif -%}
          {%- if featuredImage.width >= 1500 -%}{{ featuredImage | image_url: width: 1500 }} 1500w,{%- endif -%}
          {{ featuredImage | image_url }} {{ featuredImage.width }}w
        " class="" style="opacity: 1;"
        src="{{ featuredImage | image_url: width: 1500 }}"
        sizes="(min-width: 1440px) {{ 1440 | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
        alt="{{ featuredImage.alt | escape }}" width="{{ featuredImage.width }}" height="{{ featuredImage.height }}"
      >
    {% endif %}
{% comment %} 
    {% if content.image_hover != blank %}
      {{ content.image_hover | image_url: width: 850 | image_tag: class: 'quick-add__image-hover hide-mobile'  }}
    {% elsif content.video_hover != blank %}
      {{ content.video_hover | video_tag:
        autoplay: true,
        loop: true,
        muted: true,
        controls: false,
        class: 'quick-add__video-hover hide-mobile',
        sizes: '100vw',
        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000' }}
    {% endif %} {% endcomment %}

      {% comment %} <img
        srcset="
          {%- if featuredImage.width >= 535 -%}{{ featuredImage | image_url: width: 535 }} 535w,{%- endif -%}
          {%- if featuredImage.width >= 750 -%}{{ featuredImage | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if featuredImage.width >= 1070 -%}{{ featuredImage | image_url: width: 1070 }} 1070w,{%- endif -%}
          {%- if featuredImage.width >= 1500 -%}{{ featuredImage | image_url: width: 1500 }} 1500w,{%- endif -%}
          {{ featuredImage | image_url }} {{ featuredImage.width }}w
        " class="quick-add__image-hover" style="opacity: 1;"
        src="{{ featuredImage | image_url: width: 1500 }}"
        sizes="(min-width: 1440px) {{ 1440 | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
        alt="{{ featuredImage.alt | escape }}" width="{{ featuredImage.width }}" height="{{ featuredImage.height }}"
      > {% endcomment %}

      {% if variant.product.tags != blank %}
        <div class="quick-add__product-tags">
          {% for tag in variant.product.tags limit: 1 %}
            <div {% if variant.product.handle == 'rescue-drops' %}style="background: #DEF647; color: black;"{% endif %} class="quick-add__product-tag">
              {{ tag }}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <div class="lsg-bundle-product-select-quantity-wrap no-quantity {% if variant.inventory_policy == 'deny' and variant.inventory_management != nil %}product-maxed{% else %}{% endif %}">
        <button class="lsg-bundle-product-select-quantity-increment lsg-bundle-product-select-quantity-minus" disabled>
            <svg aria-labelledby="minusIconTitle" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <title id="minusIconTitle">minus</title>
            <rect y="5.47754" width="12" height="1.04471" fill="#BBBCBC"/>
            </svg>
        </button>
        <input autocomplete="false" type="number" value="0" min="0" max="{% if variant.inventory_policy == 'deny' and variant.inventory_management != nil %}{{ variant.inventory_quantity }}{% else %}999{% endif %}" class="lsg-1 lsg-bundle-product-select-quantity-input lsg-hidden" data-price="{{ variant.price }}" data-price-formatted="{{ variant.price | money }}" data-product="{{ variant.id }}" aria-label="quantity">
        <div class="lsg-bundle-product-select-quantity-input-display body-small">0</div>
        <button class="lsg-bundle-product-select-quantity-increment lsg-bundle-product-select-quantity-plus" disabled>
            <svg aria-labelledby="plusIconTitle" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <title id="plusIconTitle">plus</title>
                <path d="M5.47634 6.52366H0L0 5.47634H5.47634V0L6.52366 0V5.47634L12 5.47634V6.52366L6.52366 6.52366L6.52366 12H5.47634L5.47634 6.52366Z" fill="#BBBCBC"/>
            </svg>
            <span class="lsg-bundle-product-select-quantity-increment-add-text quick-add__button">Add</span>
        </button>
      </div>
      
    </div>
  </div>
  <div class="quick-add__content">
    {% render 'okendo-reviews-product-rating-summary', product: variant.product %}
    <h5 class="quick-add__title lsg-bundle-product-select-title">{{ title }}</h5>
    <div class="quick-add__price">
      <div class="quick-add__price-recurring">
        {{ variant.product.price | money }}
      </div>
    </div>
    {% if variant.product.metafields.custom.bundle_saving_description != blank %}
      <span class="body-small quick-add__grid-text">{{ variant.product.metafields.custom.bundle_saving_description }}</span>
    {% endif %}
    {% if variant.product.metafields.my_fields.product_card_text != blank %}
      <p class="sh4">{{ variant.product.metafields.my_fields.product_card_text }}</p>
    {% endif %}
    <a href="javascript:void(0);" id="quick-add__drawer-open" class="quick-add__learn-more tabs-label body medium">Learn More</a>
  </div>

  <div class="quick-add__drawer">
    <div class="quick-add__drawer--inner">
      <div class="quick-add__close">
        <span class="body-small">Close</span>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.01257 6.99999L0.849431 1.83685L1.83686 0.849419L7 6.01256L12.1631 0.849419L13.1506 1.83685L7.98743 6.99999L13.1506 12.1631L12.1631 13.1506L7 7.98742L1.83686 13.1506L0.84943 12.1631L6.01257 6.99999Z" fill="#1F2322"/>
        </svg>
      </div>
      <div class="quick-add__images">
        
      </div>
      <div class="quick-add__reviews">
        {% render 'okendo-reviews-product-rating-summary', product: variant.product %}
      </div>
      <div class="quick-add__title">
        <h3 class="lsg-bundle-product-select-title">{{ title }}</h3>
        {% if variant.product.metafields.my_fields.product_grid_2 != blank %}
          <span class="body-small quick-add__grid-text">{{ variant.product.metafields.my_fields.product_grid_2 }}</span>
        {% endif %}
        <div class="product__description sh4">
          {{ product.description }}
        </div>
        <div class="product-listblock__container-one">
          <div class="product-listblock">  
            {%- if section.settings.product_feature_icon != blank -%}
              {{ section.settings.product_feature_icon | image_url: width: 28 | image_tag: class: 'motion-reduce img-fill' }}
            {%- endif -%}
            <div>
              {%- if section.settings.product_feature_text != blank -%}
                <p class="sh3 product-listblock__text">{{ section.settings.product_feature_text }}</p> 
              {%- endif -%}
              {%- if section.settings.product_feature_text_two != blank -%}
                <p class="product-listblock__subtext">{{ section.settings.product_feature_text_two }}</p>
              {%- endif -%}
            </div>
          </div>
        </div>
        <div class="product__drawer-triggers">
          {% unless product.handle == 'rescue-kit' %}
          <a href="javascript:void(0);" class="tabs-label body medium js-ingredients-open">Full Supplement Facts</a>
          {% endunless %}
          {% if product.title == 'Hydration Drops' %}
          <a href="javascript:void(0);" class="tabs-label body medium js-clinical-open">Buoy's Clinical Trial</a>
          {% endif %}
          {% if product.title == "CP3's Secret Stuff" %}
            <a href="javascript:void(0);" class="tabs-label body medium js-clinical-open">Why This Collab</a>
          {% endif %}
          {% if product.handle == 'rescue-drops' or product.handle == 'rescue-kit' %}
          <a href="#chronic" class="green-text tabs-label body medium">35% Chronic Illness Discount</a>
          {% endif %}
        </div>
      </div>

      {% comment %}
      <div class="quick-add__buttons">
        <div class="lsg-bundle-product-select-quantity-wrap no-quantity {% if variant.inventory_policy == 'deny' and variant.inventory_management != nil %}product-maxed{% else %}{% endif %}">
          <button class="lsg-bundle-product-select-quantity-increment lsg-bundle-product-select-quantity-minus" disabled>
              <svg aria-labelledby="minusIconTitle" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <title id="minusIconTitle">minus</title>
              <rect y="5.47754" width="12" height="1.04471" fill="#BBBCBC"/>
              </svg>
          </button>
          <input autocomplete="false" type="number" value="0" min="0" max="{% if variant.inventory_policy == 'deny' and variant.inventory_management != nil %}{{ variant.inventory_quantity }}{% else %}999{% endif %}" class="lsg-2 lsg-bundle-product-select-quantity-input lsg-hidden" data-price="{{ variant.price }}" data-price-formatted="{{ variant.price | money }}" data-product="{{ variant.id }}" aria-label="quantity">
          <div class="lsg-bundle-product-select-quantity-input-display body-small">0</div>
          <button class="lsg-bundle-product-select-quantity-increment lsg-bundle-product-select-quantity-plus" disabled>
              <svg aria-labelledby="plusIconTitle" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <title id="plusIconTitle">plus</title>
                  <path d="M5.47634 6.52366H0L0 5.47634H5.47634V0L6.52366 0V5.47634L12 5.47634V6.52366L6.52366 6.52366L6.52366 12H5.47634L5.47634 6.52366Z" fill="#BBBCBC"/>
              </svg>
              <span class="lsg-bundle-product-select-quantity-increment-add-text quick-add__button">Add To Bundle — {{ variant.product.price | money }}</span>
          </button>
        </div>
      </div>
      {% endcomment %}
      
    </div>
  </div>
</div>