{% liquid
  assign card_product = content.heading
  assign base = 'quick-add'
 %}

<quick-add-card class="{{ base }}__container" data-open="false" >
  <div class="{{ base }}__media">

    <div class="{{ base }}__media-inner">
      {% if content.image_hover != blank %}
        {{ content.image_hover | image_url: width: 850 | image_tag: class: 'quick-add__image-hover hide-mobile'  }}
      {% elsif content.video_hover != blank %}
        {{ content.video_hover | video_tag:
          autoplay: true,
          loop: true,
          muted: true,
          controls: false,
          class: 'quick-add__video-hover hide-mobile',
          sizes: '100vw',
          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000' }}
      {% endif %}

      {% if content.image != blank %}
        {{ content.image | image_url: width: 850 | image_tag: class: ''  }}
      {% elsif content.video != blank %}
        {{ content.video | video_tag:
          autoplay: true,
          loop: true,
          muted: true,
          controls: false,
          class: 'quick-add__video',
          sizes: '100vw',
          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000' }}
      {% else %}
        {{ card_product.featured_image | image_url: width: 850 | image_tag: class: '' }}
      {% endif %}

      {% if card_product.tags != blank and content.show_tags == true %}
        <div class="{{ base }}__product-tags">
          {% for tag in card_product.tags %}
            <div {% if card_product.handle == 'rescue-drops' %}style="background: #DEF647;"{% endif %} class="{{ base }}__product-tag">
              {{ tag }}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <a class="{{ base }}__link" href="{{ card_product.url }}">{{ card_product.title }}</a>

      <button data-toggle class="{{ base }}__button">Add</button>
    </div>

    <div class="quick-add__overlay"> </div>
    <div class="quick-add__display">
      <div class="{{ base }}__form-wrapper no-scrollbar">
        <button data-toggle class="quick-add__close">
          <svg width="100%" height="100%" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.73115 15.7142L0.785645 14.7687L7.55442 7.99993L0.785645 1.23115L1.73115 0.285645L8.49993 7.05442L15.2687 0.285645L16.2142 1.23115L9.44544 7.99993L16.2142 14.7687L15.2687 15.7142L8.49993 8.94544L1.73115 15.7142Z" fill="#1F2322"/>
            </svg>          
        </button>
        <div class="{{ base }}__form-inner no-scrollbar">
          <div class="{{ base }}__form-header">
            <div class="{{ base }}__form-image">
              {% if content.form_image != blank %}
                {{ content.form_image | image_url: width: 160 | image_tag: class: '' }}
              {% else %}
                {{ card_product.featured_image | image_url: width: 160 | image_tag: class: '' }}
              {% endif %}
            </div>
            <div class="{{  base }}__form-title">
              <div data-oke-reviews-product-listing-rating>
                {{ card_product.metafields.okendo.ProductListingSnippet }}
                <div class="{{ base }}__okendo-custom">
                  {{ card_product.metafields.okendo.summaryData | map: "reviewAverageValue" }}/5.0
                </div>
              </div>
              <h6 class="">{{ card_product.title }}</h6>
              {% if content.form_text != blank %}
                <p class="">{{ content.form_text }}</p>
              {% endif %}
            </div>
          </div>

          <div class="{{  base }}__form">
            {% render 'quick-add-product-form', p: card_product %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="{{ base }}__content">
    {% render 'okendo-reviews-product-rating-summary', product: card_product %}
    <h5 class="{{ base }}__title">{{ card_product.title }}</h5>
    {% if card_product.metafields.my_fields.product_card_text != blank %}
      <p class="sh4">{{ card_product.metafields.my_fields.product_card_text }}</p>
    {% endif %}

    <div class="{{ base }}__price">
      <div class="{{ base }}__price-recurring">
        {{ card_product.selected_or_first_available_selling_plan_allocation.price | money }}
      </div>
      <div class="{{ base }}__price-otp">
        {{ card_product.selected_or_first_available_variant.price | money }}
      </div>
    </div>
  </div>
</quick-add-card>