{% liquid
  assign card_product = content.heading
  assign base = 'quick-add'
 %}

<quick-add-card class="{{ base }}__container">
  <div class="{{ base }}__image">

    {% if content.image != blank %}
      {{ content.image | image_url: width: 850 | image_tag: class: ''  }}
    {% elsif content.video != blank %}
      {{ content.video | video_tag }}
    {% else %}
      {{ card_product.featured_image | image_url: width: 850 | image_tag: class: '' }}
    {% endif %}

    <a class="{{ base }}__link" href="{{ card_product.url }}">{{ card_product.title }}</a>

    <button class="{{ base }}__button">Add</button>

    <div class="{{ base }}__form-wrapper no-scrollbar">
      <div class="{{ base }}__form-inner">
        <div class="{{ base }}__form-header">
          <div class="{{ base }}__form-image">
            {{ card_product.featured_image | image_url: width: 160 | image_tag: class: '' }}
          </div>
          <div class="{{  base }}__form-title">
            <div data-oke-reviews-product-listing-rating>
              {{ card_product.metafields.okendo.ProductListingSnippet }}
              <div class="{{ base }}__okendo-custom">
                {{ card_product.metafields.okendo.summaryData | map: "reviewAverageValue" }}/5.0
              </div>
            </div>
            <h6 class="">{{ card_product.title }}</h6>
            {% if content.form_text != blank %}
              <p class="">{{ content.form_text }}</p>
            {% endif %}
          </div>
        </div>

        <div class="{{  base }}__form">
          {% render 'quick-add-product-form', p: card_product %}
        </div>
      </div>
    </div>
  </div>
  <div class="{{ base }}__content">
    <h5 class="{{ base }}__title">{{ card_product.title }}</h5>
    {% if card_product.metafields.my_fields.product_card_text != blank %}
      <p class="sh4">{{ card_product.metafields.my_fields.product_card_text }}</p>
    {% endif %}

    <div class="{{ base }}__price">
      <div class="{{ base }}__price-recurring">
        {{ card_product.selected_or_first_available_selling_plan_allocation.price | money }}
      </div>
      <div class="{{ base }}__price-otp">
        {{ card_product.selected_or_first_available_variant.price | money }}
      </div>
    </div>
  </div>
</quick-add-card>