{% if product.type == 'Bundle' %}
  <div class="product__bundle">
    <div class="product__bundle-header no-scrollbar">
      <div class="product__bundle-header-container">
        <button class="body medium hydration active" data-tab="hydration">Hydration Drops</button>
        <button class="body medium immunity" data-tab="immunity">Immunity Drops</button>
        <button class="body medium energy" data-tab="energy">Energy Drops</button>
      </div>
    </div>
    {% assign current_product = all_products['hydration-drops'] %}
    <div class="product__tabs active" data-tab="hydration">
      <div class="product__tabs-header-wrapper no-scrollbar">
        <div class="product__tabs-header">
          <button class="body active" data-tab="highlights">Highlights</button>
          <button class="body" data-tab="ingredients">Ingredients</button>
          <button class="body" data-tab="how-to-use">How To Use</button>
          <button class="body" data-tab="serving">Per Serving</button>
          <button class="body" data-tab="people-planet">People & Planet</button>
        </div>
      </div>
      <div class="product__tabs-content">
        <div class="product__tab active" data-tab="highlights">
          {{ current_product.metafields.my_fields.highlights_tab }}
        </div>
        <div class="product__tab" data-tab="ingredients">
          {{ current_product.metafields.my_fields.ingredients_tab }}
          {% if current_product.metafields.my_fields.nutrition_label != blank %}
            <a href="{{ current_product.metafields.my_fields.nutrition_label }}" target="_blank" class="tabs-label body medium">View Full Nutrition Label</a>
          {% endif %}
        </div>
        <div class="product__tab" data-tab="how-to-use">
          {{ current_product.metafields.my_fields.how_to_use_tab }}
        </div>
        <div class="product__tab" data-tab="serving">
          {{ current_product.metafields.my_fields.per_serving_tab }}
        </div>
        <div class="product__tab" data-tab="people-planet">
          {{ current_product.metafields.my_fields.heart_tab }}
        </div>
      </div>
    </div>
    {% assign current_product = all_products['immunity-drops'] %}
    <div class="product__tabs" data-tab="immunity">
      <div class="product__tabs-header-wrapper no-scrollbar">
        <div class="product__tabs-header">
          <button class="body active" data-tab="highlights">Highlights</button>
          <button class="body" data-tab="ingredients">Ingredients</button>
          <button class="body" data-tab="how-to-use">How To Use</button>
          <button class="body" data-tab="serving">Per Serving</button>
          <button class="body" data-tab="people-planet">People & Planet</button>
        </div>
      </div>
      <div class="product__tabs-content">
        <div class="product__tab active" data-tab="highlights">
          {{ current_product.metafields.my_fields.highlights_tab }}
        </div>
        <div class="product__tab" data-tab="ingredients">
          {{ current_product.metafields.my_fields.ingredients_tab }}
          {% if current_product.metafields.my_fields.nutrition_label != blank %}
            <a href="{{ current_product.metafields.my_fields.nutrition_label }}" target="_blank" class="tabs-label body medium">View Full Nutrition Label</a>
          {% endif %}
        </div>
        <div class="product__tab" data-tab="how-to-use">
          {{ current_product.metafields.my_fields.how_to_use_tab }}
        </div>
        <div class="product__tab" data-tab="serving">
          {{ current_product.metafields.my_fields.per_serving_tab }}
        </div>
        <div class="product__tab" data-tab="people-planet">
          {{ current_product.metafields.my_fields.heart_tab }}
        </div>
      </div>
    </div>
    {% assign current_product = all_products['energy-drops'] %}
    <div class="product__tabs" data-tab="energy">
      <div class="product__tabs-header-wrapper no-scrollbar">
        <div class="product__tabs-header">
          <button class="body active" data-tab="highlights">Highlights</button>
          <button class="body" data-tab="ingredients">Ingredients</button>
          <button class="body" data-tab="how-to-use">How To Use</button>
          <button class="body" data-tab="serving">Per Serving</button>
          <button class="body" data-tab="people-planet">People & Planet</button>
        </div>
      </div>
      <div class="product__tabs-content">
        <div class="product__tab active" data-tab="highlights">
          {{ current_product.metafields.my_fields.highlights_tab }}
        </div>
        <div class="product__tab" data-tab="ingredients">
          {{ current_product.metafields.my_fields.ingredients_tab }}
          {% if current_product.metafields.my_fields.nutrition_label != blank %}
            <a href="{{ current_product.metafields.my_fields.nutrition_label }}" target="_blank" class="tabs-label body medium">View Full Nutrition Label</a>
          {% endif %}
        </div>
        <div class="product__tab" data-tab="how-to-use">
          {{ current_product.metafields.my_fields.how_to_use_tab }}
        </div>
        <div class="product__tab" data-tab="serving">
          {{ current_product.metafields.my_fields.per_serving_tab }}
        </div>
        <div class="product__tab" data-tab="people-planet">
          {{ current_product.metafields.my_fields.heart_tab }}
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="product__tabs">
    <div class="product__tabs-header-wrapper no-scrollbar">
      <div class="product__tabs-header">
        <button class="body active" data-tab="highlights">Highlights</button>
        <button class="body" data-tab="ingredients">Ingredients</button>
        <button class="body" data-tab="how-to-use">How To Use</button>
        <button class="body" data-tab="serving">Per Serving</button>
        <button class="body" data-tab="people-planet">People & Planet</button>
      </div>
    </div>
    <div class="product__tabs-content">
      <div class="product__tab active" data-tab="highlights">
        {{ product.metafields.my_fields.highlights_tab }}
      </div>
      <div class="product__tab" data-tab="ingredients">
        {{ product.metafields.my_fields.ingredients_tab }}
        {% if product.metafields.my_fields.nutrition_label != blank %}
          <a href="{{ product.metafields.my_fields.nutrition_label }}" target="_blank" class="tabs-label body medium">View Full Nutrition Label</a>
        {% endif %}
      </div>
      <div class="product__tab" data-tab="how-to-use">
        {{ product.metafields.my_fields.how_to_use_tab }}
      </div>
      <div class="product__tab" data-tab="serving">
        {{ product.metafields.my_fields.per_serving_tab }}
      </div>
      <div class="product__tab" data-tab="people-planet">
        {{ product.metafields.my_fields.heart_tab }}
      </div>
    </div>
  </div>
{% endif %}