{% comment %}
    Renders a product card

    Accepts:
    - product_card_product: {Object} Product Liquid object (optional)
    - media_size: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
    - add_image_padding: {Boolean} Enables padding on the image to space out the grid
    - show_vendor: {Boolean} Show the product vendor. Default: false
    - show_image_outline: {Boolean} Show card outline. Default: true (optional)

    Usage:
    {% render 'product-card', show_vendor: section.settings.show_vendor %}
{% endcomment %}

<div class="card-wrapper">
  {% if product_card_product.available == false %}
    {% render 'spinner-sold-out' %}
  {% elsif product_card_product.metafields.my_fields.show_trending_product_card == true %}
    {% render 'spinner-trending' %}
  {% elsif product_card_product.metafields.my_fields.show_most_popular_product_card == true %}
    {% render 'spinner-most-popular' %}
  {% endif %}

  <span class="visually-hidden">{{ product_card_product.title | escape }}</span>

  <div class="card card--product" tabindex="-1">
    <div class="ff card__inner">
      <a href="{{ product_card_product.url | default: '#' | within: collection }}" class="full-unstyled-link">
        <div class="media" style="padding-bottom: 125%;">
          {% render 'lazy-image' image: product_card_product.featured_media, fade: true, classes: 'img-fill' %}

          {% if show_secondary_image %}
            {% if product_card_product.media[1] != nil and hover_video == blank %}
              {% render 'lazy-image' image: product_card_product.media[1], fade: true , classes: 'img-fill'%}
            {% elsif hover_video != blank %}
              <video autoplay loop muted playsinline class="img-fill">
                <source src="{{ hover_video }}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            {% endif %}
          {% endif %}
        </div>
      </a>
      
      <div class="card__buttons hide-mobile">
        <a href="{{ product_card_product.url | default: '#' }}" class="button learn-more">
          <span class="visually-hidden">{{ shop.name }}</span>Learn More</a>
      </div>
      
    </div>
  </div>

    <div class="card-information">
      <div class="card-information__wrapper">

        <div data-oke-reviews-product-listing-rating>{{ product_card_product.metafields.okendo.ProductListingSnippet }}</div>

        <a href="{{ product_card_product.url | default: '#' | within: collection }}" class="full-unstyled-link">
          <div class="h5 card-information__title">{{ product_card_product.title | escape }}</div>
        {% comment %}
          <h5 class="card-information__title">
            {{ product_card_product.title | escape }}
          </h5>
          {% endcomment %}
        </a>
        
        {% if product_card_product.metafields.my_fields.product_card_text != blank %}
          <p class="card-information__text light">{{ product_card_product.metafields.my_fields.product_card_text }}</p>
        {% endif %}

        {% if show_shop_button %}
          <a href="{{ product_card_product.url | default: '#' }}" class="shop-btn button button--beige">Shop Now</a>
        {% endif %}
      </div>
    </div>
</div>
