{% liquid
  assign product_form_id = "product-form-" | append: p.id
  assign currentVariant = p.selected_or_first_available_variant 

  if p.selling_plan_groups.size > 0
    assign requiresPlan = p.requires_selling_plan
    assign selectedAllocation = ''
    assign currentAllocations = currentVariant.selling_plan_allocations
  endif
 %}

<product-form data-form-type="product-card" class="product-form">
  {% form 'product', p, id: product_form_id, data-smartrr-form-id: p.id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form'  %}
    {% capture variantMetafield %}
      <select class="js-variant-metafield hidden">
        {% for variant in p.variants %}
          <option value="{{ variant.id }}" data-otp-text="{{ variant.metafields.custom.one_time_purchase_subtext }}" data-subscription_text="{{ variant.metafields.custom.subscription_text }}"></option>
        {% endfor %}
      </select>
    {% endcapture %}
    {% unless p.has_only_default_variant %}
      <variant-radios class="no-js-hidden" data-section="{{ section.id }}"  data-product="{{ p.id }}"  data-url="{{ p.url }}" data-update-url="false" data-form-type="product-card">
        {%- for option in p.options_with_values -%}
          {% assign optionIndex = forloop.index0 %}
          {% assign values = "" %}
           <fieldset class="js product-form__input">
           {%- for variant in p.variants -%}
             {% assign value = variant.options[optionIndex] %}
             {%- unless values contains value -%}
             {% assign values = values | join: ',' %}
             {% assign values = values | append: ',' | append:value %}
             {% assign values = values | split: ',' %}

              {% assign my_fields = variant.metafields.custom %}

               <span class="Variant_Blocks" data-id="{{ variant.id }}">
                 <input type="radio" id="{{ p.id }}-{{ option.name }}-{{ forloop.index0 }}"
                   name="{{ option.name }}"
                   value="{{ value | escape }}"
                   form="product-form-{{ p.id }}"
                   {% if option.selected_value == value %}checked{% endif %}
                 >
                 <label for="{{ p.id }}-{{ option.name }}-{{ forloop.index0 }}">
                   <span class="Variant_Title">
                    <span class="custom-radio"> </span>
                    {{ value }}
                    {%- if my_fields.quick_add_value_tag != blank -%}
                      <span class="quick-add__best-value-tag Best_Value">{{ my_fields.quick_add_value_tag }}</span>
                    {%- endif -%}
                  </span>
                   {%- if my_fields.serving_cost != blank and p.metafields.custom.serving_sub_price != blank -%}
                    <span 
                      class="Serving_Cost" 
                      data-subprice="{{ p.metafields.custom.serving_sub_price}}" 
                      data-onetimeprice="{{ my_fields.serving_cost }}"
                    >
                      {{ p.metafields.custom.serving_sub_price | replace: "serving", "serv"}}
                    </span>    
                  {%- endif -%}

                   {%- if my_fields.supply_time != blank -%}
                    <span 
                      class="Supply_Time"
                    >
                      {{ my_fields.supply_time }} /
                      {{ my_fields.servings }}
                    </span>
                  {%- endif -%}
                 </label>
               </span>
             {%- endunless -%}
           {%- endfor -%}
           </fieldset>
           {%- endfor -%}
           <script type="application/json">
             {{ p.variants | json }}
           </script>
         {{ variantMetafield }}
      </variant-radios>
    {% endunless %}

    {% if p.selling_plan_groups.size > 0 %}
      <div data-rtx-subscription-{{ p.id }}-{{ section.id }}-{{ block.id }}>
        <fieldset class="js product-form__input">
          <span class="Variant_Blocks">
            <input type="radio" id="{{ p.id }}-purchaseTypeOneTime" name="purchaseType" value="purchaseTypeOneTime" {% if selectedAllocation == blank %} checked {% endif %} >
            <label for="{{ p.id }}-purchaseTypeOneTime">
              <span class="Variant_Title">
              <span class="custom-radio"> </span>
              One-Time Purchase
            </span>
            <span 
              class="rtx_one_time_price" 
              data-subprice="{{ p.metafields.custom.serving_sub_price}}" 
              data-onetimeprice="{{ my_fields.serving_cost }}"
            >
              {% if p.metafields.custom.auto_discount_percent_off != blank %}
                
              {% else %}
                <span class="js-rtx_one_time_price">
                  {{ p.selected_or_first_available_variant.price | money }}
                </span>
                <s class="rtx_compare_price js-main-compare-price">{{ p.selected_or_first_available_variant.compare_at_price | money }}</s>
              {% endif %}
            </span> 
            </label>
          </span>

          <span class="Variant_Blocks">
            <input type="radio" id="{{ p.id }}-purchaseTypeSubscription" name="purchaseType" value="purchaseTypeSubscription" {% if selectedAllocation == blank %} checked {% endif %} >
            <label for="{{ p.id }}-purchaseTypeSubscription">
              <span class="Variant_Title">
              <span class="custom-radio"> </span>
              Subscribe
              <span class="quick-add__tag">Save 23%</span>
              
            </span>
              <span 
                class="" 
              >
                <span class="quick-add__price-recurring js-subscription-price">
                  {{ p.selected_or_first_available_selling_plan_allocation.price | money }}
                </span>
                <s class="rtx_compare_price js-sub-compare-price">{{ p.selected_or_first_available_variant.compare_at_price | default: p.selected_or_first_available_variant.price | money }}</s>
              </span>

              {%- if my_fields.supply_time != blank -%}
              <span 
                class="Subscription_Subtext"
              >
                {{ p.metafields.custom.subscription_widget_subtext.value | replace: " • ", ", " | replace: "30 Day Money Back", "30-Day" }} 
              </span>
            {%- endif -%}
            </label>
          </span>
        </fieldset>
      </div>
    {% endif %}

    {% if p.selling_plan_groups[0].selling_plans[0].id %}
      <input type="hidden" name="selling_plan" value="{{ p.selling_plan_groups[0].selling_plans[0].id }}">
    {% endif %}

    <input type="hidden" name="id" value="{{ currentVariant.id }}">

    <div class="product-form__buttons">
      <button type="submit" name="add" class="button button--primary" data-available="{{ currentVariant.available }}">
        {% if currentVariant.available %}
          <span>Add To Cart &mdash;&nbsp;</span>
        {% else %}
          <span>Sold Out &mdash;&nbsp;</span>
        {% endif %}
        {% if currentVariant.selling_plan_allocations.size > 0 %}
          <span>{{ currentVariant.selling_plan_allocations[0].price | money }}</span>
          <s>{{ currentVariant.price | money }}</s>
        {% else %}
         {% if currentVariant.compare_at_price > currentVariant.price %}
          <span>{{ currentVariant.price | money }}</span>&nbsp;
           <s>{{ currentVariant.compare_at_price | money }}</s>
         {% else %}
           <span>{{ currentVariant.price | money }}</span>
         {% endif %}
        {% endif %}
        
      </button>
    </div>

    <p class="quick-add__form-subtext">FREE SHIPPING</p>
  {% endform %}

  <script type="application/json" id="js-product-variant-json">
    {
      {% for variant in p.variants %}
        "{{ variant.id }}":{
          "price":"{{ variant.price | money }}",
          "compare_price":{% if variant.compare_at_price %}{{ variant.compare_at_price | money | json }}{% else %}""{% endif %},
          "subscription_price":"{{ variant.selling_plan_allocations[0].price | money }}"
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    }
  </script>
  <script id="productJSON" type="application/json">
    {
      {% for variant in p.variants %}
        "{{ variant.id }}":"{{ variant.metafields.custom.checkout_msrp_text }}"{% unless forloop.last %},{% endunless %}
      {% endfor %}
    }
  </script>
</product-form>