{%- if product.selling_plan_groups.size > 0 -%}
  {%- comment -%} Shorthand Variables {%- endcomment -%}
  {%- liquid
    assign currentVariant = variant | default: product.selected_or_first_available_variant
    assign requiresPlan = product.requires_selling_plan
    assign selectedAllocation = product.selected_or_first_available_selling_plan_allocation
    assign currentAllocations = currentVariant.selling_plan_allocations
  -%}
  {%- comment -%} Buy Box Styles {%- endcomment -%}
  <style type="text/css">
    .rtx-subscription-box {
      display: none;
    }
    .rtx-subscription-box.is-visible {
      display: block;
    }
    .rtx-gift-box {
      display: none;
    }
    .rtx-gift-box.is-visible {
      display: block;
    }
  
  
  /* new CSS  */
    .clear_svg {
      margin-top: 2px;
      margin-left: 6px;
      margin-right: 10px;
    }
    .clear_tag {
      font-weight: 400;
      color: #1F2322;
      margin: 0 auto !important;
      padding: 0px 8px;
    }
    .rtx-tooltip__flex{
      display: flex;
    }
    .one_sub_text {
      color: rgba(0,0,0,0.4);
      margin: 0;
      font-size: 12px !important;
      margin-left: 33px;
      margin-top: 5px;
    }
    .rtx_sub_container {
      margin-left: 35px;
      margin-bottom: 40px;
    }
    .rtx_option_heading {
      font-size: 18px;
      font-family: inter,sans-serif;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 1.5em;
    }
    .rtx_option_plans {
      margin-bottom: 15px
    }
    .rtx_option_subheading {
      font-size: .875rem;
      line-height: 1.428572;
      width: 90%;
      margin-left: 28px;
      margin-top: 4px;
    }
    .rtx_option {
      margin-top: 10px;
      width: fit-content;
    }
    input[type='radio'] {
      float: left;
      appearance: none;
      margin-top: 3px;
      margin-right: 10px;
      background: transparent !important;
      border: 2px solid #000;
      border-radius: 100%;
      content: " ";
      height: 1.75rem;
      width: 1.7rem;
    }
    input[type='radio']:before {
      content: '';
      display: block;
      width: 70%;
      height: 70%;
      margin: 15% auto;
      border-radius: 50%;
    }
    input[type='radio']:checked {
      background: white;
      -webkit-box-shadow: inset 0 0 1 8px black;
    }
    input[type='radio']:checked:before {
      background: black;
    }
    .clear_button{
      cursor: pointer;
      position: relative;
      margin-left: 7px;
      margin-top: 4px;
      background: #398200;
      border-radius: 14px;
      padding: 0px;
      animation: gradient 3s ease infinite;
      background-size: 400% 400%;
      display: flex;
      width: 100%;
      white-space: nowrap;
      color: white;
    }
    .rtx_text {
      position: absolute;
      left: 160px;
      bottom: -155px;
      background:	#696969;
      font-size: 12px;
      z-index: 2;
      padding: 10px 10px 10px 10px;
      border-radius: 10px;
      min-width: 338px;
      color: white;
    }
    .rtx_popup_content {
      display: none;
      position: relative;
    }
    .rtx_popup {
      width: fit-content;
    }
    .rtx_sub_script {
      margin-left: 45px;
      width: fit-content;
      font-size: small;
    }
    .rtx_question_icon {
      margin-top: -2px;
      position: absolute;
      margin-left: 19px;
    }
    .clear_button:hover ~ .rtx_popup_content {
      display: inline !important;
    }
    .clear_tag .save24{
      color: white;
      font-weight: 400;
      font-size: 12px;
    }

    .product__rtx-tooltip.hide-desktop .clear_button {
      margin: 16px 0 0 0 !important;
    }
  
    @media only screen and (max-width: 500px) {
      .rtx-tooltip__flex{
        flex-direction: column;
      }
      .clear_button {
         margin-left: 0;
      }
    }

  
  </style>
  
  <div data-rtx-subscription-{{ product.id }}-{{ section.id }}-{{ block.id }}>
    {%- comment -%} Subscription type toggle {%- endcomment -%}
    {%- unless requiresPlan -%}
      <p class="product-form__text-label">Choose Payment Option</p>
      <div class="rtx_option_selector_main">
        <div class="rtx_option_selector">
          <input type="radio" id="purchaseTypeOneTime" name="purchaseType" value="purchaseTypeOneTime" {% if selectedAllocation == blank %} checked {% endif %} >
          <label for="purchaseTypeOneTime" class="rtx_option_label">
            <div style="position: relative;" class="rtx_option_heading">
              <span>One-Time Purchase - </span>
              <span class="rtx_one_time_price">
                <span class="rtx_compare_price js-main-compare-price">
                  {% if currentVariant.compare_at_price > currentVariant.price %}
                    {{ currentVariant.compare_at_price | money_without_trailing_zeros }} 
                  {% endif %}
                </s>
                <span class="js-rtx_one_time_price">{{ currentVariant.price | money_without_trailing_zeros }}</span>
              </span>
            </div>
            <div class="Subscribe_Info">
              <div class="rtx_sub_container">
                {% assign my_fields = currentVariant.metafields.custom %}
                {% for block in section.blocks %}
                  {%- case block.type -%}
                    {%- when 'onetime_block' -%}
                      <div class="subscribe-item_info">
                        {%- if block.settings.onetime_purchase_type_img != blank -%}
                          <img src="{{ block.settings.onetime_purchase_type_img | img_url: 'master' }}">
                        {%- endif -%}
                      <div>
                    {% comment %}
                      {%- if block.settings.three_bottle_text != blank -%}
                        <p class="Label_Text js-label-text Three_Bottle_Text_Onetime" data-cms-text="{{ block.settings.three_bottle_text }}">
                          {{ block.settings.three_bottle_text }}
                        </p>
                      {%- endif -%}
                      {%- if block.settings.nine_bottle_text != blank -%}
                        <p class="Label_Text js-label-text Nine_Bottle_Text_Onetime" data-cms-text="{{ block.settings.nine_bottle_text }}">
                          {{ block.settings.nine_bottle_text }}
                        </p>                    
                      {%- endif -%}                    
                      <p class="Label_Text js-label-text" data-cms-text="{{ block.settings.onetime_purchase_type_text }}">
                        {{ my_fields.subscription_text | default: block.settings.onetime_purchase_type_text }}
                      </p>
                    {% endcomment %}
                      <p class="Label_Text js-label-text js-onetime" data-cms-text="{{ block.settings.onetime_purchase_type_text }}">
                        {{ my_fields.one_time_purchase_subtext | default: block.settings.onetime_purchase_type_text }}
                      </p>
                      {% assign oneTimeSubtext = block.settings.onetime_purchase_type_subtext %}
                      {%- if oneTimeSubtext != blank -%}
                        <p class="Label_Sub_Text">{{ oneTimeSubtext }}</p>
                      {%- endif -%}
                      </div>
                    </div>
                  {% endcase %}
                {% endfor %}
              </div>
            </div>    
          </label>
        </div>
        <div id="rtx_sands_block">
          <div id="rtx_option_sub">
            <div class="rtx_option_selector">
              <input type="radio" id="purchaseTypeSbubscription" name="purchaseType" value="purchaseTypeSubscription" {% if selectedAllocation != blank %} checked {% endif %}>
              <label for="purchaseTypeSbubscription" class="rtx_option_label">
                <div class="rtx-tooltip__flex">
                  <div class="rtx_option_heading">
                    Subscribe — &nbsp
                    <div class="Multi_Price">
                      <span class="rtx_one_time_price"><s class="js-rtx_one_time_price">{{ currentVariant.price | money_without_trailing_zeros }}</s></span>
                      <span id="rtx_one_price_save" class="js-subscription-price">
                        {{- currentAllocations[0].price | money_without_trailing_zeros -}}
                      </span>
                    </div>
                  </div>
                  <div class="product__rtx-tooltip hide-mobile">
                    <div class="rtx_popup">
                      <div class="clear_button">
                        <p class="clear_tag"><span class="save24">Save 23%</span></p>
                      </div>
                      <div class="rtx_popup_content">
                        <blockquote class="rtx_text">
                          <p>You’re the boss.</p>
                          <p>
                            ✓ Free Shipping<br>
                            ✓ 30 Day Guarantee<br>
                            ✓ Cancel after your first order or make it a habit
                          </p>
                        </blockquote>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="Subscribe_Info">
                  <div class="rtx_sub_container">
                    {% assign my_fields = currentVariant.metafields.custom %}
                    {% for block in section.blocks %}
                      {%- case block.type -%}
                        {%- when 'block' -%}
                          <div class="subscribe-item_info">
                            {%- if block.settings.purchase_type_img != blank -%}
                              <img src="{{ block.settings.purchase_type_img | img_url: 'master' }}">
                            {%- endif -%}
                            <div>
                              <p class="Label_Text js-label-text js-subscription" data-cms-text="{{ block.settings.purchase_type_text }}">
                                {{ my_fields.subscription_text | default: block.settings.purchase_type_text }}
                              </p>
                              {% comment %}
                                {%- if block.settings.three_bottle_text != blank -%}
                                  <p class="Label_Text js-label-text Three_Bottle_Text_Subscription" data-cms-text="{{ block.settings.three_bottle_text }}">
                                    {{ block.settings.three_bottle_text }}
                                  </p>
                                {%- endif -%}
                                {%- if block.settings.nine_bottle_text != blank -%}
                                  <p class="Label_Text js-label-text Nine_Bottle_Text_Subscription" data-cms-text="{{ block.settings.nine_bottle_text }}">
                                    {{ block.settings.nine_bottle_text }}
                                  </p>                    
                                {%- endif -%}                        
                              {% endcomment %}
                              <div class="product__rtx-tooltip hide-desktop">
                                <div class="rtx_popup">
                                  <div class="clear_button">
                                    <p class="clear_tag"><span class="save24">Save 23%</span></p>
                                  </div>
                                  <div class="rtx_popup_content">
                                    <blockquote class="rtx_text">
                                      <p>You’re the boss.</p>
                                      <p>
                                        ✓ Free Shipping<br>
                                        ✓ 30 Day Guarantee<br>
                                        ✓ Cancel after your first order or make it a habit
                                      </p>
                                    </blockquote>
                                  </div>
                                </div>
                              </div>
                              {% assign subscriptionSubtext = block.settings.purchase_type_subtext %}
                              {%- if subscriptionSubtext != blank -%}
                                <p class="Label_Sub_Text">{{ subscriptionSubtext }}</p>
                              {%- endif -%}
                            </div>
                          </div>
                      {% endcase %}
                    {% endfor %}
                  </div>
                </div>
              </label>
            </div>
          </div>
        </div>
      {% if product.metafields.custom.subscription_widget_subtext %}
        <p class="Label_Sub_Text hide-mobile">{{ product.metafields.custom.subscription_widget_subtext.value  }}</p>

        {%- assign title_words = product.metafields.custom.subscription_widget_subtext.value | split: ' • ' -%}
        <p class="Label_Sub_Text hide-desktop">
          {% for word in title_words -%}
            •&nbsp;{{ word }}<br/>
          {%- endfor %}
         </p>
      {% endif %}
      </div>
    {%- endunless -%}

  {%- comment -%} Subscription Box {%- endcomment -%}

  <div style="display: none;" data-retextion-subscription-box class="rtx-subscription-box {% if requiresPlan or selectedAllocation != blank %} is-visible{% endif %}">
  
      <select name="selling_plan">
        {%- liquid
          for allocation in currentAllocations
            assign plan = allocation.selling_plan
            echo '<option'
            if plan.selected or sellectedAllocation == blank and forloop.first
              echo ' selected'
            endif
            echo ' value="' | append: plan.id | append: '">'
            echo plan.name | escape
            echo '</option>'
          endfor
        -%}
      </select>
  
    </div>

  </div>
  
{%- endif -%}
