{% assign first_selling_plan_allocation = product.variants.first.selling_plan_allocations[0] %}
{% assign subPrice = first_selling_plan_allocation.price | money_without_trailing_zeros %}
{% assign onePrice = product.price | money_without_trailing_zeros %}

<div id='rtx_prod_price'>
    Add to Cart —
     <span id='rtx_one_price'>{{ onePrice }}</span>
  </div>

  <script>
    var product = {{product | json }}
    // document.querySelectorAll(`#rtx_buy_box_${product.id} .rtx_option_${product.id}`).forEach((div) => {      
    //     div.addEventListener('click', function (e) {
    //        // var el = e.path[2].querySelectorAll('input[type="radio"]')[0];
          
    //        var el = e.target.value;
     
    //         if(el === 'subsave') {
    //             document.getElementById(`rtx_one_price`).innerText = {{ subPrice | json }};
    //         } else if (el === 'onetime') {
    //             document.getElementById(`rtx_one_price`).innerText = {{ onePrice | json }};
    //         }
    //     });
    // }); 

      $(document).ready(function() {
        var el = $('.Subscribe_Box').find('input:checked').val()
        if(el === 'subsave') {
          document.getElementById(`rtx_one_price`).innerText = {{ subPrice | json }};
        } else if (el === 'onetime') {
          document.getElementById(`rtx_one_price`).innerText = {{ onePrice | json }};
        }       
      })


    $('.Subscribe_Box').click(function() {
      var el = $(this).find('input').val()
      if(el === 'subsave') {
        document.getElementById(`rtx_one_price`).innerText = {{ subPrice | json }};
      } else if (el === 'onetime') {
        document.getElementById(`rtx_one_price`).innerText = {{ onePrice | json }};
      }
    })
   
       
  </script>

    <script>
    var product = {{product | json }}
    document.querySelectorAll(`#rtx_buy_box_${product.id} .rtx_option_${product.id}`).forEach((div) => {      
        div.addEventListener('click', function (e) {
//             var el = e.path[2].querySelectorAll('input[type="radio"]')[0];
           var el = e.target.value;
            if(el === 'subsave') {
                document.getElementById(`rtx_one_price_save`).innerText = {{ subPrice | json }};
            } else if (el === 'onetime') {
                document.getElementsByClassName('rtx_one_time_price').innerText = {{ onePrice | json }};
            }
        });
    }); 
   
       
  </script>