{% liquid
    assign supplement_facts_serving_text  = product.metafields.supplement.supplement_facts_serving_text
    assign supplement_facts_icon_images = product.metafields.supplement.supplement_facts_icon_images
    assign supplement_facts_details_text = product.metafields.supplement.supplement_facts_details_text
    assign supplement_facts_form_image = product.metafields.supplement.supplement_facts_form_image.value
%}

<div id="supplementSideDrawer" class="supplement-side-drawer">
  <div class="main-side-drawer">
    <a href="javascript:void(0)" class="js-close-supplement-drawer">&times;</a>
    <div class="drawer_cover_cls">  
      <div class="drawer_left">
        <p>{{ product.title }}</p>
        <h3>Supplement Facts</h3>
        <span>{{ supplement_facts_serving_text }}</span>
        <div class="icons--with-title">
          {% for image in supplement_facts_icon_images.value %}
            {% assign split_url = image | split:'/' %}
            {% assign split_value = split_url[1] | split:'.' %}
            {% assign set_title = split_value[0] | replace: '-', " " %}
            {% assign icon_title = set_title | upcase %}
            <div class="badge_drawer_inner">
              <span class="icon-title">{{ icon_title }}</span>
              <img src="{{ image | img_url:'small' }}"/>
            </div>
          {% endfor %}
        </div> 
        <div class="supplement-detail-text">
          <p>{{ supplement_facts_details_text }}</p>
        </div>
      </div>
      <div class="supplement-facts-form-image">
        <img src="{{ supplement_facts_form_image | img_url:'master' }}"/>
      </div>
    </div>  
  </div>
</div>


