{% liquid
  assign supplement_facts_serving_text  = product.metafields.supplement.supplement_facts_serving_text
  assign supplement_facts_icon_images = product.metafields.supplement.supplement_facts_icon_images
  assign supplement_facts_details_text = product.metafields.supplement.supplement_facts_details_text
  assign supplement_facts_details_text_2 = product.metafields.custom.supplement_facts_details_text_2
  assign supplement_facts_details_text_3 = product.metafields.custom.supplement_facts_details_text_3
  assign supplement_facts_form_image = product.metafields.supplement.supplement_facts_form_image.value
  assign supplement_facts_form_image_2 = product.metafields.supplement.supplement_facts_form_image_2.value
  assign supplement_facts_form_image_3 = product.metafields.supplement.supplement_facts_form_image_3.value

  assign emoji_img_one = product.metafields.custom.drawer_emoji_image_one
  assign emoji_title_one = product.metafields.custom.drawer_emoji_title_one
  assign emoji_img_two = product.metafields.custom.drawer_emoji_image_two
  assign emoji_title_two = product.metafields.custom.drawer_emoji_title_two
  assign emoji_img_three = product.metafields.custom.drawer_emoji_image_three
  assign emoji_title_three = product.metafields.custom.drawer_emoji_title_three
%}

<div id="supplementSideDrawer" class="supplement-side-drawer Supplement_Side_Drawer">
  <div class="main-side-drawer">
    <div class="drawer_header">
      <p>{{ product.title }}</p>
      <a href="javascript:void(0)" class="js-close-supplement-drawer">&times;</a>
    </div>  
    <div class="drawer_cover_cls">  
      <div class="drawer_left">
        <h3>Supplement Facts</h3>
        <p>{{ supplement_facts_serving_text }}</p>
        <p>{{ supplement_facts_details_text_2 }}</p>
        {% if supplement_facts_details_text_3 != blank %}
        <p style="margin-top: 15px;">{{ supplement_facts_details_text_3 }}</p>
        {% endif %}
        <div class="icons--with-title">
          {% comment %}
          {% for image in supplement_facts_icon_images.value %}
            {% assign split_url = image | split:'/' %}
            {% assign split_value = split_url[1] | split:'.' %}
            {% assign set_title = split_value[0] | replace: '-', " " %}
            {% assign icon_title = set_title | upcase %}
            <div class="badge_drawer_inner">
              <span class="icon-title">{{ icon_title }}</span>
              <div class="emoji_img">
                <img src="{{ image | img_url:'small' }}"/>
              </div>  
            </div>
          {% endfor %}
          {% endcomment %}
          {% if product.metafields.custom.supp_icon_svg_1 != blank %}
            {{ product.metafields.custom.supp_icon_svg_1 }}
          {% elsif emoji_img_one != blank %}
          <div class="badge_drawer_inner">
            <span class="icon-title">{{ emoji_title_one }}</span>
            <div class="emoji_img">
              <img src="{{ emoji_img_one | img_url:'small' }}"/>
            </div>  
          </div>
          {% endif %}
          {% if product.metafields.custom.supp_icon_svg_2 != blank %}
            {{ product.metafields.custom.supp_icon_svg_2 }}
          {% elsif emoji_img_two != blank %}
          <div class="badge_drawer_inner">
            <span class="icon-title">{{ emoji_title_two }}</span>
            <div class="emoji_img">
              <img src="{{ emoji_img_two | img_url:'small' }}"/>
            </div>  
          </div>
          {% endif %}
          {% if product.metafields.custom.supp_icon_svg_3 != blank %}
            {{ product.metafields.custom.supp_icon_svg_3 }}
          {% elsif emoji_img_three != blank %}
          <div class="badge_drawer_inner">
            <span class="icon-title">{{ emoji_title_three }}</span>
            <div class="emoji_img">
              <img src="{{ emoji_img_three | img_url:'small' }}"/>
            </div>  
          </div>
          {% endif %}
        </div> 
        <div class="supplement-detail-text">
          <p>{{ supplement_facts_details_text }}</p>
        </div>
      </div>
      <div class="supplement-facts-form-image">
        <div class="image_form">
          {% if product.metafields.custom.nutrition_label_svg != blank %}
            {{ product.metafields.custom.nutrition_label_svg }}
          {% else %}
            {% render 'lazy-image' image: supplement_facts_form_image, fade: true, classes: '' %}
          {% endif %}
        </div>
          
        {% comment %}
        <div class="image_form">
          {% render 'lazy-image' image: supplement_facts_form_image, fade: true, classes: '' %}
        </div>  
        {% if supplement_facts_form_image_2 %}
        <div class="image_form">
          {% render 'lazy-image' image: supplement_facts_form_image_2, fade: true, classes: '' %}
        </div> 
        {% endif %}
        {% if supplement_facts_form_image_3 %}
        <div class="image_form">
          {% render 'lazy-image' image: supplement_facts_form_image_3, fade: true, classes: '' %}
        </div>  
        {% endif %}
        {% endcomment %}
      </div>
      <div class="hide-desktop mobile-supplement-continue">
        <a href="javascript:void(0)" class="button button--full-width">Continue Shopping</a>        
      </div>
    </div>  
  </div>
</div>