{% liquid
    assign supplement_facts_serving_text  = product.metafields.supplement.supplement_facts_serving_text
    assign supplement_facts_icon_images = product.metafields.supplement.supplement_facts_icon_images
    assign supplement_facts_details_text = product.metafields.supplement.supplement_facts_details_text
    assign supplement_facts_form_image = product.metafields.supplement.supplement_facts_form_image
%}

<div id="mySidenav" class="supplement-side-drawer">
  <a href="javascript:void(0)" class="js-close-supplement-drawer">&times;</a>
    <p>{{ product.title }}</p>
      <h3>Supplement Facts</h3>
        <span>{{ supplement_facts_serving_text }}</span>
        {% for image in supplement_facts_icon_images.value %}
          {% assign split_url = image | split:'/' %}
          {% assign split_value = split_url[1] | split:'.' %}
          {% assign set_title = split_value[0] | replace: '-', " " %}
          {% assign icon_title = set_title | upcase %}
          <span>{{ icon_title }}</span>
          <img src="{{ image | img_url:'small' }}"/>
        {% endfor %}
        <p>{{ supplement_facts_details_text }}</p>
{{ supplement_facts_form_image }}
</div>



<style>
.supplement-side-drawer {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.supplement-side-drawer a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.supplement-side-drawer a:hover{
  color: #f1f1f1;
}

.supplement-side-drawer .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .supplement-side-drawer {padding-top: 15px;}
  .supplement-side-drawer a {font-size: 18px;}
}
</style>