{% comment %} <!-- BEGIN SMARTRR SNIPPET -->{% render 'smartrr-account' %}<!-- END SMARTRR SNIPPET -->  {% endcomment %}

{{ 'customer.css' | asset_url | stylesheet_tag }}
<script src="{{ 'customer.js' | asset_url }}" defer></script>

<section>
  <div class="new__account">
    <div class="page-width">
      <div class="new__account--inner">
        <div class="new__account--header text-center">
          <h2>{{ 'customer.account.heading' | t }} {{ customer.first_name }}</h2>
          <p>{{ 'customer.account.subheading' | t }}</p>
        </div>
        <div class="new__account--tabs">
          <div class="new__account--tabs-header">
            <ul class="tabs">
              <li class="tab-link current" data-tab="tab-1">{{ 'customer.account.tab_profile' | t }}</li>
              <li class="tab-link" data-tab="tab-2">{{ 'customer.account.tab_order' | t }}</li>
              <li class="tab-link" data-tab="tab-3">{{ 'customer.account.tab_subscriptions' | t }}</li>
              <li class="tab-link" data-tab="tab-4">{{ 'customer.account.tab_loyalty' | t }}</li>
              <li class="tab-link" data-tab="tab-5"><a href="{{ routes.account_logout_url }}">Log Out</a></li>
        	</ul>
          </div>
          <div class="new__account--tabs-content">
            <div id="tab-1" class="tab-content customer current">

              <div class="new__account--addresses">
                {%- paginate customer.addresses by 5 -%}
                  <div class="customer addresses" data-customer-addresses>
                    <div data-address>
                      <h2 class="title">{{ customer.first_name }} {{ customer.last_name }}</h2>
                      <p>{{ customer.email }}</p>
                      <button
                        type="button"
                        aria-expanded="false"
                        aria-controls="AddAddress" class="add-btn"
                      >
                        {{ 'customer.addresses.add_new' | t }}
                      </button>
                      <div id="AddAddress" class="new__account--addresses-form">
                        <div class="new__account--addresses-form-inner">
                        <a href="#" class="new__account--addresses-form-close">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#1f2322" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                        </a>
                        <h2 id="AddressNewHeading">{{ 'customer.addresses.add_new' | t }}</h2>
                        {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
                          <div class="field">
                            <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
                            <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                          </div>
                          <div class="field">
                            <input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
                            <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                          </div>
                          <div class="field">
                            <input type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
                            <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                          </div>
                          <div class="field">
                            <input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
                            <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
                          </div>
                          <div class="field">
                            <input type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
                            <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                          </div>
                          <div class="field">
                            <input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
                            <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                          </div>
                          <div class="field">
                            <div class="select">
                              <select
                                id="AddressCountryNew"
                                name="address[country]"
                                data-default="{{ form.country }}"
                                autocomplete="country"
                              >
                                {{ all_country_option_tags }}
                              </select>
                              <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                <use href="#icon-caret" />
                              </svg>
                            </div>
                            <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                          </div>
                          <div class="field" id="AddressProvinceContainerNew" style="display: none">
                            <div class="select">
                              <select
                                id="AddressProvinceNew"
                                name="address[province]"
                                data-default="{{ form.province }}"
                                autocomplete="address-level1"
                              >
                              </select>
                              <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                <use href="#icon-caret" />
                              </svg>
                            </div>
                            <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                          </div>
                          <div class="field">
                            <input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
                            <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                          </div>
                          <div class="field">
                            <input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
                            <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
                          </div>
                          <div class="new__account--addresses-check">
                            {{ form.set_as_default_checkbox }}
                            <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
                          </div>
                          <div class="new__account--addresses-btn">
                            <button>{{ 'customer.addresses.add' | t }}</button>
                            <button class="address__btn--close" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                          </div>
                        {%- endform -%}
                        </div>
                      </div>
                    </div>
                
                    <ul role="list" class="new__account--addresses-row">
                      {%- for address in customer.addresses -%}
                        <li data-address class="new__account--addresses-col{% if address == customer.default_address %} default{% endif %}">
                          <div class="new__account--addresses-col-header">
                            <h2>Address ({{ forloop.index }}) {% if address == customer.default_address %}{{ 'customer.addresses.default' | t }}{% endif %}</h2>
                            {{ address | format_address }}
                          </div>
                          <div class="new__account--addresses-col-item">
                          <button
                            type="button"
                            id="EditFormButton_{{ address.id }}"
                            aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
                            aria-controls="EditAddress_{{ address.id }}"
                            aria-expanded="false"
                            data-address-id="{{ address.id }}"
                          >
                            {{ 'customer.addresses.edit' | t }}
                          </button>
                          <button
                            type="button"
                            aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                            data-target="{{ address.url }}"
                            data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                          >
                            {{ 'customer.addresses.delete' | t }}
                          </button>
                          <div id="EditAddress_{{ address.id }}" class="new__account--addresses-form">
                            <div class="new__account--addresses-form-inner">
                            <a href="#" class="new__account--addresses-form-close">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#1f2322" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                            </a>
                            <h2>{{ 'customer.addresses.edit_address' | t }}</h2>
                            {%- form 'customer_address', address -%}
                              <div class="field">
                                <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
                                <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                              </div>
                              <div class="field">
                                <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
                                <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                              </div>
                              <div class="field">
                                <input type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
                                <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                              </div>
                              <div class="field">
                                <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
                                <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                              </div>
                              <div class="field">
                                <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
                                <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                              </div>
                              <div class="field">
                                <input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
                                <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                              </div>
                              <div class="field">
                                <div class="select">
                                  <select
                                    id="AddressCountry_{{ form.id }}"
                                    name="address[country]"
                                    data-address-country-select
                                    data-default="{{ form.country }}"
                                    data-form-id="{{ form.id }}"
                                    autocomplete="country"
                                  >
                                    {{ all_country_option_tags }}
                                  </select>
                                  <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                    <use href="#icon-caret" />
                                  </svg>
                                </div>
                                <label for="AddressCountry_{{ form.id }}">
                                  {{ 'customer.addresses.country' | t }}
                                </label>
                              </div>
                              <div class="field" id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
                                <div class="select">
                                  <select
                                    id="AddressProvince_{{ form.id }}"
                                    name="address[province]"
                                    data-default="{{ form.province }}"
                                    autocomplete="address-level1"
                                  >
                                  </select>
                                  <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                    <use href="#icon-caret" />
                                  </svg>
                                </div>
                                <label for="AddressProvince_{{ form.id }}">
                                  {{ 'customer.addresses.province' | t }}
                                </label>
                              </div>
                              <div class="field">
                                <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
                                <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                              </div>
                              <div class="field">
                                <input type="tel" id="AddressPhone_{{ form.id }}"  name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
                                <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                              </div>
                              <div class="new__account--addresses-check">
                                {{ form.set_as_default_checkbox }}
                                <label for="address_default_address_{{ form.id }}">
                                  {{ 'customer.addresses.set_default' | t }}
                                </label>
                              </div>
                              <div class="address__btn">
                                <button>{{ 'customer.addresses.update' | t }}</button>
                                <button class="address__btn--close" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                              </div>
                            {%- endform -%}
                            </div>
                            </div>
                          </div>
                        </li>
                      {%- endfor -%}
                    </ul>
                    {%- if paginate.pages > 1 -%}
                      {%- if paginate.parts.size > 0 -%}
                          <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                            <ul role="list">
                            {%- if paginate.previous -%}
                              <li>
                                <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                                  <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                                  </svg>
                                </a>
                              </li>
                            {%- endif -%}
                
                            {%- for part in paginate.parts -%}
                              <li>
                                {%- if part.is_link -%}
                                  <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
                                {%- else -%}
                                  {%- if part.title == paginate.current_page -%}
                                    <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                                  {%- else -%}
                                    <span>{{ part.title }}</span>
                                  {%- endif -%}
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                
                            {%- if paginate.next -%}
                              <li>
                                <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}" >
                                  <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                                  </svg>
                                </a>
                              </li>
                            {%- endif -%}
                            </ul>
                          </nav>
                      {%- endif -%}
                    {%- endif -%}
                  </div>
                {%- endpaginate -%}
              </div>
        	</div>
        	<div id="tab-2" class="tab-content customer">
        		{% paginate customer.orders by 20 %}
                  {%- if customer.orders.size > 0 -%}
                    <table role="table" class="order-history">
                      <caption class="visually-hidden">{{ 'customer.orders.title' | t }}</caption>
                      <thead role="rowgroup">
                        <tr role="row">
                          <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                          <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                          <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
                          <th id="ColumnFulfillment" scope="col" role="columnheader">{{ 'customer.orders.fulfillment_status' | t }}</th>
                          <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
                        </tr>
                      </thead>
                      <tbody role="rowgroup">
                        {%- for order in customer.orders -%}
                          <tr role="row">
                            <td
                              id="RowOrder"
                              role="cell"
                              headers="ColumnOrder"
                              data-label="{{ 'customer.orders.order_number' | t }}"
                            >
                              <a href="{{ order.customer_url }}" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">
                                {{ order.name }}
                              </a>
                            </td>
                            <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                              {{ order.created_at | time_tag: format: 'date' }}
                            </td>
                            <td headers="RowOrder ColumnPayment" role="cell" data-label="{{ 'customer.orders.payment_status' | t }}">
                              {{ order.financial_status_label }}
                            </td>
                            <td headers="RowOrder ColumnFulfillment" role="cell" data-label="{{ 'customer.orders.fulfillment_status' | t }}">
                              {{ order.fulfillment_status_label }}
                            </td>
                            <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                              {{ order.total_price | money_with_currency }}</td>
                          </tr>
                        {%- endfor -%}
                      </tbody>
                    </table>
                  {%- else -%}
                    <p>{{ 'customer.orders.none' | t }}</p>
                  {%- endif -%}
          
                  {%- if paginate.pages > 1 -%}
                    {%- if paginate.parts.size > 0 -%}
                        <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                          <ul role="list">
                          {%- if paginate.previous -%}
                            <li>
                              <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                                <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                                </svg>
                              </a>
                            </li>
                          {%- endif -%}
          
                          {%- for part in paginate.parts -%}
                            <li>
                              {%- if part.is_link -%}
                                <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
                              {%- else -%}
                                {%- if part.title == paginate.current_page -%}
                                  <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                                {%- else -%}
                                  <span>{{ part.title }}</span>
                                {%- endif -%}
                              {%- endif -%}
                            </li>
                          {%- endfor -%}
          
                          {%- if paginate.next -%}
                            <li>
                              <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}" >
                                <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                                </svg>
                              </a>
                            </li>
                          {%- endif -%}
                          </ul>
                        </nav>
                    {%- endif -%}
                  {%- endif -%}
                {% endpaginate %}
        	</div>
        	<div id="tab-3" class="tab-content">
            	{% render 'rtxn_customer_login_btn', customer: customer %} 
        	</div>
        	<div id="tab-4" class="tab-content">
              <div data-lion-integrated-page=""></div>
        	</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

                      
<script>
  window.onload = () => {
    typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
  }
</script>