<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
<link rel='preconnect dns-prefetch' href='https://api.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://conf.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://triplewhale-pixel.web.app/' crossorigin />
<script>
/* >> TriplePixel :: start*/
window.TriplePixelData={TripleName:"buoyshop.myshopify.com",ver:"1.9"},function(W,H,A,L,E,_,B,N){function O(U,T,P,H,R){void 0===R&&(R=!1),H=new XMLHttpRequest,P?(H.open("POST",U,!0),H.setRequestHeader("Content-Type","application/json")):H.open("GET",U,!0),H.send(JSON.stringify(P||{})),H.onreadystatechange=function(){4===H.readyState&&200===H.status?(R=H.responseText,U.includes(".txt")?eval(R):P||(N[B]=R)):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(U,T-1))}}if(N=window,!N[H+"sn"]){N[H+"sn"]=1;try{A.setItem(H,1+(0|A.getItem(H)||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push(location.href),A.setItem(H+"U",JSON.stringify(E))}catch(e){}var i,m,p;A.getItem('"!nC`')||(_=A,A=N,A[H]||(L=function(){return Date.now().toString(36)+"_"+Math.random().toString(36)},E=A[H]=function(t,e){return"State"==t?E.s:(W=L(),(E._q=E._q||[]).push([W,t,e]),W)},E.s="Installed",E._q=[],E.ch=W,B="configSecurityConfModel",N[B]=1,O("https://conf.config-security.com/model",5),i=L(),m=A[atob("c2NyZWVu")],_.setItem("di_pmt_wt",i),p={id:i,action:"profile",avatar:_.getItem("auth-security_rand_salt_"),time:m[atob("d2lkdGg=")]+":"+m[atob("aGVpZ2h0")],host:A.TriplePixelData.TripleName,url:window.location.href,ref:document.referrer,ver:window.TriplePixelData.ver},O("https://api.config-security.com/",5,p),O("https://triplewhale-pixel.web.app/dot1.9.txt",5)))}}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>  
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.dataset.lazySrc=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MTCBJP4');</script>
    <!-- End Google Tag Manager -->
    
    
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async data-lazy-src="https://www.googletagmanager.com/gtag/js?id=AW-777256469"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-401XGGL1MC');
    </script>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {%- endif -%}

    <title>{{ page_title }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

   <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    
    <link rel="preload" href="{{ 'slick.min.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'base.css' | asset_url }}" as="style">

    <script src="{{ 'preloader.js' | asset_url }}"></script>
    <script src="{{ 'bootstrap.js' | asset_url }}"></script>
    <script src="{{ 'preconnect_resources.js' | asset_url }}"></script>
    <script src="{{ 'lazy.js' | asset_url }}"></script>
   
    <script src="{{ 'jquery.min.js' | asset_url }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js" ></script>
    <script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'lazysizes.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>

    {% if template.suffix == "bundle" %}
      <link rel="stylesheet" href="{{ 'lsg-bundle.css' | asset_url }}" media="print" onload="this.media='all'">
      <script src="{{ 'lsg-bundle.js' | asset_url }}" defer="defer"></script>
    {% endif %}

    {%- assign content_for_header = content_for_header | replace: "window.addEventListener('load'", "window.addEventListener('load-head-scripts'" -%}

    {{ content_for_header }}

    {% style %}
      /* Inter Bold */
      @font-face {
        font-family: inter;
        src: url('{{ 'Inter-Bold.ttf' | asset_url }}');
        font-style: normal;
        font-weight: 700;
        font-display: swap;
      }

      /* Inter Mediun */
      @font-face {
        font-family: inter;
        src: url('{{ 'Inter-Medium.ttf' | asset_url }}');
        font-style: normal;
        font-weight: 500;
        font-display: swap;
      }

      /* Inter Regular */
      @font-face {
        font-family: inter;
        src: url('{{ 'Inter-Regular.ttf' | asset_url }}');
        font-style: normal;
        font-weight: 400;
        font-display: swap;
      }

      /* Inter Light */
      @font-face {
        font-family: inter;
        src: url('{{ 'Inter-Light.ttf' | asset_url }}');
        font-style: normal;
        font-weight: 300;
        font-display: swap;
      }

      /* Colors */
      :root {
        --charcoal: #1F2322;
        --charcoal-light: #545759;

        --beige-dark: #ECD8C5;
        --beige: #F6ECE1;
        --beige-light: #F8F1EB;

        --teal-dark: #329298;
        --teal: #479DA6;
        --teal-light: #6EAEB3;

        --teal-gray: #B3CDCE;
        --teal-gray-light: #E0EAEB;
        --teal-gray-lighter: #EFF4F4;

        --green-dark: #75A951;
        --green: #9AC847;
        --green-light: #C6DB76;

        --yellow: #FED18E;
        --yellow-light: #FEEBCD;
        --yellow-lighter: #FFF3E3;

        --orange-dark: #FFA225;
        --orange: #FFBE4D;
        --orange-light: #FAD16F;

        --sky-blue: #B7D7EA;
        --sky-blue-light: #E2EEF6;
        --sky-blue-lighter: #F0F6FA;

        --color-base-text: {{ settings.colors_text }};
        --color-base-text-rgb: {{ settings.colors_text.red }}, {{ settings.colors_text.green }}, {{ settings.colors_text.blue }};
        --color-base-background-1: {{ settings.colors_background_1 }};
        --color-base-background-1-rgb: {{ settings.colors_background_1.red }}, {{ settings.colors_background_1.green }}, {{ settings.colors_background_1.blue }};
        --color-base-solid-button-labels: {{ settings.colors_solid_button_labels }};
        --color-base-solid-button-labels-rgb: {{ settings.colors_solid_button_labels.red }}, {{ settings.colors_solid_button_labels.green }}, {{ settings.colors_solid_button_labels.blue }};
        --color-base-outline-button-labels: {{ settings.colors_outline_button_labels }};
        --color-base-outline-button-labels-rgb: {{ settings.colors_outline_button_labels.red }}, {{ settings.colors_outline_button_labels.green }}, {{ settings.colors_outline_button_labels.blue }};
        --color-base-accent-1: {{ settings.colors_accent_1 }};
        --color-base-accent-1-rgb: {{ settings.colors_accent_1.red }}, {{ settings.colors_accent_1.green }}, {{ settings.colors_accent_1.blue }};
        --color-base-accent-2: {{ settings.colors_accent_2 }};
        --color-base-accent-2-rgb: {{ settings.colors_accent_2.red }}, {{ settings.colors_accent_2.green }}, {{ settings.colors_accent_2.blue }};
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        font-size: 62.5%;
        height: 100%;
      }

      body {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.8;
        font-family: var(--font-body-family);
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
        color: {{ settings.text_color }};
        background: {{ settings.background_color }};
      }

      a {
        text-decoration: none;
        color: {{ settings.text_color }};
      }

      button {
        margin: 0;
        padding: 0;
        background: none;
        border: 0;
      }

      @media screen and (min-width: 769px) {
        body {
          font-size: 1.6rem;
        }
      }
    {% endstyle %}

    {{ 'slick.min.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'custom.css' | asset_url | stylesheet_tag }}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>

    <!-- <script type="text/javascript">
      (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/EsWsQMpIqYVArTrsO8ytc3A4xAEDkO54aOivPDUj/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
    </script> -->

    {% if template contains 'product' or template.suffix == 'okendo-reviews' or page.title == 'Reviews' %}
        {{ 'okendo-reviews.js' | asset_url | script_tag }}
    {% endif %}

  
  {% render 'shogun-head' %}

  {% if handle contains 'sample-page' %}
<meta name="robots" content="noindex">
{% endif %}

</head>

  <body class="page-template--{{ template | handleize }} {% if template.directory %}template-{{ template.directory | handle }} {% endif %}template-{{ template.name | handle }}{% if page.handle %} page-{{ page.handle }}{% endif %} {% if page.metafields.custom.hide_klaviyo_footer == true %}page--hide-klaviyo-footer{% endif %}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTCBJP4"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>

    <div class="page-overlay"></div>
    <div class="page-blury-overlay"></div>
    
 
    {% if page.handle == 'buoy-black-friday-offer' %}
      <announcement-container class="{% if settings.show_announcement_bar == false %}Hide_Announcement_Bar{% else %}Show_Announcement_Bar{% endif %} {% if settings.fix_announcement == true %}Fixed_Bar{% endif %} announcement--transparent">
      {% section 'black-friday-announcement-bar' %}
      </announcement-container>
    {% else %}
    <announcement-container class="{% if settings.show_announcement_bar == false %}Hide_Announcement_Bar{% else %}Show_Announcement_Bar{% endif %} {% if settings.fix_announcement == true %}Fixed_Bar{% endif %} announcement--transparent">
      {% section 'announcement-bar' %}
    </announcement-container>
    {% endif %}
  
    
    <header-container class="header--transparent">
      {% section 'header' %}
    </header-container>

    {% section 'main-menu' %}

    {%- if template != 'cart' -%}
      {% section 'cart-drawer' %}
    {%- endif -%}

    {% section 'shop-slide-out' %}
    {% section 'chronic-illness-slide-out' %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    <div class="footer-container">
      {% section 'newsletter-footer' %}
      {% section 'footer' %}
    </div>

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
    </ul>
   
    <script>
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}'
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t }}`
      }

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      }

      window.accessibilityStrings = {
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
      }
    </script>

    {% if product %}
    <script>
      window.addEventListener('load', function() {
      var _learnq = window._learnq || [];
      function addedToCart() {
        fetch(`${window.location.origin}/cart.js`)
        .then(res => res.clone().json().then(data => {
          var cart = {
            total_price: data.total_price/100,
            $value: data.total_price/100,
            total_discount: data.total_discount,
            original_total_price: data.original_total_price/100,
            items: data.items
          }
          if (item !== 'undefined') {
            cart = Object.assign(cart, item)
          }
          if (klAjax) {
              _learnq.push(['track', 'Added to Cart', cart]);
              klAjax = false;
            }
        }))
      };
      (function (ns, fetch) {
        ns.fetch = function() {
          const response = fetch.apply(this, arguments);
          response.then(res => {
            if (`${window.location.origin}/cart/add.js`
            	.includes(res.url)) {
              	addedToCart()
            }
          });
          return response
        }
      }(window, window.fetch));
      var klAjax = true;
      var atcButtons = document.querySelectorAll("form[action*='/cart/add'] button[type='submit']");
      for (var i = 0; i < atcButtons.length; i++) {
          atcButtons[i].addEventListener("click", function() {
            if (klAjax) {
              _learnq.push(['track', 'Added to Cart', item]);
              klAjax = false;
            }
          })
      }
      });
      </script>
    {% endif %}

    <script src="{{ 'optimization.js' | asset_url }}" defer></script>

  </body>
  <script async type="text/javascript" data-lazy-src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=UFRh4Z"></script>
</html>
