{{ 'anchor-links.css' | asset_url | stylesheet_tag }}
<script src="{{ 'anchor-links.js' | asset_url }}" defer="defer"></script>
<div class="anchor-links__sticky">
  <div class="page-width">
    <ul class="anchor-links__list no-scrollbar">
      {% if section.blocks != blank %}
        <li class="anchor-links__item">
          <button data-view-all class="active" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });">
            View All
          </button>
        </li>
      {% endif %}
      {% for link in section.blocks %}
        <li class="anchor-links__item">
          <button data-section="{{ link.settings.heading | downcase | handle }}" onclick="document.querySelector('[data-anchor=\'{{ link.settings.heading | downcase | handle }}\']').scrollIntoView({behavior: 'smooth'})">
            {{ link.settings.heading }}
          </button>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<style>
  #shopify-section-{{ section.id }} {
    position: sticky;
    top: var(--sticky-header-height);
    background: white;
    z-index: 3;
  }

  [id*='__quick_add_products'] {
    padding: 1px 0;
  }
</style>

{% schema %}
  {
    "name": "Anchor Links",
    "blocks": [
      {
        "name": "Link",
        "type": "Link",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Section heading to link to"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Anchor Links"
      }
    ]
  }
{% endschema %}