<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'animate-heading-text.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}</noscript>

<div class="rich-text rich-text_custom {% if section.settings.full_width %} rich-text--full-width{% endif %} {% if section.settings.checkbox_backgound != blank %}background-bg{% endif %}">
  <div class="rich-text__blocks">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'heading' -%}
          <svg xmlns="http://www.w3.org/2000/svg" width="963.584" height="81.656" viewBox="0 0 963.584 81.656">
            <g id="Text_flies_in_wave-like_fashion" data-name="Text flies in wave-like fashion" transform="translate(-199.796 -589.726)">
              <path id="Path_246" data-name="Path 246" d="M251.06,602.858q-2.175,8.7-4.25,18.764t-3.524,18.914l-12.195-2.517L234,623.9l-19.1-3.941-2.912,14.116-12.2-2.515q2.493-9.983,4.3-18.753t3.472-18.925l12.2,2.517-2.912,14.115,19.1,3.941,2.912-14.117Z" transform="translate(0 3.455)" fill="#ecd8c5"/>
              <path id="Path_247" data-name="Path 247" d="M267.54,612.57l-1.867,2.726q-7.883,11.957-16.013,22.881a24.627,24.627,0,0,1-10.32,8.116q-6.12,2.548-14.043.588-.008-4.514-.108-7.062a37.857,37.857,0,0,0-.582-5.213,23.836,23.836,0,0,0,5.169,1.88,11.065,11.065,0,0,0,6.8-.249q-.607-5.953-1.693-12.883t-3.406-18.978l12.246,2.784q.036,2.724.344,6.381t.679,7.055q.088,1.052.335,3.2t.353,3.586l2.27-3.776a155.4,155.4,0,0,0,7.957-13.736Z" transform="translate(20.604 12.165)" fill="#ecd8c5"/>
              <path id="Path_248" data-name="Path 248" d="M281.318,627.1q-2.073,10.444-3.7,20.28l-11.746-2.328,1.391-6.205a10.646,10.646,0,0,1-5.382,4.254,13.648,13.648,0,0,1-7.08.3,10.45,10.45,0,0,1-5.7-3.128,13.021,13.021,0,0,1-3.174-6.059,17.583,17.583,0,0,1-.07-7.551,18.516,18.516,0,0,1,2.965-7.055,14.12,14.12,0,0,1,5.339-4.723,10.092,10.092,0,0,1,6.628-.875,13.779,13.779,0,0,1,6.6,3.066,10.334,10.334,0,0,1,3.253,6.074q.588-2.963,1.677-9.552,1.049-6.386,1.565-8.984l11.748,2.33Q283.408,616.545,281.318,627.1Zm-14.883,8.041a5.906,5.906,0,0,0,2.511-4.228,5,5,0,0,0-.807-4.375,6.373,6.373,0,0,0-3.8-2.1,5.64,5.64,0,0,0-4.219.7,5.16,5.16,0,0,0-2.352,3.56,6.437,6.437,0,0,0,.6,4.6,5.074,5.074,0,0,0,3.621,2.446A6.146,6.146,0,0,0,266.434,635.14Z" transform="translate(37.941 12.361)" fill="#ecd8c5"/>
              <path id="Path_249" data-name="Path 249" d="M281.463,622.384q3.361-7.595,12.118-6.313a20.428,20.428,0,0,1,2.9.639l-3.4,11.5a18.711,18.711,0,0,0-5.978-2.319,5.341,5.341,0,0,0-4.666,1.137,7.532,7.532,0,0,0-2.114,4.563l.007-.051-.558,3.452q-.546,3.723-1,8.314l-12.531-1.834q1.524-7.487,2.508-14.2t1.684-14.428q3.438.664,5.272.934,1.938.283,5.317.615Z" transform="translate(55.183 19.199)" fill="#ecd8c5"/>
              <path id="Path_250" data-name="Path 250" d="M316.5,637.947a5.474,5.474,0,0,0,.172,2.572,2.531,2.531,0,0,0,1.583,1.221l-.7,4.937q-1.713.1-2.962.081t-3.306-.22q-4.539-.448-5.812-2.623a8.631,8.631,0,0,1-.965-5.339l.13-1.32a13.015,13.015,0,0,1-5.091,5.995,12.485,12.485,0,0,1-7.67,1.373q-5.274-.519-7.73-2.892a7.555,7.555,0,0,1-2.043-6.538,6.754,6.754,0,0,1,2.8-5.155q2.46-1.727,7.28-2a71.038,71.038,0,0,0-7.527-5.749,22.149,22.149,0,0,1,7.827-5.376,21.454,21.454,0,0,1,10.066-1.111q8.122.8,11.7,4.7t2.865,11.169Zm-15.012-2.2a6.625,6.625,0,0,0,3.562-2.656l.137-1.371a12.276,12.276,0,0,1-2.892.7q-1.565.195-3.756.3l-1.929.13q-3.012.288-3.152,1.711-.151,1.529,2.592,1.8A12.283,12.283,0,0,0,301.485,635.747ZM297.9,625.625a10.877,10.877,0,0,0-3.956,2.323,71.169,71.169,0,0,1,7.946.412,5.71,5.71,0,0,0,2.79-.205,1.4,1.4,0,0,0,.912-1.135,1.29,1.29,0,0,0-.685-1.159,4.571,4.571,0,0,0-2.171-.666A11.823,11.823,0,0,0,297.9,625.625Z" transform="translate(68.304 21.536)" fill="#ecd8c5"/>
              <path id="Path_251" data-name="Path 251" d="M329.4,630.373q-4.852-.593-8.861-.976l-.368,5.6a7.176,7.176,0,0,0,.992,4.541q1.153,1.683,4.327,1.86a12.189,12.189,0,0,0,2.341-.08,36.582,36.582,0,0,0-.436,3.956q-.052.953-.137,4.347a36.644,36.644,0,0,1-3.945.308q-1.592.016-4.133-.126-6.189-.346-8.589-3.48t-2.1-8.477l.555-8.938q-2.493-.036-5.2.026l.525-9.363a6.662,6.662,0,0,0,4.754-1.486,6.981,6.981,0,0,0,2.51-4.053l14.391.809a24.455,24.455,0,0,1-6.311,5.588l10.21.575Z" transform="translate(86.412 20.188)" fill="#ecd8c5"/>
              <path id="Path_252" data-name="Path 252" d="M319.684,653.49q.642-8.517.826-14.078.211-6.62.055-14.843l12.711.412q-.678,7.878-.9,14.814-.189,5.829-.084,14.1Zm2.279-33.647a5.854,5.854,0,0,1-1.477-4.342,5.976,5.976,0,0,1,1.755-4.238,7.922,7.922,0,0,1,9.822.344,6.318,6.318,0,0,1-.223,8.556,8.258,8.258,0,0,1-9.877-.32Z" transform="translate(99.562 16.606)" fill="#ecd8c5"/>
              <path id="Path_253" data-name="Path 253" d="M333.34,643.69a14.6,14.6,0,0,1-4.188-10.974,14.307,14.307,0,0,1,4.342-10.727q4.294-4.1,13.355-4.04a23.341,23.341,0,0,1,10.187,2.059,13.64,13.64,0,0,1,6.029,5.394,14.732,14.732,0,0,1,1.907,7.566,14.124,14.124,0,0,1-4.607,10.937q-4.561,4.1-13.727,4.036Q337.578,647.879,333.34,643.69Zm18.726-6.361a5.837,5.837,0,0,0,1.726-4.386,5.727,5.727,0,0,0-1.666-4.278A7.055,7.055,0,0,0,347,626.96q-3.443-.025-5.045,1.607a5.918,5.918,0,0,0-1.62,4.281,6.053,6.053,0,0,0,1.56,4.41q1.579,1.656,5.021,1.679A7.133,7.133,0,0,0,352.066,637.329Z" transform="translate(107.425 23.438)" fill="#ecd8c5"/>
              <path id="Path_254" data-name="Path 254" d="M371.9,647.2q.132-7.8-.026-14.362a5.647,5.647,0,0,0-1.228-3.681,3.584,3.584,0,0,0-2.92-1.309,3.655,3.655,0,0,0-2.931,1.635,7.789,7.789,0,0,0-1.327,4.3q-.011,4.028.031,5.724.085,3.605.4,7.889l-12.661.3q.242-7.638.079-14.42t-.772-14.5q3.5.074,5.354.031,1.96-.05,5.347-.289l1.722,7.752a11.866,11.866,0,0,1,3.665-6.37,9.5,9.5,0,0,1,5.989-2.184,10.5,10.5,0,0,1,5.545,1.27,9.117,9.117,0,0,1,3.613,3.7,11.8,11.8,0,0,1,1.32,5.321l.183,7.629q.17,7.043.536,11.276Z" transform="translate(125.195 23.24)" fill="#ecd8c5"/>
              <path id="Path_255" data-name="Path 255" d="M408.281,637.521l2.855-21.072,10.51-.857L418.134,644.9l-14.1,1.149-4.424-13.2-2.652,13.774-13.575,1.106-8.213-28.359,10.512-.857,6.172,20.283,1.38-20.9,10.4-.846Z" transform="translate(145.639 21.481)" fill="#ecd8c5"/>
              <path id="Path_256" data-name="Path 256" d="M403.66,617.481a5.847,5.847,0,0,1-2.149-4.053,5.964,5.964,0,0,1,1.058-4.461,7.92,7.92,0,0,1,9.753-1.223,6.321,6.321,0,0,1,1.14,8.482,8.251,8.251,0,0,1-9.8,1.254Zm3.1,33.582q-.717-8.512-1.422-14.029-.843-6.571-2.3-14.664l12.614-1.617q.582,7.889,1.464,14.774.739,5.78,2.158,13.933Z" transform="translate(167.463 13.988)" fill="#ecd8c5"/>
              <path id="Path_257" data-name="Path 257" d="M427.83,635.719q1.216,7.8,1.867,11.292l-12.356,1.926-.87-5.923q-1.414-9.755-2.237-15.043-.785-5.027-2.325-14.225l-.934-5.647,12.357-1.926q1.051,7.452,1.788,12.162.813,5.239,1.259,7.743Q426.819,629.225,427.83,635.719Z" transform="translate(175.377 13.659)" fill="#ecd8c5"/>
              <path id="Path_258" data-name="Path 258" d="M437.6,633.98q1.411,7.768,2.151,11.241l-12.3,2.239-1.019-5.9q-1.661-9.717-2.618-14.98-.912-5.005-2.683-14.162l-1.076-5.621,12.3-2.237q1.244,7.422,2.1,12.114.95,5.211,1.457,7.706Q436.424,627.513,437.6,633.98Z" transform="translate(182.913 12.317)" fill="#ecd8c5"/>
              <path id="Path_259" data-name="Path 259" d="M453.171,630.742q1.667,7.721,2.521,11.168l-12.224,2.64-1.212-5.865q-1.98-9.654-3.108-14.885-1.074-4.975-3.147-14.067l-1.259-5.583,12.222-2.64q1.485,7.375,2.493,12.037,1.117,5.181,1.708,7.657Q451.783,624.32,453.171,630.742Z" transform="translate(195.113 9.786)" fill="#ecd8c5"/>
              <path id="Path_260" data-name="Path 260" d="M453.427,633.761a14.6,14.6,0,0,1-6.59-9.722,14.309,14.309,0,0,1,1.768-11.435q3.24-4.978,12.076-6.992a23.378,23.378,0,0,1,10.388-.329,13.638,13.638,0,0,1,7.1,3.87,14.727,14.727,0,0,1,3.59,6.927,14.123,14.123,0,0,1-1.981,11.7q-3.5,5.038-12.436,7.073Q458.51,636.869,453.427,633.761ZM470.2,623.282a5.845,5.845,0,0,0,.675-4.666,5.731,5.731,0,0,0-2.6-3.782,7.061,7.061,0,0,0-5.383-.485q-3.358.763-4.541,2.718a5.91,5.91,0,0,0-.6,4.539,6.049,6.049,0,0,0,2.528,3.934q1.914,1.249,5.274.485A7.135,7.135,0,0,0,470.2,623.282Z" transform="translate(204.776 12.553)" fill="#ecd8c5"/>
              <path id="Path_261" data-name="Path 261" d="M474.242,628.829a14.592,14.592,0,0,1-6.332-9.892,14.312,14.312,0,0,1,2.068-11.385q3.372-4.89,12.257-6.67a23.336,23.336,0,0,1,10.393-.055,13.625,13.625,0,0,1,7,4.056,14.718,14.718,0,0,1,3.4,7.018,14.134,14.134,0,0,1-2.286,11.645q-3.632,4.942-12.619,6.743Q479.24,632.069,474.242,628.829Zm17.04-10.033a5.844,5.844,0,0,0,.8-4.646,5.727,5.727,0,0,0-2.5-3.851,7.056,7.056,0,0,0-5.367-.628q-3.377.678-4.613,2.6a5.911,5.911,0,0,0-.716,4.521,6.051,6.051,0,0,0,2.422,4q1.884,1.3,5.259.622A7.124,7.124,0,0,0,491.282,618.8Z" transform="translate(222.357 8.756)" fill="#ecd8c5"/>
              <path id="Path_262" data-name="Path 262" d="M526.055,599.288l-11.274,13.748q8.034,8.468,14.882,15.019l-13.9,2.028-3.3-3.91q-3.259-3.97-4.289-5.16l-3.771,4.622.873,5.977-12.061,1.759q-1.032-10.022-2.524-20.249-1.5-10.274-3.425-20.547l12.059-1.759,3.242,22.234q4.33-5.933,8.12-11.521Z" transform="translate(238.736 0.906)" fill="#ecd8c5"/>
              <path id="Path_263" data-name="Path 263" d="M541.151,593.925l10.144-.783q.406,8.684,1.644,24.64a19.228,19.228,0,0,1-1.711,10.5,14.8,14.8,0,0,1-6.178,6.352A22.531,22.531,0,0,1,536,637.163a26.05,26.05,0,0,1-9.1-.756,14.089,14.089,0,0,1-6.322-3.416l1.75-8.266a24.059,24.059,0,0,0,5.572,1.931,19.379,19.379,0,0,0,5.338.3q8.981-.695,8.392-8.3-.085-1.109-.069-1.589c-.016-.21-.031-.494-.04-.847a13.19,13.19,0,0,0-.132-1.371q-2.114,7.713-10.831,8.385a10.936,10.936,0,0,1-6.462-1.411,12.7,12.7,0,0,1-4.7-4.818,16.637,16.637,0,0,1-2.087-7.042,17.6,17.6,0,0,1,.961-7.488,13.038,13.038,0,0,1,3.868-5.642,10.438,10.438,0,0,1,6.029-2.432q8.929-.692,12.112,5.385ZM537.893,613.6a5.563,5.563,0,0,0,2.132-1.971,4.956,4.956,0,0,0,.712-3.165q-.255-3.275-1.841-4.562a6.189,6.189,0,0,0-4.494-1.06,5.076,5.076,0,0,0-3.884,2,6.425,6.425,0,0,0-1.14,4.5,5.158,5.158,0,0,0,1.917,3.811,5.627,5.627,0,0,0,4.106,1.2A6.529,6.529,0,0,0,537.893,613.6Z" transform="translate(263.63 2.837)" fill="#ecd8c5"/>
              <path id="Path_264" data-name="Path 264" d="M551.467,600.874q1.911-8.081,10.752-8.429a20.361,20.361,0,0,1,2.973.1l-1.228,11.927a18.8,18.8,0,0,0-6.3-1.186,5.345,5.345,0,0,0-4.377,1.977,7.524,7.524,0,0,0-1.241,4.874l0-.055.084,3.5q.148,3.762.54,8.358l-12.656.5q.123-7.641-.141-14.42t-.992-14.492q3.5.025,5.354-.049,1.958-.077,5.341-.368Z" transform="translate(281.591 2.244)" fill="#ecd8c5"/>
              <path id="Path_265" data-name="Path 265" d="M583.66,608.112l-17.274.172a6.384,6.384,0,0,0,2.131,3.767,7,7,0,0,0,4.757,1.411,10.142,10.142,0,0,0,4.177-.917,7.659,7.659,0,0,0,3.1-2.495,82.358,82.358,0,0,0,9.469,3.668,12.257,12.257,0,0,1-5.9,5.967q-4.3,2.24-11.239,2.312-9.009.09-13.368-4.027a14.506,14.506,0,0,1-4.428-10.9,14.253,14.253,0,0,1,4.186-10.8q4.248-4.176,13.311-4.267a22.562,22.562,0,0,1,9.4,1.708,14.029,14.029,0,0,1,6.145,4.948,13.024,13.024,0,0,1,2.193,7.318,15.071,15.071,0,0,1-.086,2.067Zm-14.589-7.062a5.47,5.47,0,0,0-2.358,2.779l12.506-.124a5.8,5.8,0,0,0-2.1-2.707,6.187,6.187,0,0,0-3.718-1A8.408,8.408,0,0,0,569.071,601.05Z" transform="translate(295.053 1.892)" fill="#ecd8c5"/>
              <path id="Path_266" data-name="Path 266" d="M610.894,613.116a5.483,5.483,0,0,0,.372,2.55,2.532,2.532,0,0,0,1.673,1.1l-.315,4.975q-1.7.231-2.947.311c-.833.051-1.937.066-3.313.036q-4.558-.093-6-2.164a8.653,8.653,0,0,1-1.377-5.25l.028-1.323a13.019,13.019,0,0,1-4.609,6.37,12.524,12.524,0,0,1-7.542,1.966q-5.3-.11-7.929-2.284a7.559,7.559,0,0,1-2.544-6.361,6.758,6.758,0,0,1,2.389-5.358q2.32-1.911,7.1-2.555a71.119,71.119,0,0,0-7.95-5.147,22.169,22.169,0,0,1,7.386-5.969,21.5,21.5,0,0,1,9.949-1.887q8.157.17,12.033,3.774t3.723,10.915ZM591.4,602.272a10.88,10.88,0,0,0-3.763,2.625,70.526,70.526,0,0,1,7.953-.207,5.741,5.741,0,0,0,2.766-.419,1.4,1.4,0,0,0,.818-1.2,1.286,1.286,0,0,0-.771-1.1,4.569,4.569,0,0,0-2.217-.494A11.833,11.833,0,0,0,591.4,602.272Zm4.355,9.815a6.625,6.625,0,0,0,3.348-2.925l.027-1.376a12.356,12.356,0,0,1-2.828.921q-1.543.313-3.721.586l-1.915.278c-1.986.35-2.989,1-3.009,1.953q-.03,1.535,2.724,1.592A12.232,12.232,0,0,0,595.756,612.087Z" transform="translate(312.744 1.984)" fill="#ecd8c5"/>
              <path id="Path_267" data-name="Path 267" d="M623.4,606q-4.854-.574-8.867-.943l-.346,5.6a7.177,7.177,0,0,0,1.007,4.538q1.159,1.681,4.334,1.845a12.46,12.46,0,0,0,2.339-.088,36.99,36.99,0,0,0-.421,3.958q-.049.95-.123,4.345a35.6,35.6,0,0,1-3.943.32q-1.592.022-4.133-.11-6.192-.324-8.6-3.451t-2.127-8.469l.523-8.942c-1.664-.015-3.4,0-5.2.046l.494-9.365a6.65,6.65,0,0,0,4.748-1.5,6.977,6.977,0,0,0,2.495-4.06l14.395.758a24.432,24.432,0,0,1-6.293,5.61l10.214.538Z" transform="translate(330.558 0)" fill="#ecd8c5"/>
              <path id="Path_268" data-name="Path 268" d="M622.767,619.1a14.59,14.59,0,0,1-3.09-11.33,14.311,14.311,0,0,1,5.374-10.249q4.679-3.66,13.69-2.706a23.32,23.32,0,0,1,9.934,3.051,13.62,13.62,0,0,1,5.469,5.96,14.716,14.716,0,0,1,1.155,7.715,14.132,14.132,0,0,1-5.662,10.43q-4.939,3.635-14.058,2.669Q626.572,623.687,622.767,619.1Zm19.258-4.488a5.831,5.831,0,0,0,2.149-4.194A5.725,5.725,0,0,0,642.939,606,7.059,7.059,0,0,0,638,603.8q-3.424-.362-5.178,1.1a5.923,5.923,0,0,0-2.034,4.1,6.06,6.06,0,0,0,1.118,4.541q1.408,1.8,4.832,2.164A7.131,7.131,0,0,0,642.025,614.613Z" transform="translate(348.6 4.063)" fill="#ecd8c5"/>
              <path id="Path_269" data-name="Path 269" d="M660.688,628.3q1.546-7.644,2.583-14.131a5.636,5.636,0,0,0-.538-3.842,3.592,3.592,0,0,0-2.634-1.818,3.648,3.648,0,0,0-3.176,1.075,7.792,7.792,0,0,0-2.089,3.987q-.741,3.959-1.009,5.634-.568,3.558-1.04,7.829l-12.5-2q1.623-7.465,2.7-14.164t1.876-14.4q3.426.711,5.259,1,1.936.31,5.31.69l.286,7.935a11.867,11.867,0,0,1,4.761-5.6,9.5,9.5,0,0,1,6.288-1.06,10.514,10.514,0,0,1,5.219,2.257,9.12,9.12,0,0,1,2.881,4.3,11.809,11.809,0,0,1,.331,5.473l-1.206,7.534q-1.112,6.96-1.523,11.188Z" transform="translate(365.805 5.593)" fill="#ecd8c5"/>
              <path id="Path_270" data-name="Path 270" d="M707.5,608.733l-1.845,2.742q-7.787,12.021-15.83,23.009a24.649,24.649,0,0,1-10.254,8.2q-6.1,2.6-14.04.7-.044-4.511-.165-7.06a37.656,37.656,0,0,0-.622-5.209,23.669,23.669,0,0,0,5.184,1.84,11.05,11.05,0,0,0,6.793-.3q-.654-5.945-1.8-12.868t-3.557-18.951l12.268,2.685q.055,2.724.4,6.377t.736,7.051q.1,1.052.357,3.2t.383,3.582l2.242-3.795a155.193,155.193,0,0,0,7.845-13.8Z" transform="translate(386.12 9.219)" fill="#ecd8c5"/>
              <path id="Path_271" data-name="Path 271" d="M688.083,629.614A14.6,14.6,0,0,1,686.322,618a14.316,14.316,0,0,1,6.526-9.559q5.069-3.094,13.908-1.107a23.332,23.332,0,0,1,9.517,4.181,13.62,13.62,0,0,1,4.743,6.553,14.721,14.721,0,0,1,.256,7.8,14.135,14.135,0,0,1-6.828,9.707q-5.329,3.039-14.272,1.025Q691.33,634.609,688.083,629.614Zm19.648-2.23a5.847,5.847,0,0,0,2.619-3.921,5.727,5.727,0,0,0-.718-4.534,7.061,7.061,0,0,0-4.647-2.755q-3.361-.758-5.272.5a5.909,5.909,0,0,0-2.495,3.839,6.064,6.064,0,0,0,.588,4.64q1.186,1.952,4.549,2.707A7.128,7.128,0,0,0,707.731,627.385Z" transform="translate(403.651 13.98)" fill="#ecd8c5"/>
              <path id="Path_272" data-name="Path 272" d="M739.3,629.95q-1.428,7.658-2.3,14.341-3.309-.78-5.233-1.14-1.823-.34-5.292-.826l-.079-7.939a11.864,11.864,0,0,1-4.9,5.471,9.5,9.5,0,0,1-6.311.9,10.469,10.469,0,0,1-5.16-2.392,9.1,9.1,0,0,1-2.768-4.371,11.8,11.8,0,0,1-.19-5.48l1.4-7.5q1.293-6.924,1.812-11.144l11.719,2.191q-1.741,7.6-3.143,15.1a5.626,5.626,0,0,0,.441,3.855,3.584,3.584,0,0,0,2.585,1.883,3.71,3.71,0,0,0,3.106-.9,7.151,7.151,0,0,0,2.219-3.655l.225-1.2q.862-4.044,1.155-5.607.67-3.594,1.279-8.01l12.449,2.326Q740.72,622.343,739.3,629.95Z" transform="translate(421.071 16.725)" fill="#ecd8c5"/>
            </g>
          </svg>
    	{%- endcase -%}
    {%- endfor -%}
    
    <div class="rich_text_container">
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'text' -%}
      <div class="h5">{{ block.settings.subtitle }}</div>
      <div class="sh2">{{ block.settings.text }}</div>
      {%- when 'button' -%}
      <a{% if block.settings.button_link == blank %} aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}" {{ block.shopify_attributes }}>
        {{ block.settings.button_label | escape }}
      </a>
      {%- endcase -%}
      {%- endfor -%}
    </div>
    
    
  </div>
</div>

{% schema %}
{
  "name": "t:sections.rich-text.name",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
	{
      "type": "checkbox",
      "id": "checkbox_backgound",
      "label": "Background"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 1,
      "settings": [
		{
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "textarea",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.rich-text.blocks.button.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich-text.blocks.button.settings.button_link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rich Text"
    }
  ]
}
{% endschema %}
