{{ 'section-benefits.css' | asset_url | stylesheet_tag }}

<div class="benefits__container">
  <div class="page-width benefits__flex">
    <div class="benefits__items">
      {% for block in section.blocks %}
      <div class="benefits__item">
        <h4 class="light active">{{ block.settings.title }}</h4>
        {% include 'icon-x' %}
      </div>
      {% endfor %}
    </div>
    <div class="benefits__info">
      <h5>{{ section.settings.title }}</h5>
      {% for block in section.blocks %}
        <div class="benefits__info-item">
          <p class="sh3">{{ block.settings.title }}</p>
          <p class="sh2 ligh">{{ block.settings.text }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Benefits",
  "class": "spaced-section--full-width",
  "tag": "section",
  "settings": [
	{
    "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
   "presets": [
      {
        "name": "Benefits"
      }
    ]
}
{% endschema %}