
{% assign otp_bundle_min = nil %}
{% assign otp_bundle_max = nil %}
{% if product.metafields.bundle.min != blank and product.metafields.bundle.max != blank %}
    {% assign otp_bundle_min = product.metafields.bundle.min %}
    {% assign otp_bundle_max = product.metafields.bundle.max %}
{% endif %}

{% assign sub_bundle_min = nil %}
{% assign sub_bundle_max = nil %}
{% assign sub_bundle_quantities = product.metafields.rtxn.bundle_quantities | split: '|' %}
{% if sub_bundle_quantities.size > 0 %}
    {% assign sub_bundle_min = sub_bundle_quantities[0] %}
    {% assign sub_bundle_max = sub_bundle_quantities[1] %}
{% endif %}

{% assign bundle_min = 0 %}
{% assign bundle_max = 0 %}
{% if sub_bundle_max %}
    {% assign bundle_max = sub_bundle_max | plus: 0 %}
{% elsif otp_bundle_max %}
    {% assign bundle_max = otp_bundle_max | plus: 0 %}
{% endif %}
{% assign bundle_max_index0 = bundle_max | minus: 1 %}

{% unless otp_bundle_max %}
    {% assign otp_bundle_max = bundle_max %}
{% endunless %}

{% if sub_bundle_min %}
    {% assign bundle_min = sub_bundle_min | plus: 0 %}
{% elsif otp_bundle_min %}
    {% assign bundle_min = otp_bundle_min | plus: 0 %}
{% endif %}

{% unless otp_bundle_min %}
    {% assign otp_bundle_min = bundle_min %}
{% endunless %}

{% assign sub_bundle_products_count = 0 %}
{% assign sub_bundle_products = product.metafields.rtxn.bundle_products | split: '|' %}
--{{ sub_bundle_products | json }}
{% for collection in collections %}
  {% for productSub in collection.products %}
      {% assign productSubID = productSub.id | strip %}
      {% if sub_bundle_products contains productSubID %}
          {% assign sub_bundle_products_count = sub_bundle_products_count | plus: 1 %}
      {% endif %}
  {% endfor %}
{% endfor %}

{% assign sub_bundle_variants_count = 0 %}
{% assign sub_bundle_variants = product.metafields.rtxn.bundle_variants | split: '|' %}
{% for collection in collections %}
  {% for productSub in collection.products %}
    {% for variantSub in productSub.variants %}
        {% assign variantSubID = variantSub.id | strip %}
        {% if sub_bundle_variants contains variantSubID %}
            {% assign sub_bundle_variants_count = sub_bundle_variants_count | plus: 1 %}
        {% endif %}
    {% endfor %}
  {% endfor %}
{% endfor %}

{{ 'section-collection-groups.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<div class="collection-groups {% if bundleFirst %} lsg-bundle-block-active{% endif %}" 
    data-bundle-product="{{ product.id }}"
    data-bundle-index="{{ bundleIndex }}"
    data-otp-bundle-min="{{ otp_bundle_min }}"
    data-otp-bundle-max="{{ otp_bundle_max }}"
    data-sub-bundle-min="{{ sub_bundle_min }}"
    data-sub-bundle-max="{{ sub_bundle_max }}"
    data-product-base-price="{{ product.price }}">
  <div class="collection-groups__marquee">
    <div class="collection-groups__marquee-container">
      <p class="body-xs">Electrolytes of 13 Sports Drinks in Each Bottle</p>
      <p class="body-xs">Electrolytes of 13 Sports Drinks in Each Bottle</p>
    </div>
    <div class="collection-groups__marquee-container">
      <p class="body-xs">Electrolytes of 13 Sports Drinks in Each Bottle</p>
      <p class="body-xs">Electrolytes of 13 Sports Drinks in Each Bottle</p>
    </div>
  </div>
  <div class="page-width">
  	{% for block in section.blocks %}
      <div class="collection-groups__item">
        <div class="collection-groups__header">
          <div class="collection-groups__header-content">
            <h2 class="h1">{{ block.settings.title }}</h2>
            <p class="sh2 light">{{ block.settings.text | newline_to_br }}</p>
          </div>
          {% if block.settings.show_spinner and  block.settings.spinner_image != blank %}
          	<div class="collection-groups__header-spinner">
              <div class="collection-groups__header-spinner-wrapper">
                <div class="collection-groups__header-spinner-image">
                  <img
                    srcset="{%- if block.settings.spinner_image.width >= 165 -%}{{ block.settings.spinner_image | img_url: '165x' }} 165w,{%- endif -%}
                      {%- if block.settings.spinner_image.width >= 360 -%}{{ block.settings.spinner_image | img_url: '360x' }} 360w,{%- endif -%}
                      {%- if block.settings.spinner_image.width >= 533 -%}{{ block.settings.spinner_image | img_url: '533x' }} 533w{%- endif -%}"
                    src="{{ block.settings.spinner_image | img_url: '533x' }}"
                    sizes="500px"
                    alt="{{ block.settings.spinner_image.alt | escape }}"
                    loading="lazy"
                    class="motion-reduce img-fill"
                  >
                </div>
                <div class="collection-groups__header-spinner-svg-container">
                  {{ block.settings.spinner_text }}
                </div>
              </div>
            </div>
          {% endif %}
        </div>
        <div class="collection-groups__grid">
          {% if sub_bundle_products_count > 0 or sub_bundle_variants_count > 0 %}
            {% if sub_bundle_products_count > 0 %}
                {% for collection in collections %}
                  {% for productSub in collection.products %}
                      {% assign productSubID = productSub.id | strip %}
                      {% if sub_bundle_products contains productSubID %}
                        {% for variant in productSub.variants %}
                          {% render 'bundle-product-card'
                              product_card_product: variant,
                              show_secondary_image: true,
                              hover_video: block.settings.hover_video,
                              show_shop_button: true %}
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Bundle Main",
    "settings": [],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "limit":2,
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "checkbox",
            "id": "show_spinner",
            "label": "Show Spinner"
          },
          {
            "type": "image_picker",
            "id": "spinner_image",
            "label": "Spinner Image"
          },
          {
            "type": "textarea",
            "id": "spinner_text",
            "label": "Spinner Text (SVG)"
          }
        ]
      }
    ]
  }
{% endschema %}