

{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
{{ 'section-text-hero.css' | asset_url | stylesheet_tag }}
{{ 'section-shop-slide-out.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}

<cart-drawer>
  <div class="cart-drawer" id="cart-drawer" aria-hidden="true" aria-modal="true" aria-label="Cart Drawer" role="dialog" tabindex="-1">
    {% form 'cart', cart, id: 'cart-drawer__form', class: 'cart-drawer__form' %}
      <div class="cart-drawer__inner" id="cart-drawer__inner" data-id="{{ section.id }}">

        <div class="cart-drawer__header" id="cart-drawer__header" data-id="{{ section.id }}">
          <div class="cart-drawer__header-container">
            <h2 id="cart-drawer__title" data-id="cart-drawer__title" class="cart-drawer__title h6 medium">{{ section.settings.cart_title }}</h2>
            <button type="button" class="cart-drawer__close modal__close-button link link--text focus-inset" id="cart-drawer__close" aria-label="{{ 'accessibility.close' | t }}">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.10309 18L0 16.8969L7.89691 9L0 1.10309L1.10309 0L9 7.89691L16.8969 0L18 1.10309L10.1031 9L18 16.8969L16.8969 18L9 10.1031L1.10309 18Z" fill="#1F2322"/></svg>            
            </button>
          </div>

          {% if section.settings.enable_progress_bar and cart.item_count > 0 %}
            {% liquid
              assign contains_subscription_product = false
              assign contains_add_on = false
              for item in cart.items
                if item.selling_plan_allocation
                  assign contains_subscription_product = true
                elsif item.product.type == 'add on' or item.product.type == 'BYOB'
                  assign contains_add_on = true
                endif
              endfor

              assign progress_text = ''
              assign progress_percentage = 0
              if contains_subscription_product and contains_add_on
                assign progress_text = "You're getting our deepest discounts!"
                assign progress_percentage = 100
              elsif contains_subscription_product
                assign progress_text = 'Add a single bottle for deeper discounts!'
                assign progress_percentage = 66
              else contains_add_on
                assign progress_text = 'Subscribe to save 23% on every order!'
                assign progress_percentage = 33
              endif
            %}

            <div class="cart-drawer__progress">
              <p class="cart-drawer__progress-text body-xs">{{ progress_text }}</p>
              <div class="cart-drawer__progress-bar">
                <div class="cart-drawer__progress-bar-inner" style="width: {{ progress_percentage }}%"></div>
              </div>
            </div>
          {% endif %}

        </div>

        <div class="cart-drawer__content" id="cart-drawer__content" data-id="{{ section.id }}">
         
          {%- if cart.items.size == 0 -%}

            <div class="cart-drawer__empty">
              <div class="cart-drawer__empty-top">
                <h3 class="cart-drawer__empty-title body-large">{{ section.settings.empty_cart_title }}</h3>
                <p class="cart-drawer__empty-text rhymes-subtitle">{{ section.settings.empty_cart_text }}</p>
                <a href="/collections/all" class="button button--small button--white">Shop All</a>
              </div>
              {% if section.blocks.size > 0 %}
                <div class="cart-drawer__empty-slider">
                  <p class="cart-drawer__empty-slider-title body-small uppercase medium">{{ section.settings.empty_cart_slider_title }}</p>
                  <div class="cart-drawer__empty-slider-container no-scrollbar drag-scroll">
                    <div class="cart-drawer__empty-slider-content">
                      {% for block in section.blocks %}
                        <div class="header__dropdown-card-mobile">
                          {% if block.settings.block_link != blank %}
                            <a href="{{ block.settings.block_link }}">
                          {% endif %}
                          <div class="header__dropdown-mobile-image-wrapper">
                            <div class="media header__dropdown-mobile-image" style="padding-bottom: 70%;">
                              {% render 'lazy-image' image: block.settings.block_image, fade: true, classes: 'img-fill' %}
                            </div>
                            {% if block.settings.badge_text != blank %}
                              <div class="header__dropdown-badge">
                                <p class="header__dropdown-badge-text">{{ block.settings.badge_text }}</p>
                              </div>
                            {% endif %}
                          </div>
                          <p class="header__dropdown-card-mobile-desc">{{ block.settings.block_desc }}</p>
                          {% if block.settings.block_link != blank %}
                            </a>
                          {% endif %}
                        </div>
                      {%- endfor -%}
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>

          {%- else -%}
            <div class="cart-drawer__items" id="cart-drawer-items">
              {% assign cart_items_reversed = cart.items | reverse %}
              {% for item in cart_items_reversed %}
                {% assign index = cart.item_count | minus: forloop.index0 %}
                {% if item.properties._bundle_parent == blank and item.properties._bundle_id != blank %}{% continue %}{% endif %}
                {% render 'cart-drawer-item' item: item, idx: index %}
              {% endfor %}

              {% if section.settings.show_money_back_message %}
                <div class="cart-drawer__money-back">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="12" fill="#DEF647"/><path d="M11.9989 18.6268L11.34 18.0322C10.2067 16.9916 9.26985 16.0939 8.52932 15.3392C7.78879 14.5845 7.19888 13.9098 6.7596 13.3152C6.32031 12.7205 6.01228 12.1822 5.83549 11.7C5.65871 11.2179 5.57031 10.7304 5.57031 10.2375C5.57031 9.27156 5.89442 8.4649 6.54263 7.81752C7.19085 7.17013 7.99174 6.84644 8.94531 6.84644C9.55603 6.84644 10.1212 6.99108 10.6408 7.28036C11.1605 7.56965 11.6132 7.98751 11.9989 8.53394C12.4489 7.95536 12.9257 7.52947 13.4292 7.25626C13.9328 6.98304 14.4739 6.84644 15.0525 6.84644C16.006 6.84644 16.8069 7.17013 17.4551 7.81752C18.1033 8.4649 18.4275 9.27156 18.4275 10.2375C18.4275 10.7304 18.3391 11.2179 18.1623 11.7C17.9855 12.1822 17.6775 12.7205 17.2382 13.3152C16.7989 13.9098 16.209 14.5845 15.4684 15.3392C14.7279 16.0939 13.791 16.9916 12.6578 18.0322L11.9989 18.6268ZM11.9989 17.3572C13.0836 16.3608 13.9762 15.5063 14.6767 14.7938C15.3772 14.0813 15.9337 13.4571 16.3462 12.9214C16.7587 12.3857 17.048 11.9082 17.2141 11.4889C17.3801 11.0696 17.4632 10.6532 17.4632 10.2398C17.4632 9.53114 17.2382 8.94911 16.7882 8.49376C16.3382 8.0384 15.7608 7.81072 15.0561 7.81072C14.504 7.81072 13.9931 7.97947 13.5233 8.31697C13.0534 8.65447 12.6739 9.12858 12.3846 9.73929H11.5971C11.3185 9.13929 10.9443 8.66786 10.4745 8.32501C10.0047 7.98215 9.49374 7.81072 8.9417 7.81072C8.23696 7.81072 7.6596 8.0384 7.2096 8.49376C6.7596 8.94911 6.5346 9.53206 6.5346 10.2426C6.5346 10.6571 6.61763 11.0759 6.78371 11.4991C6.94978 11.9223 7.23906 12.4045 7.65156 12.9455C8.06406 13.4866 8.62388 14.1107 9.33103 14.8179C10.0382 15.525 10.9275 16.3714 11.9989 17.3572Z" fill="#1F2322"/></svg>
                  <p class="cart-drawer__money-back-text rhymes-subtitle">30-Day Money Back Guarantee</p>
                </div>
              {% endif %}

              {% if section.settings.upsell_products != blank %}
                <div class="cart-drawer__upsells">
                  <div class="cart-drawer__upsells-header">
                    <h3 class="cart-drawer__upsells-title body-med medium">{{ section.settings.upsell_title }}</h3>
                    <p class="cart-drawer__upsells-text rhymes-subtitle">{{ section.settings.upsell_text }}</p>
                  </div>
                  <div class="cart-drawer__upsells-container no-scrollbar drag-scroll">
                    <div class="cart-drawer__upsells-content">
                      {% for upsell_product in section.settings.upsell_products %}
                        {% liquid
                          assign title_split = upsell_product.title | split: ': '
                          assign is_in_cart = false
                          for item in cart.items
                            if item.product.handle == upsell_product.handle
                              assign is_in_cart = true
                            endif
                          endfor
                        %}
                        {% if is_in_cart == false and upsell_product.available %}
                          <div class="cart-drawer__upsell">
                            <div class="cart-drawer__upsell-image">
                              {{ upsell_product.featured_image | image_url: width: 150 | image_tag: width: upsell_product.featured_image.width, class: 'img-fill', sizes: '150px', widths: '100, 150, 200' }}
                            </div>
                            <div class="cart-drawer__upsell-content">
                              <div data-oke-reviews-product-listing-rating>{{ upsell_product.metafields.okendo.ProductListingSnippet }}</div>
                              <p class="cart-drawer__upsell-title body-small">{{ title_split[0] }}</p>
                              <p class="cart-drawer__upsell-price body-small">
                                {% if upsell_product.compare_at_price > upsell_product.price %}
                                  <span class="new-price">{{ upsell_product.price | money }}</span>
                                  <span class="old-price">{{ upsell_product.compare_at_price | money }}</span>
                                {% else %}
                                  {{ upsell_product.price | money }}
                                {% endif %}
                              </p>
                              {% if title_split[1] != blank %}
                                <p class="cart-drawer__upsell-type body-small">{{ title_split[1] }}</p>
                              {% endif %}
                              <button data-id="{{ upsell_product.selected_or_first_available_variant.id }}" data-metafield="{{ upsell_product.selected_or_first_available_variant.metafields.custom.checkout_msrp_text }}" type="button" class="pee-club-add-to-cart cart-drawer__upsell-add">
                                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" r="13.5625" stroke="#797B7A" stroke-width="0.875"/><path d="M13.4654 14.5346H7.875V13.4654H13.4654V7.875H14.5346V13.4654H20.125V14.5346H14.5346V20.125H13.4654V14.5346Z" fill="#797B7A"/></svg>
                              </button>
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          {%- endif -%}

        </div>

        <div class="cart-drawer__footer" id="cart-drawer__footer" data-id="{{ section.id }}">

          {% if cart.item_count > 0 %}
            <div class="cart-drawer__shipping-wrapper cart-drawer__always-free" id="cart-drawer-subtotal">
              <h4 class="body-small light">Promo Code</h4>
              <h4 class="body-small light">Applied at Checkout</h4>
            </div>
          {% endif %}

          <div class="cart-drawer__shipping-wrapper cart-drawer__always-free" id="cart-drawer-subtotal">
            <h4 class="body-small light">Shipping</h4>
            <h4 class="body-small light green">Free</h4>
          </div>

          <div class="cart-drawer__subtotal-wrapper" id="cart-drawer-subtotal">
            <h4 class="body-small light">Subtotal</h4>
            <div class="cart-drawer__loading-container">
              <h4 class="cart-drawer__subtotal body-small">
                {% liquid
                  assign cart_total_price_with_subscription = 0
                  assign contains_subscription_product = false
                  for item in cart.items
                    if item.selling_plan_allocation
                      assign contains_subscription_product = true
                      assign cart_total_price_with_subscription = cart_total_price_with_subscription | plus: item.selling_plan_allocation.compare_at_price
                    else
                      assign cart_total_price_with_subscription = cart_total_price_with_subscription | plus: item.final_price
                    endif
                  endfor
                %}
                {% if contains_subscription_product %}
                  <span class="old-price">{{ cart_total_price_with_subscription | money }}</span>
                  <span class="new-price">{{ cart.total_price | money }}</span>
                {% else %}
                  {% if cart.original_total_price > cart.total_price %}
                    <span class="old-price">{{ cart.original_total_price | money }}</span>
                    <span class="new-price">{{ cart.total_price | money }}</span>
                  {% else %}
                    {{ cart.total_price | money }}
                  {% endif %}
                {% endif %}
              </h4>
            </div>
          </div>

          {% assign disable_checkout = true %}
          {% for item in cart.items %}
            {% if item.product.type != 'add on' and item.product.type != 'gift' and item.product.type != 'BYOB' %}
              {% assign disable_checkout = false %}
            {% endif %}
          {% endfor %}
    
          {%- if additional_checkout_buttons -%}
            <div {% if disable_checkout == true %}style="display: none;"{% endif %} class="{{ disable_checkout }} cart__dynamic-checkout-buttons additional-checkout-buttons">
              {{ content_for_additional_checkout_buttons }}
            </div>
          {%- endif -%}
     
          <a {% if disable_checkout == true %}style="pointer-events: none; opacity: 0.5;"{% endif %} href="/checkout" class="button button--full-width" name="checkout" form="cart">{{ 'sections.cart.mini_cart_checkout' | t }}&nbsp;&nbsp;{% render 'icon-checkout' %}</a>
        </div>

        <div class="loading-overlay hidden" id="cart-drawer-loading"> 
          <div class="loading-overlay__spinner">
            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
        </div>
        
      </div>
    {% endform %}
  </div>
</cart-drawer>

{% schema %}
{
  "name": "Cart Drawer",
  "settings": [
    {
      "type": "text",
      "id": "cart_title",
      "label": "Cart Title",
      "default": "My Cart"
    },
    {
      "type": "header",
      "content": "Cart Content"
    },
    {
      "type": "checkbox",
      "id": "enable_progress_bar",
      "label": "Enable Progress Bar",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_money_back_message",
      "label": "Show Money Back Guarantee Message",
      "default": true
    },
    {
      "type": "header",
      "content": "Empty Cart Content"
    },
    {
      "type": "text",
      "id": "empty_cart_title",
      "label": "Empty Cart Title"
    },
    {
      "type": "textarea",
      "id": "empty_cart_text",
      "label": "Empty Cart Text"
    },
    {
      "type": "text",
      "id": "empty_cart_slider_title",
      "label": "Empty Cart Slider Title"
    },
    {
      "type": "header",
      "content": "Upsell"
    },
    {
      "type": "text",
      "id": "upsell_title",
      "label": "Upsell Title"
    },
    {
      "type": "textarea",
      "id": "upsell_text",
      "label": "Upsell Text"
    },
    {
      "type": "product_list",
      "id": "upsell_products",
      "label": "Upsell Products"
    }
  ],
    "blocks": [
      {
        "type": "block",
        "name": "Block Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "block_image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "block_link",
            "label": "URL"
          },
          {
            "type": "text",
            "id": "badge_text",
            "label": "Badge Text"
          },
          {
            "type": "text",
            "id": "block_desc",
            "label": "Description"
          }
        ]
      }
    ]
}
{% endschema %}