{{ 'section-chronic-illness-slide-out.css' | asset_url | stylesheet_tag }}

<div class="chronic-illness-slide-out">
  <div class="chronic-illness-slide-out__inner">
    <div class="chronic-illness-slide-out__header">
      <button class="chronic-illness-slide-out__close">
        {% render 'icon-arrow-left' %}
      </button>
      <img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/Buoy_Logo_2x_d6014af4-d2a0-4881-a1f8-8d5649f5c079.jpg?v=1658952214" width="50" height="25">
    </div>
    <div class="chronic-illness-slide-out__content">
      <div class="chronic-illness-slide-out__compare">
        <p class="sh4">{{ section.settings.title }}</p>
        <div class="chronic-illness__price-list">
          <div class="chronic-illness__price-item">
            <p class="light">{{ section.settings.item_name_1 }}</p>
            <p class="light">{{ section.settings.item_price_1 }}</p>
          </div>
          <div class="chronic-illness__price-item">
            <p class="light">{{ section.settings.item_name_2 }}</p>
            <p class="light">{{ section.settings.item_price_2 }}</p>
          </div>
          <div class="chronic-illness__price-item">
            <p class="light">{{ section.settings.item_name_3 }}</p>
            <p class="light">{{ section.settings.item_price_3 }}</p>
          </div>
        </div>
      </div>
      <div class="chronic-illness-slide-out__info">
        <div class="chronic-illness-slide-out__discount">
          <p class="sh0">{{ section.settings.title2 }}</p>
          <div class="chronic-illness-slide-out__checks">
            <p class="body-xs">{% render 'icon-checkmark' %}{{ section.settings.check_1 }}</p>
            <p class="body-xs">{% render 'icon-checkmark' %}{{ section.settings.check_2 }}</p>
            <p class="body-xs">{% render 'icon-checkmark' %}{{ section.settings.check_3 }}</p>
          </div>
          <div class="chronic-illness-slide-out__price">
            <div class="chronic-illness-slide-out__price-detail">
              <p class="sh4 medium">{{ section.settings.product_name_1 }}</p>
              <p class="sh4 medium">{{ section.settings.product_price_1 }}</p>
            </div>
            <div class="chronic-illness-slide-out__price-subdetail">
               <p class="body-xs">{{ section.settings.product_details_1 }}</p>
               <p class="body-xs">{{ section.settings.product_price_details_1 }}</p>
            </div>
            <div class="chronic-illness-slide-out__price-detail">
              <p class="sh4 medium">{{ section.settings.product_name_2 }}</p>
              <p class="sh4 medium">{{ section.settings.product_price_2 }}</p>
            </div>
          </div>
        </div>
        <div class="chronic-illness-slide-out__footer">
          <p class="body-xs">{{ section.settings.disclaimer }}</p>
          <button class="has-second-slide button">{{ section.settings.btn }}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="chronic-illness-slide-out__second">
    <div class="chronic-illness-slide-out__second-header">
      <button class="chronic-illness-slide-out__second-back">
        {% render 'icon-arrow-left' %}
      </button>
      <img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/Buoy_Logo_2x_d6014af4-d2a0-4881-a1f8-8d5649f5c079.jpg?v=1658952214" width="50" height="25">
    </div>
    <div class="chronic-illness-slide-out__second-content">
      <div class="klaviyo-form-VT4VtR"></div>
    </div>
  </div>
</div>
 
{% javascript %}
$('[href="#chronic"]').click(function() {
$('.chronic-illness-slide-out').addClass('active');
    $('.page-overlay').addClass('is-visible');
 
    $('body').click(function(e) {
      const target = e.target;
      if ($(target).hasClass('page-overlay')) {
        $('.chronic-illness-slide-out').removeClass('active');
        $('.page-overlay').removeClass('is-visible');
      }
    });
  });

  $('.chronic-illness-slide-out__close').click(function() {
    $('.chronic-illness-slide-out').removeClass('active');
    $('.page-overlay').removeClass('is-visible');
  });

  $('.has-second-slide').click(function() {
    $('.chronic-illness-slide-out').addClass('show-second');
  });

  $('.chronic-illness-slide-out__second-back').click(function() {
    $('.chronic-illness-slide-out').removeClass('show-second');
  });
{% endjavascript %}

{% schema %}
  {
    "name": "Chronic Illness Slide Out",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "item_name_1",
        "label": "Item 1 Name"
      },
      {
        "type": "text",
        "id": "item_price_1",
        "label": "Item 1 Price"
      },
      {
        "type": "text",
        "id": "item_name_2",
        "label": "Item 2 Name"
      },
      {
        "type": "text",
        "id": "item_price_2",
        "label": "Item 2 Price"
      },
      {
        "type": "text",
        "id": "item_name_3",
        "label": "Item 3 Name"
      },
      {
        "type": "text",
        "id": "item_price_3",
        "label": "Item 3 Price"
      },
      {
        "type": "text",
        "id": "title2",
        "label": "Title 2"
      },
      {
        "type": "text",
        "id": "check_1",
        "label": "Check 1"
      },
      {
        "type": "text",
        "id": "check_2",
        "label": "Check 2"
      },
      {
        "type": "text",
        "id": "check_3",
        "label": "Check 3"
      },
      {
        "type": "text",
        "id": "product_name_1",
        "label": "Product 1 Name"
      },
      {
        "type": "text",
        "id": "product_details_1",
        "label": "Product 1 Details"
      },
      {
        "type": "text",
        "id": "product_price_1",
        "label": "Product 1 Price"
      },
      {
        "type": "text",
        "id": "product_price_details_1",
        "label": "product 1 Price Details"
      },
      {
        "type": "text",
        "id": "product_name_2",
        "label": "product 2 Name"
      },
      {
        "type": "text",
        "id": "product_price_2",
        "label": "Product 2 Price"
      },
      {
        "type": "text",
        "id": "disclaimer",
        "label": "Disclaimer Text"
      },
      {
        "type": "text",
        "id": "btn",
        "label": "Button Label"
      }
    ]
  }
{% endschema %}