{{ 'section-chronic-illness-slide-out.css' | asset_url | stylesheet_tag }}

<div class="chronic-illness-slide-out">
  <div class="chronic-illness-slide-out__inner">
    <div class="chronic-illness-slide-out__header">
      <button class="chronic-illness-slide-out__close">
        {% render 'icon-arrow-left' %}
      </button>
      <img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/Buoy_Logo_2x_d6014af4-d2a0-4881-a1f8-8d5649f5c079.jpg?v=1658952214">
    </div>
    <div class="chronic-illness-slide-out__content">
      <div class="chronic-illness-slide-out__compare">
        <p class="sh4">{{ section.settings.title }}</p>
        <div class="chronic-illness__price-list">
          <div class="chronic-illness__price-item">
            <p class="light">{{ section.settings.item_name_1 }}</p>
            <p class="light">{{ section.settings.item_price_1 }}</p>
          </div>
          <div class="chronic-illness__price-item">
            <p class="light">{{ section.settings.item_name_2 }}</p>
            <p class="light">{{ section.settings.item_price_2 }}</p>
          </div>
          <div class="chronic-illness__price-item">
            <p class="light">{{ section.settings.item_name_3 }}</p>
            <p class="light">{{ section.settings.item_price_3 }}</p>
          </div>
        </div>
      </div>
      <div class="chronic-illness-slide-out__info">
        <div>
          
        </div>
        <div>
          <p class="body-xs">{{ section.settings.disclaimer }}</p>
          <button class="has-second-slide button">{{ section.settings.btn }}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="chronic-illness-slide-out__second">
    <div class="chronic-illness-slide-out__second-header">
      <button class="chronic-illness-slide-out__second-back">
        {% render 'icon-arrow-left' %}
      </button>
      <img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/Buoy_Logo_2x_d6014af4-d2a0-4881-a1f8-8d5649f5c079.jpg?v=1658952214">
    </div>
    <div class="chronic-illness-slide-out__second-content">

      
    </div>
  </div>
</div>
 
{% javascript %}
$('[href="#chronic"]').click(function() {
$('.chronic-illness-slide-out').addClass('active');
    $('.page-overlay').addClass('is-visible');
 
    $('body').click(function(e) {
      const target = e.target;
      if ($(target).hasClass('page-overlay')) {
        $('.chronic-illness-slide-out').removeClass('active');
        $('.page-overlay').removeClass('is-visible');
      }
    });
  });

  $('.chronic-illness-slide-out__close').click(function() {
    $('.chronic-illness-slide-out').removeClass('active');
    $('.page-overlay').removeClass('is-visible');
  });

  $('.has-second-slide').click(function() {
    $('.chronic-illness-slide-out').addClass('show-second');
  });

  $('.chronic-illness-slide-out__second-back').click(function() {
    $('.chronic-illness-slide-out').removeClass('show-second');
  });
{% endjavascript %}

{% schema %}
  {
    "name": "Chronic Illness Slide Out",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "item_name_1",
        "label": "Item 1 Name"
      },
      {
        "type": "text",
        "id": "item_price_1",
        "label": "Item 1 Price"
      },
      {
        "type": "text",
        "id": "item_name_2",
        "label": "Item 2 Name"
      },
      {
        "type": "text",
        "id": "item_price_2",
        "label": "Item 2 Price"
      },
            {
        "type": "text",
        "id": "item_name_3",
        "label": "Item 3 Name"
      },
      {
        "type": "text",
        "id": "item_price_3",
        "label": "Item 3 Price"
      },
      {
        "type": "text",
        "id": "disclaimer",
        "label": "Disclaimer Text"
      },
      {
        "type": "text",
        "id": "btn",
        "label": "Button Label"
      }
    ]
  }
{% endschema %}