{{ 'section-chronic-illness-slide-out.css' | asset_url | stylesheet_tag }}

<div class="chronic-illness-slide-out">
  <button class="chronic-illness-slide-out__overlay"></button>
  <div class="chronic-illness-slide-out__container">
    <button class="chronic-illness-slide-out__close">
      <p class="body-xs">Close</p>
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.01257 8.00023L1.84943 2.83709L2.83686 1.84966L8 7.0128L13.1631 1.84966L14.1506 2.83709L8.98743 8.00023L14.1506 13.1634L13.1631 14.1508L8 8.98766L2.83686 14.1508L1.84943 13.1634L7.01257 8.00023Z" fill="#1F2322"/></svg>
    </button>
    <div class="chronic-illness-slide-out__inner">
      <div class="chronic-illness-slide-out__header">
        <p class="chronic-illness-slide-out__subtitle sh3 medium">{{ section.settings.subtitle }}</p>
        <h2 class="chronic-illness-slide-out__title h1">{{ section.settings.title }}</h2>
        <p class="chronic-illness-slide-out__text body-large">{{ section.settings.text }}</p>
      </div>
      <div class="chronic-illness-slide-out__content">
        <!-- <h3 class="chronic--illness__form--title">Fill in the appropriate information.*</h3> -->
        <form method="post" action="#chronicIllnessForm" id="chronicIllnessForm" accept-charset="UTF-8" class="contact-form">
          <input type="hidden" name="form_type" value="contact">
          <input type="hidden" name="utf8" value="✓">
          {%- if form.posted_successfully? -%}
            <script>
              $('.chronic-illness-slide-out').addClass('active');
            </script>
            <div class="form-status form-status-list form__message" tabindex="-1" autofocus>
              <p>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</p>
              
              <div class="chronic--illness__form--btn">
                <a class="button button--green" href="/pages/chronic-illness-shop">shop all chronic illness products</a>
              </div>
            </div>
          {% else %}
            <div class="contact__fields">
              <div class="field half-field">
                <label class="field__label" for="ContactFormFirstName">First Name*</label>
                <input class="field__input" autocomplete="name" type="text" id="ContactFormFirstName" name="firstName" value="" placeholder="First Name" required>
              </div>
              <div class="field half-field">
                <label class="field__label" for="ContactFormLastName">Last Name*</label>
                <input class="field__input" autocomplete="name" type="text" id="ContactFormLastName" name="lastName" value="" placeholder="Last Name" required>
              </div>
              <div class="field field--with-error half-field">
                <label class="field__label" for="ContactFormemail">Email*</label>
                <input
                  autocomplete="email"
                  type="email"
                  id="ContactForm-email"
                  class="field__input"
                  name="email"
                  spellcheck="false"
                  autocapitalize="off"
                  value=""
                  aria-required="true"
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="ContactForm-email-error"
                  {% endif %}
                  placeholder="email@example.com"
                  required
                >
                {%- if form.errors contains 'email' -%}
                  <small class="contact__field-error" id="ContactForm-email-error">
                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                    <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
                  </small>
                {%- endif -%}
              </div>
              <div class="field half-field">
                <label class="field__label" for="ContactFormphone">Phone number*</label>
                <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="phoneNumber" value="" placeholder="+12345678900" required pattern="^\+[1-9]\d{1,14}$" title="Phone number must be in E.164 format (e.g., +12345678900)">              
              </div>
            </div>
            
            <div class="form__radio--button">
              <div class="form__radio--title">
                <h3>Which of the following illnesses are you managing?</h3>
                <p>Select all that apply.</p>
              </div>
              <div class="chronic-illness-slide-out__radios">
                <div class="field">
                  <input type="checkbox" id="ContactFormADHD" name="illnessesType" value="ADHD or Autism" class="field__radio" >
                  <label for="ContactFormADHD" class="field__radio--label">
                    <span>{% render 'check-icon' %}</span>
                    ADHD or Autism
                  </label>
                </div>
                <div class="field">
                  <input type="checkbox" id="ContactFormEatingDisorderRecovery" name="illnessesType" value="Eating Disorder Recovery" class="field__radio">
                  <label for="ContactFormEatingDisorderRecovery" class="field__radio--label">
                    <span>{% render 'check-icon' %}</span>
                    Eating Disorder Recovery
                  </label>
                </div>
                <div class="field">
                  <input type="checkbox" id="ContactFormCrohnDisease" name="illnessesType" value="Crohn’s Disease" class="field__radio">
                  <label for="ContactFormCrohnDisease" class="field__radio--label">
                    <span>{% render 'check-icon' %}</span>
                    Crohn’s Disease
                  </label>
                </div>
                <div class="field">
                  <input type="checkbox" id="ContactFormImmunodeficiencyDisease" name="illnessesType" value="Immunodeficiency Disease" class="field__radio">
                  <label for="ContactFormImmunodeficiencyDisease" class="field__radio--label">
                    <span>{% render 'check-icon' %}</span>
                    Immunodeficiency Disease
                  </label>
                </div>
                <div class="field">
                  <input type="checkbox" id="ContactFormCysticFibrosis" name="illnessesType" value="Cystic Fibrosis" class="field__radio">
                  <label for="ContactFormCysticFibrosis" class="field__radio--label">
                    <span>{% render 'check-icon' %}</span>
                    Cystic Fibrosis
                  </label>
                </div>
                <div class="field">
                  <input type="checkbox" id="ContactFormMultipleSclerosis" name="illnessesType" value="Multiple Sclerosis" class="field__radio">
                  <label for="ContactFormMultipleSclerosis" class="field__radio--label">
                    <span>{% render 'check-icon' %}</span>
                    Multiple Sclerosis
                  </label>
                </div>
                <div class="field">
                  <input type="checkbox" id="ContactFormChemotherapyDehydration" name="illnessesType" value="Chemotherapy Dehydration" class="field__radio">
                  <label for="ContactFormChemotherapyDehydration" class="field__radio--label">
                    <span>{% render 'check-icon' %}</span>
                    Chemotherapy Dehydration
                  </label>
                </div>
                <div class="field">
                  <input type="checkbox" id="ContactFormPOTS" name="illnessesType" value="POTS" class="field__radio">
                  <label for="ContactFormPOTS" class="field__radio--label">
                    <span>{% render 'check-icon' %}</span>
                    POTS
                  </label>
                </div>
                <div class="field">
                  <input type="checkbox" id="ContactFormDysautonomia" name="illnessesType" value="Dysautonomia" class="field__radio">
                  <label for="ContactFormDysautonomia" class="field__radio--label">
                    <span>{% render 'check-icon' %}</span>
                    Dysautonomia
                  </label>
                </div>
                <div class="field">
                  <input type="checkbox" id="ContactFormSjogrenDisease" name="illnessesType" value="Sjogren’s Disease" class="field__radio">
                  <label for="ContactFormSjogrenDisease" class="field__radio--label">
                    <span>{% render 'check-icon' %}</span>
                    Sjogren’s Disease
                  </label>
                </div>
                <div class="field">
                  <input type="checkbox" id="ContactFormOther" name="illnessesType" value="Other" class="field__radio">
                  <label for="ContactFormOther" class="field__radio--label">
                    <span>{% render 'check-icon' %}</span>
                    Other
                  </label>
                  <div class="custom__msg--field" style="display: none">
                    <input type="test" id="ContactFormCustomMessage" class="field__input" name="contact[Custom Message]" value="" placeholder="Type your answer">
                  </div>
                </div>
                <span id="illnessError" style="color:red; display:none;">Please select at least one chronic illness.</span>
              </div>
              <div class="show-more">
                <a href="javascript:void(0)">Show more</a>
              </div>
            </div>
            <div class="contact__button">
              <button type="submit" class="button button--green">
                Join Now & Get 35% Off
              </button>
            </div>
          {%- endif -%}
        </form>
      {% comment %}<div class="klaviyo-form-VT4VtR"></div> {% endcomment %}
      </div>
    </div>
    <div class="chronic__form--aftersubmission"></div>
  </div>
</div>
 
{% javascript %}

  
  $(".show-more a").on("click", function() {
    var $this = $(this); 
    var $content = $this.parents('.form__radio--button').find(".field");
    var linkText = $this.text().toUpperCase();    
  
    if(linkText === "SHOW MORE"){
        linkText = "Show less";
        $content.addClass("active");
    } else {
        linkText = "Show more";
        $content.removeClass("active");
    };
  
    $this.text(linkText);
  });
  
  $('[href="#chronic"]').click(function() {
    $('.chronic-illness-slide-out').addClass('active');
  });

  $('.chronic-illness-slide-out__overlay').click(function() {
    closePopup();
  });

  $('.chronic-illness-slide-out__close').click(function() {
    closePopup();
  });

  function closePopup() {
    $('.chronic-illness-slide-out').removeClass('active');
  }

var $tlt = $(".custom__msg--field");

$(".chronic-illness-slide-out__radios input[type=checkbox]").on('change', function() {
    var radVal = $(this).val();
    if (radVal === 'Other' && $(this).is(':checked')) {
        $tlt.css("display", "block");
    } else if (radVal === 'Other' && !$(this).is(':checked')) {
        $tlt.css("display", "none");
      $("#ContactFormCustomMessage").val('');
    }
});
var globalCheckedValues = [];
function updateCheckedValues() {
  globalCheckedValues = $(".chronic-illness-slide-out__radios input[type=checkbox]:checked").map(function() {
    return $(this).val(); 
  }).get();  
  if (globalCheckedValues.includes("Other")) {
    var customMessage = $("#ContactFormCustomMessage").val();
    if (customMessage) {
       globalCheckedValues.push(customMessage);
    }
  }
    if (globalCheckedValues.length === 0) {
        document.getElementById('illnessError').style.display = 'block';
        return; 
    }else{
        document.getElementById('illnessError').style.display = 'none';
    }
}
$(".chronic-illness-slide-out__radios input[type=checkbox]").on('change', function() {
  var radVal = $(this).val();
  if (radVal === 'Other' && $(this).is(':checked')) {
    $(".custom__msg--field").css("display", "block");
  } else if (radVal === 'Other' && !$(this).is(':checked')) {
    $(".custom__msg--field").css("display", "none");
    $("#ContactFormCustomMessage").val(''); 
  }
  updateCheckedValues();
});
$("#ContactFormCustomMessage").on('input', function() {
  updateCheckedValues();
});
document.getElementById('chronicIllnessForm').addEventListener('submit', function(event) {
    event.preventDefault(); 
    var checkedValues = globalCheckedValues; 
    if (checkedValues.length == 0) {
        document.getElementById('illnessError').style.display = 'block';
        return;
    }else{
        document.getElementById('illnessError').style.display = 'none';
    }
    const firstName = document.getElementById('ContactFormFirstName').value;
    const lastName = document.getElementById('ContactFormLastName').value;
    const email = document.getElementById('ContactForm-email').value;
    const mobile = document.getElementById('ContactForm-phone').value;
    const payload = JSON.stringify({
        data: {
            type: 'subscription',
            attributes: {
                profile: {
                    data: {
                        type: 'profile',
                        attributes: {
                            properties: {
                                'Chronic Illness': globalCheckedValues,
                                'SMS Consent': 'TRUE'
                            },
                            email: email,
                            phone_number: mobile,
                            first_name: firstName,
                            last_name: lastName
                        },
                        meta: {
                            patch_properties: {
                                append: {
                                    newKey: 'New Value'
                                },
                                unappend: {
                                    newKey: 'New Value'
                                }
                            }
                        }
                    }
                }
            },
            relationships: {
                list: {
                    data: {
                        type: 'list',
                        id: 'TE6KNC'
                    }
                }
            }
        }
    });
    const options = {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'REVISION': '2024-07-15'
        },
        body: payload
    };
    // fetch('https://a.klaviyo.com/client/subscriptions/?company_id=UFRh4Z', options)
    //     .then(response => {
    //         if (!response.ok) {
    //             throw new Error(`Network response was not ok. Status: ${response.status}`);
    //         }
    //         return response.text();
    //     })
    //     .then(text => {
    //       document.querySelector(".chronic-illness-slide-out__inner").style.display = "none";
    //       document.querySelector(".chronic__form--aftersubmission").style.display = "block";
    //         if (text) {
    //             try {
    //                 const jsonResponse = JSON.parse(text);
    //             } catch (e) {
    //                 console.error('Failed to parse JSON:', e);
    //             }
    //         } else {
    //             console.log('Empty response body');
    //         }
    //     })
    //     .catch(err => {
    //         console.error('Error:', err);
    //     });
});  
{% endjavascript %}

{% schema %}
  {
    "name": "Chronic Illness Slide Out",
    "settings": [
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "inline_richtext",
        "id": "text",
        "label": "Text"
      }
    ]
  }
{% endschema %}