{{ 'section-chronic-illness-submitted.css' | asset_url | stylesheet_tag }}

<div class="chronic-submitted__container">
  <div class="chronic-submitted__image">
    {% render 'lazy-image' image: section.settings.image, classes: '' %}
  </div>
  <div class="chronic-submitted__text">
    <p class="sh3">{{ section.settings.suptitle }}</p>
    <h2>{{ section.settings.title }}</h2>
    <p class="light">{{ section.settings.text }}</p>
    <a href="{{ section.settings.button_link }}" class="button">{{ section.settings.button_label }}</a>
  </div>
</div>
{% schema %}
  {
    "name": "Chronic Illness Submitted",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "suptitle",
        "label": "Suptitle"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
	],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "emoji",
            "label": "Emoji"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Chronic Illness Submitted"
      }
    ]
  }
{% endschema %}