{{ 'section-chronic-illness-slide-out.css' | asset_url | stylesheet_tag }}

<div class="chronic-illness-slide-out">
  <button class="chronic-illness-slide-out__overlay"></button>
  <div class="chronic-illness-slide-out__container">
    <button class="chronic-illness-slide-out__close">
      <p class="body-xs">Close</p>
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.01257 8.00023L1.84943 2.83709L2.83686 1.84966L8 7.0128L13.1631 1.84966L14.1506 2.83709L8.98743 8.00023L14.1506 13.1634L13.1631 14.1508L8 8.98766L2.83686 14.1508L1.84943 13.1634L7.01257 8.00023Z" fill="#1F2322"/></svg>
    </button>
    <div class="chronic-illness-slide-out__inner">
      <div class="chronic-illness-slide-out__header">
        <p class="chronic-illness-slide-out__subtitle sh3 medium">{{ section.settings.subtitle }}</p>
        <h2 class="chronic-illness-slide-out__title h1">{{ section.settings.title }}</h2>
        <p class="chronic-illness-slide-out__text body-large">{{ section.settings.text }}</p>
      </div>
      <div class="chronic-illness-slide-out__content">
        <!-- <h3 class="chronic--illness__form--title">Fill in the appropriate information.*</h3> -->
        <form method="post" action="#chronicIllnessForm" id="chronicIllnessForm" accept-charset="UTF-8" class="contact-form">
          <input type="hidden" name="form_type" value="contact">
          <input type="hidden" name="utf8" value="✓">
          {%- if form.posted_successfully? -%}
            <script>
              $('.chronic-illness-slide-out').addClass('active');
            </script>
            <div class="form-status form-status-list form__message" tabindex="-1" autofocus>
              <p>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</p>
              
              <div class="chronic--illness__form--btn">
                <a class="button button--green" href="/pages/chronic-illness-shop">shop all chronic illness products</a>
              </div>
            </div>
          {% else %}
            <div class="contact__fields">
              <div class="field half-field">
                <label class="field__label" for="ContactFormFirstName">First Name*</label>
                <input class="field__input" autocomplete="name" type="text" id="ContactFormFirstName" name="firstName" value="" placeholder="First Name" required>
              </div>
              <div class="field half-field">
                <label class="field__label" for="ContactFormLastName">Last Name*</label>
                <input class="field__input" autocomplete="name" type="text" id="ContactFormLastName" name="lastName" value="" placeholder="Last Name" required>
              </div>
              <div class="field field--with-error half-field">
                <label class="field__label" for="ContactFormemail">Email*</label>
                <input
                  autocomplete="email"
                  type="email"
                  id="ContactForm-email"
                  class="field__input"
                  name="email"
                  spellcheck="false"
                  autocapitalize="off"
                  value=""
                  aria-required="true"
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="ContactForm-email-error"
                  {% endif %}
                  placeholder="email@example.com"
                  required
                >
                {%- if form.errors contains 'email' -%}
                  <small class="contact__field-error" id="ContactForm-email-error">
                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                    <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
                  </small>
                {%- endif -%}
              </div>
              <div class="field half-field">
                <label class="field__label" for="ContactFormphone">Phone number*</label>
                <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="phoneNumber" value="" placeholder="+12345678900" required pattern="^\+[1-9]\d{1,14}$" title="Phone number must be in E.164 format (e.g., +12345678900)">              
              </div>
            </div>
            
            <div class="form__radio--button">
              <div class="form__radio--title">
                <h3>Which of the following illnesses are you managing?</h3>
                <p>Select all that apply.</p>
              </div>
              <div class="chronic-illness-slide-out__radios">
                <div class="field">
                  <input type="checkbox" id="ContactFormADHD" name="illnessesType" value="ADHD or Autism" class="field__radio" >
                  <label for="ContactFormADHD" class="field__radio--label">
                    <span>{% render 'check-icon' %}</span>
                    ADHD or Autism
                  </label>
                </div>
                <div class="field">
                  <input type="checkbox" id="ContactFormEatingDisorderRecovery" name="illnessesType" value="Eating Disorder Recovery" class="field__radio">
                  <label for="ContactFormEatingDisorderRecovery" class="field__radio--label">
                    <span>{% render 'check-icon' %}</span>
                    Eating Disorder Recovery
                  </label>
                </div>
                <div class="field">
                  <input type="checkbox" id="ContactFormCrohnDisease" name="illnessesType" value="Crohn’s Disease" class="field__radio">
                  <label for="ContactFormCrohnDisease" class="field__radio--label">
                    <span>{% render 'check-icon' %}</span>
                    Crohn’s Disease
                  </label>
                </div>
                <div class="field">
                  <input type="checkbox" id="ContactFormImmunodeficiencyDisease" name="illnessesType" value="Immunodeficiency Disease" class="field__radio">
                  <label for="ContactFormImmunodeficiencyDisease" class="field__radio--label">
                    <span>{% render 'check-icon' %}</span>
                    Immunodeficiency Disease
                  </label>
                </div>
                <div class="field">
                  <input type="checkbox" id="ContactFormCysticFibrosis" name="illnessesType" value="Cystic Fibrosis" class="field__radio">
                  <label for="ContactFormCysticFibrosis" class="field__radio--label">
                    <span>{% render 'check-icon' %}</span>
                    Cystic Fibrosis
                  </label>
                </div>
                <div class="field">
                  <input type="checkbox" id="ContactFormMultipleSclerosis" name="illnessesType" value="Multiple Sclerosis" class="field__radio">
                  <label for="ContactFormMultipleSclerosis" class="field__radio--label">
                    <span>{% render 'check-icon' %}</span>
                    Multiple Sclerosis
                  </label>
                </div>
                <div class="field">
                  <input type="checkbox" id="ContactFormChemotherapyDehydration" name="illnessesType" value="Chemotherapy Dehydration" class="field__radio">
                  <label for="ContactFormChemotherapyDehydration" class="field__radio--label">
                    <span>{% render 'check-icon' %}</span>
                    Chemotherapy Dehydration
                  </label>
                </div>
                <div class="field">
                  <input type="checkbox" id="ContactFormPOTS" name="illnessesType" value="POTS" class="field__radio">
                  <label for="ContactFormPOTS" class="field__radio--label">
                    <span>{% render 'check-icon' %}</span>
                    POTS
                  </label>
                </div>
                <div class="field">
                  <input type="checkbox" id="ContactFormDysautonomia" name="illnessesType" value="Dysautonomia" class="field__radio">
                  <label for="ContactFormDysautonomia" class="field__radio--label">
                    <span>{% render 'check-icon' %}</span>
                    Dysautonomia
                  </label>
                </div>
                <div class="field">
                  <input type="checkbox" id="ContactFormSjogrenDisease" name="illnessesType" value="Sjogren’s Disease" class="field__radio">
                  <label for="ContactFormSjogrenDisease" class="field__radio--label">
                    <span>{% render 'check-icon' %}</span>
                    Sjogren’s Disease
                  </label>
                </div>
                <div class="field">
                  <input type="checkbox" id="ContactFormOther" name="illnessesType" value="Other" class="field__radio">
                  <label for="ContactFormOther" class="field__radio--label">
                    <span>{% render 'check-icon' %}</span>
                    Other
                  </label>
                  <div class="custom__msg--field" style="display: none">
                    <input type="test" id="ContactFormCustomMessage" class="field__input" name="contact[Custom Message]" value="" placeholder="Type your answer">
                  </div>
                </div>
              </div>
              <div class="show-more">
                <a href="javascript:void(0)">Show more</a>
              </div>
            </div>
            <div class="contact__button">
              <button type="submit" class="button button--green">
                Join Now & Get 35% Off
              </button>
            </div>
          {%- endif -%}
        </form>
      {% comment %}<div class="klaviyo-form-VT4VtR"></div> {% endcomment %}
      </div>
    </div>
    <div class="chronic__form--aftersubmission">
      <div class="content__form--aftersubmission">
        {% if section.settings.success_title != blank %}
          <h2>
            {{ section.settings.success_title }}
          </h2>
        {% endif %}
        {% if section.settings.success_content != blank %}
          <div class="header__form--content">
            {{ section.settings.success_content }}
          </div>
        {% endif %}
        {% if section.settings.success_btn != blank %}
          <div class="header__btn--wrap">
            <a href="{{ section.settings.success_btn_url }}" class="button button--green">{{ section.settings.success_btn }}</a>
          </div>
        {% endif %}

        <div class="image-content__link-copy">
          <p class="image-content__link-copy-title body-large">
            {{ section.settings.link_title }}
            <svg width="28" height="30" viewBox="0 0 28 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.1889 12.1912C19.3472 14.6999 17.8583 18.4909 13.8802 23.2178L13.7977 21.0013C13.7724 20.3159 13.0406 19.9911 12.1634 20.2763C11.2864 20.5614 10.5958 21.3478 10.6216 22.0339L10.7928 26.6355C10.7983 26.7925 10.8417 26.9315 10.9162 27.0488C11.1522 27.4208 11.7008 27.5682 12.3441 27.386L18.446 25.6552C19.3235 25.4071 20.0509 24.6377 20.0715 23.9384C20.092 23.239 19.3972 22.8735 18.5201 23.1224L16.6949 23.6398C22.2256 16.8669 22.2684 12.7925 21.2154 10.5117C19.469 6.7301 13.5321 5.3051 5.33483 6.70238C4.46928 6.85 3.65065 7.55927 3.50648 8.28661C3.36265 9.01473 3.94716 9.48451 4.81328 9.33754C8.21413 8.75776 11.2536 8.7162 13.6027 9.21666C15.9338 9.71341 17.5199 10.7426 18.1889 12.1912Z" fill="#1F2322"/></svg>
          </p>
          <div class="image-content__link-copy-container">
            <p class="body-sm">
              {{ section.settings.link }}
              <span class="image-content__link-copied body-xs">Link copied</span>
            </p>
            <button class="image-content__link-copy-button">
              <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 13.056C10.4295 13.6301 10.9774 14.1052 11.6066 14.4489C12.2357 14.7927 12.9315 14.9971 13.6467 15.0483C14.3618 15.0995 15.0796 14.9964 15.7513 14.7458C16.4231 14.4952 17.0331 14.1031 17.54 13.596L20.54 10.596C21.4508 9.65299 21.9548 8.38997 21.9434 7.07899C21.932 5.76801 21.4061 4.51394 20.4791 3.5869C19.5521 2.65986 18.298 2.13402 16.987 2.12263C15.676 2.11123 14.413 2.61521 13.47 3.526L11.75 5.236" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M14.0002 11.0552C13.5707 10.4811 13.0228 10.006 12.3936 9.66228C11.7645 9.31852 11.0687 9.1141 10.3535 9.06288C9.63841 9.01167 8.92061 9.11485 8.24885 9.36544C7.5771 9.61602 6.96709 10.0081 6.4602 10.5152L3.4602 13.5152C2.54941 14.4582 2.04544 15.7212 2.05683 17.0322C2.06822 18.3432 2.59407 19.5973 3.52111 20.5243C4.44815 21.4514 5.70221 21.9772 7.01319 21.9886C8.32418 22 9.58719 21.496 10.5302 20.5852L12.2402 18.8752" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            </button>
          </div>
          <p class="image-content__link-copy-disclaimer body-sm">{{ section.settings.disclaimer }}</p>

          <script>
            $('.image-content__link-copy-button').click(() => {
              navigator.clipboard.writeText('{{ section.settings.link }}');
              $('.image-content__link-copied').addClass('visible');
              setTimeout(() => {
                $('.image-content__link-copied').removeClass('visible');
              }, 2000);
            });
          </script>
        </div>
        
      </div>
    </div>
  </div>
</div>
 
{% javascript %}

  
  $(".show-more a").on("click", function() {
    var $this = $(this); 
    var $content = $this.parents('.form__radio--button').find(".field");
    var linkText = $this.text().toUpperCase();    
  
    if(linkText === "SHOW MORE"){
        linkText = "Show less";
        $content.addClass("active");
    } else {
        linkText = "Show more";
        $content.removeClass("active");
    };
  
    $this.text(linkText);
  });
  
  $('[href="#chronic"]').click(function() {
    $('.chronic-illness-slide-out').addClass('active');
  });

  $('.chronic-illness-slide-out__overlay').click(function() {
    closePopup();
  });

  $('.chronic-illness-slide-out__close').click(function() {
    closePopup();
  });

  function closePopup() {
    $('.chronic-illness-slide-out').removeClass('active');
  }

var $tlt = $(".custom__msg--field");

$(".chronic-illness-slide-out__radios input[type=checkbox]").on('change', function() {
    var radVal = $(this).val();
    if (radVal === 'Other' && $(this).is(':checked')) {
        $tlt.css("display", "block");
    } else if (radVal === 'Other' && !$(this).is(':checked')) {
        $tlt.css("display", "none");
      $("#ContactFormCustomMessage").val('');
    }
});
var globalCheckedValues = [];
function updateCheckedValues() {
  globalCheckedValues = $(".chronic-illness-slide-out__radios input[type=checkbox]:checked").map(function() {
    return $(this).val(); 
  }).get();  
  if (globalCheckedValues.includes("Other")) {
    var customMessage = $("#ContactFormCustomMessage").val();
    if (customMessage) {
       globalCheckedValues.push(customMessage);
    }
  }
}
$(".chronic-illness-slide-out__radios input[type=checkbox]").on('change', function() {
  var radVal = $(this).val();
  if (radVal === 'Other' && $(this).is(':checked')) {
    $(".custom__msg--field").css("display", "block");
  } else if (radVal === 'Other' && !$(this).is(':checked')) {
    $(".custom__msg--field").css("display", "none");
    $("#ContactFormCustomMessage").val(''); 
  }
  updateCheckedValues();
});
$("#ContactFormCustomMessage").on('input', function() {
  updateCheckedValues();
});
document.getElementById('chronicIllnessForm').addEventListener('submit', function(event) {
    event.preventDefault(); 
    var checkedValues = globalCheckedValues; 
    const firstName = document.getElementById('ContactFormFirstName').value;
    const lastName = document.getElementById('ContactFormLastName').value;
    const email = document.getElementById('ContactForm-email').value;
    const mobile = document.getElementById('ContactForm-phone').value;
    const payload = JSON.stringify({
        data: {
            type: 'subscription',
            attributes: {
                profile: {
                    data: {
                        type: 'profile',
                        attributes: {
                            properties: {
                                'Chronic Illness': globalCheckedValues,
                                'SMS Consent': 'TRUE'
                            },
                            email: email,
                            phone_number: mobile,
                            first_name: firstName,
                            last_name: lastName
                        },
                        meta: {
                            patch_properties: {
                                append: {
                                    newKey: 'New Value'
                                },
                                unappend: {
                                    newKey: 'New Value'
                                }
                            }
                        }
                    }
                }
            },
            relationships: {
                list: {
                    data: {
                        type: 'list',
                        id: 'TE6KNC'
                    }
                }
            }
        }
    });
    const options = {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'REVISION': '2024-07-15'
        },
        body: payload
    };
    fetch('https://a.klaviyo.com/client/subscriptions/?company_id=UFRh4Z', options)
        .then(response => {
            if (!response.ok) {
                throw new Error(`Network response was not ok. Status: ${response.status}`);
            }
            return response.text();
        })
        .then(text => {
          document.querySelector(".chronic-illness-slide-out__inner").style.display = "none";
          document.querySelector(".chronic__form--aftersubmission").style.display = "block";
            if (text) {
                try {
                    const jsonResponse = JSON.parse(text);
                } catch (e) {
                    console.error('Failed to parse JSON:', e);
                }
            } else {
                console.log('Empty response body');
            }
           globalCheckedValues = [];
        })
        .catch(err => {
            console.error('Error:', err);
        });
});  
{% endjavascript %}

{% schema %}
  {
    "name": "Chronic Illness Slide Out",
    "settings": [
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "inline_richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "header",
        "content": "Link Copy"
      },
      {
        "type": "text",
        "id": "link_title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "link",
        "label": "Link"
      },
      {
        "type": "textarea",
        "id": "disclaimer",
        "label": "Disclaimer"
      },
      {
        "type": "header",
        "content": "Form After Submission Content"
      },
      {
        "type": "text",
        "id": "success_title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "success_content",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "success_btn",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "success_btn_url",
        "label": "Button URL"
      },
      {
        "type": "text",
        "id": "product_heading",
        "label": "Product Section Title"
      },
      {
        "type": "product",
        "id": "product_grid",
        "label": "Product List"
      },
      {
        "type": "text",
        "id": "grid_btn",
        "label": "Grid Button Label"
      },
      {
        "type": "url",
        "id": "grid_btn_url",
        "label": "Grid Button URL"
      }
    ]
  }
{% endschema %}