{{ 'chronic-review-grid.css' | asset_url | stylesheet_tag }}

<div class="chronic-review reviews-grid" style="background-color: {{ section.settings.background_color }}">
  <div class="page-width page-width--wide">
    <div class="reviews-grid__header">
      <div class="reviews-grid__header-left">
        <p class="reviews-grid__subtitle sh3 medium">{{ section.settings.subtitle }}</p>
        <h2 class="reviews-grid__title h2 m-h2">{{ section.settings.title }}</h2>
      </div>
      <div class="reviews-grid__header-right">
        {% if section.settings.never_expires %}
          <svg class="hide-mobile" width="191" height="62" viewBox="0 0 191 62" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M30.1829 35.4831L33.143 48.235L31.6486 48.5819L22.3758 40.1827L22.2512 40.2116L24.5754 50.2238L23.0312 50.5822L20.0711 37.8304L21.5655 37.4835L30.869 45.9018L30.9936 45.8729L28.6637 35.8358L30.1829 35.4831ZM40.0898 46.8324C39.1682 47.0463 38.3261 47.0275 37.5634 46.7758C36.8038 46.519 36.1582 46.0652 35.6265 45.4143C35.098 44.7583 34.7201 43.9405 34.4927 42.9608C34.2653 41.9812 34.2433 41.0763 34.4269 40.2463C34.6136 39.4111 34.98 38.7093 35.5261 38.1407C36.0754 37.5669 36.7817 37.1799 37.6451 36.9794C38.1432 36.8638 38.6544 36.8327 39.1786 36.886C39.7028 36.9393 40.2075 37.1064 40.6927 37.3875C41.177 37.6645 41.6082 38.0806 41.9865 38.6358C42.3647 39.1911 42.6575 39.915 42.8646 40.8075L43.0092 41.4301L35.637 43.1414L35.3421 41.8712L41.2199 40.5068C41.0947 39.9672 40.875 39.5107 40.5608 39.1374C40.2509 38.7631 39.8703 38.4993 39.4191 38.346C38.972 38.1916 38.4828 38.1761 37.9515 38.2995C37.3662 38.4353 36.8935 38.6982 36.5334 39.088C36.1765 39.4727 35.9374 39.9219 35.816 40.4357C35.6947 40.9494 35.6952 41.4699 35.8176 41.9971L36.0141 42.8439C36.1818 43.5661 36.4485 44.1495 36.8141 44.594C37.183 45.0333 37.6219 45.3317 38.1309 45.4891C38.6389 45.6424 39.1898 45.6502 39.7834 45.5124C40.1694 45.4228 40.5056 45.2879 40.7918 45.1077C41.0813 44.9224 41.3146 44.6932 41.4919 44.4202C41.6681 44.1431 41.78 43.824 41.8274 43.463L43.3396 43.532C43.3019 44.0482 43.1491 44.5299 42.881 44.9771C42.612 45.4201 42.2417 45.8036 41.77 46.1274C41.2974 46.4471 40.7373 46.6821 40.0898 46.8324ZM51.5482 33.8834L50.2316 44.2682L48.7373 44.6151L42.9805 35.8722L44.5745 35.5022L48.9837 42.5105L49.0833 42.4874L49.9542 34.2534L51.5482 33.8834ZM59.4215 42.345C58.4999 42.5589 57.6578 42.54 56.8951 42.2883C56.1355 42.0315 55.4899 41.5777 54.9582 40.9268C54.4297 40.2708 54.0518 39.453 53.8244 38.4734C53.597 37.4937 53.575 36.5889 53.7586 35.7588C53.9453 34.9237 54.3117 34.2218 54.8578 33.6532C55.4071 33.0795 56.1134 32.6924 56.9768 32.492C57.4749 32.3763 57.9861 32.3452 58.5103 32.3985C59.0345 32.4518 59.5392 32.619 60.0244 32.9001C60.5087 33.177 60.9399 33.5931 61.3182 34.1484C61.6964 34.7037 61.9892 35.4275 62.1963 36.32L62.3409 36.9426L54.9687 38.6539L54.6738 37.3837L60.5516 36.0193C60.4264 35.4797 60.2067 35.0232 59.8925 34.6499C59.5826 34.2757 59.202 34.0119 58.7508 33.8585C58.3037 33.7041 57.8145 33.6887 57.2832 33.812C56.6979 33.9479 56.2252 34.2107 55.8651 34.6005C55.5082 34.9852 55.2691 35.4344 55.1477 35.9482C55.0264 36.462 55.0269 36.9824 55.1493 37.5096L55.3458 38.3564C55.5135 39.0787 55.7802 39.662 56.1458 40.1065C56.5146 40.5458 56.9536 40.8442 57.4626 41.0017C57.9706 41.155 58.5215 41.1627 59.115 41.0249C59.5011 40.9353 59.8372 40.8004 60.1235 40.6202C60.413 40.4349 60.6463 40.2058 60.8236 39.9328C60.9998 39.6556 61.1117 39.3365 61.1591 38.9756L62.6713 39.0445C62.6336 39.5607 62.4808 40.0424 62.2127 40.4896C61.9437 40.9326 61.5734 41.3161 61.1017 41.6399C60.6291 41.9596 60.069 42.1946 59.4215 42.345ZM65.5706 40.7076L63.3505 31.1437L64.7701 30.8141L65.1055 32.2587L65.2051 32.2356C65.2696 31.7219 65.4959 31.2647 65.8841 30.864C66.2723 30.4633 66.7528 30.1964 67.3257 30.0634C67.4336 30.0384 67.569 30.0091 67.7318 29.9757C67.8947 29.9423 68.0186 29.9201 68.1035 29.9091L68.4504 31.4035C68.3977 31.4026 68.2792 31.4104 68.095 31.4269C67.9139 31.4383 67.7258 31.4667 67.5307 31.512C67.0658 31.6199 66.6733 31.8138 66.3533 32.0937C66.0365 32.3685 65.8118 32.7006 65.6791 33.0902C65.5496 33.4746 65.5349 33.8826 65.6351 34.3143L67.04 40.3665L65.5706 40.7076ZM77.225 38.0022L74.2649 25.2504L81.9609 23.4639L82.2788 24.8337L76.1271 26.2618L77.1273 30.5705L82.8805 29.235L83.1985 30.6048L77.4452 31.9403L78.4512 36.274L84.7026 34.8228L85.0206 36.1926L77.225 38.0022ZM86.3807 25.7977L89.5798 29.176L90.9634 24.7339L92.657 24.3408L90.6787 29.8396L94.8771 33.9046L93.1835 34.2978L90.0307 31.1187L88.6008 35.3616L86.9072 35.7547L88.8357 30.2674L84.6871 26.1908L86.3807 25.7977ZM97.8064 37.0044L94.7538 23.854L96.1735 23.5245L96.5261 25.0438L96.7005 25.0033C96.7698 24.8122 96.8701 24.5658 97.0013 24.2641C97.1357 23.9573 97.3599 23.6603 97.6738 23.3731C97.9909 23.0807 98.4608 22.8623 99.0834 22.7178C99.8887 22.5308 100.645 22.5674 101.353 22.8274C102.061 23.0874 102.673 23.5469 103.189 24.2058C103.705 24.8647 104.08 25.6964 104.313 26.701C104.548 27.7138 104.579 28.6317 104.407 29.4547C104.234 30.2736 103.89 30.9572 103.374 31.5057C102.857 32.05 102.201 32.4146 101.404 32.5996C100.789 32.7422 100.274 32.7547 99.8571 32.6371C99.4395 32.5153 99.1007 32.3468 98.8407 32.1315C98.5798 31.9121 98.3752 31.7277 98.2268 31.5785L98.1022 31.6074L99.2759 36.6633L97.8064 37.0044ZM97.3084 28.3007C97.4761 29.0229 97.7298 29.6355 98.0697 30.1385C98.4086 30.6373 98.8175 30.9951 99.2966 31.212C99.7747 31.4247 100.308 31.4627 100.898 31.3259C101.512 31.1833 101.987 30.9024 102.323 30.4832C102.662 30.0589 102.871 29.5466 102.951 28.9464C103.033 28.341 102.996 27.6979 102.838 27.0172C102.681 26.3447 102.437 25.7628 102.104 25.2713C101.775 24.7747 101.366 24.4169 100.877 24.1978C100.392 23.9735 99.8382 23.9337 99.2155 24.0782C98.6178 24.217 98.1507 24.4851 97.8142 24.8825C97.4768 25.2758 97.2669 25.7664 97.1847 26.3542C97.1014 26.9379 97.1427 27.5867 97.3084 28.3007ZM107.659 30.9377L105.438 21.3738L106.908 21.0327L109.128 30.5966L107.659 30.9377ZM105.816 19.6064C105.529 19.6729 105.26 19.6326 105.007 19.4857C104.758 19.3378 104.602 19.1269 104.538 18.853C104.475 18.579 104.522 18.3209 104.68 18.0785C104.842 17.8353 105.067 17.6804 105.353 17.6139C105.64 17.5474 105.907 17.5881 106.156 17.736C106.409 17.8829 106.567 18.0934 106.63 18.3673C106.694 18.6413 106.645 18.8999 106.482 19.1432C106.324 19.3855 106.102 19.5399 105.816 19.6064ZM111.819 29.9718L109.599 20.4079L111.019 20.0784L111.354 21.5229L111.454 21.4998C111.518 20.9861 111.745 20.5289 112.133 20.1282C112.521 19.7275 113.002 19.4607 113.574 19.3277C113.682 19.3026 113.818 19.2734 113.981 19.24C114.144 19.2065 114.267 19.1843 114.352 19.1734L114.699 20.6677C114.647 20.6668 114.528 20.6747 114.344 20.6912C114.163 20.7026 113.975 20.731 113.78 20.7762C113.315 20.8842 112.922 21.0781 112.602 21.358C112.285 21.6327 112.061 21.9649 111.928 22.3544C111.798 22.7388 111.784 23.1469 111.884 23.5786L113.289 29.6307L111.819 29.9718ZM122.108 27.7935C121.187 28.0074 120.345 27.9885 119.582 27.7368C118.822 27.4801 118.177 27.0262 117.645 26.3753C117.116 25.7193 116.739 24.9015 116.511 23.9219C116.284 22.9422 116.262 22.0374 116.445 21.2073C116.632 20.3722 116.998 19.6703 117.545 19.1017C118.094 18.528 118.8 18.1409 119.664 17.9405C120.162 17.8249 120.673 17.7937 121.197 17.847C121.721 17.9003 122.226 18.0675 122.711 18.3486C123.195 18.6255 123.627 19.0416 124.005 19.5969C124.383 20.1522 124.676 20.876 124.883 21.7685L125.028 22.3911L117.655 24.1024L117.361 22.8322L123.238 21.4678C123.113 20.9282 122.893 20.4717 122.579 20.0984C122.269 19.7242 121.889 19.4604 121.438 19.307C120.99 19.1527 120.501 19.1372 119.97 19.2605C119.385 19.3964 118.912 19.6592 118.552 20.049C118.195 20.4337 117.956 20.883 117.834 21.3967C117.713 21.9105 117.714 22.4309 117.836 22.9581L118.033 23.8049C118.2 24.5272 118.467 25.1106 118.833 25.555C119.201 25.9944 119.64 26.2927 120.149 26.4502C120.657 26.6035 121.208 26.6112 121.802 26.4735C122.188 26.3838 122.524 26.2489 122.81 26.0687C123.1 25.8834 123.333 25.6543 123.51 25.3813C123.687 25.1041 123.798 24.7851 123.846 24.4241L125.358 24.493C125.32 25.0092 125.168 25.4909 124.899 25.9381C124.63 26.3812 124.26 26.7646 123.788 27.0884C123.316 27.4081 122.756 27.6431 122.108 27.7935ZM133.309 17.1616L132.076 17.8416C131.942 17.6408 131.769 17.4555 131.559 17.2855C131.352 17.1104 131.096 16.9862 130.79 16.9128C130.485 16.8394 130.118 16.8524 129.69 16.9516C129.105 17.0875 128.649 17.3356 128.321 17.696C127.997 18.0513 127.882 18.4344 127.978 18.8453C128.062 19.2106 128.262 19.4683 128.577 19.6183C128.892 19.7683 129.348 19.8484 129.945 19.8585L131.446 19.8776C132.349 19.8867 133.06 20.0563 133.578 20.3865C134.096 20.7126 134.432 21.2098 134.587 21.8781C134.715 22.4261 134.671 22.9525 134.455 23.4574C134.244 23.9614 133.887 24.403 133.385 24.7821C132.882 25.1612 132.259 25.4371 131.516 25.6095C130.541 25.836 129.684 25.8117 128.947 25.5367C128.209 25.2617 127.661 24.7371 127.302 23.963L128.616 23.2906C128.868 23.7745 129.209 24.1022 129.638 24.2738C130.071 24.4445 130.589 24.4599 131.191 24.3202C131.876 24.1612 132.386 23.8897 132.721 23.5057C133.059 23.1165 133.181 22.7165 133.086 22.3055C133.008 21.9734 132.828 21.7223 132.543 21.5521C132.258 21.3778 131.861 21.2904 131.354 21.2901L129.673 21.2866C128.749 21.2823 128.031 21.11 127.519 20.7695C127.01 20.4239 126.679 19.9211 126.526 19.2611C126.4 18.7215 126.441 18.209 126.648 17.7235C126.858 17.2371 127.2 16.8144 127.672 16.4555C128.149 16.0955 128.723 15.8375 129.396 15.6814C130.342 15.4617 131.133 15.4968 131.769 15.7866C132.409 16.0755 132.923 16.5338 133.309 17.1616Z" fill="#1F2322"/>
            <path d="M178.183 28.9457C179.736 32.3084 177.74 37.3898 172.408 43.7256L172.297 40.7547C172.264 39.8359 171.283 39.4006 170.107 39.7828C168.931 40.165 168.006 41.2191 168.04 42.1387L168.27 48.3066C168.277 48.5171 168.335 48.7034 168.435 48.8605C168.751 49.3591 169.487 49.5567 170.349 49.3125L178.528 46.9927C179.704 46.6601 180.679 45.6288 180.707 44.6914C180.734 43.754 179.803 43.2641 178.627 43.5976L176.181 44.2912C183.594 35.2129 183.651 29.7518 182.24 26.6946C179.899 21.6258 171.941 19.7158 160.954 21.5887C159.794 21.7865 158.696 22.7372 158.503 23.7121C158.31 24.6881 159.094 25.3178 160.255 25.1208C164.813 24.3437 168.887 24.288 172.036 24.9588C175.161 25.6246 177.286 27.004 178.183 28.9457Z" fill="#1F2322"/>
          </svg>
          <svg class="hide-desktop" width="137" height="40" viewBox="0 0 137 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.8326 23.9139L13.1349 33.832L11.7595 34.1513L5.02965 28.0476L4.93764 28.069L6.62613 35.3429L5.1297 35.6903L2.82741 25.7721L4.21246 25.4506L10.9494 31.5629L11.0414 31.5415L9.35069 24.2579L10.8326 23.9139ZM18.4424 32.7582C17.7095 32.9283 17.042 32.9183 16.4398 32.728C15.8401 32.5338 15.3302 32.1843 14.9102 31.6795C14.4927 31.1708 14.1944 30.5306 14.0153 29.759C13.8384 28.997 13.8246 28.2925 13.9738 27.6454C14.1263 26.9976 14.4213 26.451 14.8589 26.0058C15.2998 25.5598 15.8657 25.2566 16.5566 25.0962C16.9763 24.9988 17.3992 24.9738 17.8253 25.0212C18.2515 25.0686 18.6556 25.2044 19.0377 25.4288C19.4198 25.6531 19.7564 25.9816 20.0473 26.4142C20.3375 26.8436 20.561 27.3957 20.7176 28.0705L20.8368 28.5838L14.9237 29.9564L14.6719 28.8716L19.166 27.8284C19.0776 27.4474 18.9218 27.128 18.6986 26.8702C18.4747 26.6091 18.2024 26.4257 17.8818 26.3198C17.5644 26.2131 17.2185 26.2032 16.844 26.2902C16.4372 26.3846 16.1053 26.5671 15.8482 26.8377C15.5937 27.1044 15.4212 27.4166 15.3307 27.7745C15.2428 28.1283 15.2419 28.4909 15.3281 28.8622L15.5248 29.7097C15.6402 30.2069 15.8255 30.6096 16.0808 30.9178C16.3393 31.2253 16.6481 31.4343 17.0073 31.5449C17.3656 31.6522 17.7563 31.6568 18.1792 31.5586C18.4537 31.4949 18.6949 31.3981 18.9029 31.2682C19.1101 31.135 19.2777 30.9702 19.4057 30.7738C19.5336 30.5774 19.6142 30.3528 19.6474 30.1001L21.0752 30.029C21.0592 30.458 20.9443 30.8572 20.7306 31.2267C20.5194 31.5921 20.2202 31.9083 19.833 32.1751C19.4483 32.4379 18.9848 32.6323 18.4424 32.7582ZM27.6292 22.628L26.6585 30.6928L25.1088 31.0525L20.6798 24.2412L22.2343 23.8803L25.4469 29.1673L25.5244 29.1493L26.0747 22.9889L27.6292 22.628ZM33.7045 29.2154C32.9717 29.3855 32.3041 29.3754 31.7019 29.1852C31.1022 28.9909 30.5924 28.6414 30.1724 28.1367C29.7549 27.628 29.4566 26.9878 29.2775 26.2162C29.1006 25.4542 29.0868 24.7497 29.236 24.1026C29.3884 23.4548 29.6835 22.9082 30.1211 22.463C30.562 22.017 31.1279 21.7138 31.8188 21.5534C32.2385 21.456 32.6614 21.431 33.0875 21.4784C33.5136 21.5258 33.9177 21.6616 34.2999 21.886C34.682 22.1103 35.0185 22.4388 35.3095 22.8714C35.5997 23.3008 35.8231 23.8529 35.9798 24.5277L36.0989 25.041L30.1858 26.4136L29.934 25.3288L34.4282 24.2856C34.3397 23.9046 34.1839 23.5852 33.9608 23.3274C33.7368 23.0663 33.4646 22.8829 33.144 22.7769C32.8266 22.6703 32.4807 22.6604 32.1061 22.7474C31.6993 22.8418 31.3674 23.0243 31.1104 23.2949C30.8559 23.5616 30.6834 23.8738 30.5929 24.2317C30.5049 24.5855 30.504 24.9481 30.5902 25.3194L30.7869 26.1669C30.9024 26.6641 31.0877 27.0668 31.343 27.375C31.6015 27.6825 31.9103 27.8915 32.2694 28.0021C32.6278 28.1094 33.0185 28.114 33.4414 28.0158C33.7158 27.9521 33.957 27.8553 34.1651 27.7254C34.3723 27.5922 34.5399 27.4274 34.6678 27.231C34.7958 27.0345 34.8764 26.81 34.9096 26.5573L36.3374 26.4861C36.3213 26.9152 36.2064 27.3144 35.9928 27.6839C35.7816 28.0493 35.4824 28.3655 35.0952 28.6323C34.7105 28.8951 34.2469 29.0895 33.7045 29.2154ZM38.4677 27.9515L36.741 20.5129L38.1406 20.188L38.4149 21.3697L38.4924 21.3517C38.535 20.9199 38.7009 20.5496 38.9899 20.241C39.2814 19.9283 39.6451 19.7214 40.0809 19.6202C40.1713 19.5992 40.2786 19.5777 40.4028 19.5557C40.5302 19.5329 40.6305 19.5182 40.7038 19.5114L41.0253 20.8964C40.9635 20.8938 40.856 20.9 40.703 20.9151C40.5493 20.927 40.3981 20.9501 40.2496 20.9846C39.9074 21.064 39.6191 21.2075 39.3849 21.415C39.1531 21.6185 38.9894 21.8658 38.8936 22.1568C38.7971 22.4446 38.7863 22.7499 38.8613 23.0728L39.9157 27.6154L38.4677 27.9515ZM47.4269 25.8718L45.1247 15.9537L51.3428 14.5102L51.6419 15.7984L46.9201 16.8945L47.6216 19.9164L52.0189 18.8957L52.3168 20.179L47.9195 21.1998L48.6243 24.2362L53.4042 23.1267L53.7032 24.4149L47.4269 25.8718ZM54.944 16.2875L57.2579 18.8024L58.2419 15.5219L59.8255 15.1543L58.3692 19.4121L61.5716 22.5884L59.988 22.956L57.6671 20.5652L56.6416 23.7328L55.0532 24.1015L56.5047 19.8449L53.3555 16.6562L54.944 16.2875ZM63.6865 25.0372L61.3123 14.8092L62.7264 14.4809L63.0063 15.6868L63.1274 15.6587C63.1753 15.4842 63.2548 15.2769 63.3658 15.0368C63.4768 14.7967 63.6551 14.5682 63.9008 14.3512C64.1457 14.131 64.499 13.9674 64.9607 13.8602C65.5612 13.7208 66.1323 13.7481 66.6742 13.9422C67.216 14.1363 67.6872 14.4879 68.0878 14.9972C68.4917 15.5057 68.7869 16.1619 68.9735 16.9658C69.1601 17.7697 69.1861 18.4901 69.0516 19.127C68.9163 19.7606 68.6505 20.2868 68.2543 20.7054C67.8574 21.1208 67.3586 21.3982 66.7581 21.5375C66.3061 21.6425 65.9188 21.6524 65.5963 21.5674C65.2769 21.4816 65.013 21.3557 64.8043 21.1898C64.5957 21.0239 64.4294 20.8719 64.3055 20.734L64.2183 20.7542L65.1345 24.7011L63.6865 25.0372ZM63.5946 18.1991C63.716 18.7221 63.8983 19.163 64.1415 19.5216C64.3846 19.8803 64.6758 20.1376 65.0148 20.2937C65.3531 20.4465 65.7305 20.4746 66.147 20.3779C66.5796 20.2775 66.9146 20.079 67.152 19.7823C67.3886 19.4824 67.535 19.1166 67.5914 18.6851C67.6509 18.2527 67.623 17.788 67.5076 17.2908C67.3937 16.8 67.2171 16.3766 66.9779 16.0204C66.742 15.6634 66.4509 15.4061 66.1046 15.2483C65.7616 15.0897 65.3721 15.061 64.9363 15.1622C64.5166 15.2597 64.1865 15.4502 63.9462 15.734C63.709 16.017 63.5612 16.3695 63.5026 16.7914C63.444 17.2133 63.4747 17.6825 63.5946 18.1991ZM71.4558 20.294L69.7291 12.8554L71.1771 12.5192L72.9038 19.9578L71.4558 20.294ZM70.194 11.5379C69.9421 11.5963 69.7063 11.5626 69.4866 11.4367C69.2693 11.3068 69.1333 11.124 69.0786 10.8883C69.0231 10.6494 69.0647 10.4254 69.2033 10.2163C69.3444 10.0032 69.5408 9.86744 69.7926 9.80898C70.0445 9.75053 70.279 9.78625 70.4963 9.91614C70.7161 10.0421 70.8537 10.2245 70.9092 10.4634C70.9639 10.6991 70.9207 10.9235 70.7796 11.1365C70.641 11.3456 70.4458 11.4794 70.194 11.5379ZM74.8519 19.5056L73.1252 12.0671L74.5247 11.7422L74.799 12.9238L74.8765 12.9058C74.9192 12.474 75.085 12.1038 75.374 11.7951C75.6655 11.4825 76.0292 11.2755 76.4651 11.1744C76.5555 11.1534 76.6628 11.1319 76.7869 11.1099C76.9143 11.0871 77.0147 11.0723 77.088 11.0655L77.4095 12.4505C77.3476 12.4479 77.2402 12.4541 77.0872 12.4692C76.9334 12.4811 76.7823 12.5043 76.6338 12.5387C76.2915 12.6182 76.0033 12.7617 75.7691 12.9691C75.5373 13.1727 75.3735 13.4199 75.2778 13.711C75.1812 13.9988 75.1705 14.3041 75.2454 14.6269L76.2999 19.1695L74.8519 19.5056ZM83.0602 17.7584C82.3273 17.9286 81.6598 17.9185 81.0576 17.7282C80.4579 17.534 79.9481 17.1845 79.5281 16.6798C79.1106 16.171 78.8122 15.5308 78.6331 14.7592C78.4563 13.9973 78.4424 13.2928 78.5916 12.6457C78.7441 11.9978 79.0391 11.4513 79.4768 11.0061C79.9176 10.5601 80.4835 10.2569 81.1744 10.0965C81.5942 9.99906 82.0171 9.97405 82.4432 10.0214C82.8693 10.0688 83.2734 10.2047 83.6555 10.429C84.0376 10.6534 84.3742 10.9818 84.6652 11.4145C84.9554 11.8439 85.1788 12.396 85.3354 13.0707L85.4546 13.5841L79.5415 14.9567L79.2897 13.8719L83.7838 12.8286C83.6954 12.4477 83.5396 12.1283 83.3164 11.8705C83.0925 11.6094 82.8202 11.4259 82.4996 11.32C82.1823 11.2133 81.8363 11.2035 81.4618 11.2904C81.055 11.3849 80.7231 11.5674 80.4661 11.838C80.2115 12.1046 80.039 12.4169 79.9486 12.7747C79.8606 13.1286 79.8597 13.4912 79.9459 13.8625L80.1426 14.7099C80.258 15.2071 80.4434 15.6099 80.6987 15.9181C80.9572 16.2255 81.266 16.4346 81.6251 16.5451C81.9835 16.6525 82.3741 16.6571 82.7971 16.5589C83.0715 16.4952 83.3127 16.3984 83.5207 16.2684C83.728 16.1353 83.8956 15.9705 84.0235 15.774C84.1514 15.5776 84.232 15.3531 84.2652 15.1004L85.6931 15.0292C85.677 15.4583 85.5621 15.8575 85.3484 16.2269C85.1373 16.5924 84.8381 16.9085 84.4509 17.1753C84.0662 17.4382 83.6026 17.6325 83.0602 17.7584ZM92.0923 9.57812L90.8339 10.1152C90.74 9.96008 90.6157 9.8205 90.4611 9.69649C90.3096 9.57173 90.1226 9.48415 89.8999 9.43376C89.6773 9.38337 89.4158 9.39302 89.1155 9.46272C88.7055 9.5579 88.3847 9.72935 88.1529 9.97708C87.9205 10.2216 87.8376 10.4875 87.9043 10.7748C87.962 11.0234 88.1005 11.2023 88.3197 11.3113C88.539 11.4203 88.8649 11.4757 89.2974 11.4773L90.542 11.4742C91.2632 11.4735 91.8299 11.5989 92.2421 11.8503C92.6543 12.1016 92.9215 12.4904 93.0436 13.0167C93.1471 13.4622 93.1101 13.8893 92.9327 14.298C92.7579 14.7026 92.4641 15.0566 92.0513 15.36C91.6418 15.6626 91.1368 15.8836 90.5363 16.023C89.7033 16.2164 88.9825 16.1966 88.3738 15.9636C87.7644 15.7274 87.3235 15.2938 87.0511 14.6629L88.4013 14.125C88.5731 14.4695 88.8164 14.704 89.131 14.8283C89.445 14.9494 89.8198 14.9593 90.2557 14.8581C90.7303 14.748 91.0868 14.5614 91.3252 14.2986C91.5628 14.0324 91.6483 13.7557 91.5816 13.4684C91.5277 13.2359 91.3951 13.0608 91.1841 12.9431C90.9762 12.8246 90.6854 12.7662 90.3115 12.768L88.9883 12.7842C88.2574 12.7871 87.6856 12.6545 87.2729 12.3862C86.8634 12.1172 86.5972 11.7179 86.4743 11.1885C86.3724 10.7494 86.4059 10.3367 86.5748 9.95043C86.7437 9.56416 87.0231 9.2288 87.413 8.94434C87.8022 8.65666 88.2761 8.448 88.8346 8.31834C89.6385 8.13173 90.3118 8.15918 90.8544 8.40069C91.3963 8.63898 91.8089 9.03145 92.0923 9.57812Z" fill="#1F2322"/>
            <path d="M124.303 15.7456C125.856 19.1082 123.86 24.1896 118.528 30.5254L118.418 27.5545C118.384 26.6357 117.403 26.2004 116.227 26.5826C115.051 26.9648 114.126 28.0189 114.16 28.9385L114.39 35.1064C114.397 35.3169 114.455 35.5032 114.555 35.6604C114.872 36.1589 115.607 36.3566 116.469 36.1123L124.648 33.7925C125.824 33.4599 126.799 32.4286 126.827 31.4912C126.854 30.5538 125.923 30.0639 124.747 30.3975L122.301 31.091C129.714 22.0127 129.772 16.5516 128.36 13.4944C126.019 8.42564 118.062 6.51561 107.074 8.38849C105.914 8.58635 104.817 9.53704 104.623 10.5119C104.431 11.4879 105.214 12.1176 106.375 11.9206C110.934 11.1435 115.007 11.0878 118.156 11.7586C121.281 12.4244 123.407 13.8039 124.303 15.7456Z" fill="#1F2322"/>
          </svg>
        {% endif %}
        <a href="{{ section.settings.button_link }}" class="reviews-grid__button button{% if section.settings.green_button %} button--green{% else %} button--outline{% endif %}">{{ section.settings.button_label }}</a>
      </div>
    </div>
    <div id="chronic-review-container">
      {% if section.settings.enabled_promo_banner and section.settings.promo_image != blank %}
        <div class="Promo__banner">
          <div class="promo__banner--image">
            <img src="{{ section.settings.promo_image | img_url: 'master' }}" alt="{{ section.settings.promo_image.alt }}" />
          </div>
          <div class="promo__banner--content">
            <div class="promo__wrapper">
              <h3>{{ section.settings.promo_title }}</h3>
              <div class="promo__inner--wrapper">
                <div class="promo__description">
                  {{ section.settings.promo_desc }}
                </div>
                <div class="promo__button">
                  <a href="{{ section.settings.promo_button_link }}" class="button button--green">{{ section.settings.promo_button_label }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="load-more-reviews-wrapper">
      <button id="load-more-reviews">Load More Amazing Stories</button>
    </div>
    
  </div>
</div>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", async function() {
    function toggleLoadMore(data) {
        let loadMoreReviewsBtn = document.getElementById('load-more-reviews');
        if (loadMoreReviewsBtn) {
            if (data?.nextUrl) {
                if (loadMoreReviewsBtn.classList.contains('hidden')) {
                    loadMoreReviewsBtn.classList.remove('hidden');
                }
            } else {
                loadMoreReviewsBtn.classList.add('hidden');
            }
        }
    }

    function loadReviews(data) {
      let reviews = data?.reviews;
      if(reviews?.length > 0){
        const reviewContainer = document.getElementById('chronic-review-container');
    
        // Loop through the itemsArray and add grid items
        reviews?.forEach(item => {
            // Create a div element for each grid item
            const gridItem = document.createElement('div');
            gridItem.classList.add('review-grid-item');
    
            // Set the inner HTML of the grid item
            gridItem.innerHTML = `
                <span class="okeReviews-starRating-indicator" role="presentation rating-${item?.rating}">
                  <span class="okeReviews-starRating-indicator-layer"></span>
                  <span class="okeReviews-starRating-indicator-layer okeReviews-starRating-indicator-layer--foreground" style="width: 80%"></span>
                </span>
                <h3>${item?.title}</h3>
                <p>${item?.body}</p>
                <p>${item?.reviewer?.displayName}</p>
            `;
            reviewContainer.appendChild(gridItem);
        });

      }
    }
  
      async function fetchReview(nextPageUrl) {
          let url = 'https://api.okendo.io/v1/stores/ddccf316-2614-49f7-8641-7b411da6bacb/collections/c95c5011-c412-4f6c-bc87-cdb7a8e9b16e/reviews';
          if(nextPageUrl){
            url = nextPageUrl
          }
          try {
              const response = await fetch(url);
              const data = await response.json();
              return data;
          } catch (error) {
              console.error('Error fetching reviews:', error);
              return null;
          }
      }

      const data = await fetchReview();  // Load the first 8 reviews
      if(data){
        toggleLoadMore(data);
        loadReviews(data)
      }
      // Example: Load more reviews when a button is clicked
     let loadMoreReviewsBtn = document.getElementById('load-more-reviews');
     if (loadMoreReviewsBtn) {
        loadMoreReviewsBtn.addEventListener('click', async function() {
            loadMoreReviewsBtn.disabled = true;
            if (data?.nextUrl) {
                let nextPageUrl = `https://api.okendo.io/v1${data.nextUrl}`;
                const moreReviews = await fetchReview(nextPageUrl);
                if (moreReviews) {
                    loadMoreReviewsBtn.disabled = false;
                    toggleLoadMore(moreReviews);
                    loadReviews(moreReviews);
                }
            }
        });
    }
    
  });
</script>

{% schema %}
  {
    "name": "Chronic Review",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#F8F8F8"
      },
      {
        "type": "checkbox",
        "id": "never_expires",
        "label": "Never Expires",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "green_button",
        "label": "Green Button"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "header",
        "content": "Promo Banner"
      },
      {
        "type": "checkbox",
        "id": "enabled_promo_banner",
        "label": "Enabled Promo Banner"
      },
      {
        "type": "image_picker",
        "id": "promo_image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "promo_title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "promo_desc",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "promo_button_label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "promo_button_link",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "Chronic Review"
      }
    ]
  }
{% endschema %}