{{ 'multicolumn.css' | asset_url | stylesheet_tag }}

<div class="chronic-multicolumn__container">
  <div class="chronic-multicolumn__left">
    <div class="chronic-multicolumn__overlay"></div>
    <p class="sh3">{{ section.settings.left_title }}</p>
    <div class="chronic-multicolumn__left-inner">
      {% for block in section.blocks %}
        {% if block.type == 'testimonial' %}
          <div class="chronic-multicolumn__left-item">
            <h5 class="medium">{{ block.settings.subtitle }}</h5>
            <p class="sh4 light">{{ block.settings.testimonial }}</p>
            <p class="body-xs">{{ block.settings.author }}</p>
          </div>
        {% endif %}
      {% endfor %}
      {% if section.settings.left_button_label != blank %}
      <a class="button hide-mobile" href="{{ section.settings.left_button_link }}">{{ section.settings.left_button_label }}</a>
      {% endif %}
    </div>
  </div>
  <div class="chronic-multicolumn__right">
    <div class="chronic-multicolumn__overlay"></div>
    <p class="sh3">{{ section.settings.right_title }}</p>
      <div class="chronic-multicolumn__right-inner">
        {% for block in section.blocks %}
          {% if block.type == 'block' %}
          <div class="chronic-multicolumn__list-item">
            {%  render 'icon-checkmark' %}
            <p class="sh2 light">{{ block.settings.text }}</p>
          </div>
          {% endif %}
      {% endfor %}
      {% if section.settings.right_button_label != blank %}
      <a class="button" href="{{ section.settings.right_button_link }}">{{ section.settings.right_button_label }}</a>
      {% endif %}
      </div>
    </div>
</div>

{% schema %}
{
  "name": "Multicolumn",
  "settings": [
    {
      "type": "text",
      "id": "left_title",
      "label": "Left Title"
    },
    {
      "type": "text",
      "id": "right_title",
      "label": "Right Title"
    },
    {
      "type": "text",
      "id": "left_button_label",
      "label": "Left Button label"
    },
    {
      "type": "url",
      "id": "left_button_link",
      "label": "Left Button link"
    },
    {
      "type": "text",
      "id": "right_button_label",
      "label": "Right Button label"
    },
    {
      "type": "url",
      "id": "right_button_link",
      "label": "Right Button link"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": true,
      "label": "Swipe on Mobile?" 
    }
  ],
  "blocks": [
      {
      "type": "testimonial",
      "name": "testimonial",
      "settings": [
    	{
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "textarea",
          "id": "testimonial",
          "label": "Testimonial"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author"
        }
      ]
    },
    {
      "type": "block",
      "name": "List Item",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
   "presets": [
    {
      "name": "Multicolumn"
    }
  ]
}
{% endschema %}

