{{ 'component-clinical-drawer.css' | asset_url | stylesheet_tag }}

{%- assign ss = section.settings -%}

<div 
  id="clinicalSideDrawer" 
  data-product-name="{{ ss.product_name }}" 
  class="clinical-trial-drawer"
  {% if template == 'page.clear-pee-club' %}
    style="top: 0;"
  {% endif %}
>
  <div class="drawer__wrapper-main">
    <div class="drawer__header">
      <a href="javascript:void(0)" class="drawer__close js-clinical-close hide-mobile">
        <span>Close</span> {% render 'icon-close-drawer' %}</a>
    </div>  
    <div class="drawer__title-wrapper">
      {%- if ss.product_name != blank -%}
        <div class="drawer__product-name">
          {{ ss.year }}
          {{ ss.product_name }}
        </div>
      {%- endif -%}
      {%- if ss.title != blank -%}
        <div class="drawer__title">{{ ss.title }}</div>
      {%- endif -%}
    </div>
    {%- if ss.about != blank -%}
      <div class="clinical__about-container">
        <p class="clinical__about">{{ ss.about }}</p>
      </div>
    {%- endif -%}
    <ul class="clinical__info-list">
      {%- for block in section.blocks -%}
        {%- assign bs = block.settings -%}
        {%- if block.type == 'list-item' -%}
          {%- if bs.icon_item != blank -%}
            <li class="clinical__info-list-item">
              <img class="" src="{{ bs.icon_item | img_url: 'master' }}"  alt="{{ bs.icon_item.alt }}">
              <span>{{ bs.item_description }}</span>
            </li>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    </ul>

    <div class="clinical__info">
      <button class="clinical__info-btn clinical__info-btn-active">
        <div class="clinical__info-title">
          <span>General Hydration</span>
        </div>
        <div class="clinical__info-content">
          <div class="clinical__info-line"></div>
        </div>
      </button>
      <button class="clinical__info-btn">
        <div class="clinical__info-title">
          <span>Type 1 Diabetes</span>
          <span class="clinical__info--soon">Coming soon!</span>
        </div>
      </button>
      <button class="clinical__info-btn">
        <div class="clinical__info-title">
          <span>Chemotherapy Dehydration</span>
          <span class="clinical__info--soon">Coming soon!</span>
        </div>
      </button>
    </div>

    <div class="drawer__desktop-continue hide-mobile">
      <a href="javascript:void(0)" class="drawer__continue-cta button button--full-width js-clinical-close">Keep Shopping</a>        
    </div>
  </div>
    <div class="drawer__mobile-continue hide-desktop">
      <a href="javascript:void(0)" class="drawer__continue-cta button button--full-width js-clinical-close">Keep Shopping</a>        
    </div>
</div>

{% schema %}
  {
    "name": "Clinical Trial Drawer",
    "settings": [
      {
        "type": "text",
        "id": "year",
        "label": "Year"
      },
      {
        "type": "text",
        "id": "product_name",
        "label": "Product Name"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "about",
        "label": "About"
      }
    ],
    "blocks": [
      {
        "type": "list-item",
        "name": "List Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon_item",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "item_description",
            "label": "Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Clinical Trial Drawer"
      }
    ]
  }
{% endschema %}