{{ 'component-clinical-drawer.css' | asset_url | stylesheet_tag }}

{%- assign ss = section.settings -%}

<div 
  id="clinicalSideDrawer" 
  data-product-name="{{ ss.product_name }}" 
  class="clinical-trial-drawer"
  {% if template == 'page.clear-pee-club' %}
    style="top: 0;"
  {% endif %}
>
  <div class="drawer__wrapper-main">
    <div class="drawer__header">
      <a href="javascript:void(0)" class="drawer__close js-clinical-close hide-mobile">
        <span>Close</span> {% render 'icon-close-drawer' %}</a>
    </div>  
    <div class="drawer__title-wrapper">
      {%- if ss.product_name != blank -%}
        <div class="drawer__product-name">
          {%- if ss.year != blank -%}
            {{ ss.year }}
          {%- endif -%}
          {{ ss.product_name }}
        </div>
      {%- endif -%}
      {%- if ss.title != blank -%}
        <div class="drawer__title">{{ ss.title }}</div>
      {%- endif -%}
    </div>
    {%- if ss.about != blank -%}
      <div class="clinical__about-container">
        <p class="clinical__about">{{ ss.about }}</p>
      </div>
    {%- endif -%}
    <ul class="clinical__info-list">
      {%- for block in section.blocks -%}
        {%- assign bs = block.settings -%}
        {%- if block.type == 'list-item' -%}
          {%- if bs.icon_item != blank -%}
            <li class="clinical__info-list-item">
              <img class="" src="{{ bs.icon_item | img_url: 'master' }}"  alt="{{ bs.icon_item.alt }}">
              {%- if bs.item_description != blank -%}
                <span>{{ bs.item_description }}</span>
              {%- endif -%}
            </li>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    </ul>

    <div class="clinical__info">
      {%- for block in section.blocks -%}
        {%- assign bs = block.settings -%}
        {%- if block.type == 'content' -%}
          <button class="clinical__info-btn">
            <div class="clinical__info-title">
              {%- if bs.btn_title != blank -%}
                <span>{{ bs.btn_title }}</span>
              {%- endif -%}
              {%- if bs.notification != blank -%}
                <span class="clinical__info-notification">{{ bs.notification }}</span>
              {%- endif -%}
            </div>
            {%- if bs.heading != blank -%}
              <div class="clinical__info-content">
                <div class="clinical__info-line"></div>
                <div class="clinical__info-item clinical__info-item-primary">
                  <h2 class="clinical__info-heading">{{ bs.heading }}</h2>
                  <div class="clinical__info-content-block">
                    {%- if bs.title != blank -%}
                      <h3 class="clinical__info-title">{{ bs.title }}</h3>
                    {%- endif -%}
                    {%- if bs.text_block_one != blank -%}
                      <p class="clinical__info-text-one">{{ bs.text_block_one | replace: '<p>', '' | replace: '</p>', '' }}</p>
                    {%- endif -%}
                    {%- if bs.text_block_two != blank -%}
                      <p class="clinical__info-text-two">{{ bs.text_block_two }}</p>
                    {%- endif -%}
                  </div>
                  <div class="clinical__info-content-block">
                    {%- if bs.block_two_title != blank -%}
                      <h3 class="clinical__info-title">{{ bs.block_two_title }}</h3>
                    {%- endif -%}
                    {%- if bs.block_two_text_block_one != blank -%}
                      <p class="clinical__info-text-one">{{ bs.block_two_text_block_one | replace: '<p>', '' | replace: '</p>', '' }}</p>
                    {%- endif -%}
                    {%- if bs.block_two_text_block_two != blank -%}
                      <p class="clinical__info-text-two">{{ bs.block_two_text_block_two }}</p>
                    {%- endif -%}
                  </div>
                  <div class="clinical__info-content-block">
                    {%- if bs.block_three_title != blank -%}
                      <h3 class="clinical__info-title">{{ bs.block_three_title }}</h3>
                    {%- endif -%}
                    {%- if bs.block_three_text_block_one != blank -%}
                      <p class="clinical__info-text-one">{{ bs.block_three_text_block_one | replace: '<p>', '' | replace: '</p>', '' }}</p>
                    {%- endif -%}
                    {%- if bs.block_three_text_block_two != blank -%}
                      <p class="clinical__info-text-two">{{ bs.block_three_text_block_two }}</p>
                    {%- endif -%}
                  </div>
                </div>
                <div class="clinical__info-item clinical__info-item-secondary">
                  {%- if bs.secondary_heading != blank -%}
                    <h2 class="clinical__info-heading">{{ bs.secondary_heading }}</h2>
                  {%- endif -%}
                  <div class="clinical__info-content-block clinical__info-content-block-secondary">
                    {%- if bs.secondary_title != blank -%}
                      <h3 class="clinical__info-title">{{ bs.secondary_title }}</h3>
                    {%- endif -%}
                    {%- if bs.secondary_text_block_one != blank -%}
                      <p class="clinical__info-text-one">{{ bs.secondary_text_block_one | replace: '<p>', '' | replace: '</p>', '' }}</p>
                    {%- endif -%}
                    {%- if bs.secondary_text_block_two != blank -%}
                      <p class="clinical__info-text-two">{{ bs.secondary_text_block_two }}</p>
                    {%- endif -%}
                  </div>
                </div>
              </div>
            {%- endif -%}
          </button>
        {%- endif -%}
      {%- endfor -%}

    <div class="drawer__desktop-continue hide-mobile">
      <a href="javascript:void(0)" class="drawer__continue-cta button button--full-width js-clinical-close">Keep Shopping</a>        
    </div>
  </div>
    <div class="drawer__mobile-continue hide-desktop">
      <a href="javascript:void(0)" class="drawer__continue-cta button button--full-width js-clinical-close">Keep Shopping</a>        
    </div>
</div>

{% schema %}
  {
    "name": "Clinical Trial Drawer",
    "settings": [
      {
        "type": "text",
        "id": "year",
        "label": "Year"
      },
      {
        "type": "text",
        "id": "product_name",
        "label": "Product Name"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "about",
        "label": "About"
      }
    ],
    "blocks": [
      {
        "type": "list-item",
        "name": "List Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon_item",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "item_description",
            "label": "Description"
          }
        ]
      },
      {
        "type": "content",
        "name": "Content Item",
        "settings": [
          {
            "type": "text",
            "id": "btn_title",
            "label": "Content Title"
          },
          {
            "type": "text",
            "id": "notification",
            "label": "Notification"
          },
          {
            "type": "header",
            "content": "Primary Content"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "header",
            "content": "Content Block One"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Block One Title"
          },
          {
            "type": "richtext",
            "id": "text_block_one",
            "label": "Block One Text Block One"
          },
          {
            "type": "text",
            "id": "text_block_two",
            "label": "Block One Text Block Two"
          },
          {
            "type": "header",
            "content": "Content Block Two"
          },
          {
            "type": "text",
            "id": "block_two_title",
            "label": "Block Two Title"
          },
          {
            "type": "richtext",
            "id": "block_two_text_block_one",
            "label": "Block Two Text Block One"
          },
          {
            "type": "text",
            "id": "block_two_text_block_two",
            "label": "Block Two Text Block Two"
          },
          {
            "type": "header",
            "content": "Content Block Three"
          },
          {
            "type": "text",
            "id": "block_three_title",
            "label": "Block Three Title"
          },
          {
            "type": "richtext",
            "id": "block_three_text_block_one",
            "label": "Block Three Text Block One"
          },
          {
            "type": "text",
            "id": "block_three_text_block_two",
            "label": "Block Three Text Block Two"
          },
          {
            "type": "header",
            "content": "Secondary Content"
          },
          {
            "type": "text",
            "id": "secondary_heading",
            "label": "Secondary Heading"
          },
          {
            "type": "text",
            "id": "secondary_title",
            "label": "Secondary Block One Title"
          },
          {
            "type": "richtext",
            "id": "secondary_text_block_one",
            "label": "Secondary Block One Text Block One"
          },
          {
            "type": "text",
            "id": "secondary_text_block_two",
            "label": "Secondary Block One Text Block Two"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Clinical Trial Drawer"
      }
    ]
  }
{% endschema %}