<div class="cv_section_top_desktop {{ section.settings.custom_class }}">
  <div class="section_left_content">
    <div class="cv_sale_content_pdp">
      <div class="cv-sale_text">
        {% if section.settings.text01 != blank %}
          <p class="text_sub">{{ section.settings.text01 }}</p>
        {% endif %}
        {% if section.settings.text02 != blank %}
          {{ section.settings.text02 }}
        {% endif %}
        {% if section.settings.save_price != blank %}
          <p class="price_cv_sale">Save up to {{ section.settings.save_price }}</p>
        {% endif %}

        {% if section.settings.content != blank %}
          {{ section.settings.content }}
        {% endif %}
      </div>

      <div class="cv_btnscroll">
        <a href="#" class="scroll-to-product">Shop The Sale</a>
      </div>
      <div class="text_cv_below">
        <img
          src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/Callouts_a7d021a6-7c87-44be-ba50-8f67d4b613a2.png?v=1730704659"
        >
        <p>Free Shipping + 30-Day Guarantee</p>
      </div>
    </div>
    <script>
      document.querySelector('.scroll-to-product').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent default link behavior
        const productDiv = document.querySelector('.product'); // Select the .product div
        if (productDiv) {
          const offsetTop = productDiv.offsetTop - 60; // Position with a 60px offset
          window.scrollTo({
            top: offsetTop,
            behavior: 'smooth' // Smooth scroll to calculated position
          });
        }
      });
    </script>
  </div>

  <div class="section_right_content">
    <style>
      .review_cv .okeReviews-starRating--small span.okeReviews-a11yText {
        height: 100% !important;
        clip: inherit !important;
        right: -50px;
        font-family: inter, sans-serif;
        font-style: normal;
        font-weight: 400 !important;
        font-size: 12px;
        letter-spacing: 0;
        line-height: 21px !important;
        width: auto !important;
        overflow: hidden;
        top: 3px;
        color: var(--charcoal-60);
      }

      .review_cv .okeReviews-reviewsSummary-ratingCount span {
        font-family: inter, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0;
        line-height: 1.375em;
        color: var(--charcoal-60);
      }

      .review_cv .okeReviews-starRating--small span.okeReviews-a11yText .rated-text {
        display: none;
        margin-left: 20px;
      }

      .review_cv .okeReviews .okeReviews-starRating--small {
        height: 22px;

        .review_cv .okeReviews {
          margin-bottom: 10px !important;
        }
      }
    </style>

    <div class="cv_image_video_pdp {{ section.settings.custom_class }}">
      <div class="out_stock_text">
        <p>{{ section.settings.out_stock }}</p>
      </div>
      <div class="media-section showOnMob">
        {% if section.settings.section_video_file != blank %}
          <video controls muted autoplay height="400px" width="100%">
            <source src="{{ section.settings.section_video_file | video_tag  }}">
          </video>
        {% elsif section.settings.section_video_url != blank %}
          <iframe
            src="{{ section.settings.section_video_url }}"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen
            style="width: 100%; height: 400px;"
          ></iframe>
        {% elsif section.settings.section_image != blank %}
          <img
            src="{{ section.settings.section_image | img_url: '' }}"
            alt="Section Image"
            style="max-width: 100%; height: auto;"
          >
        {% endif %}
      </div>

      <div class="media-section showOnDesk">
        {% if section.settings.section_video_file_d != blank %}
          <video controls muted autoplay height="400px" width="100%">
            <source src="{{ section.settings.section_video_file_d | video_tag  }}">
          </video>
        {% elsif section.settings.section_video_url_d != blank %}
          <iframe
            src="{{ section.settings.section_video_url_d }}"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen
            style="width: 100%; height: 400px;"
          ></iframe>
        {% elsif section.settings.section_image_d != blank %}
          <img
            src="{{ section.settings.section_image_d | img_url: '' }}"
            alt="Section Image"
            style="max-width: 100%; height: auto;"
          >
        {% endif %}
      </div>

      <div class="review_cv">
        {% assign selected_product = section.settings.selected_product %}

        {% if selected_product %}
          <div class="product-info">
            {% render 'okendo-reviews-product-rating-summary', product: selected_product %}
          </div>

          </div>

          <script type="application/ld+json">
            {
              "@context": "https://schema.org/",
              "@type": "Product",
              "name": "{{ selected_product.title }}",
              "image": "{{ selected_product.images.first.src }}",
              "description": "{{ selected_product.description | strip_html | escape }}",
              "sku": "{{ selected_product.sku }}",
              "offers": {
                "@type": "Offer",
                "url": "{{ shop.url }}{{ selected_product.url }}",
                "priceCurrency": "USD",
                "price": "{{ selected_product.price | money_without_currency }}",
                "itemCondition": "https://schema.org/NewCondition",
                "availability": "https://schema.org/InStock"
              }
            }
          </script>
        {% else %}
          <p>No product selected.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
"name": "cv image text desktop",
"settings": [

{
"type": "text",
"id": "out_stock",
"label": "Out Stock text"
},
{
"type": "image_picker",
"id": "section_image",
"label": "Image Mobile"
},
{
"type": "url",
"id": "section_video_url",
"label": "Video URL mobile",
"info": "Enter a video URL (e.g., from YouTube or Vimeo)"
},
{
"type": "video",
"id": "section_video_file",
"label": "MP4 Video File mobile"
},
{
"type": "image_picker",
"id": "section_image_d",
"label": "Image Desktop"
},
{
"type": "url",
"id": "section_video_url_d",
"label": "Video URL Desktop",
"info": "Enter a video URL (e.g., from YouTube or Vimeo)"
},
{
"type": "video",
"id": "section_video_file_d",
"label": "MP4 Video File Desktop"
},
{
"type": "product",
"id": "selected_product",
"label": "Select a product for rating"
},
{
"type": "text",
"id": "text01",
"label": "Text Sale heading",
"default" : "Black Friday Sale"
},
{
"type": "richtext",
"id": "text02",
"label": "Title Sale"
},
{
"type": "text",
"id": "save_price",
"label": "Save price"
},
{
"type": "richtext",
"id": "content",
"label": "Content"
}

],
"presets": [
{
"name": "cv image text desktop"
}
]
}
{% endschema %}
