{{ 'section-donations.css' | asset_url | stylesheet_tag }}

<div class="donations page-width page-width--wide">
  <div class="donations__images">
    {% for block in section.blocks %}
      <img class="donations__image" src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt }}">
    {% endfor %}
  </div>
  <div class="donations__content">
    <div class="donations__content-title">
      <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14.5" cy="14" r="14" fill="#DEF647"/><path d="M14.5 21.7311L13.7313 21.0373C12.4092 19.8233 11.3161 18.776 10.4522 17.8955C9.58823 17.015 8.9 16.2279 8.3875 15.5342C7.875 14.8404 7.51562 14.2123 7.30938 13.6498C7.10313 13.0873 7 12.5186 7 11.9436C7 10.8166 7.37813 9.87551 8.13438 9.12024C8.89062 8.36495 9.825 7.9873 10.9375 7.9873C11.65 7.9873 12.3094 8.15605 12.9156 8.49355C13.5219 8.83105 14.05 9.31855 14.5 9.95605C15.025 9.28105 15.5813 8.78418 16.1688 8.46543C16.7563 8.14668 17.3875 7.9873 18.0625 7.9873C19.175 7.9873 20.1094 8.36495 20.8656 9.12024C21.6219 9.87551 22 10.8166 22 11.9436C22 12.5186 21.8969 13.0873 21.6906 13.6498C21.4844 14.2123 21.125 14.8404 20.6125 15.5342C20.1 16.2279 19.4118 17.015 18.5478 17.8955C17.6839 18.776 16.5909 19.8233 15.2688 21.0373L14.5 21.7311ZM14.5 20.2498C15.7655 19.0874 16.8068 18.0905 17.6241 17.2592C18.4414 16.4279 19.0906 15.6998 19.5719 15.0748C20.0531 14.4498 20.3906 13.8927 20.5844 13.4035C20.7781 12.9143 20.875 12.4286 20.875 11.9463C20.875 11.1195 20.6125 10.4404 20.0875 9.90918C19.5625 9.37793 18.8889 9.1123 18.0667 9.1123C17.4227 9.1123 16.8266 9.30918 16.2784 9.70293C15.7303 10.0967 15.2875 10.6498 14.95 11.3623H14.0313C13.7063 10.6623 13.2697 10.1123 12.7216 9.7123C12.1734 9.3123 11.5773 9.1123 10.9333 9.1123C10.1111 9.1123 9.4375 9.37793 8.9125 9.90918C8.3875 10.4404 8.125 11.1205 8.125 11.9495C8.125 12.433 8.22188 12.9217 8.41563 13.4154C8.60938 13.9092 8.94688 14.4717 9.42813 15.1029C9.90938 15.7342 10.5625 16.4623 11.3875 17.2873C12.2125 18.1123 13.25 19.0998 14.5 20.2498Z" fill="#1F2322"/></svg>
      <h2 class="h4">
        {{ section.settings.title }}
      </h2>
    </div>
    <p>{{ section.settings.text }}</p>
  </div>
</div>

{% schema %}
  {
    "name": "Donations",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      }
    ],
    "blocks": [
      {
        "type": "logo",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Donations"
      }
    ]
  }
{% endschema %}