{{ 'section-dropdowns.css' | asset_url | stylesheet_tag }} 

<div class="dropdowns__container
   {% if section.settings.add_top_border %} top-border{% endif %}
   {% if section.settings.add_bottom_border %} bottom-border{% endif %}
   {% if section.settings.background %} background--{{ section.settings.background }}{% endif %}
  " id="Dropdowns_Container"> 
  <div class="page-width">
  <h2 class="h3">{{ section.settings.title }}</h3>
  <p class="dropdowns__subtitle sh4">{{ section.settings.subtext }}</p>
  <div class="dropdown-ind-container">
    {% for block in section.blocks %}
    <div class="dropdown-ind__drop">
      <div class="dropdown-ind">
        <div class="dropdown-ind__text">
          <h6>{{ block.settings.title }}</h6>
          <p>{{ block.settings.text }}</p>
        </div>
        <img src="{{ block.settings.img | img_url: 'master' }}"/>
      </div>
      <div class="close {% if forloop.index == 1 %}flip{% endif %}">
        <svg aria-hidden="true" focusable="false" role="presentation" width="40" height="40" class="icon icon-close-small" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.48627 9.32917L2.82849 3.67098" stroke="#333030" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M2.88539 9.38504L8.42932 3.61524" stroke="#333030" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </div>
    </div>
    {% endfor %}
  </div>
    {% unless section.settings.hide_supp == true %}
    <a class="Link_Text js-open-supplement-drawer supplement-section-link" href="javascript:void(0);">Full Supplement Factsssss</a>
    {% endunless %}
  </div>
</div>


{% schema %}
  {
    "name": "Dropdowns",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "subtext",
        "label": "Subtext"
      },
      {
        "type": "checkbox",
        "id": "add_top_border",
        "label": "Add Top Border"
      },
      {
        "type": "checkbox",
        "id": "add_bottom_border",
        "label": "Add Bottom Border"
      },
      {
        "type": "select",
        "id": "background",
        "label": "Background",
        "options": [
          {
            "value": "top",
            "label": "Gradient Top to Bottom"
          },
          {
            "value": "bottom",
            "label": "Gradient Bottom to Top"
          },
          {
            "value": "bg_color",
            "label": "Background Color"
          },
          {
            "value": "none",
            "label": "None"
          }
        ],
        "default": "none"
      },
      {
        "type": "checkbox",
        "id": "hide_supp",
        "label": "Hide Supplements Link?",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "dropdown",
        "name": "Dropdown",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Dropdowns"
      }
    ]
  }
{% endschema %}