{{ 'featured-blog-new.css' | asset_url | stylesheet_tag }}

<div class="Featured_Blog">
  <div class="Featured_Blog_Hero">
    {% for block in section.blocks %}
      <div class="Featured_Blog_Content">
        {% assign article = block.settings.article %}
        <div class="Featured_Blog_Content_Inner"> 
          <div class="Featured_Blog_Data">    
            <div class="Featured_Blog_Data_Inner">
              <div class="Featured_Label">Featured</div>
              <p class="Article_Time">
               {{ article.published_at | date: "%a, %b %d, %y" }}{% if article.metafields.custom.reading_time != blank%}<span class="Featured_Blog_Readin_Time"> | {{ article.metafields.custom.reading_time }} </span>{% endif %}
              </p>
              <h2 class="Article_Title">
                <a href="{{ article.url }}">
                  {{ article.title | escape }}
                </a>
              </h2>
              <a class="Article_Read_More" href="{{ article.url }}">Read More</a>
            </div>
          </div>
          <div class="Featured_Blog_Image">
            <div class="article-card__image-wrapper">
              <a href="{{ article.url }}" class="article-card__image media media--landscape">
                {% assign article_image = block.settings.article_image %}
                {% if article_image != blank %}
                  <img
                    srcset="{%- if article_image.src.width >= 165 -%}{{ article_image.src | img_url: '165x' }} 165w,{%- endif -%}
                      {%- if article_image.src.width >= 360 -%}{{ article_image.src | img_url: '360x' }} 360w,{%- endif -%}
                      {%- if article_image.src.width >= 533 -%}{{ article_image.src | img_url: '533x' }} 533w,{%- endif -%}
                      {%- if article_image.src.width >= 720 -%}{{ article_image.src | img_url: '720x' }} 720w,{%- endif -%}
                      {%- if article_image.src.width >= 1000 -%}{{ article_image.src | img_url: '1000x' }} 1000w,{%- endif -%}
                      {%- if article_image.src.width >= 1500 -%}{{ article_image.src | img_url: '1500x' }} 1500w,{%- endif -%}"
                    src="{{ article_image.src | img_url: '533x' }}"
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 769px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                    alt="{{ article_image.src.alt | escape }}"
                    width="{{ article_image.width }}"
                    height="{{ article_image.height }}"
                    loading="lazy"
                    class="motion-reduce"
                  >
                {% else %}
                  <img
                    srcset="{%- if article.image.src.width >= 165 -%}{{ article.image.src | img_url: '165x' }} 165w,{%- endif -%}
                      {%- if article.image.src.width >= 360 -%}{{ article.image.src | img_url: '360x' }} 360w,{%- endif -%}
                      {%- if article.image.src.width >= 533 -%}{{ article.image.src | img_url: '533x' }} 533w,{%- endif -%}
                      {%- if article.image.src.width >= 720 -%}{{ article.image.src | img_url: '720x' }} 720w,{%- endif -%}
                      {%- if article.image.src.width >= 1000 -%}{{ article.image.src | img_url: '1000x' }} 1000w,{%- endif -%}
                      {%- if article.image.src.width >= 1500 -%}{{ article.image.src | img_url: '1500x' }} 1500w,{%- endif -%}"
                    src="{{ article.image.src | img_url: '533x' }}"
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 769px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                    alt="{{ article.image.src.alt | escape }}"
                    width="{{ article.image.width }}"
                    height="{{ article.image.height }}"
                    loading="lazy"
                    class="motion-reduce"
                  >                
                {% endif %}
              </a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "Featured Blog New",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
  ],
  "blocks": [
    {
      "type": "article",
      "name": "Select Article",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "Select Article"
        },
        {
          "type": "image_picker",
          "id": "article_image",
          "label": "Alternate Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Blog New"
    }
  ]
}
{% endschema %}
