{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-accordion.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-accordion.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

<footer class="footer" style="background-color: {{ section.settings.section_bg }};">
  <div class="page-width">
    <div class="footer_container">
      <div class="footer__content">
        <div class="Footer__Block Footer__Block--Logo footer__logo">
          {{ section.settings.logo }}
        </div>
        {% for block in section.blocks %}
          {%- case block.type -%}
            {%- when 'text_block' -%}
            <div class="Footer__Block Footer__Block--{{ block.type }} footer__content-blocks">
              {% if block.settings.link %}
                <a href="{{ block.settings.link }}" class="arrow-link">
              {% endif %}
                <div class="footer__content-block">
                  {% if block.settings.title %}
                  <p class="body-xs title">{{ block.settings.title }}{% if block.settings.link != blank %}{% if block.settings.show_icon %}{% render 'icon-arrow-right' %}{% endif %}{% endif %}</p>
                  {% endif %}
                  {% if block.settings.text %}
                  <p class="body">{{ block.settings.text }}</p>
                  {% endif %}
                </div>
              {% if block.settings.link %}
                </a>
              {% endif %}
            </div>

            {%- when 'links' -%}
              {%- assign linklist = linklists[block.settings.menu] -%}
              <div class="Footer__Block Footer__Block--{{ block.type }} footer__content-dropdown-group">
                <button class="footer__content-dropdown-header hide-desktop">
                  <p class="body-xs">{{ linklist.title | escape }}</p>
                  {% render 'icon-chevron-down' %}
                </button>
                <div class="footer__content-links footer__content-dropdown-content">
                  <h3 class="sh2 hide-mobile">{{ linklist.title | escape }}</h3>
                  {%- for link in linklist.links -%}
                    <a href="{{ link.url }}" class="body">{{ link.title }}</a>
                  {%- endfor -%}
                </div>
              </div>

            {%- when 'social' -%}
              <div class="Footer__Block Footer__Block--{{ block.type }}">
                <h3 class="sh2">{{ block.settings.title }}</h3>
                {% render 'social' %}
              </div>
          {%- endcase -%}
        {% endfor %}
    
      </div>
      <div class="footer__content-bottom">
        <div class="footer__content-bottom-copy">
          <p class="body caps light">&copy;{{ 'now' | date: '%Y' }} Buoy. All Rights Reserved.</p>
        </div>
        <div class="footer__content-bottom-links">
          {% for link in section.settings.right_menu.links %}
            <a href="{{ link.url }}" class="body">{{ link.title }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</footer>

{% javascript %}

  $('.footer__content-dropdown-header').click(function() {
    $(this).toggleClass('active');
    $(this).siblings('.footer__content-dropdown-content').slideToggle(300);
  })

  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('ul'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      this.elements.input.value = event.currentTarget.dataset.value;
      this.querySelector('form')?.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
  "name": "Footer",
  "blocks": [
    {
      "type": "text_block",
      "name": "Text Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "checkbox",
          "id": "show_icon",
          "label": "Show Icon",
          "default": false
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url", 
          "id": "link",
          "label": "Link",
          "info": "Optional."
        }
      ]
    },
    {
      "type": "links",
      "name": "Links",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show dropdown items."
        }
      ]
    },
    {
      "type": "social",
      "name": "Social",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Top Area"
    },
    {
      "type": "textarea",
      "id": "logo",
      "label": "Logo (SVG)"
    },
    {
      "type": "header",
      "content": "Right Menu"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Right Menu"
    },
    {
      "type": "header",
      "content": "Bottom Area"
    },
    {
      "type": "link_list",
      "id": "right_menu",
      "label": "Right Menu"
    },
    {
      "type": "header",
      "content": "Style"        
    },
    {
      "type": "color",
      "id": "section_bg",
      "label": "Background Color",
      "default": "#F6ECE1"
    }
  ]
}
{% endschema %}
