{{ 'section-full-video-text.css' | asset_url | stylesheet_tag }}

<div class="full-video__container">
  <div style="color: {{ section.settings.color }};" class="page-width">
    <div class="full-video-text__container">
      <h1>{{ section.settings.title }}</h1>
      <h6 class="light">{{ section.settings.text }}</h6>
    </div>
    <div class="video-section__media">
      <video autoplay loop muted playsinline class="img-fill">
        <source src="{{ section.settings.video_url }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Full Video Text",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "video_url",
        "label": "Video"
	  },
	  {
        "type": "color",
        "id": "color",
        "label": "Text Color"
      }
    ],
    "presets": [
      {
        "name": "Full Video Text"
      }
    ]
  }
{% endschema %}
