{{ 'section-give-back-blocks.css' | asset_url | stylesheet_tag }}

<div class="give-back__container
    {% if section.settings.add_top_border %} top-border{% endif %}
   {% if section.settings.add_bottom_border %} bottom-border{% endif %}
   {% if section.settings.background %} background--{{ section.settings.background }}{% endif %}
   ">
  <div class="page-width">
    <h3>{{ section.settings.title }}</h3>
    <div class="give-back-block__container">
      {% for block in section.blocks %}
      <div class="give-back__item">  
        <div class="give-back__count">{{ forloop.index }}</div>
        <div class="give-back__item-info">
          <div class="give-back-image__container">
          {% if block.settings.video_url != blank %}
            <video autoplay loop muted playsinline class="video">
              <source src="{{ block.settings.video_url }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          {% else %}
            {% render 'lazy-image' image: block.settings.image, classes: '' %}
          {% endif %}            </div>
          <div class="give-back__text">
            <h5>{{ block.settings.title }}</h5>
            <p class="light">{{ block.settings.text }}</p>
            <a href="{{ block.settings.link }}" class="button">{{ block.settings.link_text }}</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Give Back Blocks",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "checkbox",
        "id": "add_top_border",
        "label": "Add Top Border"
      },
      {
        "type": "checkbox",
        "id": "add_bottom_border",
        "label": "Add Bottom Border"
      },
      {
        "type": "select",
        "id": "background",
        "label": "Background",
        "options": [
          {
            "value": "top",
            "label": "Gradient Top to Bottom"
          },
          {
            "value": "bottom",
            "label": "Gradient Bottom to Top"
          },
          {
            "value": "bg_color",
            "label": "Background Color"
          },
          {
            "value": "none",
            "label": "None"
          }
        ],
        "default": "none"
      }
	],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "text",
            "id": "video_url",
            "label": "Video Url"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Button Link"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Button Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Give Back Blocks"
      }
    ]
  }
{% endschema %}
