{{ 'hydration-formula.css' | asset_url | stylesheet_tag }}

<script src="{{ 'hydration-formula.js' | asset_url }}" defer="defer"></script>

<div class="hydration_formula_wrapper">
  <div class="page-width">
    
    <div class="heading_wrap">
      
      {% if section.settings.seal_svg != blank %}
      <img src="{{ section.settings.seal_svg }}" alt="Seal Image" style="animation: spin 8s linear infinite;" class="seal_img">
      {% else %}
      <img src="{{ section.settings.seal_png | img_url: 'master' }}" style="animation: spin 8s linear infinite;" alt="Seal Imagem" class="seal_img">
      {% endif %}
      <h3>{{ section.settings.title }}</h3>
      <p class="sh2">{{ section.settings.text }}</p>
      
    </div>

    

    <div class="hide-slider" style="opacity:0">
      <div class="hide_slider_wrapper">
        <div class="hide-slider-inner">
          <div class="slider slider-nav">
            {%- for block in section.blocks -%}
            <div class="hf_items action" style="background-color: {{ block.settings.block_bg }}">
              <span class="close">
                <svg aria-hidden="true" focusable="false" role="presentation" width="40" height="40" class="icon icon-close-small" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.48627 9.32917L2.82849 3.67098" stroke="#333030" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M2.88539 9.38504L8.42932 3.61524" stroke="#333030" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </span>
              <div class="hf_item_inner">
                {%if block.settings.block_img != blank %}
                <div class="hf_img">
                  <img src="{{ block.settings.block_img | img_url: 'master' }}" alt="Formula Image">
                </div>
                {% endif %}
                <div class="hf_content title">
                  <h4 class="hf_title">{{ block.settings.block_title }}</h4>
                  <div class="prev-slide arrow_item hide-tab">
                    <button type="button" class="slick-prev"><svg xmlns="http://www.w3.org/2000/svg" width="29.013" height="12.007" viewBox="0 0 29.013 12.007"><g id="Arrow" transform="translate(272.182 1503.504) rotate(180)"><path id="Path_3" data-name="Path 3" d="M4.98,11,0,5.5,4.98,0" transform="translate(271.17 1503) rotate(180)" fill="none" stroke="#1f2322" stroke-width="1.5"/><path id="Path_4" data-name="Path 4" d="M249.357,1495.977h28" transform="translate(-6.188 1.523)" fill="none" stroke="#1f2322" stroke-width="1.5"/></g></svg></button>
                  </div>
                  <div class="next-slide arrow_item hide-tab">
                    <button type="button" class="slick-next"><svg xmlns="http://www.w3.org/2000/svg" width="29.013" height="12.007" viewBox="0 0 29.013 12.007"><g id="Arrow" transform="translate(28.001 11.504) rotate(180)"><g id="Arrow-2" data-name="Arrow" transform="translate(271.17 1503) rotate(180)"><path id="Path_3" data-name="Path 3" d="M4.98,11,0,5.5,4.98,0" transform="translate(271.17 1503) rotate(180)" fill="none" stroke="#1f2322" stroke-width="1.5"/><path id="Path_4" data-name="Path 4" d="M249.357,1495.977h28" transform="translate(-6.188 1.523)" fill="none" stroke="#1f2322" stroke-width="1.5"/></g></g></svg></button>
                  </div>
                </div>
                <div class="hf_content desc">
                  <p class="hf_desc">{{ block.settings.block_desc_long }}</p>
                </div>
                
                <div class="prev-slide arrow_item hide-desktop">
                  <button type="button" class="slick-prev"><svg xmlns="http://www.w3.org/2000/svg" width="29.013" height="12.007" viewBox="0 0 29.013 12.007"><g id="Arrow" transform="translate(272.182 1503.504) rotate(180)"><path id="Path_3" data-name="Path 3" d="M4.98,11,0,5.5,4.98,0" transform="translate(271.17 1503) rotate(180)" fill="none" stroke="#1f2322" stroke-width="1.5"/><path id="Path_4" data-name="Path 4" d="M249.357,1495.977h28" transform="translate(-6.188 1.523)" fill="none" stroke="#1f2322" stroke-width="1.5"/></g></svg></button>
                </div>
                <div class="next-slide arrow_item hide-desktop">
                  <button type="button" class="slick-next"><svg xmlns="http://www.w3.org/2000/svg" width="29.013" height="12.007" viewBox="0 0 29.013 12.007"><g id="Arrow" transform="translate(28.001 11.504) rotate(180)"><g id="Arrow-2" data-name="Arrow" transform="translate(271.17 1503) rotate(180)"><path id="Path_3" data-name="Path 3" d="M4.98,11,0,5.5,4.98,0" transform="translate(271.17 1503) rotate(180)" fill="none" stroke="#1f2322" stroke-width="1.5"/><path id="Path_4" data-name="Path 4" d="M249.357,1495.977h28" transform="translate(-6.188 1.523)" fill="none" stroke="#1f2322" stroke-width="1.5"/></g></g></svg></button>
                </div>
              </div>
                
            </div>
             
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
    <div class="action hf_container">
      {%- for block in section.blocks -%}
      <a href="#" data-slide="{{ forloop.index }}" class="hf_items action" style="background-color: {{ block.settings.block_bg }}">
        <div class="hf_content">
          <h6 class="hf_title">{{ block.settings.block_title }}</h6>
          <p class="hf_desc">{{ block.settings.block_desc }}</p>
        </div>
        {%if block.settings.block_img != blank %}
        <div class="hf_img">
          <img src="{{ block.settings.block_img | img_url: 'master' }}" alt="Formula Image">
        </div>
        {% endif %}
        <i>
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" fill="none" viewBox="0 0 10 10" style="">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z" fill="currentColor">
            </path></svg>
        </i>
      </a>
      {%- endfor -%}
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){

    $('.slider-nav').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      dots: false,
      focusOnSelect: true,
      centerMode: true,
      prevArrow: $('.prev-slide'),
      nextArrow: $('.next-slide')
 
    });

    $('a[data-slide]').click(function(e) {
      $('.hide-slider').css({"opacity":"1", "z-index":"9", "display": "flex" });
      e.preventDefault();
      var slideno = $(this).data('slide');
      $('.slider-nav').slick('slickGoTo', slideno - 1);

    });
    $('.close').click(function(e) {
      $('.hide-slider').css({"opacity":"0", "z-index":"-1"});
    });
  });
</script>

{% schema %}
  {
    "name": "Hydration Formula Section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
	  {
        "type": "header",
        "content": "Seal Image"
	  },
	  {
        "type": "url",
        "id": "seal_svg",
        "label": "Seal Image URL(SVG)",
		"info": "Add either SVG or PNG"
      },
      {
        "type": "image_picker",
        "id": "seal_png",
        "label": "Seal Image(PNG)",
		"info": "Add either SVG or PNG"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Formula",
        "settings": [
		  {
            "type": "color",
            "id": "block_bg",
            "label": "Background"
          },
          {
            "type": "text",
            "id": "block_title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "block_desc",
            "label": "Short Description"
          },
		  {
            "type": "textarea",
            "id": "block_desc_long",
            "label": "Long Description"
          },
          {
            "type": "image_picker",
            "id": "block_img",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hydration Formula Section"
      }
    ]
  }
{% endschema %}