{{ 'section-hydration-image-text.css' | asset_url | stylesheet_tag }}
<script src="{{ 'section-hydration-image-text.js' | asset_url }}" async></script>

<div class="hydration-image-text">
  <div class="page-width">
    <div class="h3 hydration-image-text__title">
      {{ section.settings.heading_text }}
    </div>

    <div class="hydration-image-text__blocks">
      {%- for block in section.blocks -%}
        <div class="hydration-image-text__block hydration-image-text__block--{{ block.settings.layout }}">
          <div class="hydration-image-text__content">
            <div class="h5 hydration-image-text__heading">
              {{ block.settings.heading_text }}
            </div>

            <div class="sh2 hydration-image-text__subtitle">
              {{ block.settings.subtitle }}
            </div>

            {% if block.settings.description %}
              <div class="body-xs hydration-image-text__description">
                {{ block.settings.description }}
              </div>
            {% endif %}
          </div>

          {% if block.settings.video != blank %}
            <div class="hydration-image-text__video">
              <iframe 
                src="{{ block.settings.video | escape }}?background=1&amp;autoplay=1&amp;loop=1&amp;title=0&amp;byline=0&amp;portrait=0" 
                frameborder="0" 
                allow="autoplay; fullscreen" 
                allowfullscreen="" 
                data-fluidvids="loaded"
              >
              </iframe>
            </div>
          {% else %}
            <div class="hydration-image-text__image">
              <img src="{{ block.settings.featured_img | img_url: '376x' }}" />
            </div>
          {% endif %}          
        </div>
      {%- endfor -%}
    </div>

    <div class="hydration-image-text__link">
      <a class="body link underlined-link" href="#sign-up">
        {{ section.settings.sign_up_link }}
      </a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hydration Image Text",
    "settings": [
      {
        "type": "text",
        "id": "heading_text",
        "label": "Heading Text"
      },
      {
        "type": "text",
        "id": "sign_up_link",
        "label": "Sign Up Link",
        "default": "Sign Up Now"
      }
    ],
    "max_blocks": 4,
    "blocks": [
      {
        "type": "image_text",
        "name": "Image Text",
        "settings": [
          {
            "type": "select",
            "id": "layout",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "left",
            "label": "Layout"
          },
          {
            "type": "text",
            "id": "heading_text",
            "label": "Heading Text"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle Text"
          },
          {
            "type": "text",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "image_picker",
            "id": "featured_img",
            "label": "Image"
          },
          {
            "type": "video_url",
            "id": "video",
            "label": "Video",
            "accept": [
              "youtube",
              "vimeo"
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hydration Image Text"
      }
    ]
  }
{% endschema %}