{{ 'section-icon-text-list.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  {%- if section.settings.title != blank -%}
    <h1 class="icon-text__header">
      <span>{{ section.settings.title_one }}</span>
      {{ section.settings.title }}
    </h1>
  {%- endif -%}
  <div class="icon-text__container">
    {% for block in section.blocks %}
      <div class="icon-text__block">
        <img src="{{ block.settings.image | img_url: 'master' }}" />
        <p>{{ block.settings.title }}</p>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Icon Text List",
  "settings": [
    {
      "type": "text",
      "id": "title_one",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ],
   "presets": [
      {
        "name": "Icon Text List"
      }
    ]
}
{% endschema %}