{{ 'section-image-with-dropdowns.css' | asset_url | stylesheet_tag }}
{{ 'section-image-dropdowns.css' | asset_url | stylesheet_tag }}

<div id="image-with-dropdowns__container" style="background: {{ section.settings.background }}" class="image-dropdowns__container image-with-dropdowns__container">
  <div class="show-product-bar"></div>
  <div class="page-width">
    <div class="image-with-dropdowns__content">
      <h3>{{ section.settings.title }}</h3>
      <div class="image-with-dropdowns__dropdown">
        {% for block in section.blocks %}
        <div class="image-with-dropdowns__content-point">
          <div class="image-with-dropdowns__q {% if forloop.index == 1 %}active{% endif %}">
            <div class="image-with-dropdowns__content-text">
              <h6 class="sh2">{{ block.settings.title }}</h6>
            </div>
            {% render 'icon-caret' %}
          </div>
          <div class="image-with-dropdowns__a">
            <p class="light">{{ block.settings.text }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      {% if section.settings.button_label != blank or section.settings.text_bottom != blank %}
      <div class="image-with-dropdowns__bottom-text">
        {% if section.settings.text_bottom != blank %}
        <p class="sh2 light">{{ section.settings.text_bottom }}</p>
        {% endif %}
      </div>
      {% endif %}
    </div>

    <div class="image-with-dropdowns__image">
      {% if section.settings.video_url != blank %}
      <video autoplay loop muted playsinline class="video">
        <source src="{{ section.settings.video_url }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      {% else %}
      {% render 'lazy-image' image: section.settings.image, classes: '' %}
      {% endif %}    
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Image Dropdowns",
    "settings": [
      {
        "type": "text",
        "id": "video_url",
        "label": "Video Url"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text_bottom",
        "label": "Bottom Text"
      },
      {
        "type": "textarea",
        "id": "background",
        "label": "Background (optional)"
      }
	],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image Dropdowns"
      }
    ]
  }
{% endschema %}
