{{ 'section-image-grid.css' | asset_url | stylesheet_tag }}

<div style="background: {{ section.settings.color }};" class="image-grid__container">
  <div class="page-width">
    <div class="image-grid__flex">
      <div class="image-grid__title-top">
        <h3 class="light">{{ section.settings.title }}</h3>
        <p class="sh2 light">{{ section.settings.text }}</p>
      </div>
      <a href="{{ section.settings.link_url }}" class="">{{ section.settings.link_label }}</a>
    </div>
    <div class="image-grid__grid">
      {% for block in section.blocks %}
        <div class="image-grid__grid-item">
          <div class="image-grid__image">
            {% render 'lazy-image' image: block.settings.image, classes: '' %}
          </div>
          <h5 class="medium">{{ block.settings.name }}</h5>
          <p class="light">{{ block.settings.subtitle }}</p>
          <a href="{{ block.settings.link_url }}">{{ block.settings.link_label }}</a> 
        </div>
      {% endfor %}
    </div>
    <div class="image-grid__title-bottom">
      <p class="sh2">{{ section.settings.text2 }}</p>
      <a class="button" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image Grid",
  "settings": [
    {
      "type": "textarea",
      "id": "color",
      "label": "Background Color"
    },    
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "link_label",
      "label": "Link label"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link url"
    },
    {
      "type": "textarea",
      "id": "text2",
      "label": "Text 2"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "name",
            "label": "Name"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "IG Handle and Illness"
          },
          {
            "type": "text",
            "id": "link_label",
            "label": "Link label"
          },
          {
            "type": "url",
            "id": "link_url",
            "label": "Link url"
          }
        ]
      }
    ],
   "presets": [
    {
      "name": "Image Grid"
    }
  ]
}
{% endschema %}