{{ 'section-how-to.css' | asset_url | stylesheet_tag }}
{{ 'image-text-blocks.css' | asset_url | stylesheet_tag }}


<div class="how-to">
  <div class="page-width">
    <h1 class="custom-bottom__margin image-text-blocks__title">{{ section.settings.title }} <span>{{ section.settings.title }}</span></h1>
    {% for block in section.blocks %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    <div class="custom-block__padding how-to__container">
      <div style="{% if thecycle == "odd" %}order: 1; padding-right: 20px; padding-left: 0;{% else %}order: 2; padding-left: 20px; padding-right: 0;{% endif %}" class="how-to__steps">
        <h3>{{block.settings.title}}</h3>
        <p class="sh2">{{block.settings.text}}</p>
        <p class="body-xs">{{block.settings.subtext}}</p>
      </div>
      <div style="{% if thecycle == "odd" %}order: 2;{% else %}order: 1;{% endif %}" class="how-to__image">
        <div class="how-to__image-container">
          {% if block.settings.video_url != blank %}
          <video autoplay loop muted playsinline class="img-fill">
            <source src="{{ block.settings.video_url }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          {% else %}
          <img
               srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.image | img_url: '165x' }} 165w,{%- endif -%}
                       {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | img_url: '360x' }} 360w,{%- endif -%}
                       {%- if block.settings.image.width >= 533 -%}{{ block.settings.image | img_url: '533x' }} 533w,{%- endif -%}
                       {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | img_url: '720x' }} 720w,{%- endif -%}
                       {%- if block.settings.image.width >= 940 -%}{{ block.settings.image | img_url: '940x' }} 940w,{%- endif -%}
                       {%- if block.settings.image.width >= 1066 -%}{{ block.settings.image | img_url: '1066x' }} 1066w{%- endif -%}"
               src="{{ block.settings.image | img_url: '533x' }}"
               sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 769px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
               alt="{{ block.settings.image.alt | escape }}"
               loading="lazy"
               class="motion-reduce img-fill"
               >
          {% endif %}
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Image Text Blocks",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "block",
        "settings": [
          {
            "type": "text",
            "id": "video_url",
            "label": "Video URL"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "subtext",
            "label": "SubText"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image Text Blocks"
      }
    ]
  }
{% endschema %}