{{ 'section-image-with-dropdowns.css' | asset_url | stylesheet_tag }}
{{ 'section-image-with-dropdowns-2.css' | asset_url | stylesheet_tag }}


<div id="image-with-dropdowns__container" style="{{ section.settings.background }}" class="image-with-dropdowns__container">
  <h1>{{ section.settings.title }}</h1>
  <div class="page-width"> 
    <div class="image-with-dropdowns__image">
      {% if section.settings.video_url != blank %}
      <video autoplay loop muted playsinline class="video">
        <source src="{{ section.settings.video_url }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      {% else %}
      {% render 'lazy-image' image: section.settings.image, classes: '' %}
      {% endif %}    
    </div>
    <div class="image-with-dropdowns__content">
      <div class="image-with-dropdowns__dropdown">
        {% for block in section.blocks %}
        <div class="image-with-dropdowns__content-point">
          <div class="image-with-dropdowns__q {% if forloop.index == 1 %}active{% endif %}">
            <div class="image-with-dropdowns__content-text">
              <h6>{{ block.settings.title }}</h6>
            </div>
            {% render 'icon-caret' %}
          </div>
          <div class="image-with-dropdowns__a">
            <p class="light">{{ block.settings.text }}</p>
            {% if block.settings.list_item1 != blank %}
            <div class="image-with-dropdowns__list-item">
              <img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/Icons_thick.png?v=1698726363"/>
              <p class="sh4 light">{{ block.settings.list_item1 }}</p>
            </div>
            {% endif %}
            {% if block.settings.list_item2 != blank %}
            <div class="image-with-dropdowns__list-item">
              <img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/Icons_thick.png?v=1698726363"/>
              <p class="sh4 light">{{ block.settings.list_item2 }}</p>
            </div>
            {% endif %}
            {% if block.settings.list_item3 != blank %}
            <div class="image-with-dropdowns__list-item">
              <img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/Icons_thick.png?v=1698726363"/>
              <p class="sh4 light">{{ block.settings.list_item3 }}</p>
            </div>
            {% endif %}
            {% if block.settings.list_item4 != blank %}
            <div class="image-with-dropdowns__list-item">
              <img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/Icons_thick.png?v=1698726363"/>
              <p class="sh4 light">{{ block.settings.list_item4 }}</p>
            </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Image With Dropdowns 2",
    "settings": [
      {
        "type": "text",
        "id": "video_url",
        "label": "Video Url"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
	],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "list_item1",
            "label": "List Item 1"
          },
          {
            "type": "text",
            "id": "list_item2",
            "label": "List Item 2"
          },
          {
            "type": "text",
            "id": "list_item3",
            "label": "List Item 3"
          },
          {
            "type": "text",
            "id": "list_item4",
            "label": "List Item 4"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image With Dropdowns 2"
      }
    ]
  }
{% endschema %}
