{{ 'section-image-slider.css' | asset_url | stylesheet_tag }} 

<div style="{{ section.settings.background }}" class="image-slider__container"> 
  <div class="page-width">
    <h2 class="h3">{{ section.settings.title }}</h3>
    <p class="image-slider__subtitle sh4">{{ section.settings.subtext }}</p>
  </div>
  <div class="image-slider__img-container hide-mobile">
    <img src="{{ section.settings.img }}"/>
  </div>
  <div class="image-slider__img-container hide-desktop">
   <img src="{{ section.settings.mobile_img }}"/>
  </div>
  <div class="pseduo-track"></div>
</div>


{% schema %}
  {
    "name": "Image Slider",
    "settings": [
      {
        "type": "textarea",
        "id": "background",
        "label": "Background"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtext",
        "label": "Subtext"
      },
      {
        "type": "text",
        "id": "img",
        "label": "Desktop Image"
      },
      {
        "type": "text",
        "id": "mobile_img",
        "label": "Mobile Image"
      }
    ],
    "presets": [
      {
        "name": "Image Slider"
      }
    ]
  }
{% endschema %}