{{ 'section-image-text-banner.css' | asset_url | stylesheet_tag }}

<div class="image-text-banner">
  <div class="page-width">
    <div class="image-text-banner__container">
      <div class="image-text-banner__content">    
        <div class="image-text-banner__content-container">
          <p class="sh3 light">{{ section.settings.subtitle }}</p>
          <h2 class="h3">{{ section.settings.title }}</h2>
          <p class="sh2 light">{{ section.settings.text }}</p>
        </div>
      </div>
      <div class="image-text-banner__image">
        <img
          srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
            {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
            {%- if section.settings.image.width >= 533 -%}{{ section.settings.image | img_url: '533x' }} 533w,{%- endif -%}
            {%- if section.settings.image.width >= 720 -%}{{ section.settings.image | img_url: '720x' }} 720w,{%- endif -%}
            {%- if section.settings.image.width >= 940 -%}{{ section.settings.image | img_url: '940x' }} 940w,{%- endif -%}
            {%- if section.settings.image.width >= 1066 -%}{{ section.settings.image | img_url: '1066x' }} 1066w{%- endif -%}"
          src="{{ section.settings.image | img_url: '750x' }}"
          sizes="(min-width 769px) 50vw, 100vw"
          alt="{{ section.settings.image.alt | escape }}"
          loading="lazy"
          class="motion-reduce"
        >
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Image / Text Banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      }
    ],
    "presets": [
      {
        "name": "Image / Text Banner"
      }
    ]
  }
{% endschema %}