{{ 'section-image-content.css' | asset_url | stylesheet_tag }}

<div class="image-content">
  <div class="image-content__content">
    <div class="image-content__content-container">
      {% for block in section.blocks %}
        {% if block.type == 'subtitle' %}
          <p class="image-content__subtitle sh3 medium" {{ block.shopify_attributes }}>{{ block.settings.text }}</p>
        {% elsif block.type == 'title' %}
          <h2 class="image-content__title h2" {{ block.shopify_attributes }}>{{ block.settings.text }}</h2>
        {% elsif block.type == 'text' %}
          <p class="image-content__text body-large light" {{ block.shopify_attributes }}>{{ block.settings.text }}</p>
        {% elsif block.type == 'button' %}
          <a href="{{ block.settings.link }}" class="image-content__button button button--green" {{ block.shopify_attributes }}>{{ block.settings.text }}</a>
        {% elsif block.type == 'value_props' %}
          <div class="image-content__value_props" {{ block.shopify_attributes }}>
            {% assign value_prop_split = block.settings.text | split: ',' %}
            {% for prop in value_prop_split %}
              <div class="image-content__prop">
                {% render 'icon-checkmark' %}
                <p class="body-sm">{{ prop }}</p>
              </div>
            {% endfor %}
          </div>
        {% elsif block.type == 'link_copy' %}
          <div class="image-content__link-copy" {{ block.shopify_attributes }}>
            <p class="image-content__link-copy-title body-large">
              {{ block.settings.title }}
              <svg width="28" height="30" viewBox="0 0 28 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.1889 12.1912C19.3472 14.6999 17.8583 18.4909 13.8802 23.2178L13.7977 21.0013C13.7724 20.3159 13.0406 19.9911 12.1634 20.2763C11.2864 20.5614 10.5958 21.3478 10.6216 22.0339L10.7928 26.6355C10.7983 26.7925 10.8417 26.9315 10.9162 27.0488C11.1522 27.4208 11.7008 27.5682 12.3441 27.386L18.446 25.6552C19.3235 25.4071 20.0509 24.6377 20.0715 23.9384C20.092 23.239 19.3972 22.8735 18.5201 23.1224L16.6949 23.6398C22.2256 16.8669 22.2684 12.7925 21.2154 10.5117C19.469 6.7301 13.5321 5.3051 5.33483 6.70238C4.46928 6.85 3.65065 7.55927 3.50648 8.28661C3.36265 9.01473 3.94716 9.48451 4.81328 9.33754C8.21413 8.75776 11.2536 8.7162 13.6027 9.21666C15.9338 9.71341 17.5199 10.7426 18.1889 12.1912Z" fill="#1F2322"/></svg>
            </p>
            <div class="image-content__link-copy-container">
              <p class="body-sm">
                {{ block.settings.link }}
                <span class="image-content__link-copied body-xs">Link copied</span>
              </p>
              <button class="image-content__link-copy-button">
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 13.056C10.4295 13.6301 10.9774 14.1052 11.6066 14.4489C12.2357 14.7927 12.9315 14.9971 13.6467 15.0483C14.3618 15.0995 15.0796 14.9964 15.7513 14.7458C16.4231 14.4952 17.0331 14.1031 17.54 13.596L20.54 10.596C21.4508 9.65299 21.9548 8.38997 21.9434 7.07899C21.932 5.76801 21.4061 4.51394 20.4791 3.5869C19.5521 2.65986 18.298 2.13402 16.987 2.12263C15.676 2.11123 14.413 2.61521 13.47 3.526L11.75 5.236" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M14.0002 11.0552C13.5707 10.4811 13.0228 10.006 12.3936 9.66228C11.7645 9.31852 11.0687 9.1141 10.3535 9.06288C9.63841 9.01167 8.92061 9.11485 8.24885 9.36544C7.5771 9.61602 6.96709 10.0081 6.4602 10.5152L3.4602 13.5152C2.54941 14.4582 2.04544 15.7212 2.05683 17.0322C2.06822 18.3432 2.59407 19.5973 3.52111 20.5243C4.44815 21.4514 5.70221 21.9772 7.01319 21.9886C8.32418 22 9.58719 21.496 10.5302 20.5852L12.2402 18.8752" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
              </button>
            </div>
            <p class="image-content__link-copy-disclaimer body-sm">{{ block.settings.disclaimer }}</p>

            <script>
              $('.image-content__link-copy-button').click(() => {
                navigator.clipboard.writeText('{{ block.settings.link }}');

                console.log()

                $('.image-content__link-copied').addClass('visible');
                setTimeout(() => {
                  $('.image-content__link-copied').removeClass('visible');
                }, 2000);
              });
            </script>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="image-content__image">
    {%- if section.settings.video != blank -%}
    
    {%- elsif section.settings.image != blank -%}
      <img
        srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
          {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
          {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: '535x' }} 535w,{%- endif -%}
          {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
          {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | img_url: '1070x' }} 1070w,{%- endif -%}
          {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}"
        src="{{ section.settings.image | img_url: '1500x' }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 769px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
        alt="{{ section.settings.image.alt | escape }}"
        loading="lazy"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.height }}"
      >
    {%- else -%}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}

    {% if section.settings.product_for_reviews != blank %}
      <div class="image-content__reviews">
        {% assign reviews_product = section.settings.product_for_reviews %}
        {% render 'okendo-reviews-product-rating-summary', product: reviews_product %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Image / Content",
    "settings": [
      {
        "type": "video",
        "id": "video",
        "label": "Video"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "product",
        "id": "product_for_reviews",
        "label": "Product For Reviews"
      }
    ],
    "blocks": [
      {
        "type": "subtitle",
        "name": "Subtitle",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          }
        ]
      },
      {
        "type": "title",
        "name": "Title",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "text",
            "label": "Text"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "text",
            "label": "Text"
          }
        ]
      },
      {
        "type": "button",
        "name": "Button",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Button Label"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Button Link"
          }
        ]
      },
      {
        "type": "value_props",
        "name": "Value Props",
        "settings": [
          {
            "type": "textarea",
            "id": "text",
            "label": "Value Props",
            "info": "Separate each item with a comma."
          }
        ]
      },
      {
        "type": "link_copy",
        "name": "Link Copy",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "textarea",
            "id": "disclaimer",
            "label": "Disclaimer"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image / Content"
      }
    ]
  }
{% endschema %}