{{ 'image-text-slider.css' | asset_url | stylesheet_tag }}




<div class="img_txt_slider {% if section.settings.checkbox_backgound != blank %}background-bg{% endif %}">

  <div class="slider_heading">
    <div class="page-width">
      <h2 class="h3">{{ section.settings.title }}</h2>
      <p class="sh2">{{ section.settings.description_top }}</p>
    </div>
  </div>
  
  <div class="page-width">

    <div class="slider_wrapper hide-mobile product-slider__container {% if section.settings.is_reversed %}{% else %}reversed{% endif %}">

      {% if section.settings.is_reversed %}

      <div class="slider slider-content js-block-slider-for js-for-{{ section.id }} nonreversed">
        {% for block in section.blocks %}
        <div>
          <div class="content_img">
            <img src="{{ block.settings.slide_image | img_url:'master' }}" alt="Image">
            {% if  block.settings.svg_logo != blank %}
            {{ block.settings.svg_logo }}
            {% endif %}
          </div>
          <div class="h4">
            {{ block.settings.slide_title }}
          </div>
          <div class="sh3">
            {{ block.settings.slide_desc }}
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="slider slider-thumb js-block-slider-nav js-nav-{{ section.id }} nonreversed">
        {% for block in section.blocks %}

        <div class="product-slider__slide">
          <div class="product-slider__images">
            <img src="{{ block.settings.image | img_url:'master' }}">
          </div>
        </div>
        {% endfor %}
      </div>


      {% else %}
      
      <div class="slider slider-content reversed reversed-for-{{ section.id }}" dir="rtl">
        {% for block in section.blocks %}
          <div>
            <div class="content_img">
              <img src="{{ block.settings.slide_image | img_url:'master' }}" alt="Image">
              {% if  block.settings.svg_logo != blank %}
              {{ block.settings.svg_logo }}
              {% endif %}
            </div>
            <div class="h4">
              {{ block.settings.slide_title }}
            </div>
            <div class="sh3">
              {{ block.settings.slide_desc }}
            </div>
          </div>	
        {% endfor %}
      </div>
      
      <div class="slider slider-thumb reversed reversed-nav-{{ section.id }}" dir="rtl">
        {% for block in section.blocks %}
          <div class="product-slider__slide">
            <div class="product-slider__images">
              <img src="{{ block.settings.image | img_url:'master' }}">
            </div>
          </div>
        {% endfor %}
      </div>


      {% endif %}

    </div>

    <div class="slider_wrapper hide-desktop">


      <div class="slider slider-thumb mobile-{{ section.id }} {% if section.settings.is_reversed %}{% else%}reversed{%endif%}" >
        {% for block in section.blocks %}
        <div>
          <div class="">
            <img src="{{ block.settings.image | img_url:'master' }}">
          </div>
          <div class="content_img">
            <img src="{{ block.settings.slide_image | img_url:'master' }}" alt="Image">
            {% if  block.settings.svg_logo != blank %}
            {{ block.settings.svg_logo }}
            {% endif %}
          </div>
          <div class="h4">
            {{ block.settings.slide_title }}
          </div>
          <div class="sh3">
            {{ block.settings.slide_desc }}
          </div>
        </div>
        {% endfor %}
      </div>


      <div class="product-slider__arrow-container">
        <div class="img-text-slider__arrows arrowss-{{ section.id }}"></div>
      </div>
      
    </div>

	<div class="product-slider__arrow-container hide-mobile">
      <div class="img-text-slider__arrows arrows-{{ section.id }}"></div>
    </div>

    {% if section.settings.description_bottom != blank %}
    <div class="slider_description bottom">
      <p class="h5">{{ section.settings.description_bottom }}</p>
    </div>
    {% endif %}

    {% if section.settings.text_link_label != blank %}
    <a href="{{ section.settings.text_link }}" class="body bold arrow-link">{{ section.settings.text_link_label }} {% render 'icon-arrow-right' %}</a>
    {% endif %}
    
  </div>
  
</div>


<script type="text/javascript">
  jQuery( document ).ready(function() {
    
    jQuery('.js-for-{{ section.id }}').slick({
           slidesToShow: 1,
           slidesToScroll: 1,
           fade: false,
           infinite: true,
           variableWidth: true,
           speed: 2000,
           asNavFor: '.js-nav-{{ section.id }}'
           });
    
    jQuery('.js-nav-{{ section.id }}').slick({
           slidesToShow: 3,
           slidesToScroll: 1,
           variableWidth: true,
           asNavFor: '.js-for-{{ section.id }}',
           dots: false,
           centerMode: false,
           infinite: true,
           focusOnSelect: true,
           prevArrow: '<button type="button" class="slick-prev"><svg xmlns="http://www.w3.org/2000/svg" width="29.013" height="12.007" viewBox="0 0 29.013 12.007"><g id="Arrow" transform="translate(272.182 1503.504) rotate(180)"><path id="Path_3" data-name="Path 3" d="M4.98,11,0,5.5,4.98,0" transform="translate(271.17 1503) rotate(180)" fill="none" stroke="#1f2322" stroke-width="1.5"/><path id="Path_4" data-name="Path 4" d="M249.357,1495.977h28" transform="translate(-6.188 1.523)" fill="none" stroke="#1f2322" stroke-width="1.5"/></g></svg></button>',
           nextArrow: '<button type="button" class="slick-next"><svg xmlns="http://www.w3.org/2000/svg" width="29.013" height="12.007" viewBox="0 0 29.013 12.007"><g id="Arrow" transform="translate(28.001 11.504) rotate(180)"><g id="Arrow-2" data-name="Arrow" transform="translate(271.17 1503) rotate(180)"><path id="Path_3" data-name="Path 3" d="M4.98,11,0,5.5,4.98,0" transform="translate(271.17 1503) rotate(180)" fill="none" stroke="#1f2322" stroke-width="1.5"/><path id="Path_4" data-name="Path 4" d="M249.357,1495.977h28" transform="translate(-6.188 1.523)" fill="none" stroke="#1f2322" stroke-width="1.5"/></g></g></svg></button>',
           appendArrows: '.arrows-{{ section.id }}'
           });
    
    jQuery('.reversed-for-{{ section.id }}').slick({
           slidesToShow: 1,
           slidesToScroll: 1,
           fade: false,
           rtl: true,
           infinite: true,
           speed: 2000,
           asNavFor: '.reversed-nav-{{ section.id }}'
           });
    
    jQuery('.reversed-nav-{{ section.id }}').slick({
           slidesToShow: 2,
           slidesToScroll: 1,
           variableWidth: true,
           rtl: true,
           asNavFor: '.reversed-for-{{ section.id }}',
           dots: false,
           centerMode: false,
           infinite: true,
           focusOnSelect: true,
           prevArrow: '<button type="button" class="slick-prev"><svg xmlns="http://www.w3.org/2000/svg" width="29.013" height="12.007" viewBox="0 0 29.013 12.007"><g id="Arrow" transform="translate(272.182 1503.504) rotate(180)"><path id="Path_3" data-name="Path 3" d="M4.98,11,0,5.5,4.98,0" transform="translate(271.17 1503) rotate(180)" fill="none" stroke="#1f2322" stroke-width="1.5"/><path id="Path_4" data-name="Path 4" d="M249.357,1495.977h28" transform="translate(-6.188 1.523)" fill="none" stroke="#1f2322" stroke-width="1.5"/></g></svg></button>',
           nextArrow: '<button type="button" class="slick-next"><svg xmlns="http://www.w3.org/2000/svg" width="29.013" height="12.007" viewBox="0 0 29.013 12.007"><g id="Arrow" transform="translate(28.001 11.504) rotate(180)"><g id="Arrow-2" data-name="Arrow" transform="translate(271.17 1503) rotate(180)"><path id="Path_3" data-name="Path 3" d="M4.98,11,0,5.5,4.98,0" transform="translate(271.17 1503) rotate(180)" fill="none" stroke="#1f2322" stroke-width="1.5"/><path id="Path_4" data-name="Path 4" d="M249.357,1495.977h28" transform="translate(-6.188 1.523)" fill="none" stroke="#1f2322" stroke-width="1.5"/></g></g></svg></button>',
           appendArrows: '.arrows-{{ section.id }}'
           });
    
    
    jQuery('.mobile-{{ section.id }}').on('init', function(event, slick){
           $('.slick-active').prev().addClass('prev');
    $('.slick-active').next().addClass('next');
  });


  jQuery('.mobile-{{ section.id }}').on('beforeChange', function(event, slick, currentSlide, nextSlide){
         $('.slick-slide').removeClass('prev next');
  })

  jQuery('.mobile-{{ section.id }}').on('afterChange', function(event, slick, currentSlide, nextSlide){
         $('.slick-active').prev().addClass('prev');
  $('.slick-active').next().addClass('next');
  });

  
  jQuery('.mobile-{{ section.id }}').slick({
         slidesToShow: 1,
         slidesToScroll: 1,
         variableWidth: true,
         centerMode: true,
         fade: false,
         infinite: true,
         speed: 2000,
         arrows: true,
         rtl: false,
         lazyLoad: 'ondemand',
         prevArrow: '<button type="button" class="slick-prev"><svg xmlns="http://www.w3.org/2000/svg" width="29.013" height="12.007" viewBox="0 0 29.013 12.007"><g id="Arrow" transform="translate(272.182 1503.504) rotate(180)"><path id="Path_3" data-name="Path 3" d="M4.98,11,0,5.5,4.98,0" transform="translate(271.17 1503) rotate(180)" fill="none" stroke="#1f2322" stroke-width="1.5"/><path id="Path_4" data-name="Path 4" d="M249.357,1495.977h28" transform="translate(-6.188 1.523)" fill="none" stroke="#1f2322" stroke-width="1.5"/></g></svg></button>',
         nextArrow: '<button type="button" class="slick-next"><svg xmlns="http://www.w3.org/2000/svg" width="29.013" height="12.007" viewBox="0 0 29.013 12.007"><g id="Arrow" transform="translate(28.001 11.504) rotate(180)"><g id="Arrow-2" data-name="Arrow" transform="translate(271.17 1503) rotate(180)"><path id="Path_3" data-name="Path 3" d="M4.98,11,0,5.5,4.98,0" transform="translate(271.17 1503) rotate(180)" fill="none" stroke="#1f2322" stroke-width="1.5"/><path id="Path_4" data-name="Path 4" d="M249.357,1495.977h28" transform="translate(-6.188 1.523)" fill="none" stroke="#1f2322" stroke-width="1.5"/></g></g></svg></button>',
		 appendArrows: '.arrowss-{{ section.id }}'

         });
  
  jQuery('a[data-slide]').click(function(e) {
    e.preventDefault();
    var slideno = $(this).data('slide');
    jQuery('.js-nav-{{ section.id }}').slick('slickGoTo', slideno - 1);
  });

    });
</script>


{% schema %}
  {
    "name": "Image Text Slider",
    "settings": [
	  {
        "type": "checkbox",
        "id": "is_reversed",
        "label": "Reversed Layout"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "description_top",
        "label": "Description Top"
      },
	  {
        "type": "textarea",
        "id": "description_bottom",
        "label": "Description Bottom"
      },
	  {
        "type": "text",
        "id": "text_link_label",
        "label": "Text Link Label"
      },
      {
        "type": "url",
        "id": "text_link",
        "label": "Text Link"
      },
	  {
        "type": "checkbox",
        "id": "checkbox_backgound",
        "label": "Background"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "image",
        "settings": [
          {
            "type": "header",
            "content": "IMAGE"
		  },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
		  {
            "type": "header",
            "content": "DESCRIPTION"
		  },
		  {
            "type": "image_picker",
            "id": "slide_image",
            "label": "Image"
          },
		  {
            "type": "textarea",
            "id": "svg_logo",
            "label": "SVG LOGO"
          },
          {
            "type": "text",
            "id": "slide_title",
            "label": "Title"
          },
		  {
            "type": "textarea",
            "id": "slide_desc",
            "label": "Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image Text Slider"
      }
    ]
  }
{% endschema %}