{{ 'section-instagram.css' | asset_url | stylesheet_tag }}

<div class="instagram">
  <div class="instagram__content">
    <div class="instagram__content-container">
      <h2 class="h1">{{ section.settings.title }}</h2>
      <p class="sh2 light">{{ section.settings.text }}</p>
      <a href="{{ section.settings.button_link }}" class="button button--{{ section.settings.button_style }}">{{ section.settings.button_label }}</a>
      {% if section.settings.link_label != blank %}<a href="{{ section.settings.link_url }}" class="body mdeium arrow-link">{{ section.settings.link_label }} {% render 'icon-arrow-right' %}</a>{% endif %}
    </div>
  </div>
  <div class="instagram__image">
    {% if section.settings.video_url != blank %}
    <video autoplay loop muted playsinline class="img-fill">
      <source src="{{ section.settings.video_url }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    {% else %}
    <img
      srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
        {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
        {%- if section.settings.image.width >= 533 -%}{{ section.settings.image | img_url: '533x' }} 533w,{%- endif -%}
        {%- if section.settings.image.width >= 720 -%}{{ section.settings.image | img_url: '720x' }} 720w,{%- endif -%}
        {%- if section.settings.image.width >= 940 -%}{{ section.settings.image | img_url: '940x' }} 940w,{%- endif -%}
        {%- if section.settings.image.width >= 1066 -%}{{ section.settings.image | img_url: '1066x' }} 1066w{%- endif -%}"
      src="{{ section.settings.image | img_url: '533x' }}"
      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 769px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
      alt="{{ section.settings.image.alt | escape }}"
      loading="lazy"
      class="motion-reduce img-fill"
    >
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Instagram",
    "settings": [
	  {
        "type": "text",
        "id": "video_url",
        "label": "Video URL"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "options": [
          {
            "value": "white",
            "label": "White"
          },
          {
            "value": "beige",
            "label": "Beige"
          },
          {
            "value": "blue",
            "label": "Blue"
          }
        ],
        "default": "beige"
      },
      {
        "type": "text",
        "id": "link_label",
        "label": "Link Label"
      },
      {
        "type": "url",
        "id": "link_link",
        "label": "Link Link"
      }
    ],
    "presets": [
      {
        "name": "Instagram"
      }
    ]
  }
{% endschema %}