{{ 'section-landing-image-signup.css' | asset_url | stylesheet_tag }} 

<div class="landing-signup__container">
  <img class="landing-signup__background hide-mobile" src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/Cloud_With_Gradient_D_2x_6346b3f5-5fb2-4aee-b768-df8626353025.png?v=1676924761"/>
  <img class="landing-signup__background hide-desktop" src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/Cloud_With_Gradient_M_2x_1588808f-6632-4169-ae00-47816f362125.png?v=1677002140"/>
  <div class="page-width">
    <div class="landing-signup__signup">
      <div class="klaviyo-form-U7pg8S"></div>
    </div>
    <div class="landing-signup__image">
      {% if section.settings.video_url != blank %}
        <video autoplay loop muted playsinline class="img-fill">
          <source src="{{ section.settings.video_url }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      {% elsif section.settings.image != blank %}
        <img
          srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
            {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
            {%- if section.settings.image.width >= 533 -%}{{ section.settings.image | img_url: '533x' }} 533w,{%- endif -%}
            {%- if section.settings.image.width >= 720 -%}{{ section.settings.image | img_url: '720x' }} 720w,{%- endif -%}
            {%- if section.settings.image.width >= 940 -%}{{ section.settings.image | img_url: '940x' }} 940w,{%- endif -%}
            {%- if section.settings.image.width >= 1066 -%}{{ section.settings.image | img_url: '1066x' }} 1066w{%- endif -%}"
          src="{{ section.settings.image | img_url: '533x' }}"
          sizes="(min-width: {{ section.page_width }}px) {{ section.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 769px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
          alt="{{ section.settings.image.alt | escape }}"
          loading="lazy"
          class="motion-reduce"
        >
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Landing Image Signup",
    "settings": [
      {
        "type": "text",
        "id": "video_url",
        "label": "Video URL (optional)"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image (optional)"
      }
    ],
    "presets": [
      {
        "name": "Landing Image Signup"
      }
    ]
  }
{% endschema %}