{{ 'quick-add-products.css' | asset_url | stylesheet_tag }}
{{ 'quick-add-card.css' | asset_url | stylesheet_tag }}
{{ 'custom-bundle.css' | asset_url | stylesheet_tag }}
{{ 'anchor-links.css' | asset_url | stylesheet_tag }}
{% assign bundlesCount = 0 %}
{% assign bundlesList = '' %}
{% for block in section.blocks %}
    {% if block.type == 'bundle' %}
        {% assign bundlesCount = bundlesCount | plus: 1 %}
        {% assign bundlesList = bundlesList | append: block.settings.title | append: '|:|' | append: bundlesCount | append: '|;|' %}
    {% endif %}
{% endfor %}
{% assign bundlesArray = bundlesList | split: '|;|' %}
<div class="lsg-bundle-wrapper" data-lsg-bundle-wrapper {% if section.settings.setUrl %}data-lsg-bundle-set-url{% endif %}>
    {% assign bundleFirst = true %}
    {% if bundlesCount > 0 %}
        {% assign bundleLoopCount = 0 %}
        {% for block in section.blocks %}
            {% if block.type == 'bundle' %}
                {% assign bundleProduct = all_products[block.settings.product] %}
                {% if bundleProduct %}
                    {% assign bundleLoopCount = bundleLoopCount | plus: 1 %}
                    {% render 'lsg-bundle', settings: section.settings, block: block.settings, product:bundleProduct, bundleIndex: bundleLoopCount, bundles: bundlesArray, bundleFirst: bundleFirst, bundleTitle: block.settings.title %}
                    {% assign bundleFirst = false %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% else %}
        {% render 'lsg-bundle', settings: section.settings, product:product, bundleIndex: 0, bundleFirst: bundleFirst %}
        {% assign bundleFirst = false %}
    {% endif %}
</div>
<link rel="stylesheet" href="{{ 'lsg-bundle.css' | asset_url }}" media="print" onload="this.media='all'">
<script src="{{ 'lsg-cart.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'lsg-bundle.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'anchor-links.js' | asset_url }}" defer="defer"></script>
<script>
  // Get all "Learn More" buttons
  const learnMoreButtons = document.querySelectorAll('.quick-add__learn-more');
  const overlay = document.querySelector('.page-overlay');
  const body = document.querySelector('body');
  learnMoreButtons.forEach(button => {
    button.addEventListener('click', function() {
      // Find the nearest wrapper and toggle its drawer
      const wrapper = this.closest('.lsg-bundle-product-select-wrapper');
      const drawer = wrapper.querySelector('.quick-add__drawer');
      drawer.classList.toggle('open');
      overlay.classList.add('is-visible');
      body.classList.add('overflow-hidden');
      $(drawer).find('.quick-add__product-slider').slick({
        infinite: false,
        slidesToShow: 2.08,
        slidesToScroll: 1,
        prevArrow: '<button type="button" class="slick-prev slider-arrow-disable"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" fill="none"><path stroke="#1F2322" d="M1.467 10.557H23M10.223 20l-9.5-9.5 9.5-9.5"/></svg></button>',
        nextArrow: '<button type="button" class="slick-next"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" fill="none"><g stroke="#1F2322"><path d="M21.533 10.443H0M12.777 1l9.5 9.5-9.5 9.5"/></g></svg></button>',
        appendArrows: '.quick-add__drawer.open .quick-add__product-slider-arrows',
        responsive: [
          {
            breakpoint: 768,
            settings: {
              slidesToShow: 1.6,
              slidesToScroll: 1,
              arrows: false,
            }
          }
        ]
      });
      $(drawer).find(".quick-add__product-slider").on("afterChange", function (slick) {
        if ($(".quick-add__drawer.open .slick-prev").hasClass("slick-disabled")) {
          $(".quick-add__drawer.open slick-prev").addClass("slider-arrow-disable");
        } else {
          $(".quick-add__drawer.open .slick-prev").removeClass("slider-arrow-disable");
        }
    
        if ($(".quick-add__drawer.open .slick-next").hasClass("slick-disabled")) {
          $(".quick-add__drawer.open .slick-next").addClass("slider-arrow-disable");
        } else {
          $(".quick-add__drawer.open .slick-next").removeClass("slider-arrow-disable");
        }
      });
    });
  });
  // Get all close buttons and add event listeners
  const closeButtons = document.querySelectorAll('.quick-add__close');
  closeButtons.forEach(button => {
    button.addEventListener('click', function() {
      // Find the nearest wrapper and close its drawer
      const wrapper = this.closest('.lsg-bundle-product-select-wrapper');
      const drawer = wrapper.querySelector('.quick-add__drawer');
      drawer.classList.remove('open');
      overlay.classList.remove('is-visible');
      body.classList.remove('overflow-hidden');
    });
  });
  // Add event listener to the page overlay to close the drawer when clicked
  overlay.addEventListener('click', function() {
    // Close all drawers when overlay is clicked
    const openDrawers = document.querySelectorAll('.quick-add__drawer.open');
    openDrawers.forEach(drawer => {
      drawer.classList.remove('open');
    });
    overlay.classList.remove('is-visible');
    body.classList.remove('overflow-hidden');
  });
</script>
{% schema %}
{
  "name": "LSG Bundle",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
        "type": "bundle",
        "name": "LSG Bundle",
        "settings": [
            {
                "type": "product",
                "id": "product",
                "label": "Bundle Product"
            },
            {
                "type": "collection",
                "id": "collection",
                "label": "Bundle Collection 1"
            },
            {
                "type": "collection",
                "id": "collection2",
                "label": "Bundle Collection 2"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Bundle Title"
            },
            {
                "type": "text",
                "id": "collection_title",
                "label": "Collection 1 Title"
            },
            {
                "type": "textarea",
                "id": "collection_text",
                "label": "Collection 1 Text"
            },
            {
                "type": "textarea",
                "id": "collection_tags",
                "label": "Collection 1 Badge"
            },
            {
                "type": "text",
                "id": "collection_2_title",
                "label": "Collection 2 Title"
            },
            {
                "type": "textarea",
                "id": "collection_2_text",
                "label": "Collection 2 Text"
            },
            {
                "type": "textarea",
                "id": "collection_2_tags",
                "label": "Collection 2 Badge"
            }
        ]
    }
  ],
  "settings": [
    {
        "type": "textarea",
        "id": "svg_logo",
        "label": "SVG Logo"
    },
    {
        "type": "checkbox",
        "id": "setUrl",
        "label": "Update URL",
        "default": false,
        "info": "Dynamically update URL for preloading bundles"
    },
    {
        "type": "text",
        "id": "bundle_select_heading",
        "label": "Bundle Select Heading"
    },
    {
        "type": "text",
        "id": "frequency_heading",
        "label": "Frequency Select Heading",
        "default": "Select your plan"
    },
    {
        "type": "text",
        "id": "frequency_otp",
        "label": "Frequency One-Time Purchase Label",
        "default": "One-time purchase"
    },
    {
        "type": "text",
        "id": "frequency_sub",
        "label": "Frequency Subscription Label",
        "default": "Subscribe & Save"
    },
    {
        "type": "text",
        "id": "atc_text",
        "label": "Add to Cart Text",
        "default": "Add to Cart"
    },
    {
        "type": "text",
        "id": "sub_atc_text",
        "label": "Sub-ATC Disclaimer",
        "default": "Free Shipping over $49 | 100% Happiness Guarantee"
    },
    {
        "type": "header",
        "content": "One-Time Only"
    },
    {
        "type": "text",
        "id": "otp_interval_prefix",
        "label": "Interval/Price Prefix",
        "default": "Your bundle:"
    },
    {
      "type": "header",
      "content": "Left Side"
    },
    {
      "type": "text",
      "id": "video_url",
      "label": "Video URL"
    },
    {
      "type": "text",
      "id": "mobile_video_url",
      "label": "Mobile Video URL"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Steps"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Step 1 Image"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "Step 1 text"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Step 2 Image"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Step 2 text"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "Step 3 Image"
    },
    {
      "type": "text",
      "id": "text3",
      "label": "Step 3 text"
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "mute",
      "label": "Mute",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "Loop",
      "default": true
    }
  ],
  "presets": [
    {
        "name": "LSG Bundle"
    }
  ]
}
{% endschema %}