
{{ 'section-main-menu.css' | asset_url | stylesheet_tag }} 

<div class="main-menu {% if settings.fix_announcement == true %}Fixed_Announcement_Bar{% endif %} {% if settings.show_announcement_bar == true %}Announcement_Shown{% endif %}" aria-hidden="true">  
  <button class="main-menu__close">Close</button>
  <div class="main-menu__wrapper">
    <div class="main-menu__container">
      <div class="main-menu__main-links">
        <div class="header__dropdown-item">{{ section.settings.dropdown_title }}</div>
      </div>
      
      <div class="main-menu__secondary-links">
        {% for block in section.blocks %}
          {% if block.type == 'secondary_link_desktop' %}
             <a href="{{ block.settings.link }}" class="sh4 light">{{block.settings.title }}
              {% if block.settings.callout_text != blank %}
                <span class="body light callout-text">{{ block.settings.callout_text }}</span>
              {% endif %}            
             </a>
          {% endif %}
        {% endfor %}
      </div>
      <div class="main-menu__secondary-links Secondary_Link Mobile">
        {% for block in section.blocks %}
          {% if block.type == 'secondary_link_mobile' %}
             <a href="{{ block.settings.link }}" class="sh4 light">{{block.settings.title }}
              {% if block.settings.callout_text != blank %}
                <span class="body light callout-text">{{ block.settings.callout_text }}</span>
              {% endif %}            
             </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="Main_Menu_Bottom">
      {% if section.settings.show_account %}
        <a href="/account" class="sh4 light account-link">
          {% render 'icon-account-new' %}
          Account
        </a>
      {% endif %}
      {% if section.settings.arrow_link_label != blank %}
        <a href="{{ section.settings.arrow_link }}" class="arrow-link body medium Shop_Link">
          {{ section.settings.arrow_link_label }}
          {% render 'icon-arrow-right' %}
        </a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Main Menu Mobile",
    "settings": [
      {
        "type": "text",
        "id": "dropdown_title",
        "label": "Dropdown Title"
      },
      {
        "type": "text",
        "id": "dropdown_title_two",
        "label": "Dropdown Title Two"
      },
      {
        "type": "text",
        "id": "dropdown_link_text",
        "label": "Dropdown Link Text"
      },
      {
        "type": "url",
        "id": "dropdown_link_one",
        "label": "Dropdown URL"
      },
      {
        "type": "text",
        "id": "dropdown_link_text_two",
        "label": "Dropdown Link Text 2"
      },
      {
        "type": "url",
        "id": "dropdown_link_two",
        "label": "Dropdown URL Two"
      }
    ],
    "blocks": [
      {
        "type": "menu_item",
        "name": "Menu Item",
        "settings": [
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Desktop Title"
          },
          {
            "type": "text",
            "id": "mobile_title",
            "label": "Mobile Title"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Add image"
          }
        ]
      },
      {
        "type": "secondary_link_desktop",
        "name": "Secondary Link Desktop",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "callout_text",
            "label": "Callout Text"
          }
        ]
      },
      {
        "type": "secondary_link_mobile",
        "name": "Secondary Link Mobile",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "callout_text",
            "label": "Callout Text"
          }
        ]
      }
    ]
  }
{% endschema %}