{% comment %}theme-check-disable TemplateLength{% endcomment %}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'new-pdp-styles.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{% assign currentVariant = product.selected_or_first_available_variant %}
<section data='{{product | json}}' class="page-width">
  <input type="hidden" id='current_variant_price' value="{{ currentVariant.price | money_without_trailing_zeros }}" >
  <div class="product {% if product.handle == 'wellness-kit' %}wellness-set{% endif %}">
     
    {% render 'supplement-facts-drawer' %}
    <div class="product__info-wrapper">
      <div id="ProductInfo-{{ section.id }}" class="product__info-container{% if section.settings.enable_sticky_info %} product__info-container--sticky{% endif %}">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}

        {% render 'okendo-reviews-product-rating-summary', product: product %}

        <p class="product__subtitle sh3 light">{{ product.metafields.my_fields.subtitle }}</p> 
        <h1 class="product__title h4">
          {{ product.title | escape }}
          {% if product.metafields.custom.curved_icon == true %}
            {% include 'curved-hydrated' %}
          {% endif %}
        </h1>

        {% if section.settings.lowest_price != blank %}
          <p class="starting-at__price">Starting At {{ section.settings.lowest_price }}</p>
        {% endif %}
        
        <div class="product__description sh4">
          {{ product.description }}
        </div>

        <div class="product__drawer-triggers">
          <a href="javascript:void(0);" class="tabs-label body medium js-ingredients-open">Full Supplement Facts</a>
          <a href="javascript:void(0);" class="tabs-label body medium">Buoy's Clinical Trial</a>
        </div>

        <div class="Product_Tags">
          {%- for tag in product.tags -%}
            <div>
              {% if product.metafields.custom.tag_icon_1 and forloop.index == 1 %}
              <img src="{{ product.metafields.custom.tag_icon_1.value | img_url: 'master' }}"/>
              {% endif %}
              {% if product.metafields.custom.tag_icon_2 and forloop.index == 2 %}
              <img src="{{ product.metafields.custom.tag_icon_2.value | img_url: 'master' }}"/>
              {% endif %}
              {% if product.metafields.custom.tag_icon_3 and forloop.index == 3 %}
              <img src="{{ product.metafields.custom.tag_icon_3.value | img_url: 'master' }}"/>
              {% endif %}
              <span>{{ tag }}</span>
            </div>
          {%- endfor -%}
        </div>
        
        {% comment %}
        <a class="Link_Text js-open-supplement-drawer" href="javascript:void(0);">{{ section.settings.supplement_fact_text }}</a>
        {% endcomment %}
        
        {% comment %}
         {% if section.settings.supplement_fact_text != blank %}
           <a class="Link_Text" href="{{ section.settings.supplement_fact_link }}">{{ section.settings.supplement_fact_text }}</a>
         {% endif %}
        {% endcomment %}
      
        {% comment %}
        {% render 'product-tabs' product: product %}

        <div class="product-form__input product-form__quantity">
          <label class="form__label" for="Quantity-{{ section.id }}">
            {{ 'products.product.quantity.label' | t }}
          </label>
          <quantity-input class="quantity">
            <button class="quantity__button no-js-hidden" name="minus" type="button">
              <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
              {% render 'icon-minus' %}
            </button>
            <input class="quantity__input"
                   type="number"
                   name="quantity"
                   id="Quantity-{{ section.id }}"
                   min="1"
                   value="1"
                   form="product-form-{{ section.id }}"
                   >
            <button class="quantity__button no-js-hidden" name="plus" type="button">
              <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
              {% render 'icon-plus' %}
            </button>
          </quantity-input>
        </div>
        {% endcomment %}

          {% capture variantMetafield %}
            <select class="js-variant-metafield hidden">
              {% for variant in product.variants %}
                <option value="{{ variant.id }}" data-otp-text="{{ variant.metafields.custom.one_time_purchase_subtext }}" data-subscription_text="{{ variant.metafields.custom.subscription_text }}"></option>
              {% endfor %}
            </select>
          {% endcapture %}
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, data-smartrr-form-id: product.id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
          {%- unless product.has_only_default_variant -%}
          {%- if section.settings.picker_type == 'button' -%}
          {% assign my_fields = product.variant.metafields.custom %}
          <p class="product-form__text-label">Choose Quantity</p>
          <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
            {%- for option in product.options_with_values -%}
             {% assign optionIndex = forloop.index0 %}
             {% assign values = "" %}
              <fieldset class="js product-form__input">
              {%- for variant in product.variants -%}
                {% assign value = variant.options[optionIndex] %}
                {%- unless values contains value -%}
                {% assign values = values | join:',' %}
                {% assign values = values | append:',' | append:value %}
                {% assign values = values | split:',' %}

                 {% assign my_fields = variant.metafields.custom %}
                  <span class="Variant_Blocks" data-id={{ variant.id }}>
                    <input type="radio" id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
                      name="{{ option.name }}"
                      value="{{ value | escape }}"
                      form="product-form-{{ section.id }}"
                      {% if option.selected_value == value %}checked{% endif %}
                    >
                    <label for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}">
                      {%- if my_fields.supply_time  != blank -%}
                        <span class="Supply_Time">{{ my_fields.supply_time }} / {{ my_fields.servings }}</span>
                      {%- endif -%}
                      {%- if my_fields.product_image  != blank -%}
                        <img src="{{ my_fields.product_image | img_url: 'master' }}"/>
                      {%- endif -%}
                      <span class="Variant_Title">{{ value }}</span>
                     {%- if my_fields.serving_cost  != blank -%}
                        <span class="Serving_Cost">{{ my_fields.serving_cost }}</span>
                      {%- endif -%}
                      {%- if my_fields.best_value  != blank -%}
                        <span class="Best_Value">{{ my_fields.best_value }}</span>
                      {%- endif -%}
                    </label>
                  </span>
                {%- endunless -%}
              {%- endfor -%}
              </fieldset>
              {%- endfor -%}
              <script type="application/json">
                {{ product.variants | json }}
              </script>
            {{ variantMetafield }}
           </variant-radios>
          {%- else -%}
            <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
              {%- for option in product.options_with_values -%}
              <div class="product-form__input product-form__input--dropdown">
                <div class="select">
                  <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                          class="select__select body"
                          name="options[{{ option.name | escape }}]"
                          form="product-form-{{ section.id }}"
                          >
                    {%- for value in option.values -%}
                    <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                      {{ value }} 
                      {% if value == 'Single' %}
                      — 40 Servings (1 week supply)
                      {% elsif value == '3 Pack' %}
                      — 120 Servings (1 month supply)
                      {% elsif value == '6 Pack' %}
                      — 240 Servings (2 month supply)
                      {% elsif value == '12 Pack' %}
                      — 480 Servings (4 month supply)
                      {% endif %}
                    </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              </div>
              {%- endfor -%}
  
              <script type="application/json">
                      {{ product.variants | json }}
              </script>
            {{ variantMetafield }}
            </variant-selects>
          {%- endif -%}
          {%- endunless -%}

          <noscript>
            <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
              <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
              <div class="select">
                <select name="id" id="Variants-{{ section.id }}" class="select__select" form="product-form">
                  {%- for variant in product.variants -%}
                  <option
                          {% if variant == currentVariant %}selected="selected"{% endif %}
                          {% if variant.available == false %}disabled{% endif %}
                          value="{{ variant.id }}"
                          >
                    {{ variant.title }}
                    {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                        - {{ variant.price | money | strip_html }}
                  </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
            </div>
          </noscript>

          {% comment %} {% render 'smartrr-product' %} {% endcomment %}
          {% render 'rtx-pdp' %}
          {% # render 'rtx-pdp--old' %}

          {% comment %}
            {% if product.metafields.my_fields.product_grid_1 != blank %}
              <div class="info-grid__container">
                <div class="info-grid__item">
                  <p class="light">{{ product.metafields.my_fields.product_grid_1 }}</p>
                </div>
                <div class="info-grid__item">
                  <p class="light">{{ product.metafields.my_fields.product_grid_2 }}</p>
                </div>
                <div class="info-grid__item">
                  <p class="light">{{ product.metafields.my_fields.product_grid_3 }}</p>
                </div>
                <div class="info-grid__item">
                  <p class="light">{{ product.metafields.my_fields.product_grid_4 }}</p>
                </div>
              </div>
            {% endif %}
          {% endcomment %}
           {% if settings.show_shipping_countdown != blank %}
            <div id="Order_Within" class="Order_Within Risk_Free">
               <img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/Shipping_Time.png?v=1698697270"/>
               {{ settings.order_within_text }}
            </div>
          {% endif %}
          <input type="hidden" name="id" value="{{ currentVariant.id }}">
          <div class="product-form__buttons">
            <button
                    type="submit"
                    name="add"
                    style="flex-direction: initial; padding: 12px 10px;"
                    data-available="{{ currentVariant.available }}"
                    class="js-mainproduct-submit product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                    {% if currentVariant.available == false %}disabled{% endif %}
                    data-subscription-price = "{{ currentVariant.selling_plan_allocations[0].price | money_without_trailing_zeros }}"
                    >
              <div style="display: flex;">
                {%- if currentVariant.available -%}
                 Add to Cart —&nbsp; 
                {% if product.selected_or_first_available_selling_plan_allocation != blank %}
                  <s>{{ currentVariant.price | money_without_trailing_zeros }}</s>&nbsp;{{ currentVariant.selling_plan_allocations[0].price | money_without_trailing_zeros }}
                {% else %}
                  <s>{% if currentVariant.compare_at_price > currentVariant.price %}{{ currentVariant.compare_at_price | money_without_trailing_zeros }} {% endif %}</s>&nbsp;
                  {{ currentVariant.price | money_without_trailing_zeros }}
                {% endif %}
                {% comment %} {% render 'rtx_price'%} {% endcomment %}
                {% comment %} <div data-smartrr-product-id="{{ product.id }}" data-smartrr-price-style="overwrite">
                  <span data-smartrr-compare-price></span>
                  <span data-smartrr-regular-price></span>
                  <span data-smartrr-subscribe-price></span>
                </div> {% endcomment %}
                {%- else -%}
                {{ 'products.product.sold_out' | t }}
                {%- endif -%}
              </div>
            </button>
            {%- if block.settings.show_dynamic_checkout -%}
            {% comment %} {{ form | payment_button }} {% endcomment %}
            <div data-smartrr-product-id="{{ product.id }}" data-smartrr-price-style="overwrite">
              <span data-smartrr-compare-price></span>
              <span data-smartrr-regular-price></span>
              <span data-smartrr-subscribe-price></span>
            </div>
            {%- endif -%}
          </div>
          
          {% if product.metafields.custom.discount_bubble != blank %}
          <div class="discount-bubble">
            <p>{{ product.metafields.custom.discount_bubble }}</p>
          </div>
          {% endif %}

{%- liquid
    assign currentVariant = currentVariant
    assign requiresPlan = product.requires_selling_plan
    assign selectedAllocation = product.selected_or_first_available_selling_plan_allocation
    assign currentAllocations = currentVariant.selling_plan_allocations
  -%}

{%- comment -%} Subscription Box {%- endcomment -%}
    
    <div class="rtx-subscription-box">
  
      {%- comment -%} Subscription Gift Box Toggle {%- endcomment -%}
      <div>
        <input id="subscriptionGift" type="checkbox" name="properties[_gifted-subscription]">
        <label for="subscriptionGift">or<span>SEND BUOY AS A GIFT </span><span class="present">🎁</span> </label>
      </div>
      {%- comment -%} Gift Box {%- endcomment -%}
  
      <div data-retextion-gift-box class="rtx-gift-box">
        <div>
          <label for="subscriptionEmail">Recipient's Email</label>
          <input id="subscriptionEmail" type="email" name="properties[Gift Recipient Email]">
        </div>
        <div>
          <label for="subscriptionName">Recipient's Name</label>
          <input id="subscriptionName" type="text" name="properties[Gift Recipient Name]">
        </div>
        <div>
          <label for="subscriptionMessage">Gift Message</label>
          <textarea id="subscriptionMessage" name="properties[Gift Message]" maxlength="1024"></textarea>
        </div>
        <p>You will provide the shipping information during checkout.</p>
      </div>
      {%- comment -%} Selling Plan Options {%- endcomment -%}
  
    </div>
            
          
          
          {%- endform -%}
        </product-form>

          {% comment %}
        {% assign my_fields = product.metafields.my_fields %}
        {% if my_fields.badge_one != blank or my_fields.badge_two != blank or my_fields.badge_three != blank or my_fields.badge_four != blank %}
          <div class="Badge_Grid_Container">
            {% if my_fields.badge_one != blank %}
              <div class="Badge_Grid_Item">
                <span class="Badge_Grid">{{ my_fields.badge_one }}</span>
              </div>
            {%- endif -%}

            {% if my_fields.badge_two != blank %}
              <div class="Badge_Grid_Item">
                <span class="Badge_Grid">{{ my_fields.badge_two }}</span>
              </div>
            {%- endif -%}

            {% if my_fields.badge_three != blank %}
              <div class="Badge_Grid_Item">
                <span class="Badge_Grid">{{ my_fields.badge_three }}</span>
              </div>
            {%- endif -%}

            {% if my_fields.badge_four != blank %}
              <div class="Badge_Grid_Item">
                <span class="Badge_Grid">{{ my_fields.badge_four }}</span>
              </div>
            {%- endif -%}
          </div>
        {% endif %}
        
      
        {% if product.type == 'Subscription' or product.type == 'Bundle' %}
        <div class="product__subscription-tooltip">
          <button class="product__subscription-tooltip-text">
            <p class="body-small light">How the Anti-Yellow Pee Club Works</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.10634 3.16406C6.33359 3.16406 4.87747 4.56156 4.87747 6.29014C4.87634 6.38125 4.91177 6.46898 4.97574 6.53393C5.03985 6.59874 5.12716 6.6353 5.21827 6.6353C5.30952 6.6353 5.39682 6.59874 5.46079 6.53393C5.5249 6.46897 5.56033 6.38125 5.55921 6.29014C5.55921 4.94383 6.68903 3.84579 8.10636 3.84579C8.81353 3.84579 9.52466 4.13386 10.0124 4.58009C10.5001 5.02632 10.7619 5.6018 10.6565 6.23403V6.23445C10.4288 7.60974 9.81022 7.83933 9.10107 8.27476C8.74649 8.4924 8.36266 8.75533 8.10171 9.21099C7.84077 9.66664 7.72042 10.2833 7.78861 11.1658V11.1656C7.79452 11.2566 7.83656 11.3414 7.90545 11.4011C7.9742 11.4609 8.06418 11.4906 8.155 11.4835C8.24596 11.4765 8.33018 11.4335 8.38909 11.3637C8.448 11.2941 8.47654 11.2039 8.46838 11.1131C8.4068 10.3149 8.51829 9.85532 8.69333 9.54954C8.86837 9.24374 9.12509 9.05987 9.45773 8.85558C10.1229 8.44728 11.0662 7.93285 11.329 6.34597V6.34568C11.4764 5.46107 11.0924 4.64409 10.4727 4.07708C9.85278 3.50992 8.99433 3.16407 8.10648 3.16407L8.10634 3.16406Z" fill="currentColor"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.12012 12.0918C7.74868 12.0918 7.43994 12.4031 7.43994 12.7735C7.43994 13.144 7.74672 13.4552 8.12012 13.4552C8.49352 13.4552 8.80044 13.1461 8.80044 12.7735C8.80044 12.401 8.49155 12.0918 8.12012 12.0918Z" fill="currentColor"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.12012 0.75C3.9814 0.75 0.620117 4.12734 0.620117 8.28203C0.620117 12.4369 3.98144 15.8126 8.12012 15.8126C12.2588 15.8126 15.6201 12.4371 15.6201 8.28203C15.6201 4.12712 12.2589 0.75 8.12012 0.75V0.75ZM8.12012 1.43172C11.8888 1.43172 14.9381 4.49413 14.9381 8.28207C14.9381 12.0702 11.8886 15.131 8.12012 15.131C4.35165 15.131 1.30216 12.0704 1.30216 8.28207C1.30216 4.49392 4.35176 1.43172 8.12012 1.43172V1.43172Z" fill="currentColor"/>
            </svg>
          </button>
          <div class="product__subscription-tooltip-popover">
            <p class="body-small light">You’re the boss.</p>
            <p class="body-small light"><div class="check-item body light">✓ Save 24% ✓ Free Shipping ✓ 30 Day Guarantee ✓ Cancel after your first order or make it a habit</div></p>
          </div>
        </div>

        <div class="product__subscription-benefits">
          <p class="sh4 light caps">Monthly Subscription Benefits</p>
          <p class="body light">✓ 30 Day Money-Back Guarantee</p>
          <p class="body light">✓ Cancel Anytime</p>
          <p class="body light">✓ Save 24%</p>
          <p class="body light">✓ Free Shipping</p>
        </div>
        {% endif %}
       

        <div class="pdp-faq">
          <div class="faq-section pdp-faq-section">
            <div class="faq-section__container">
              {% if product.metafields.custom.new_ingredients_tab != blank %}
                <div class="faq__item">
                  <button class="faq__header">
                    <p class="sh4 medium">Ingredients</p>
                    {% render 'icon-caret' %}
                  </button>
                  <div class="faq__content">
                    <div class="sh4 single_line_text_field">{{ product.metafields.custom.new_ingredients_tab }}</div>
                    <a href="javascript:void(0);" class="tabs-label body medium js-ingredients-open">Full Supplement Facts</a>
                    <div class="Why_This_Matters">
                      {% if product.metafields.custom.why_matters_text != blank %}
                       <p>{{ product.metafields.custom.why_matters_text }}</p>
                      {% endif %}
                      <a href="#Dropdowns_Container">{{ 'products.general.matters' | t }} <span><img src="{{ 'down-arrow.png' | asset_url }}"</span></a>
                    </div>
                  </div>
                </div>
              {% endif %} 
              
              {% if product.metafields.my_fields.health_benefits != blank %}
                <div class="faq__item">
                  <button class="faq__header">
                    <p class="sh4 medium">Benefits</p>
                    {% render 'icon-caret' %}
                  </button>
                  <div class="faq__content">
                    <div class="sh4 single_line_text_field">{{ product.metafields.my_fields.health_benefits }}</div>
                  </div>
                </div>
              {% endif %}   

              {% if product.metafields.my_fields.how_to_use != blank %}
                <div class="faq__item">
                  <button class="faq__header">
                    <p class="sh4 medium">How to Use</p>
                    {% render 'icon-caret' %}
                  </button>
                  <div class="faq__content">
                    <div class="sh4 single_line_text_field">{{ product.metafields.my_fields.how_to_use }}</div>
                  </div>
                </div>
              {% endif %} 
               
              {% if product.metafields.my_fields.highlights_tab != blank %}
                <div class="faq__item">
                  <button class="faq__header">
                    <p class="sh4 medium">Details</p>
                    {% render 'icon-caret' %}
                  </button>
                  <div class="faq__content">
                    <p class="sh4 single_line_text_field">{{ product.metafields.my_fields.highlights_tab }}</p>
                  </div>
                </div>
              {% endif %}
              
              {% if product.metafields.my_fields.ingredients_tab != blank %}
                <div class="faq__item">
                  <button class="faq__header">
                    <p class="sh4 medium">Ingredients</p>
                    {% render 'icon-caret' %}
                  </button>
                  <div class="faq__content">
                    <p class="sh4 single_line_text_field">
                      {{ product.metafields.my_fields.ingredients_tab }}
                      
                      <a href="javascript:void(0);" class="tabs-label body medium js-ingredients-open">Full Ingredients List</a>                      
                    </p>
                  </div>
                </div>
              {% endif %}
              
              {% if product.metafields.my_fields.greatfor_tab != blank %}
                <div class="faq__item">
                  <button class="faq__header">
                    <p class="sh4 medium">Great For</p>
                    {% render 'icon-caret' %}
                  </button>
                  <div class="faq__content">
                    <p class="sh4 single_line_text_field">{{ product.metafields.my_fields.greatfor_tab }}</p>
                  </div>
                </div>
              {% endif %}
              
              {% if product.metafields.my_fields.sustainability_tab != blank %}
                <div class="faq__item">
                  <button class="faq__header">
                    <p class="sh4 medium">Sustainability</p>
                    {% render 'icon-caret' %}
                  </button>
                  <div class="faq__content">
                    <p class="sh4 single_line_text_field">{{ product.metafields.my_fields.sustainability_tab }}</p>
                  </div>
                </div>
              {% endif %}
              
            </div>
          </div>
        </div>
         {% endcomment %}

        <div class="product-listblock__container">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'list_block' -%}
             <div class="product-listblock">          
               <img src="{{ block.settings.list_block_type_img | img_url: 'master' }}"/>
               <div>  
                 <p class="sh2 product-listblock__text">{{ block.settings.list_block_type_text }}</p> 
                 <p class="product-listblock__subtext">{{ block.settings.list_block_type_subtext }}</p>
               </div>
             </div>
          {%- endcase -%}
        {%- endfor -%}
        </div>
        <div class="Testimonials_Main">
          <p class="Testimonials_Main_Title">Reviews</p>
          <div class="Testimonials_Slider">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'testimonials' -%}
                   <div class="Testimonials_Wrapper">
                     {% if block.settings.testimonial_video != blank %}
                      <video class="hide-mobile" controls muted loop preload="metadata">
                        <source src="{{ block.settings.testimonial_video }}#t=0.1" type="video/mp4">
                      </video>
                      <video class="hide-desktop" autoplay muted loop webkit-playsinline playsinline>
                        <source src="{{ block.settings.testimonial_video }}" type="video/mp4">
                      </video>
                     {% elsif block.settings.testimonial_image != blank %}
                       <img src="{{ block.settings.testimonial_image | img_url: 'master' }}"/>
                     {% endif %}
                     <span class="Testimonials_Rating"></span>
                     {% if block.settings.testimonial_text != blank %}
                       <p>{{ block.settings.testimonial_text }}</p>
                     {% endif %}
                   </div>
              {%- endcase -%}
            {%- endfor -%}
          </div>
          {% if section.settings.testimonial_btn_txt != blank %}
            <a href="{{ section.settings.testimonial_btn_link }}" class="All_Reviews">{{ section.settings.testimonial_btn_txt }}</a>
          {% endif %}
        </div>
      
        {% if section.settings.shop_more_text1 != blank or section.settings.shop_more_text2 != blank %}
          <div class="product__links">
            {% if section.settings.shop_more_text1 != blank %}
            <a href="{{ section.settings.shop_more_link1 }}" class="body bold">
              {{ section.settings.shop_more_text1 }}
              {% render 'icon-arrow-right' %}
            </a>
            {% endif %}
            {% if section.settings.shop_more_text2 != blank %}
            <a href="{{ section.settings.shop_more_link1 }}" class="body bold">
              {{ section.settings.shop_more_text2 }}
              {% render 'icon-arrow-right' %}
            </a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="product__media-wrapper no-scrollbar drag-scroll">
      <div class="sticky-images">
        <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
          {{ "accessibility.skip_to_product_info" | t }}
        </a>
        <div class="product__media-list">
          {%- assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' -%}
          {% comment %}
          {%- if currentVariant.featured_media != null -%}
          {%- assign media = currentVariant.featured_media -%}
          <div class="product__media-item{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
            {% render 'product-thumbnail', media: media, position: 'featured', loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
          </div>
          {%- endif -%}
          {% endcomment %}
          {%- for media in product.media -%}
          <div class="product__media-item{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
           {% comment %}
            {% if forloop.index == 1 %}
            {% if product.available == false %}
              {% render 'spinner-sold-out' %}
            {% elsif product.metafields.my_fields.show_trending_product_card == true %}
              {% render 'spinner-trending' %}
            {% elsif product.metafields.my_fields.show_most_popular_product_card == true %}
              {% render 'spinner-most-popular' %}
            {% endif %}
            {% endif %}
            {% endcomment %}

           {% comment %}
            {% for badges_image in product.metafields.my_fields.badges_image.value %}
              {% assign badges_index = forloop.index %}
              {% assign main_index = forloop.parentloop.index %}
              {% if badges_index == main_index %}
                <div class="product-spinner">
                  <img src="{{ badges_image | img_url:'master' }}"/>
                </div>
              {% endif %}
             {% endfor %}
            {% endcomment %}
            
           {% assign media_alt = media.preview_image.alt | handle %}
           {% assign media_alt_icon = media_alt | append:'-icon' %}
            {% if media.preview_image.alt != blank %}
              <div class="product-spinner badge_animat_cls">
                {% if media_alt == 'all-day-hydration' %}
                  <div class="fixed_badge_center">
                    ⚡
                  </div>  
                {% elsif media_alt == 'clean-pure' %}
                  <div class="fixed_badge_center">
                    💦
                  </div>
                {% elsif media_alt == 'vegan-nongmo' %}
                  <div class="fixed_badge_center">
                    🌱
                  </div>
                {% elsif media_alt == '100-pcr-bottles' %}
                  <div class="fixed_badge_center">
                    ♻️
                  </div>
                {% elsif media_alt == 'unsweetened-unflavored' %}
                  <div class="fixed_badge_center">
                    👅
                  </div>
                {% elsif media_alt == 'add-to-any-drink' %}
                  <div class="fixed_badge_center">
                    🍺
                  </div>
                {% elsif media_alt == 'all-day-energy' %}
                  <div class="fixed_badge_center">
                    🔋
                  </div>
                {% elsif media_alt == 'no-crashes' %}
                  <div class="fixed_badge_center">
                    📉
                  </div>
                {% elsif media_alt == 'plant-powered-antioxidants' %}
                  <div class="fixed_badge_center">
                    🫐
                  </div>
                {% elsif media_alt == 'fortifying-minerals' %}
                  <div class="fixed_badge_center">
                    🛡
                  </div>
                 {% elsif media_alt == 'more-bioavailable' %}
                  <div class="fixed_badge_center three-x-text">
                    3x
                  </div>
                {% endif %} 
                <div class="rotet_badge_svg">
                  <img src="{{ media_alt | append:'.svg' | file_url }}"/>
                </div>
              </div>
            {% endif %}
            
            {% render 'product-thumbnail', media: media, position: forloop.index, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
          </div>
          {%- endfor -%}
        </div>
        <div class="product__media-arrows hide-mobile"></div>
      </div>
    </div>
  </div>

</section>

<div class="Supplements_Popup">
</div>

<div class="show-product-bar"></div>
<script type="application/json" id="js-product-variant-json">
  {
    {% for variant in product.variants %}
      "{{ variant.id }}":{
        "price":"{{ variant.price | money_without_trailing_zeros }}",
        "compare_price":{% if variant.compare_at_price %}{{ variant.compare_at_price | money_without_trailing_zeros | json }}{% else %}""{% endif %},
        "subscription_price":"{{ variant.selling_plan_allocations[0].price | money_without_trailing_zeros }}"
      }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  }
</script>

{% comment %}
{% unless product.type == 'Bundle' %}
{% if product.metafields.my_fields.nutrition_label != blank %}
<div class="product-nutrition-label">
  <div class="product-nutrition-label__wrapper">
    <div class="product-nutrition-label__overlay"></div>
    <div class="product-nutrition-label__container">
      <button class="product-nutrition-label__close">{% render 'icon-close' %}</button>
      <div class="product-nutrition-label__container-inner">
        <div class="product-nutrition-label__image">
          <img src="{{ product.metafields.my_fields.nutrition_label | img_url: 'master' }}" />
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% else %}
<div class="product-nutrition-label" data-tab="hydration">
  <div class="product-nutrition-label__wrapper">
    <div class="product-nutrition-label__overlay"></div>
    <div class="product-nutrition-label__container">
      <button class="product-nutrition-label__close">{% render 'icon-close' %}</button>
      <div class="product-nutrition-label__container-inner">
        <div class="product-nutrition-label__image">
          {% assign hydration = all_products['hydration-drops'] %}
          <img src="{{ product.metafields.my_fields.nutrition_label | img_url: 'master' }}" />
        </div>
      </div>
    </div>
  </div>
</div>
{% endunless %}
{% endcomment %}

{% javascript %}
// Product tabs
$('.product__tabs-header .body').click(function() {
if (!$(this).hasClass('active')) {
var tab = $(this).data('tab');

$(this).siblings().removeClass('active');
$(this).addClass('active');

$(this).closest('.product__tabs').find('.product__tab').removeClass('active');
$(this).closest('.product__tabs').find(`.product__tab[data-tab="${tab}"]`).addClass('active');
}
});

// Bundle tabs
$('.product__bundle-header-container button').click(function() {
if (!$(this).hasClass('active')) {
var tab = $(this).data('tab');

$('.product__bundle-header-container button').removeClass('active');
$(this).addClass('active');

$('.product__tabs').removeClass('active');
$(`.product__tabs[data-tab="${tab}"]`).addClass('active');
}
});

// Nutrition Label Popup


{% endjavascript %}


<script>
  window.Order_Within = function(){
    const date = new Date();
    var currentHours = new Date(date.toLocaleString('en-US', {timeZone: 'America/Los_Angeles',})).getHours()
    var currentMinutes = new Date(date.toLocaleString('en-US', {timeZone: 'America/Los_Angeles',})).getMinutes()
    console.log("currentHours",currentHours,currentMinutes)
    var today = new Date();
    var tomorrow =  new Date()
    tomorrow.setDate(today.getDate() + 1)
     
    var options = {day: "numeric",month: "long"}
    var sDay = today.toLocaleDateString("en-US", options);
    var tDay = tomorrow.toLocaleDateString("en-US", options);
    var orderWithin; 
  
   if(today.getDay() == 0 || today.getDay() == 6) {
      if(today.getDay() == 5 && currentHours >= 10 && currentHours < 12){
          if (currentMinutes == 0) {
          orderWithin =  `Ships <span>today</span> If ordered in the next <span style="color: #C6DB76">60mins</span>`;
        } else {
          orderWithin =  `Ships <span>today</span> If ordered in the next <span style="color: #C6DB76">${currentMinutes}mins</span>`;
        }
      }
      else{
          orderWithin =  `Ships <span>Monday morning</span> if ordered now`;
      }
      orderWithin =  `Ships <span>Monday morning</span> if ordered now`;
    } else {
      if (currentMinutes != 0) {
        currentMinutes = 60 - currentMinutes
      }
      if (currentHours >= 10 && currentHours < 12) {
        if (currentMinutes == 0) {
          orderWithin =  `Ships <span>today</span>`;
        } else {
          if(today.getDay() != 5){
            if(currentHours == 10 && currentMinutes > 0  ){
             orderWithin =  `Ships <span>tomorrow</span> If ordered in the next <span style="color: #C6DB76">${24 - currentHours }hr ${currentMinutes}mins</span>`;
          }
          else {
             orderWithin =  `Ships <span>today</span> If ordered in the next <span style="color: #C6DB76">${currentMinutes}mins</span>`;
          }
          }
          else {
             orderWithin =  `Ships <span>Monday morning</span> if ordered now`;
          }
        }
      } else if( currentHours < 10  ) {
         orderWithin = `Ships <span>today</span> If ordered in the next <span style="color: #C6DB76"> ${currentMinutes}mins</span>`;
      } else {
         orderWithin = `Ships <span>tomorrow</span> If ordered in the next <span style="color: #C6DB76">${23 - currentHours }hr ${currentMinutes}mins</span>`;
      }
    }
    let Order_Within = document.querySelectorAll('.Order_Within');

    if(Order_Within.length > 0){
      Order_Within.forEach(function(e){
        console.log('Element :: ',e)
        e.innerHTML = orderWithin;
      })
    }
  }
  // window.Order_Within();
</script>

{% # rtx-pfp.liquid Script start %}

<script type="text/javascript">
  ((api) => { 
  const boxId = "{{ product.id }}-{{ section.id }}-{{ block.id }}";
  const boxProduct = {{ product | json }};
  const elementRoot = document.querySelector('[data-rtx-subscription-' + boxId + ']');
  const productForm = elementRoot.closest('form[action="/cart/add"]') || elementRoot.closest('form') || document.querySelector('form[action="/cart/add"]') || document.documentElement;
  const elementSubscriptionBox = productForm.querySelector('[data-retextion-subscription-box]');
  const elementGiftBox = productForm.querySelector('[data-retextion-gift-box]');
  const elementGiftCheckbox = productForm.querySelector('[name="properties[_gifted-subscription]"]');
  const elementSellingPlan = productForm.querySelector('[name="selling_plan"]');
  const elementQuantitySelector = productForm.querySelector('[name="quantity"]');
  const elementsPurcahseTypeRadio = productForm.querySelectorAll('[name="purchaseType"]');
  const elementsVariantSelectors = productForm.querySelectorAll('[name="id"]');
  const elementsInputs = productForm.querySelectorAll('button, input, textarea, select, option, data-list, optgroup ');
  const sellingPlan = productForm.querySelector('[name="selling_plan"]');
  let selectedVariantId = {{ currentVariant.id | json }};
  const queryParamsGet = () => {
    let [origin, searchAndHash] = window.location.toString().split('?');
    searchAndHash = searchAndHash || "";
    let [search] = searchAndHash.split('#');
    return (search || '').split('&').reduce((o, e) => {
      let [key, value] = e.split('=').map(x =>
        decodeURIComponent(x));
        if (!key || !value) return o;
        o[key] = value;
      return o;
    }, {});
  };
    const queryParamsGenerate = (qp) => { 
      qp = qp || {};
      //Remove undefined
      Object.keys(qp).forEach(key => {
        if (typeof qp[key] !== typeof undefined) return;
        delete qp[key];
      });
      return Object.keys(qp).reduce((x, key, i) => {
        let value = qp[key];
        if (i != 0) x += '&';
        return x += encodeURIComponent(key) + '=' + encodeURIComponent(value);
      }, '');
    };
    const subscriptionBoxHide = () => {
      elementSubscriptionBox.classList.remove('is-visible');
    };
    const subscriptionBoxShow = () => {
      sellingPlan.disabled = false;
      elementSubscriptionBox.classList.add('is-visible');
    };
    const subscriptionGiftShow = () => {
      elementGiftBox.classList.add('is-visible');
    };
    const subscriptionGiftHide = () => {
      elementGiftBox.classList.remove('is-visible');
    };
    const sellingPlanQueryUpdate = () => {
      const queryParams = queryParamsGet();
      if (elementSubscriptionBox.classList.contains('is-visible')) {
        queryParams['selling_plan'] = sellingPlanSelectionGet() || undefined;
      } else {
        delete queryParams['selling_plan'];
      }
      const qs = queryParamsGenerate(queryParams);
      try {
        let hash;
        hash = (hash = window.location.toString().split('#')).length > 1 ? hash[1] : null;
        const url = window.location.toString().split('?')[0] + '?' + qs + (hash ? '#' + hash : '');
        history.pushState(queryParams, '', url);
      } catch (e) {
        // Catching since older browsers and iOS can have issues
        console.error(e);
      }
    };
    const sellingPlanSelectionGet = () => {
      return parseInt(elementSellingPlan.value);
    };
    const sellingPlanSelectionSet = (sellingPlan) => {
      sellingPlan = sellingPlan && sellingPlan.id ? sellingPlan.id : sellingPlan;
      elementSellingPlan.value = sellingPlan.toString();
    };
    const sellingPlanPropertiesGet = () => {
      const formData = new FormData(productForm);
      return Array.from(formData.entries());
    };
    const sellingPlanUrlGenerate = () => {
      const props = sellingPlanPropertiesGet();
      let strProperties = '';
      sellingPlanPropertiesGet().forEach(prop => {
        const key = prop[0];
        if (!key.startsWith('properties[')) return;
        const val = prop[1];
        if (!val || !val.toString().length) return;
        strProperties += '&items[][' + encodeURIComponent(key) + '] = ' + encodeURIComponent(val);
      });
      return window.location.origin + '/cart/clear?return_to=' + encodeURIComponent('/cart/add' + '?items[][id]=' + selectedVariantId + '&items[][quantity]=' + (elementQuantitySelector ? elementQuantitySelector.value : 1) + strProperties + '&items[][selling_plan]=' + sellingPlanSelectionGet() + '&return_to=/checkout');
    };
    const sellingPlanUpdate = () => {
      sellingPlanQueryUpdate();
      console.log(sellingPlanUrlGenerate());
    };
    const sellingPlanUpdateVariant = () => {
      const variant = (boxProduct.variants.find(v => v.id == selectedVariantId) || boxProduct.variants.find(v => v.available) || boxProduct.variants[0] );
      let newOptions = '';
      // Determine the selected option
      let selected = sellingPlanSelectionGet();
      if (!variant.selling_plan_allocations.some(spa => {
        return spa.selling_plan_id == selected;
      })) {
        selected = variant.selling_plan_allocations[0].selling_plan_id;
      }
      // Generate new options
      variant.selling_plan_allocations.forEach((spa, i) => {
        const sellingGroup = boxProduct.selling_plan_groups.find(spg => spg.id === spa.selling_plan_group_id);
        const sellingPlan = sellingGroup.selling_plans.find(sp => sp.id === spa.selling_plan_id);
        const opt = document.createElement('option');
        if (sellingPlan.id == selected) {
          opt.setAttribute('selected', 'selected');
        }
        opt.value = sellingPlan.id;
        opt.textContent = sellingPlan.name;
        newOptions += opt.outerHTML;
      });
      // Update select
      elementSellingPlan.innerHTML = newOptions;
      sellingPlanUpdate();
    };
    // Event Listeners
    elementsPurcahseTypeRadio.forEach(el => {
      el.addEventListener('change', e => {
        let elValue = el.value;
        let mainProductButton = document.querySelector('.js-mainproduct-submit'),
            stickyButton = document.querySelector('.js-sticky-add-to-cart');
        let variantJson = JSON.parse(document.querySelector("#js-product-variant-json").innerText),
            currentVariant = productForm.id.value;
        if (el.value === 'purchaseTypeSubscription') {
          subscriptionBoxShow();
          sellingPlan.disabled = false;
          document.querySelector('.js-sticky-subscription-btns').value = "subscription";
          if(mainProductButton.dataset.available == "true"){
            mainProductButton.innerHTML = `Add to Cart —&nbsp;<s>${variantJson[currentVariant].price}</s>&nbsp;${variantJson[currentVariant].subscription_price}`;
            stickyButton.innerHTML = `Add to Cart —&nbsp;<s>${variantJson[currentVariant].price}</s>&nbsp;${variantJson[currentVariant].subscription_price}`;
          }
        } else {
          subscriptionBoxHide();
          sellingPlan.disabled = true;
          document.querySelector('.js-sticky-subscription-btns').value = "one-time";
          
          if(mainProductButton.dataset.available == "true"){
            mainProductButton.innerHTML = `Add to Cart —&nbsp;<s>${variantJson[currentVariant].compare_price}</s>&nbsp;${variantJson[currentVariant].price}`;
            stickyButton.innerHTML = `Add to Cart —&nbsp;<s>${variantJson[currentVariant].compare_price}</s>&nbsp;${variantJson[currentVariant].price}`;
          }
        }
        /*elementGiftBox.querySelectorAll('[name*="properties"]').forEach(input => {
          input.disabled = (elValue != 'purchaseTypeSubscription');
        });*/
        sellingPlanUpdate();
      });
    }); 
    elementGiftCheckbox.addEventListener('change', e => {
      if (e.target.checked) {
        subscriptionGiftShow();
      } else {
        subscriptionGiftHide();
      }
      sellingPlanUpdate();
    }); 
    elementSellingPlan.addEventListener('change', e => {
      sellingPlanUpdate();
    }); 
    elementsVariantSelectors.forEach(vs => {
      vs.addEventListener('change', e => {
        selectedVariantId = e.target.value;
        sellingPlanUpdateVariant();
      });
    });
    elementsInputs.forEach(inp => {
      inp.addEventListener('change', e => { 
        sellingPlanUpdate();
      });
    });
    // Public API
    return Object.assign(api, {
      [boxId]: {
        boxId,
        boxProduct,
        subscriptionBoxHide,
        subscriptionBoxShow,
        subscriptionGiftShow,
        subscriptionGiftHide,
        sellingPlanUrlGenerate
      }
    });
  })((window.retextionBuyBox = {}));
  </script>


{% # rtx-pfp.liquid Script End %}

{% schema %}
  {
    "name": "t:sections.main-product.name",
    "tag": "section",
    "class": "product-section",
    "settings": [
      {
        "type": "select",
        "id": "picker_type",
        "options": [
          {
            "value": "dropdown",
            "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
          },
          {
            "value": "button",
            "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
          }
        ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        },
        {
          "type" : "header",
          "content" : "Supplement Facts"
        },
        {
          "type" : "text",
          "id" : "supplement_fact_text",
          "label" : "Supplement Fact Text"
        },
        {
          "type" : "url",
          "id" : "supplement_fact_link",
          "label" : "Supplement Fact URL"
        },
        {
          "type": "textarea",
          "id": "ship_text",
          "label": "Shipping text"
        },
        {
          "type" : "header",
          "content" : "Shop More"
        },
        {
          "type" : "text",
          "id" : "shop_more_text1",
          "label" : "Shop More Text 1"
        },
        {
          "type" : "url",
          "id" : "shop_more_link1",
          "label" : "Shop More URL 1"
        },
        {
          "type" : "text",
          "id" : "shop_more_text2",
          "label" : "Shop More Text 2"
        },
        {
          "type" : "url",
          "id" : "shop_more_link2",
          "label" : "Shop More URL 2"
        },
        {
          "type" : "text",
          "id" : "one_time_text",
          "label" : "One Time Purchase Text"
        },      
        {
          "type" : "header",
          "content" : "Testimonials"
        },
        {
          "type" : "text",
          "id" : "testimonial_btn_txt",
          "label" : "Testimonials button text"
        },
        {
          "type" : "url",
          "id" : "testimonial_btn_link",
          "label" : "Testimonials button url"
        },
        {
          "type" : "text",
          "id" : "lowest_price",
          "label" : "Starting At Price"
        }
      ],
      "blocks": [
        {
          "type": "block",
          "name": "Subscribe Block",
          "limit":1,
          "settings": [
            {
              "type": "image_picker",
              "id": "purchase_type_img",
              "label": "Subscription subimage"
            },
            {
              "type": "text",
              "id": "purchase_type_text",
              "label": "Subscription text"
            },
            {
              "type": "textarea",
              "id": "purchase_type_subtext",
              "label": "Subscription subtext"
            }
          ]
        },
        {
          "type": "onetime_block",
          "name": "OneTime Block",
          "limit":1,
          "settings": [
            {
              "type": "image_picker",
              "id": "onetime_purchase_type_img",
              "label": "OneTime Purchase subimage"
            },
            {
              "type": "text",
              "id": "onetime_purchase_type_text",
              "label": "OneTime Purchase text"
            },
            {
              "type": "textarea",
              "id": "onetime_purchase_type_subtext",
              "label": "OneTime Purchase subtext"
            }
          ]
        },
        {
          "type": "list_block",
          "name": "List Block",
          "limit":3,
          "settings": [
            {
              "type": "image_picker",
              "id": "list_block_type_img",
              "label": "List Item Image"
            },
            {
              "type": "text",
              "id": "list_block_type_text",
              "label": "List Item Text"
            },
            {
              "type": "text",
              "id": "list_block_type_subtext",
              "label": "List Item Subtext"
            }
          ]
        },
        {
          "type": "testimonials",
          "name": "Testimonials",
          "settings": [
            {
              "type": "text",
              "id": "testimonial_text",
              "label": "Testimonial text"
            },
            {
              "type": "text",
              "id": "testimonial_video",
              "label": "Testimonial Video URL"
            },
            {
              "type": "image_picker",
              "id": "testimonial_image",
              "label": "Testimonial Image"
            }
          ]
        }
      ]
  }
{% endschema %}

<script>
  
function makeTimer() {
  function addZero(number){
    var number = number.toString();
    var newNumber = number;
    if(number.length == 1){
      newNumber = `0${number}`;
    }
    return newNumber;
  }
  
  const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

  var currentDate = new Date(),
      endCmsDate = new Date("{{ section.settings.timer }}"),
      endDate = new Date(`${endCmsDate.getFullYear()}-${addZero(endCmsDate.getMonth() + 1)}-${addZero(endCmsDate.getDate())}T${addZero(currentDate.getHours())}:${addZero(currentDate.getMinutes())}:${addZero(currentDate.getSeconds())}`);
  var tomorrowDate = new Date();
  tomorrowDate.setDate(tomorrowDate.getDate() + 1);

  // console.log(`EndDate :: ${endDate}\ntomorrowDate:: ${tomorrowDate}`,`\n${endCmsDate.getFullYear()}-${endCmsDate.getMonth() + 1}-${endCmsDate.getDate()}T${currentDate.getHours()}:${currentDate.getMinutes()}:${currentDate.getSeconds()}`)

  var dateString = `${endCmsDate.getDate()} ${monthNames[endCmsDate.getMonth()]} ${endCmsDate.getFullYear()}`
  
  if(endDate.getTime() <= tomorrowDate.getTime()){
    dateString = 'tomorrow';
  }

  
  var endTime = new Date("{{ section.settings.timer }}");	
  endTime = (Date.parse(endTime) / 1000);

  var now = new Date();
  now = (Date.parse(now) / 1000);

  var timeLeft = endTime - now;
  var days = Math.floor(timeLeft / 86400); 
  var hours = Math.floor((timeLeft - (days * 86400)) / 3600) ;
  var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600 )) / 60);
  var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));

  if (hours < "10") { hours = "0" + hours; }
  if (minutes < "10") { minutes = "0" + minutes; }
  if (seconds < "10") { seconds = "0" + seconds; }

  // $("#days").html((days) + "<span>Days</span>");
  $(".js-date-wrapper").find('date').html(dateString);
  $("#hours").html((parseInt(hours) + (parseInt(days) * 24)) + "<span>hrs</span>");
  $("#minutes").html(minutes + "<span>min</span>");
  $("#seconds").html(seconds + "<span>Seconds</span>");		
}

setInterval(function() { makeTimer(); }, 1000);
</script>
