
{{ 'section-main-menu.css' | asset_url | stylesheet_tag }} 

<div class="main-menu {% if settings.fix_announcement == true %}Fixed_Announcement_Bar{% endif %} {% if settings.show_announcement_bar == true %}Announcement_Shown{% endif %}" aria-hidden="true">  
  <button class="main-menu__close">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M5.23066 19.7142L4.28516 18.7687L11.0539 11.9999L4.28516 5.23115L5.23066 4.28564L11.9994 11.0544L18.7682 4.28564L19.7137 5.23115L12.945 11.9999L19.7137 18.7687L18.7682 19.7142L11.9994 12.9454L5.23066 19.7142Z" fill="#1F2322"/>
    </svg>
  </button>
  <div class="main-menu__wrapper">
    <div class="main-menu__container">
      <div class="header__dropdown-item">{{ section.settings.dropdown_title }}</div>
      <div class="header__dropdown-links-wrapper">
        <div class="header__dropdown-links">
          {%- if section.settings.dropdown_link_text != blank -%}
            <a href="{{ section.settings.dropdown_link_one }}">
              <h3 class="header__dropdown-title">{{ section.settings.dropdown_link_text }}</h3>
            </a>
          {%- endif -%}
          {%- if section.settings.dropdown_link_text_two != blank -%}
            <a href="{{ section.settings.dropdown_link_two }}">
              <h3 class="header__dropdown-title">{{ section.settings.dropdown_link_text_two }}</h3>
            </a>
          {%- endif -%}
        </div>
      </div>
      <div class="header__dropdown-image-wrapper">
        {%- if section.settings.dropdown_title_two != blank -%}
          <div class="header__dropdown-item">{{ section.settings.dropdown_title_two }}</div>
        {%- endif -%}
        <div class="header__dropdown-card-mobile-container">
          <div class="header__dropdown-card-mobile-wrapper">
            {%- for block in section.blocks -%}
              {%- assign bs = block.settings -%}
              <div class="header__dropdown-card-mobile">
                <div class="header__dropdown-mobile-image-wrapper">
                  <div class="media header__dropdown-mobile-image" style="padding-bottom: 70%;">
                    {% render 'lazy-image' image: bs.block_image, fade: true, classes: 'img-fill' %}
                  </div>
                  {%- if bs.badge_text != blank -%}
                    <div class="header__dropdown-badge">
                      <p class="header__dropdown-badge-text">{{ bs.badge_text }}</p>
                    </div>
                  {%- endif -%}
                </div>
                <p class="header__dropdown-card-mobile-desc">{{ bs.block_desc }}</p>
              </div>
            {%- endfor -%}
          </div>
        </div>
      </div>

      <div class="header__dropdown-bottom">
        {%- if section.settings.dropdown_title_three != blank -%}
          <div class="header__dropdown-item">{{ section.settings.dropdown_title_three }}</div>
        {%- endif -%}
        <ul class="header__list">
          {%- for link in section.settings.mobile_menu.links -%}
          <li class="header__list-item">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
          {%- endfor -%}
          <li class="header__list-item header__list-item--account">
            <a href="/account">
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                <path d="M6.76699 20.6186C7.93216 19.8154 9.09134 19.1928 10.2445 18.7508C11.3977 18.3088 12.6497 18.0878 14.0003 18.0878C15.3509 18.0878 16.6058 18.3088 17.765 18.7508C18.9242 19.1928 20.0864 19.8154 21.2516 20.6186C22.0996 19.6359 22.7297 18.5983 23.1418 17.5058C23.5539 16.4132 23.7599 15.2447 23.7599 14C23.7599 11.2479 22.8213 8.93323 20.9442 7.05608C19.0671 5.17895 16.7524 4.24039 14.0003 4.24039C11.2482 4.24039 8.93353 5.17895 7.05638 7.05608C5.17926 8.93323 4.24069 11.2479 4.24069 14C4.24069 15.2447 4.44972 16.4132 4.86778 17.5058C5.28583 18.5983 5.9189 19.6359 6.76699 20.6186ZM13.994 14.6618C12.9452 14.6618 12.063 14.3019 11.3473 13.5819C10.6316 12.862 10.2737 11.9777 10.2737 10.9289C10.2737 9.88016 10.6337 8.99793 11.3536 8.28222C12.0735 7.56652 12.9579 7.20868 14.0066 7.20868C15.0554 7.20868 15.9376 7.56864 16.6533 8.28855C17.369 9.00846 17.7269 9.8928 17.7269 10.9416C17.7269 11.9904 17.3669 12.8726 16.647 13.5883C15.9271 14.304 15.0427 14.6618 13.994 14.6618ZM14.0139 25.0833C12.4777 25.0833 11.0365 24.7939 9.69022 24.215C8.34399 23.6362 7.16798 22.8431 6.16219 21.8357C5.15643 20.8283 4.36413 19.6546 3.78528 18.3145C3.20642 16.9744 2.91699 15.5355 2.91699 13.9978C2.91699 12.4602 3.20642 11.022 3.78528 9.68335C4.36413 8.34468 5.15723 7.17166 6.16458 6.16428C7.17196 5.15692 8.3457 4.36382 9.68579 3.78498C11.0259 3.20612 12.4648 2.91669 14.0025 2.91669C15.5401 2.91669 16.9783 3.20612 18.3169 3.78498C19.6556 4.36382 20.8286 5.15692 21.836 6.16428C22.8434 7.17166 23.6365 8.34499 24.2153 9.68429C24.7942 11.0236 25.0836 12.4576 25.0836 13.9863C25.0836 15.5226 24.7942 16.9638 24.2153 18.3101C23.6365 19.6563 22.8434 20.8323 21.836 21.8381C20.8286 22.8439 19.6553 23.6362 18.316 24.215C16.9767 24.7939 15.5427 25.0833 14.0139 25.0833ZM14.0003 23.7596C15.0847 23.7596 16.1541 23.5872 17.2086 23.2424C18.2631 22.8977 19.2563 22.3401 20.1881 21.5699C19.2563 20.8848 18.2695 20.3538 17.2277 19.9769C16.1859 19.6 15.1101 19.4115 14.0003 19.4115C12.8905 19.4115 11.8128 19.5981 10.7673 19.9713C9.72176 20.3445 8.74056 20.8773 7.8237 21.5699C8.74805 22.3401 9.73747 22.8977 10.792 23.2424C11.8465 23.5872 12.9159 23.7596 14.0003 23.7596ZM14.0019 13.3381C14.6993 13.3381 15.2739 13.1118 15.7256 12.659C16.1773 12.2063 16.4032 11.6312 16.4032 10.9337C16.4032 10.2362 16.1768 9.66164 15.724 9.20992C15.2713 8.75821 14.6962 8.53235 13.9987 8.53235C13.3013 8.53235 12.7267 8.75873 12.275 9.2115C11.8233 9.66424 11.5974 10.2393 11.5974 10.9368C11.5974 11.6343 11.8238 12.2089 12.2765 12.6606C12.7293 13.1123 13.3044 13.3381 14.0019 13.3381Z" fill="#1F2322"/>
              </svg>
              <span>Account</span>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Main Menu Mobile",
    "settings": [
      {
        "type": "text",
        "id": "dropdown_title",
        "label": "Dropdown Title"
      },
      {
        "type": "text",
        "id": "dropdown_link_text",
        "label": "Dropdown Link Text"
      },
      {
        "type": "url",
        "id": "dropdown_link_one",
        "label": "Dropdown URL"
      },
      {
        "type": "text",
        "id": "dropdown_link_text_two",
        "label": "Dropdown Link Text 2"
      },
      {
        "type": "url",
        "id": "dropdown_link_two",
        "label": "Dropdown URL Two"
      },
      {
        "type": "text",
        "id": "dropdown_title_two",
        "label": "Dropdown Title Two"
      },
      {
        "type": "text",
        "id": "dropdown_title_three",
        "label": "Dropdown Title Three"
      },
      {
        "type": "link_list",
        "id": "mobile_menu",
        "label": "Mobile Menu"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "block_image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "badge_text",
            "label": "Badge Text"
          },
          {
            "type": "text",
            "id": "block_desc",
            "label": "Description"
          }
        ]
      }
    ]
  }
{% endschema %}