
{{ 'section-main-menu.css' | asset_url | stylesheet_tag }} 

<div class="main-menu {% if settings.fix_announcement == true %}Fixed_Announcement_Bar{% endif %} {% if settings.show_announcement_bar == true %}Announcement_Shown{% endif %}" aria-hidden="true">  
  <button class="main-menu__close">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M5.23066 19.7142L4.28516 18.7687L11.0539 11.9999L4.28516 5.23115L5.23066 4.28564L11.9994 11.0544L18.7682 4.28564L19.7137 5.23115L12.945 11.9999L19.7137 18.7687L18.7682 19.7142L11.9994 12.9454L5.23066 19.7142Z" fill="#1F2322"/>
    </svg>
  </button>
  <div class="main-menu__wrapper">
    <div class="main-menu__container">
      <div class="header__dropdown-item">{{ section.settings.dropdown_title }}</div>
      <div class="header__dropdown-links-wrapper">
        <div class="header__dropdown-links">
          {%- if section.settings.dropdown_link_text != blank -%}
            <a href="{{ section.settings.dropdown_link_one }}">
              <h3 class="header__dropdown-title">{{ section.settings.dropdown_link_text }}</h3>
            </a>
          {%- endif -%}
          {%- if section.settings.dropdown_link_text_two != blank -%}
            <a href="{{ section.settings.dropdown_link_two }}">
              <h3 class="header__dropdown-title">{{ section.settings.dropdown_link_text_two }}</h3>
            </a>
          {%- endif -%}
        </div>
      </div>
      <div class="header__dropdown-image-wrapper">
        {%- if section.settings.dropdown_title_two != blank -%}
          <div class="header__dropdown-item">{{ section.settings.dropdown_title_two }}</div>
        {%- endif -%}
        <div class="header__dropdown-card-mobile-wrapper">
          {%- for block in section.blocks -%}
            {%- assign bs = block.settings -%}
            <div class="header__dropdown-card-mobile">
              <div class="header__dropdown-mobile-image-wrapper">
                <div class="media header__dropdown-mobile-image" style="padding-bottom: 70%;">
                  {% render 'lazy-image' image: bs.block_image, fade: true, classes: 'img-fill' %}
                </div>
                {%- if bs.badge_text != blank -%}
                  <div class="header__dropdown-badge">
                    <p class="header__dropdown-badge-text">{{ bs.badge_text }}</p>
                  </div>
                {%- endif -%}
              </div>
              <p class="header__dropdown-card-mobile-desc">{{ bs.block_desc }}</p>
            </div>
          {%- endfor -%}
        </div>
      </div>
      
      <div class="header__dropdown-bottom">
        {%- if section.settings.dropdown_title_three != blank -%}
          <div class="header__dropdown-item">{{ section.settings.dropdown_title_three }}</div>
        {%- endif -%}
        <ul class="header__list-mobile">
          {%- for link in section.settings.mobile_menu.links -%}
          <li class="header__list-item">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
          {%- endfor -%}
        </ul>
      </div>

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Main Menu Mobile",
    "settings": [
      {
        "type": "text",
        "id": "dropdown_title",
        "label": "Dropdown Title"
      },
      {
        "type": "text",
        "id": "dropdown_link_text",
        "label": "Dropdown Link Text"
      },
      {
        "type": "url",
        "id": "dropdown_link_one",
        "label": "Dropdown URL"
      },
      {
        "type": "text",
        "id": "dropdown_link_text_two",
        "label": "Dropdown Link Text 2"
      },
      {
        "type": "url",
        "id": "dropdown_link_two",
        "label": "Dropdown URL Two"
      },
      {
        "type": "text",
        "id": "dropdown_title_two",
        "label": "Dropdown Title Two"
      },
      {
        "type": "text",
        "id": "dropdown_title_three",
        "label": "Dropdown Title Three"
      },
      {
        "type": "link_list",
        "id": "mobile_menu",
        "label": "Mobile Menu"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "block_image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "badge_text",
            "label": "Badge Text"
          },
          {
            "type": "text",
            "id": "block_desc",
            "label": "Description"
          }
        ]
      }
    ]
  }
{% endschema %}