{{ 'section-media-grid.css' | asset_url | stylesheet_tag }}
<div {{ section.shopify_attributes }}></div>
<div style="background-color: {{ section.settings.background }};" class="media-grid__container" >
  <div class="page-width">
    <p class="sh3">{{ section.settings.suptitle }}</p>
    <h1>{{ section.settings.title }}</h1>
    <p class="sh2">{{ section.settings.text }}</p>
    <div class="hide-desktop media-grid">
    {% for block in section.blocks limit: 4 %}
      <div class="media-grid__item">
      {% if block.settings.video != blank %}
      <video autoplay muted loop webkit-playsinline playsinline>
        <source src="{{ block.settings.video }}" type="video/mp4">
      </video>
      {% elsif block.settings.image != blank %}
      <img src="{{ block.settings.image |img_url:'master' }}"/>
      {% endif %}
      </div>
    {% endfor %}
    </div>
    <div class="hide-mobile media-grid">
    {% for block in section.blocks %}
      <div class="media-grid__item">
      {% if block.settings.video != blank %}
      <video autoplay muted loop webkit-playsinline playsinline>
        <source src="{{ block.settings.video }}" type="video/mp4">
      </video>
      {% elsif block.settings.image != blank %}
      <img src="{{ block.settings.image |img_url:'master' }}"/>
      {% endif %}
      </div>
    {% endfor %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Media Grid",
  "class": "spaced-section--full-width",
  "tag": "section",
  "settings": [
	{
    "type": "text",
      "id": "suptitle",
      "label": "Suptitle"
    },
	{
    "type": "textarea",
      "id": "title",
      "label": "Title"
    },
	{
    "type": "textarea",
      "id": "text",
      "label": "Text"
    },
	{
    "type": "color",
      "id": "background",
      "label": "Background Color"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "video",
          "label": "Video URL"
        }
      ]
    }
  ],
   "presets": [
      {
        "name": "Media Grid"
      }
    ]
}
{% endschema %}