{{ 'section-value-props.css' | asset_url | stylesheet_tag }}
{{ 'comparision-table.css' | asset_url | stylesheet_tag }}
{{ 'section-pee-club-value-props.css' | asset_url | stylesheet_tag }}

<div class="pee-club-value-props value-props{% if section.settings.add_top_padding %} top-padding{% endif %}{% if section.settings.add_bottom_padding %} bottom-padding{% endif %}{% if section.settings.no_background %} no-background{% endif %}">
  <div class="page-width">
    <div class="value-props__text-container">
      <p class="h4 regular">{{ section.settings.text }}</p>
    </div>
    <div class="value-props__props-container no-scrollbar drag-scroll">
      <div class="value-props__props-slider">
        {% for block in section.blocks %}
          {% if block.type == 'value_prop' %}
            <div class="value-props__prop">
              <h3 class="float {% cycle '', 'is-reversed' %}">{{ block.settings.emoji }}</h3>
              <p class="body">{{ block.settings.text }}</p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Pee Club Value Props",
    "settings": [
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "checkbox",
        "id": "no_background",
        "label": "No Background"
      },
      {
        "type": "checkbox",
        "id": "add_top_padding",
        "label": "Add Top Padding"
      },
      {
        "type": "checkbox",
        "id": "add_bottom_padding",
        "label": "Add Bottom Padding"
      }
    ],
    "blocks": [
      {
        "type": "value_prop",
        "name": "Value Prop",
        "settings": [
          {
            "type": "text",
            "id": "emoji",
            "label": "Emoji"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Pee Club Value Props"
      }
    ]
  }
{% endschema %} 