{{ 'section-pee-club-products.css' | asset_url | stylesheet_tag }}

<div class="pee-club-products__container">
  <div class="show-product-bar"></div>
  <div>
    <div></div>
    <div>
      {% for block in section.blocks %}
      {% assign product = all_products[block.settings.product] %}
{{ product.selling_plan_groups| json }}
      <div>
        <h5>{{ product.title }}</h5>
        <button data-id="{{ product.selected_or_first_available_variant.id }}" data-subid="{% if product.handle == 'wellness-kit' %}{{ rtx_selling_plan.selling_plans[0].id }}{% else %}{{ rtx_selling_plan.selling_plans[1].id }}{% endif %}" class="pee-club-add-to-cart button">{{ block.settings.button_text }} - 
          <span>{{product.variants[0].selling_plan_allocations[0].price_adjustments[0].price | money_without_trailing_zeros }}
              <span class="discount-price">{{ product.price | money_without_trailing_zeros }}</span>
            </span>
        </button>
      </div>
      {% endfor %}
    </div>
  </div>
</div>




{% schema %}
  {
    "name": "Pee Club Products",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "textarea",
        "id": "text_bottom",
        "label": "Bottom Text"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "textarea",
        "id": "background",
        "label": "Background Style"
      }
	],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "text",
            "id": "servings",
            "label": "Servings Text"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "text"
          },
          {
            "type": "text",
            "id": "list_item1",
            "label": "List Item 1"
          },
                    {
            "type": "text",
            "id": "list_item2",
            "label": "List Item 2"
          },
          {
            "type": "text",
            "id": "list_item3",
            "label": "List Item 3"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Pee Club Products"
      }
    ]
  }
{% endschema %}