{{ 'section-image-with-dropdowns.css' | asset_url | stylesheet_tag }}
{{ 'section-pee-club-half-image.css' | asset_url | stylesheet_tag }}

<div id="image-with-dropdowns__container" style="{{ section.settings.background }}" class="pee-club-half-image__container image-with-dropdowns__container">
  <div class="show-product-bar"></div>
  <div class="page-width">
    <div class="image-with-dropdowns__image">
      {% for block in section.blocks %}
      {% render 'lazy-image' image: block.settings.image, classes: '' %}
      {% endfor %}
    </div>
    <div class="image-with-dropdowns__content">
      <p>{{ section.settings.text }}</p>
      <h3>{{ section.settings.title }}</h3>
      <div class="hide-desktop mobile-pee-club-toggle">
        {% for block in section.blocks %}
        <div data-id="{{ forloop.index }}" class="{% if forloop.index == 1 %}active{% endif %}">
          <p>{{ block.settings.title }}</p>
        </div>
        {% endfor %}
      </div>
      <div class="image-with-dropdowns__dropdown hide-mobile">
        {% for block in section.blocks %}
          <div data-id="{{ forloop.index }}" class="month-list">
            <p class="list-title">{{ block.settings.title }}</p>            
            {{ block.settings.list }}
          </div>
        {% endfor %}
      </div>
      <div class="image-with-dropdowns__dropdown hide-desktop">
        {% for block in section.blocks %}
          <div data-id="{{ forloop.index }}" class="month-list">
            <p class="list-title">{{ block.settings.title }}</p>            
            {{ block.settings.list }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Pee Club Half Image",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "textarea",
        "id": "background",
        "label": "Background Style"
      }
	],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "list",
            "label": "List"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Pee Club Half Image"
      }
    ]
  }
{% endschema %}
