{{ 'section-hero.css' | asset_url | stylesheet_tag }} 
{{ 'section-pee-club-hero.css' | asset_url | stylesheet_tag }} 

{% style %}
  {%  if section.settings.hide_mobile_text %}
    @media screen and (max-width: 768px) {
      .hero__container.text-top span {
        visibility: hidden;
      } 

      .hero {
        height: 123vh;
        margin-top: 60px;
      } 
    }

    @media screen and (max-width: 650px) {
      .hero {
        height: 115vh;
      }
    }
    
    @media screen and (max-width: 500px) {
      .hero {
        height: 89vh;
      }
    }
  {% endif %}
{% endstyle %}

<div class="hero pee-club-hero__container">
  {% if section.settings.video_url != blank %}
  <video autoplay loop muted playsinline class="img-fill hide-mobile">
    <source src="{{ section.settings.video_url }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline class="img-fill hide-desktop">
    <source src="{{ section.settings.mobile_video_url }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  {% else %}
  <img
    srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
      {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
      {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
      {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
      {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
      {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
      {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}"
    sizes="100vw"
    src="{{ section.settings.image | img_url: '1500x' }}"
    loading="lazy"
    alt="{{ section.settings.image.alt | escape }}"
    class="img-fill hide-mobile"
  >
  <img
    srcset="{%- if section.settings.mobile_image.width >= 375 -%}{{ section.settings.mobile_image | img_url: '375x' }} 375w,{%- endif -%}
      {%- if section.settings.mobile_image.width >= 750 -%}{{ section.settings.mobile_image | img_url: '750x' }} 750w,{%- endif -%}
      {%- if section.settings.mobile_image.width >= 1100 -%}{{ section.settings.mobile_image | img_url: '1100x' }} 1100w,{%- endif -%}
      {%- if section.settings.mobile_image.width >= 1500 -%}{{ section.settings.mobile_image | img_url: '1500x' }} 1500w,{%- endif -%}
      {%- if section.settings.mobile_image.width >= 1780 -%}{{ section.settings.mobile_image | img_url: '1780x' }} 1780w,{%- endif -%}
      {%- if section.settings.mobile_image.width >= 2000 -%}{{ section.settings.mobile_image | img_url: '2000x' }} 2000w,{%- endif -%}
      {%- if section.settings.mobile_image.width >= 3000 -%}{{ section.settings.mobile_image | img_url: '3000x' }} 3000w{%- endif -%}"
    sizes="100vw"
    src="{{ section.settings.mobile_image | img_url: '1500x' }}"
    loading="lazy"
    alt="{{ section.settings.mobile_image.alt | escape }}"
    class="img-fill hide-desktop"
  >
  {% endif %}
  <div class="page-width">
    <div class="hero__container {% if section.settings.mobile_text_location == 'top' %}text-top{% else %}text-bottom{% endif %}">
      <span {% if section.settings.color !=blank %}style="color: {{ section.settings.color }}"{% endif %}>
        {% if section.settings.suptitle != blank %}
          <h2 class="hero-suptitle">{{ section.settings.suptitle }}</h2>
        {% endif %}
        {% if page.handle == 'shop-wholesale' %}
          <h2 class="about-hero__text image-text-blocks__title h1">{{ section.settings.title }}<span>{{ section.settings.title }}</span></h2>
        {% else %}
          <h2 class="h1{% if section.settings.txt_shadow %} has-text-shadow text-shadow-{{ section.id }}{% endif %}">{{ section.settings.title }}</h2>
          
          {% if section.settings.txt_shadow %}
            <style>
              .text-shadow-{{ section.id }}::before {
                content: "{{ section.settings.title }}";
                position: absolute;
                color: white;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: var(--charcoal);
                transform: translate(-4px, -4px);
                z-index: 2;
                left: 0;
              }
            </style>
          {% endif %}
        {% endif %}
          <p class="h6">{{ section.settings.text }}</p>
      </span>      
      <div class="hero-button-link__container">
        {% if section.settings.button_link_mobile != blank and section.settings.button_link != blank %}
          {% if section.settings.button_link == 'https://justaddbuoy.com/pages/clear-pee-club-1#subscribe' %}
            {% assign mobile_link = '#subscribe' %}
          {% else %}
            {% assign normal_link = section.settings.button_link %}
          {% endif %}
          {% if section.settings.button_link_mobile == 'https://justaddbuoy.com/pages/clear-pee-club-1#pee-product-anchor' %}
            {% assign mobile_link = '#pee-product-anchor' %}
          {% else %}
            {% assign mobile_link = section.settings.button_link %}
          {% endif %}
          <a href="{{ mobile_link }}" class="hide-desktop button {% if section.settings.video_url != blank %}button--white{% endif %}">{{ section.settings.button_label }}</a>
          <a href="{{ normal_link }}" class="hide-mobile button {% if section.settings.video_url != blank %}button--white{% endif %}">{{ section.settings.button_label }}</a>
        {% elsif section.settings.button_link_mobile  != blank %}
          <a href="{{ normal_link }}" class="button {% if section.settings.video_url != blank %}button--white{% endif %}">{{ section.settings.button_label }}</a>
        {% endif %}
  
        {% if section.settings.link_label  != blank %}
          <p class="hero-sub-button-link">{{ section.settings.link_label }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Pee Club Hero",
  "settings": [
	{
      "type": "text",
      "id": "video_url",
      "label": "Desktop Video URL"
    },
	{
      "type": "text",
      "id": "mobile_video_url",
      "label": "Mobile Video URL"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
	{
      "type": "checkbox",
      "id": "txt_shadow",
      "label": "Add Text Shadow"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text Color"
    },
    {
      "type": "text",
      "id": "suptitle",
      "label": "Suptitle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "url",
      "id": "button_link_mobile",
      "label": "Mobile Button Link"
    },
    {
      "type": "textarea",
      "id": "link_label",
      "label": "Link Label"
    },
    {
      "type": "select",
      "id": "mobile_text_location",
      "label": "Mobile Text Location",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "top"
    },
    {
      "type": "checkbox",
      "id": "hide_mobile_text",
      "label": "Hide Mobile HTML Text",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Pee Club Hero"
    }
  ]
}
{% endschema %}
