{{ 'section-people-slider.css' | asset_url | stylesheet_tag }}

<div class="people-slider{% if section.settings.reverse_layout %} reversed{% endif %}{% if section.settings.add_background %} add-background{% endif %}">
  <div class="page-width">
    <div class="people-slider__header">
      {% if section.settings.title != blank %}
        <h2>{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.settings.text != blank %}
        <p class="sh2">{{ section.settings.text }}</p>
      {% endif %}
    </div>
    <div class="people-slider__container people-slider__container-3">

      <div class="people-slider__people">
        <div dir="rtl" class="people-slider__people-slider--3">
          {% for block in section.blocks %}
          <div class="people-slider__people-item">
            <div class="people-slider__people-item-wrapper">
              <div class="people-slider__drink-image hide-desktop mobile-drink">
                <img
                     srcset="{%- if block.settings.drink_image.width >= 165 -%}{{ block.settings.drink_image | img_url: '165x' }} 165w,{%- endif -%}
                             {%- if block.settings.drink_image.width >= 360 -%}{{ block.settings.drink_image | img_url: '360x' }} 360w,{%- endif -%}
                             {%- if block.settings.drink_image.width >= 533 -%}{{ block.settings.drink_image | img_url: '533x' }} 533w{%- endif -%}"
                     src="{{ block.settings.drink_image | img_url: '533x' }}"
                     sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 769px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                     alt="{{ block.settings.drink_image.alt | escape }}"
                     class=""
                     />
                <svg xmlns="http://www.w3.org/2000/svg" width="139.015" height="116.487" viewBox="0 0 139.015 116.487">
                  <g id="Group_766" data-name="Group 766" transform="translate(-3084.601 477.247) rotate(-13)">
                    <g id="Group_762" data-name="Group 762">
                      <path id="Path_977" data-name="Path 977" d="M3088.58,342.6l.031-2.141,12.345.175.091-6.429,1.843.026-.122,8.57Z" fill="#181a1a"/>
                      <path id="Path_978" data-name="Path 978" d="M3097.725,332.105c-3.276-.478-5.166-2.733-4.733-5.7s2.887-4.59,6.162-4.113c3.255.475,5.145,2.73,4.713,5.7S3100.979,332.579,3097.725,332.105Zm1.121-7.744c-2.014-.294-3.86.361-4.141,2.287s1.3,3.093,3.315,3.387,3.845-.364,4.127-2.3S3100.867,324.655,3098.846,324.361Z" fill="#181a1a"/>
                      <path id="Path_979" data-name="Path 979" d="M3106.188,316.568l-.612,2.13-11.291.773.614-2.137,8.612-.326.03-.106-7.123-4.845.613-2.136Z" fill="#181a1a"/>
                      <path id="Path_980" data-name="Path 980" d="M3102.674,310.162c-2.992-1.314-4.272-4.009-3.08-6.721.969-2.205,3.268-3.7,6.785-2.159l.672.3-3.041,6.919c1.9.773,3.428.146,4.14-1.476a2.4,2.4,0,0,0-.4-2.854l1.111-1.65c1.4,1.127,1.782,3.087.848,5.21C3108.446,310.6,3105.7,311.49,3102.674,310.162Zm2.141-7.352a2.626,2.626,0,0,0-3.651,1.307,2.854,2.854,0,0,0,1.43,3.749Z" fill="#181a1a"/>
                      <path id="Path_981" data-name="Path 981" d="M3108.851,292.609a2.05,2.05,0,0,0-2.322,1.074c-.61,1-.574,2.063.127,2.481.612.379,1.21.153,2.054-.7l1.208-1.241c1.4-1.432,2.686-1.766,3.968-.987,1.643,1,1.884,3.226.55,5.419-1.241,2.038-2.957,2.824-4.743,2.142l.778-1.866A2.066,2.066,0,0,0,3113,297.8c.705-1.158.611-2.242-.092-2.67-.566-.345-1.205-.174-1.932.581l-1.271,1.332c-1.413,1.472-2.744,1.731-4.033.947-1.608-.977-1.8-3.088-.558-5.139,1.194-1.962,2.788-2.507,4.423-2.014Z" fill="#181a1a"/>
                      <path id="Path_982" data-name="Path 982" d="M3118.046,287.747c-1.786-1.627-.785-3.507.4-5.155,1.123-1.561,1.656-2.125,1.1-2.634l-.035-.032a1.77,1.77,0,0,0-2.77.212,2.483,2.483,0,0,0-.569,2.825l-1.638,1.14a4.3,4.3,0,0,1,.95-5.073c1.138-1.248,3.235-2.635,5.523-.551l5.219,4.756-1.362,1.5-1.074-.98-.056.062a3.324,3.324,0,0,1-.868,3.461C3121.5,288.767,3119.592,289.155,3118.046,287.747Zm3.946-5.565-1.013-.923a8.1,8.1,0,0,1-1.3,2.276c-.69.993-1.061,1.985-.241,2.731.756.691,1.714.42,2.5-.445A2.494,2.494,0,0,0,3121.992,282.182Z" fill="#181a1a"/>
                      <path id="Path_983" data-name="Path 983" d="M3124.134,277.853c-2.193-2.658-2.025-5.422-.046-7.055a3.2,3.2,0,0,1,3.542-.511l.1-.079-3.35-4.06,1.595-1.315,9.013,10.926-1.557,1.285-1.053-1.275-.133.11a3.243,3.243,0,0,1-1.184,3.389C3129.067,280.91,3126.32,280.5,3124.134,277.853Zm5.9-4.9c-1.413-1.712-3.1-2.233-4.49-1.084-1.441,1.189-1.158,3.009.184,4.636,1.356,1.643,3.132,2.285,4.556,1.11C3131.664,276.481,3131.458,274.679,3130.037,272.955Z" fill="#181a1a"/>
                      <path id="Path_984" data-name="Path 984" d="M3133.863,270.014c-1.782-2.953-1.211-5.668.989-6.995a3.2,3.2,0,0,1,3.584.014l.107-.065-2.723-4.514,1.774-1.069,7.328,12.147-1.733,1.044-.855-1.417-.148.089a3.246,3.246,0,0,1-1.67,3.184C3138.3,273.767,3135.641,272.962,3133.863,270.014Zm6.567-3.986c-1.149-1.9-2.742-2.666-4.289-1.733-1.6.967-1.588,2.812-.5,4.621,1.1,1.827,2.767,2.723,4.35,1.768C3141.525,269.761,3141.586,267.944,3140.43,266.028Z" fill="#181a1a"/>
                      <path id="Path_985" data-name="Path 985" d="M3141.324,256.365a1.31,1.31,0,1,1,1.708.561A1.283,1.283,0,0,1,3141.324,256.365Zm1.458,2.489,1.874-.878,4.512,9.628-1.874.878Z" fill="#181a1a"/>
                      <path id="Path_986" data-name="Path 986" d="M3153.344,265.833l-1.957.682-3.5-10.051,1.877-.654.57,1.635.125-.043a3.167,3.167,0,0,1,2.348-2.8c2.054-.717,3.877.108,4.743,2.595l2.229,6.392-1.956.683-2.147-6.157a2.18,2.18,0,0,0-2.945-1.586,2.41,2.41,0,0,0-1.464,3.336Z" fill="#181a1a"/>
                      <path id="Path_987" data-name="Path 987" d="M3162.256,264.749l1.609-1.061a2.889,2.889,0,0,0,3,.922c1.544-.3,2.53-1.225,2.211-2.865l-.4-2.054-.13.025a3.2,3.2,0,0,1-2.689,2.336c-2.469.479-4.712-.927-5.359-4.261s.824-5.682,3.349-6.172a3.236,3.236,0,0,1,3.383,1.243l.149-.029-.328-1.694,1.993-.387,2.073,10.682c.522,2.687-1.3,4.3-3.957,4.82C3164.662,266.739,3163.056,265.921,3162.256,264.749Zm5.779-8.451c-.41-2.116-1.644-3.38-3.42-3.035-1.837.357-2.459,2.094-2.07,4.1.4,2.055,1.615,3.266,3.432,2.913C3167.732,259.937,3168.455,258.455,3168.035,256.3Z" fill="#181a1a"/>
                      <path id="Path_988" data-name="Path 988" d="M3178.711,246.374l5.2.107c3.021.063,4.442,1.722,4.4,3.82a2.9,2.9,0,0,1-2.452,2.944l0,.138a3.3,3.3,0,0,1,2.871,3.574c-.045,2.175-1.569,3.786-4.867,3.717l-5.438-.113Zm4.975,12.46c2.056.042,2.886-.834,2.91-2.025a2.541,2.541,0,0,0-2.741-2.518l-3.166-.066-.093,4.545Zm-.093-6.219a2.322,2.322,0,0,0,2.609-2.191c.025-1.178-.766-2.088-2.465-2.123l-2.923-.061-.089,4.316Z" fill="#181a1a"/>
                      <path id="Path_989" data-name="Path 989" d="M3198.922,251.654l2.047.346-1.769,10.479-2.006-.339.307-1.815-.109-.018a3.293,3.293,0,0,1-3.461,1.422c-2.013-.339-3.21-1.93-2.773-4.53l1.125-6.665,2.04.344-1.083,6.42a2.151,2.151,0,0,0,1.74,2.7,2.5,2.5,0,0,0,2.907-2.212Z" fill="#181a1a"/>
                      <path id="Path_990" data-name="Path 990" d="M3202.589,257.857c1.01-3.152,3.546-4.645,6.4-3.73s4.052,3.6,3.042,6.755c-1,3.133-3.54,4.625-6.4,3.71S3201.585,260.989,3202.589,257.857Zm7.454,2.381c.621-1.939.278-3.867-1.574-4.46s-3.266.771-3.887,2.71-.273,3.854,1.592,4.451S3209.42,262.183,3210.043,260.238Z" fill="#181a1a"/>
                      <path id="Path_991" data-name="Path 991" d="M3210.082,269.856l1.182-1.315a1.669,1.669,0,0,0,2.691-.064l.535-.527,1.132-11.393,2,.955-1.126,8.6.1.048,5.985-6.284,2,.957-9.146,8.984a3.411,3.411,0,0,1-4.18.85A3.963,3.963,0,0,1,3210.082,269.856Z" fill="#181a1a"/>
                      <path id="Path_992" data-name="Path 992" d="M3234.773,269.539,3233,268.272l-3.4,4.762c-.7.975-.334,1.505.212,1.895a3.379,3.379,0,0,0,.644.349l-.688,1.609a3.952,3.952,0,0,1-1.222-.6,2.778,2.778,0,0,1-.881-4.107l3.648-5.111-1.268-.9.965-1.352,1.268.9,1.48-2.074,1.684,1.2-1.479,2.074,1.775,1.267Z" fill="#181a1a"/>
                      <path id="Path_993" data-name="Path 993" d="M3234.188,273.646c2.213-2.46,5.138-2.782,7.368-.776s2.217,4.949,0,7.41c-2.2,2.445-5.125,2.766-7.355.76S3231.986,276.091,3234.188,273.646Zm5.821,5.229c1.362-1.513,1.841-3.412.393-4.713s-3.294-.636-4.656.878-1.831,3.4-.374,4.712S3238.643,280.394,3240.009,278.875Z" fill="#181a1a"/>
                    </g>
                  </g>
                </svg>
              </div>
              <img
                   srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.image | img_url: '165x' }} 165w,{%- endif -%}
                           {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | img_url: '360x' }} 360w,{%- endif -%}
                    {%- if block.settings.image.width >= 533 -%}{{ block.settings.image | img_url: '533x' }} 533w,{%- endif -%}
                    {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | img_url: '720x' }} 720w,{%- endif -%}
                    {%- if block.settings.image.width >= 940 -%}{{ block.settings.image | img_url: '940x' }} 940w,{%- endif -%}
                    {%- if block.settings.image.width >= 1066 -%}{{ block.settings.image | img_url: '1066x' }} 1066w{%- endif -%}"
                  src="{{ block.settings.image | img_url: '533x' }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 769px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                  alt="{{ block.settings.image.alt | escape }}"
                  class="motion-reduce img-fill"
                />
              </div>
              <div class="people-slider__drink-content hide-desktop">
                <h4>{{ block.settings.name }}</h4> 
                <p class="sh4">{{ block.settings.role }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="people-slider__arrows--3"></div>
      </div>
     </div>
      <div class="people-slider__drink">
        <div class="people-slider__drink-slider--3">
          {% for block in section.blocks %}
            <div class="people-slider__drink-item">
              <div class="people-slider__drink-image-wrapper">
                <div class="people-slider__drink-image">
                  <img
                    srcset="{%- if block.settings.drink_image.width >= 165 -%}{{ block.settings.drink_image | img_url: '165x' }} 165w,{%- endif -%}
                      {%- if block.settings.drink_image.width >= 360 -%}{{ block.settings.drink_image | img_url: '360x' }} 360w,{%- endif -%}
                      {%- if block.settings.drink_image.width >= 533 -%}{{ block.settings.drink_image | img_url: '533x' }} 533w{%- endif -%}"
                    src="{{ block.settings.drink_image | img_url: '533x' }}"
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 769px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                    alt="{{ block.settings.drink_image.alt | escape }}"
                    loading="lazy"
                    class="motion-reduce img-fill"
                  />
                  <svg xmlns="http://www.w3.org/2000/svg" width="139.015" height="116.487" viewBox="0 0 139.015 116.487">
                    <g id="Group_766" data-name="Group 766" transform="translate(-3084.601 477.247) rotate(-13)">
                      <g id="Group_762" data-name="Group 762">
                        <path id="Path_977" data-name="Path 977" d="M3088.58,342.6l.031-2.141,12.345.175.091-6.429,1.843.026-.122,8.57Z" fill="#181a1a"/>
                        <path id="Path_978" data-name="Path 978" d="M3097.725,332.105c-3.276-.478-5.166-2.733-4.733-5.7s2.887-4.59,6.162-4.113c3.255.475,5.145,2.73,4.713,5.7S3100.979,332.579,3097.725,332.105Zm1.121-7.744c-2.014-.294-3.86.361-4.141,2.287s1.3,3.093,3.315,3.387,3.845-.364,4.127-2.3S3100.867,324.655,3098.846,324.361Z" fill="#181a1a"/>
                        <path id="Path_979" data-name="Path 979" d="M3106.188,316.568l-.612,2.13-11.291.773.614-2.137,8.612-.326.03-.106-7.123-4.845.613-2.136Z" fill="#181a1a"/>
                        <path id="Path_980" data-name="Path 980" d="M3102.674,310.162c-2.992-1.314-4.272-4.009-3.08-6.721.969-2.205,3.268-3.7,6.785-2.159l.672.3-3.041,6.919c1.9.773,3.428.146,4.14-1.476a2.4,2.4,0,0,0-.4-2.854l1.111-1.65c1.4,1.127,1.782,3.087.848,5.21C3108.446,310.6,3105.7,311.49,3102.674,310.162Zm2.141-7.352a2.626,2.626,0,0,0-3.651,1.307,2.854,2.854,0,0,0,1.43,3.749Z" fill="#181a1a"/>
                        <path id="Path_981" data-name="Path 981" d="M3108.851,292.609a2.05,2.05,0,0,0-2.322,1.074c-.61,1-.574,2.063.127,2.481.612.379,1.21.153,2.054-.7l1.208-1.241c1.4-1.432,2.686-1.766,3.968-.987,1.643,1,1.884,3.226.55,5.419-1.241,2.038-2.957,2.824-4.743,2.142l.778-1.866A2.066,2.066,0,0,0,3113,297.8c.705-1.158.611-2.242-.092-2.67-.566-.345-1.205-.174-1.932.581l-1.271,1.332c-1.413,1.472-2.744,1.731-4.033.947-1.608-.977-1.8-3.088-.558-5.139,1.194-1.962,2.788-2.507,4.423-2.014Z" fill="#181a1a"/>
                        <path id="Path_982" data-name="Path 982" d="M3118.046,287.747c-1.786-1.627-.785-3.507.4-5.155,1.123-1.561,1.656-2.125,1.1-2.634l-.035-.032a1.77,1.77,0,0,0-2.77.212,2.483,2.483,0,0,0-.569,2.825l-1.638,1.14a4.3,4.3,0,0,1,.95-5.073c1.138-1.248,3.235-2.635,5.523-.551l5.219,4.756-1.362,1.5-1.074-.98-.056.062a3.324,3.324,0,0,1-.868,3.461C3121.5,288.767,3119.592,289.155,3118.046,287.747Zm3.946-5.565-1.013-.923a8.1,8.1,0,0,1-1.3,2.276c-.69.993-1.061,1.985-.241,2.731.756.691,1.714.42,2.5-.445A2.494,2.494,0,0,0,3121.992,282.182Z" fill="#181a1a"/>
                        <path id="Path_983" data-name="Path 983" d="M3124.134,277.853c-2.193-2.658-2.025-5.422-.046-7.055a3.2,3.2,0,0,1,3.542-.511l.1-.079-3.35-4.06,1.595-1.315,9.013,10.926-1.557,1.285-1.053-1.275-.133.11a3.243,3.243,0,0,1-1.184,3.389C3129.067,280.91,3126.32,280.5,3124.134,277.853Zm5.9-4.9c-1.413-1.712-3.1-2.233-4.49-1.084-1.441,1.189-1.158,3.009.184,4.636,1.356,1.643,3.132,2.285,4.556,1.11C3131.664,276.481,3131.458,274.679,3130.037,272.955Z" fill="#181a1a"/>
                        <path id="Path_984" data-name="Path 984" d="M3133.863,270.014c-1.782-2.953-1.211-5.668.989-6.995a3.2,3.2,0,0,1,3.584.014l.107-.065-2.723-4.514,1.774-1.069,7.328,12.147-1.733,1.044-.855-1.417-.148.089a3.246,3.246,0,0,1-1.67,3.184C3138.3,273.767,3135.641,272.962,3133.863,270.014Zm6.567-3.986c-1.149-1.9-2.742-2.666-4.289-1.733-1.6.967-1.588,2.812-.5,4.621,1.1,1.827,2.767,2.723,4.35,1.768C3141.525,269.761,3141.586,267.944,3140.43,266.028Z" fill="#181a1a"/>
                        <path id="Path_985" data-name="Path 985" d="M3141.324,256.365a1.31,1.31,0,1,1,1.708.561A1.283,1.283,0,0,1,3141.324,256.365Zm1.458,2.489,1.874-.878,4.512,9.628-1.874.878Z" fill="#181a1a"/>
                        <path id="Path_986" data-name="Path 986" d="M3153.344,265.833l-1.957.682-3.5-10.051,1.877-.654.57,1.635.125-.043a3.167,3.167,0,0,1,2.348-2.8c2.054-.717,3.877.108,4.743,2.595l2.229,6.392-1.956.683-2.147-6.157a2.18,2.18,0,0,0-2.945-1.586,2.41,2.41,0,0,0-1.464,3.336Z" fill="#181a1a"/>
                        <path id="Path_987" data-name="Path 987" d="M3162.256,264.749l1.609-1.061a2.889,2.889,0,0,0,3,.922c1.544-.3,2.53-1.225,2.211-2.865l-.4-2.054-.13.025a3.2,3.2,0,0,1-2.689,2.336c-2.469.479-4.712-.927-5.359-4.261s.824-5.682,3.349-6.172a3.236,3.236,0,0,1,3.383,1.243l.149-.029-.328-1.694,1.993-.387,2.073,10.682c.522,2.687-1.3,4.3-3.957,4.82C3164.662,266.739,3163.056,265.921,3162.256,264.749Zm5.779-8.451c-.41-2.116-1.644-3.38-3.42-3.035-1.837.357-2.459,2.094-2.07,4.1.4,2.055,1.615,3.266,3.432,2.913C3167.732,259.937,3168.455,258.455,3168.035,256.3Z" fill="#181a1a"/>
                        <path id="Path_988" data-name="Path 988" d="M3178.711,246.374l5.2.107c3.021.063,4.442,1.722,4.4,3.82a2.9,2.9,0,0,1-2.452,2.944l0,.138a3.3,3.3,0,0,1,2.871,3.574c-.045,2.175-1.569,3.786-4.867,3.717l-5.438-.113Zm4.975,12.46c2.056.042,2.886-.834,2.91-2.025a2.541,2.541,0,0,0-2.741-2.518l-3.166-.066-.093,4.545Zm-.093-6.219a2.322,2.322,0,0,0,2.609-2.191c.025-1.178-.766-2.088-2.465-2.123l-2.923-.061-.089,4.316Z" fill="#181a1a"/>
                        <path id="Path_989" data-name="Path 989" d="M3198.922,251.654l2.047.346-1.769,10.479-2.006-.339.307-1.815-.109-.018a3.293,3.293,0,0,1-3.461,1.422c-2.013-.339-3.21-1.93-2.773-4.53l1.125-6.665,2.04.344-1.083,6.42a2.151,2.151,0,0,0,1.74,2.7,2.5,2.5,0,0,0,2.907-2.212Z" fill="#181a1a"/>
                        <path id="Path_990" data-name="Path 990" d="M3202.589,257.857c1.01-3.152,3.546-4.645,6.4-3.73s4.052,3.6,3.042,6.755c-1,3.133-3.54,4.625-6.4,3.71S3201.585,260.989,3202.589,257.857Zm7.454,2.381c.621-1.939.278-3.867-1.574-4.46s-3.266.771-3.887,2.71-.273,3.854,1.592,4.451S3209.42,262.183,3210.043,260.238Z" fill="#181a1a"/>
                        <path id="Path_991" data-name="Path 991" d="M3210.082,269.856l1.182-1.315a1.669,1.669,0,0,0,2.691-.064l.535-.527,1.132-11.393,2,.955-1.126,8.6.1.048,5.985-6.284,2,.957-9.146,8.984a3.411,3.411,0,0,1-4.18.85A3.963,3.963,0,0,1,3210.082,269.856Z" fill="#181a1a"/>
                        <path id="Path_992" data-name="Path 992" d="M3234.773,269.539,3233,268.272l-3.4,4.762c-.7.975-.334,1.505.212,1.895a3.379,3.379,0,0,0,.644.349l-.688,1.609a3.952,3.952,0,0,1-1.222-.6,2.778,2.778,0,0,1-.881-4.107l3.648-5.111-1.268-.9.965-1.352,1.268.9,1.48-2.074,1.684,1.2-1.479,2.074,1.775,1.267Z" fill="#181a1a"/>
                        <path id="Path_993" data-name="Path 993" d="M3234.188,273.646c2.213-2.46,5.138-2.782,7.368-.776s2.217,4.949,0,7.41c-2.2,2.445-5.125,2.766-7.355.76S3231.986,276.091,3234.188,273.646Zm5.821,5.229c1.362-1.513,1.841-3.412.393-4.713s-3.294-.636-4.656.878-1.831,3.4-.374,4.712S3238.643,280.394,3240.009,278.875Z" fill="#181a1a"/>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="people-slider__drink-content">
                <h4>{{ block.settings.name }}</h4> 
                <p class="sh4">{{ block.settings.role }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% if section.settings.bottom_link_text != blank or section.settings.bottom_text != blank %}
      <div class="people-slider__bottom">
        {% if section.settings.bottom_text != blank %}
          <h5 class="regular">{{ section.settings.bottom_text }}</h5>
        {% endif %}
        {% if section.settings.bottom_link_text != blank %}
          <a class="arrow-link body bold" href="{{ block.settings.bottom_link }}">{{ section.settings.bottom_link_text }} {% render 'icon-arrow-right' %}</a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>

 
{% schema %}
  {
    "name": "People Slider 3",
    "settings": [
      {
        "type": "checkbox",
        "id": "reverse_layout",
        "label": "Reverse Layout"
      },
      {
        "type": "checkbox",
        "id": "add_background",
        "label": "Add Background"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "textarea",
        "id": "bottom_text",
        "label": "Bottom Text"
      },
      {
        "type": "text",
        "id": "bottom_link_text",
        "label": "Bottom Link Text"
      },
      {
        "type": "url",
        "id": "bottom_link",
        "label": "Bottom Link"
      }
    ],
    "blocks": [
      {
        "type": "person",
        "name": "Person",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "name",
            "label": "Name"
          },
          {
            "type": "text",
            "id": "role",
            "label": "Role"
          },
          {
            "type": "image_picker",
            "id": "drink_image",
            "label": "Drink Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "People Slider 3"
      }
    ]
  }
{% endschema %}