{{ 'section-press-logos.css' | asset_url | stylesheet_tag }}

<div class="press-logos{% if section.settings.add_border %} add-border{% endif %}" style="background: {{ section.settings.background }}">
  <div class="page-width">
    <div class="press-logos__wrapper">
      <div class="press-logos__container">
        {% for block in section.blocks %}
          <div class="press-logos__item">
            <img alt="{{ block.settings.logo.alt }}" src="{{ block.settings.logo | img_url: '300x' }}" />
          </div>
        {% endfor %}
      </div>
      <div class="press-logos__container hide-desktop">
        {% for block in section.blocks %}
          <div class="press-logos__item">
            <img alt="{{ block.settings.logo.alt }}" src="{{ block.settings.logo | img_url: '300x' }}" />
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Press Logos",
    "settings": [
      {
        "type": "color",
        "id": "background",
        "label": "Background",
        "default": "#ECD8C5"
      },
      {
        "type": "checkbox",
        "id": "add_border",
        "label": "Add Border"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo (SVG)"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Press Logos"
      }
    ]
  }
{% endschema %}