
{{ 'section-press-logos.css' | asset_url | stylesheet_tag }}
<div class="press-logos
   {% if section.settings.add_top_border %} top-border{% endif %}
   {% if section.settings.add_bottom_border %} bottom-border{% endif %}
   {% if section.settings.background %} background--{{ section.settings.background }}{% endif %}
  ">
  <div class="page-width">
    <div class="press-logos__wrapper">
      <div class="press-logos__container {% if section.settings.enable_marquee %}press-logo_marquee{% endif %}">
        {% for block in section.blocks %}
          <div class="press-logos__item">
            {% assign heightAttr = 300 | divided_by: block.settings.logo.aspect_ratio | round %}
            <img alt="{{ block.settings.logo.alt }}" src="{{ block.settings.logo | img_url: '300x' }}" width="300" height="{{ heightAttr }}" />
          </div>
        {% endfor %}
      </div>
      {% if section.settings.enable_marquee %}
        <div class="press-logos__container press-logo_marquee hide-desktop ">
          {% for block in section.blocks %}
            <div class="press-logos__item">
              {% assign heightAttr = 300 | divided_by: block.settings.logo.aspect_ratio | round %}
              <img alt="{{ block.settings.logo.alt }}" src="{{ block.settings.logo | img_url: '300x' }}" width="300" height="{{  heightAttr }}" />
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Press Logos",
    "settings": [
      {
        "type": "select",
        "id": "background",
        "label": "Background",
        "options": [
          {
            "value": "top",
            "label": "Gradient Top to Bottom"
          },
          {
            "value": "bottom",
            "label": "Gradient Bottom to Top"
          },
          {
            "value": "bg_color",
            "label": "Background Color"
          },
          {
            "value": "none",
            "label": "None"
          }
        ],
        "default": "none"
      },
      {
        "type": "checkbox",
        "id": "enable_marquee",
        "label": "Marquee for Mobile",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "add_top_border",
        "label": "Add Top Border"
      },
      {
        "type": "checkbox",
        "id": "add_bottom_border",
        "label": "Add Bottom Border"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo (SVG)"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Press Logos"
      }
    ]
  }
{% endschema %}