{{ 'section-product-slider.css' | asset_url | stylesheet_tag }}

{%- capture text_block -%}
  <h2 class="h3">{{ section.settings.title }}</h2>
  {% if section.settings.text != blank %}
  <p class="sh2 light">{{ section.settings.text }}</p>
  {% endif %}
  <div class="product-slider__checks">
    <div class="product-slider__check">
      {% render 'icon-check' %}
      <p class="body light">0 Sugar</p>
    </div>
    <div class="product-slider__check">
      {% render 'icon-check' %}
      <p class="body light">0 Calories</p>
    </div>
    <div class="product-slider__check">
      {% render 'icon-check' %}
      <p class="body light">0 Artificial Ingredients</p>
    </div>
    <div class="product-slider__check hide-mobile">
      {% render 'icon-check' %}
      <p class="body light">0 Sweeteners</p>
    </div>
  </div>
  <a href="{{ section.settings.shop_all_link }}" class="button hide-mobile">Shop All</a>
  {% if section.settings.promo_link_text != blank %}
    <a class="body hide-mobile" href="{{ section.settings.promo_link }}">{{ section.settings.promo_link_text }} {% render 'icon-arrow-right' %}</a>
  {% endif %}
{%- endcapture -%}

<div class="product-slider {% if section.settings.checkbox_backgound != blank %}background-bg{% endif %}">
  <div class="page-width">
    <div class="product-slider__container">
      <div class="product-slider__text">
        {{- text_block -}}
      </div>
      <div class="product-slider__slides">
        {% for block in section.blocks %}
          {% assign current_product = all_products[block.settings.product] %}
          <div class="product-slider__slide">
            <div class="product-slider__images">
              
              {{ block.settings.show_badge }}
              {% if block.settings.show_badge == 'most_popular' %}
              	<img src="{{ 'most-popular-seal.svg' | asset_url }}" class="most-popular-seal badge" {% if block.settings.spinning_animation %}style="animation: spin 8s linear infinite;"{% endif %}>
              {% elsif block.settings.show_badge == 'trending' %}
              	<img src="{{ 'trending-seal.svg' | asset_url }}" class="trending-seal badge" {% if block.settings.spinning_animation %}style="animation: spin 8s linear infinite;"{% endif %}>
              {% else %}
              {% endif %}
              
              <img
                srcset="{%- if current_product.featured_media.width >= 165 -%}{{ current_product.featured_media | img_url: '165x' }} 165w,{%- endif -%}
                  {%- if current_product.featured_media.width >= 360 -%}{{ current_product.featured_media | img_url: '360x' }} 360w,{%- endif -%}
                  {%- if current_product.featured_media.width >= 533 -%}{{ current_product.featured_media | img_url: '533x' }} 533w,{%- endif -%}
                  {%- if current_product.featured_media.width >= 720 -%}{{ current_product.featured_media | img_url: '720x' }} 720w,{%- endif -%}
                  {%- if current_product.featured_media.width >= 940 -%}{{ current_product.featured_media | img_url: '940x' }} 940w,{%- endif -%}
                  {%- if current_product.featured_media.width >= 1066 -%}{{ current_product.featured_media | img_url: '1066x' }} 1066w{%- endif -%}"
                src="{{ current_product.featured_media | img_url: '533x' }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 769px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ current_product.featured_media.alt | escape }}"
                loading="lazy"
                class="motion-reduce img-fill"
              >
              {%- if block.settings.hover_video != blank -%}
               <video autoplay loop muted playsinline class="secondary img-fill">
                <source src="{{ block.settings.hover_video }}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
              {%- endif -%}
            </div>
            <div class="product-slider__content">
              <h5>{{ current_product.title }}</h5>
              <p class="body hide-mobile">{{ block.settings.subtext }}</p>
              <p class="body light hide-desktop">{{ block.settings.description }}</p>
              <a href="{{ current_product.url }}" class="button button--overlay">Shop Now</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="product-slider__arrow-container">
      <div class="product-slider__arrows"></div>
    </div>
    {% if section.settings.promo_link_text != blank %}
      <div class="product-slider__link hide-desktop">
        <a class="body" href="{{ section.settings.promo_link }}">{{ section.settings.promo_link_text }} {% render 'icon-arrow-right' %}</a>
      </div>
    {% endif %}
  </div>

</div>
   
{% schema %}
  {
    "name": "Product Slider",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "url",
        "id": "shop_all_link",
        "label": "Shop All Link"
      },
      {
        "type": "text",
        "id": "promo_link_text",
        "label": "Promo Link Text"
      },
      {
        "type": "url",
        "id": "promo_link",
        "label": "Promo Link"
      },
      {
        "type": "checkbox",
        "id": "checkbox_backgound",
        "label": "Background"
      }

    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "text",
            "id": "hover_video",
            "label": "Video URL shown on hover"
          },
          {
            "type": "text",
            "id": "subtext",
            "label": "Subtext (Desktop Only)"
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "Description (Mobile Only)"
          },
		  {
            "type": "select",
            "id": "show_badge",
            "label": "Select Badge",
            "options": [
              {
                "value": "most_popular",
                "label": "Most Popular"
              },
              {
                "value": "trending",
                "label": "Trending"
              },
			  {
                "value": "none",
                "label": "none"
              }
            ],
            "default": "none"
          },
          {
            "type": "checkbox",
            "id": "spinning_animation",
            "label": "Spinning animation?",
			"default": true
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Slider"
      }
    ]
  }
{% endschema %}