{{ 'section-product-bar.css' | asset_url | stylesheet_tag }}

<div class="product-bar">
  <div class="page-width">
    <div class="product-bar__container">
      <div class="product-bar__title">
        <h5>{{ product.title }}</h5>
        <div class="product-bar__points">
          <p class="light"><span class="hide-mobile">✓</span> Free shipping</p>
          <span class="hide-desktop">|</span>
          <p class="light"><span class="hide-mobile">✓</span> Money-back guarantee</p>
          <span class="hide-desktop">|</span>
          <p class="light"><span class="hide-mobile">✓</span> Cancel anytime</p>
        </div>
      </div>
      <div class="product-bar__form">
        <div data-subid="{{ product.selling_plan_groups[0].selling_plans[0].id }}" data-id="{{ product.selected_or_first_available_variant.id }}" class="js-add-to-cart button" style="padding: 10px; line-height: 1;">Add To Cart — {{ product.price | money_without_trailing_zeros }}<br><span style="font-size: 10px;">3 Bottles — 120 Servings</span></div>
      </div>
    </div>
  </div>
</div>

{% javascript %}
  $(window).scroll(function() {
    var $scrollTop = $(window).scrollTop();
    var scrollToSectionOffset = $('.pdp-value-props');

    if ($scrollTop > (scrollToSectionOffset.offset().top - 200)) {
      $('.product-bar').addClass('scrolled');
    } else {
      $('.product-bar').removeClass('scrolled');
    }
  });
{% endjavascript %}

{% schema %}
  {
    "name": "Product Bar",
    "class": "product-bar-wrapper",
    "settings": [

    ],
    "presets": [
      {
        "name": "Product Bar"
      }
    ]
  }
{% endschema %}