{{ 'section-product-subscription-features.css' | asset_url | stylesheet_tag }}

<div class="product-subscription-features{% if section.settings.reverse_gradient %} reverse-gradient{% endif %}">
  <div class="page-width">
    <div class="product-subscription-features__header">
      <h3>{{ section.settings.title }}</h3>
      <p class="sh2 light">{{ section.settings.text }}</p>
    </div>
    <div class="product-subscription-features__content">
      {% for block in section.blocks %}
        <div class="product-subscription-features__item">
          <h2 class="float">{{ block.settings.emoji }}</h2>
          <h6>{{ block.settings.title }}</h6>
          <p class="body">{{ block.settings.text }}</p>
        </div>
      {% endfor %}
    </div>
    <div class="product-subscription-features__footer">
      <p class="sh3 light">{{ section.settings.check_title }}</p>
      <div class="product-subscription-features__footer-checks">
        {% if section.settings.check_1 != blank %}
          <div class="product-subscription-features__footer-check">
            {% render 'icon-check' %}
            <p class="sh4 light">{{ section.settings.check_1 }}</p>
          </div>
        {% endif %}
        {% if section.settings.check_2 != blank %}
          <div class="product-subscription-features__footer-check">
            {% render 'icon-check' %}
            <p class="sh4 light">{{ section.settings.check_2 }}</p>
          </div>
        {% endif %}
        {% if section.settings.check_3 != blank %}
          <div class="product-subscription-features__footer-check">
            {% render 'icon-check' %}
            <p class="sh4 light">{{ section.settings.check_3 }}</p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product Subscription Info",
    "settings": [
      {
        "type": "checkbox",
        "id": "reverse_gradient",
        "label": "Reverse Gradient"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "check_title",
        "label": "Check Title"
      },
      {
        "type": "text",
        "id": "check_1",
        "label": "Check 1"
      },
      {
        "type": "text",
        "id": "check_2",
        "label": "Check 2"
      },
      {
        "type": "text",
        "id": "check_3",
        "label": "Check 3"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "text",
            "id": "emoji",
            "label": "Emoji"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Subscription Info"
      }
    ]
  }
{% endschema %}