{{ 'section-product-bar.css' | asset_url | stylesheet_tag }}
  
<div class="product-bar product-bar-toggle product-bar-illness">
  <div class="page-width">
    <div class="product-bar__container">
      <div class="product-bar__title">
        <h5>{{ section.settings.title }}</h5>
        <div class="product-bar-illness__flex">
          <div class="check">
            {% render 'icon-check' %}
            <p class="body-xs light">{{ section.settings.check1 }}</p>
          </div>
          <div class="check">
            {% render 'icon-check' %}
            <p class="body-xs light">{{ section.settings.check2 }}</p>
          </div>
          <div class="check">
            {% render 'icon-check' %}
            <p class="body-xs light">{{ section.settings.check3 }}</p>
          </div>
          
        </div>
      </div>
      <div class="flex-buttons-bar">
        <a href="#chronic" class="button">{{ section.settings.btn_label }}</a>
      </div>
    </div>
  </div>
</div>

{% javascript %}
  $(window).scroll(function() {
    var $scrollTop = $(window).scrollTop();
      var scrollToSectionOffset = $('.shopify-section:nth-child(2)');
      console.log('here', scrollToSectionOffset)
    if ( $(window).width() > 768 ) {
      if ($scrollTop > (scrollToSectionOffset.offset().top)) {
        $('.product-bar').addClass('scrolled');
      } else {
        $('.product-bar').removeClass('scrolled');
      }
    } else {
      if ($scrollTop > 1200) {
        $('.product-bar').addClass('scrolled');
      } else {
        $('.product-bar').removeClass('scrolled');
      }
	}
  });
{% endjavascript %}

{% schema %}
  {
    "name": "Product Bar Illness",
    "class": "product-bar-wrapper",
    "settings": [
      {
        "type" : "text",
        "id" : "title",
        "label" : "Title"
      },
      {
        "type" : "text",
        "id" : "check1",
        "label" : "Check 1"
      },
      {
        "type" : "text",
        "id" : "check2",
        "label" : "Check 2"
      },
      {
        "type" : "text",
        "id" : "check3",
        "label" : "Check 3"
      },
      {
        "type" : "text",
        "id" : "btn_label",
        "label" : "Button Label"
      }
    ],
    "presets": [
      {
        "name": "Product Bar Illness"
      }
    ]
  }
{% endschema %}  





