  {{ 'section-product-bar.css' | asset_url | stylesheet_tag }}
{% for selling_plan in product.selling_plan_groups %}
    {% if selling_plan.app_id == '5859381' %}
    {% assign rtx_selling_plan = selling_plan %}
    {% endif %}
{% endfor %}

{% if product.title == 'Hydration Drops' %}
  {% assign num = 1 %}
{% else %}
  {% assign num = 0 %}
{% endif %} 
  {% assign num = 0 %}

  {%- liquid
    assign currentVariant = product.selected_or_first_available_variant
    assign requiresPlan = product.requires_selling_plan
    assign selectedAllocation = product.selected_or_first_available_selling_plan_allocation
    assign currentAllocations = currentVariant.selling_plan_allocations
  -%}

<div data='{{product.variants | json }}' class="product-bar product-bar-toggle section--{{ section.id }}">
  <div class="page-width Product_Bar_Container">
    <div class="product-bar__container">
      <div class="product-bar__title">
        <h5>{{ product.title }}</h5>
      </div>
      {% unless product.has_only_default_variant %}
      <span class="Product_Bar_Variant">

      {% comment %}
      {%- for variant in product.variants -%}
        <span class="Product_Bar_Variant">
          <label data-id={{ variant.id }} for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}">
            <span class="">{{ variant.title }}</span>
          </label>
        </span>
      {%- endfor -%}
      {% endcomment %}

        {% comment %}
        {%- for option in product.options_with_values -%}
         {% assign optionIndex = forloop.index0 %}
         {% assign values = "" %}
          <fieldset class="js product-form__input js-sticky-variants">
          {%- for variant in product.variants -%}
            {% assign value = variant.options[optionIndex] %}
            {%- unless values contains value -%}
            {% assign values = values | join:',' %}
            {% assign values = values | append:',' | append:value %}
            {% assign values = values | split:',' %}
              <span class="Product_Bar_Variants" data-id={{ variant.id }}>
                <input type="radio" data-option="option-{{ optionIndex }}" id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
                  name="{{ option.name }}"
                  value="{{ value | escape }}"
                  form="product-form-{{ section.id }}"
                  {% if option.selected_value == value %}checked{% endif %}
                >
                <label for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}">
                  <span class="Variant_Title">{{ value }}</span>
                </label>
              </span>
            {%- endunless -%}
          {%- endfor -%}
        </fieldset>
        {%- endfor -%}
        {% endcomment %}
        
        {%- for option in product.options_with_values -%}
         {% assign optionIndex = forloop.index0 %}
         {% assign values = "" %}
          <select class="js product-form__input--dropdown js-sticky-variants">
          {%- for variant in product.variants -%}
            {% assign value = variant.options[optionIndex] %}
            {%- unless values contains value -%}
            {% assign values = values | join:',' %}
            {% assign values = values | append:',' | append:value %}
            {% assign values = values | split:',' %}
              <option value="{{ variant.id }}" {% if currentVariant.id == variant.id %}selected{% endif %} data-option="option-{{ optionIndex }}">{{ value }}</option>
            {%- endunless -%}
          {%- endfor -%}
          </select>
        {%- endfor -%}
        
      </span>
      {% endunless %}
      
      <div class="flex-buttons-bar">
        {% if product.selling_plan_groups.size > 0 %}
          <select class="product-form__input--dropdown js-sticky-subscription-btns"
            data-subid="{% if product.handle == 'wellness-kit' %}{{ rtx_selling_plan.selling_plans[0].id }}{% else %}{{ rtx_selling_plan.selling_plans[1].id }}{% endif %}"
            data-price="{{ currentVariant.price | money_without_trailing_zeros }}"
            data-subsc-price="{{ currentVariant.selling_plan_allocations[0].price | money_without_trailing_zeros }}"
            >
            <option value="one-time">One-time</option>
            <option value="subscription" {% if selectedAllocation != blank %} selected {% endif %}>Subscribe & Save</option>
          </select>
        {% endif %}
        {% comment %}
        <div class="product-quick-add__form js-sticky-subscription-btns">
          <div class="product-quick-add__form-item one-time">
            <input type="radio" id="one-time--{{ section.id }}" value="one-time" name="form-{{ section.id }}" data-price="{{ currentVariant.price | money_without_trailing_zeros }}" {% if selectedAllocation == blank %} checked {% endif %}>
            <label class="body" for="one-time--{{ section.id }}">
              <span>One-time</span>
              <span class="hide-mobile">&nbsp;|&nbsp;</span>
              <span class="hide-mobile js-rtx_one_time_price">{{ currentVariant.price | money_without_trailing_zeros  }}</span>
            </label>
          </div>
          <div class="product-quick-add__form-item subscription">
            <input type="radio" id="subscription--{{ section.id }}" value="subscription" data-subid="{% if product.handle == 'wellness-kit' %}{{ rtx_selling_plan.selling_plans[0].id }}{% else %}{{ rtx_selling_plan.selling_plans[1].id }}{% endif %}" name="form-{{ section.id }}" data-price="{{ currentVariant.selling_plan_allocations[0].price | money_without_trailing_zeros }}" {% if selectedAllocation != blank %} checked {% endif %}>
            <label class="body" for="subscription--{{ section.id }}">
              <span>Subscribe & Save</span>
              <span class="hide-mobile">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
              <span data-id="{{ currentVariant.selling_plan_allocations[0].price | json }}" class="hide-mobile">
                <span class="js-subscription-price">{{ currentVariant.selling_plan_allocations[0].price | money_without_trailing_zeros }}</span>
                <span class="discount-price js-rtx_one_time_price">{{ currentVariant.price | money_without_trailing_zeros }}</span>
              </span>
            </label>
          </div>
        </div>
        {% endcomment %}
        <button class="button js-sticky-add-to-cart" 
                type="button"
                {% if currentVariant.available == false %}disabled{% endif %}
                data-id="{{ currentVariant.id }}" 
                data-time="one-time">

          {% if currentVariant.available == false %}
          <span>Sold Out</span>
          {% else %}
          <span>Add to Cart</span> — 
          <span class="button-money">
            {{ currentAllocations[0].price | default:currentVariant.price | money_without_trailing_zeros }}
          </span>
          {% endif %}
        </button>
      </div>
    </div>
  </div>
</div>

{% javascript %}
  $(window).scroll(function() {
    var $scrollTop = $(window).scrollTop();
      var scrollToSectionOffset = $('.show-product-bar');
    if ( $(window).width() > 768 ) {
      if ($scrollTop > (scrollToSectionOffset.offset().top)) {
        $('.product-bar').addClass('scrolled');
      } else {
        $('.product-bar').removeClass('scrolled');
      }
    } else {
      if ($scrollTop > 1200) {
        $('.product-bar').addClass('scrolled');
      } else {
        $('.product-bar').removeClass('scrolled');
      }
	}
  });
{% endjavascript %}

<script type="text/javascript">
  let section = document.querySelector('.section--{{ section.id }}'),
      mainProduct = document.querySelector('.shopify-section.product-section'),
      subscriptionWrapper = section.querySelector('.js-sticky-subscription-btns'),
    variantRadio = mainProduct.querySelector(`variant-radios`),
    variantSelect = mainProduct.querySelector(`variant-selects`) || mainProduct.querySelector(`variant-radios`),
    productForm = mainProduct.querySelector('product-form');
  section.querySelectorAll('.js-sticky-variants input[type="radio"]').forEach(radio => {
    radio.addEventListener('change',function(){
      let radio = mainProduct.querySelector(`variant-radios [type="radio"][value="${this.value}"]`);
      radio.checked = true;
      variantRadio.dispatchEvent(new Event('change'));
    })
  });
  subscriptionWrapper.querySelectorAll('[type="radio"]').forEach(radio => {
    radio.addEventListener('change',function(){
      if(this.value == "one-time"){
        mainProduct.querySelector('[name="purchaseType"][value="purchaseTypeOneTime"]').checked = true;
        mainProduct.querySelector('[name="purchaseType"][value="purchaseTypeOneTime"]').dispatchEvent(new Event('change'));
      }else{
        mainProduct.querySelector('[name="purchaseType"][value="purchaseTypeSubscription"]').checked = true;
        mainProduct.querySelector('[name="purchaseType"][value="purchaseTypeSubscription"]').dispatchEvent(new Event('change'));
      }
      // variantSelect.dispatchEvent(new Event('change'));
    });
  });
  section.querySelector('.js-sticky-add-to-cart').onclick = function(){
    productForm.querySelector('[type="submit"]').click();
  }
</script>

{% schema %}
  {
    "name": "Product Bar Toggle",
    "class": "product-bar-wrapper",
    "settings": [

    ],
    "presets": [
      {
        "name": "Product Bar Toggle"
      }
    ],
    "templates": ["product"]
  }
{% endschema %}  





