{% if section.settings.product != blank %}
  {% assign product1 = all_products[section.settings.product] %}
{% else %}
  {% assign product1 = product %}
{% endif %}


<div class="product-reviews" id="Product_Reviews">
  <div class="page-width">
  {% if product1.metafields.okendo.summaryData.reviewCount > 0 %}
          <div data-oke-reviews-version="2.11.0" class="okeReviews okeReviews--theme okeReview-custom-aggregate">
              <div class="okeReviews-reviewsSummary js-okeReviews-reviewsSummary" data-oke-ga-click-action="Star Rating Summary Click">
                  <div class="okeReviews-reviewsSummary-starRating">
                      <span class="okeReviews-starRating okeReviews-starRating--large">
                          <span class="okeReviews-a11yText">{{ product1.metafields.okendo.summaryData.reviewAverageValue | default: 0 }} out of 5</span>
                          <span class="okeReviews-starRating-indicator" role="presentation">
                              <span class="okeReviews-starRating-indicator-layer"></span>
                              <span class="okeReviews-starRating-indicator-layer okeReviews-starRating-indicator-layer--foreground" style="width: {{ product1.metafields.okendo.summaryData.reviewAverageValue | times: 20 }}%"></span>
                          </span>
                      </span>
                  </div>
                  <div class="okeReviews-reviewsSummary-ratingCount test">{{ product1.metafields.okendo.summaryData.reviewAverageValue | default: 0 }} out of 5.0 stars</div>
              </div>
          </div>
  {% endif %}
    <div data-oke-reviews-widget-holder data-oke-reviews-product-id="shopify-{{ product1.id }}">
        <div data-oke-reviews-nav-bar></div>
        <div data-oke-reviews-widget>{{ product1.metafields.okendo.ProductReviewsWidgetSnippet }}</div>
        <div data-oke-reviews-qanda></div>
    </div>
  </div>
</div>

<style>
  .product-reviews {
    margin: 0 auto;
    padding-top: 100px;
  }
</style>

{% schema %}
  {
    "name": "Product Reviews",
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Product (optional if on PDP)"
      }
    ],
    "presets": [
      {
        "name": "Product Reviews"
      }
    ]
  }
{% endschema %}