{{ 'section-profile-table.css' | asset_url | stylesheet_tag }}

<div class="profile-table__container
   {% if section.settings.add_top_border %} top-border{% endif %}
   {% if section.settings.add_bottom_border %} bottom-border{% endif %}
   {% if section.settings.background %} background--{{ section.settings.background }}{% endif %}
  ">
  <div class="page-width">
    <h2 class="h4">{{ section.settings.title }}</h2>
    <div class="profile-table__svg hide-mobile">
      {{ section.settings.desktop_svg }}
    </div>
    <div class="profile-table__svg hide-desktop">
      {{ section.settings.mobile_svg }}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Profile Table",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "desktop_svg",
        "label": "Desktop SVG"
      },
      {
        "type": "textarea",
        "id": "mobile_svg",
        "label": "Mobile SVG"
      },
      {
        "type": "checkbox",
        "id": "add_top_border",
        "label": "Add Top Border"
      },
      {
        "type": "checkbox",
        "id": "add_bottom_border",
        "label": "Add Bottom Border"
      },
      {
        "type": "select",
        "id": "background",
        "label": "Background",
        "options": [
          {
            "value": "top",
            "label": "Gradient Top to Bottom"
          },
          {
            "value": "bottom",
            "label": "Gradient Bottom to Top"
          },
          {
            "value": "bg_color",
            "label": "Background Color"
          },
          {
            "value": "none",
            "label": "None"
          }
        ],
        "default": "none"
      }
    ],
    "presets": [
      {
        "name": "Profile Table"
      }
    ]
  }
{% endschema %}