{{ 'section-qr-template.css' | asset_url | stylesheet_tag }} 

<div class="page-width qr-page-width">
  <div class="qr-page">
    <div class="qr-page__header">
      {% render 'lazy-image' image: section.settings.image, fade: true, classes: 'img-fill' %}
      <div class="qr-page__header-text">
        <h2 class="h1">{{ section.settings.title }}</h2>
        
        <style>
          .qr-page__header-text .h1::after {
            content: "{{ section.settings.title }}";
            position: absolute;
            color: white;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: var(--charcoal);
            left: -3px;
            top: -3px;
            z-index: 2;
          }
        </style>
      </div>
    </div>
    <div class="qr-page__content">
      <h3>{{ section.settings.header }}</h3>
      <p class="sh2 light">{{ section.settings.text }}</p>
      <p class="sh2 medium">{{ section.settings.subheader }}</p>
      <div class="klaviyo-form sms-form">
        <div class="klaviyo-form-UBnePi"></div>
      </div>
      <p class="body-sm light italic">{{ section.settings.terms_text }}</p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "QR Template",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "header",
        "label": "Header"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "subheader",
        "label": "Subheader"
      },
      {
        "type": "textarea",
        "id": "terms_text",
        "label": "Terms Text"
      }
    ],
    "presets": [
      {
        "name": "QR Template"
      }
    ]
  }
{% endschema %}