{{ 'related-articles.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

<div class="related-blog-articles">
  <div class="page-width page-width--narrow">
    <div class="title-wrapper--self-padded-mobile center">
      <h4 class="related-article-title h4">{{ section.settings.title | escape }}</h4>
    </div>
  </div>
  <div class="related-blog">
    <div class="page-width page-width--narrow">
     <div class="blog-articles">
        {% capture relatedArticles %}{{ article.metafields["custom"]["related_article_1"] }},{{ article.metafields["custom"]["related_article_2"] }}{% endcapture %}
        {% if article.metafields["custom"]["related_article_1"] != blank or article.metafields["custom"]["related_article_2"] != blank %}
        {% for articles in blogs.hydration-station.articles %}
        {% assign handle = articles.url | split: '/' %}
        {% assign handle = handle.last %}
        {% if relatedArticles contains handle %}
          <div class="blog-articles__article article">
            <article class="article-card{% if article.image == blank or show_image == false %} article-card--no-image{% endif %}" aria-labelledby="Article-{{ article.id }}">
               <a href="{{ articles.url }}" class="article-content motion-reduce">
                  <div class="article-card__image-wrapper">
                    <div class="article-card__image media media--landscape">
                        <img srcset="
                               {%- if articles.image.src.width >= 165 -%}{{ articles.image.src | img_url: '165x' }} 165w,{%- endif -%}
                               {%- if articles.image.src.width >= 360 -%}{{ articles.image.src | img_url: '360x' }} 360w,{%- endif -%}
                               {%- if articles.image.src.width >= 533 -%}{{ articles.image.src | img_url: '533x' }} 533w,{%- endif -%}
                               {%- if articles.image.src.width >= 720 -%}{{ articles.image.src | img_url: '720x' }} 720w,{%- endif -%}
                               {%- if articles.image.src.width >= 940 -%}{{ articles.image.src | img_url: '940x' }} 940w,{%- endif -%}
                               {%- if articles.image.src.width >= 1066 -%}{{ articles.image.src | img_url: '1066x' }} 1066w{%- endif -%}"
                       src="{{ articles.image.src | img_url: '533x' }}"
                       sizes="(min-width: 1100px) 535px, (min-width: 769px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                       alt="{{ articles.image.src.alt | escape }}"
                       width="{{ articles.image.width }}"
                       height="{{ articles.image.height }}"
                       loading="lazy"
                       class="motion-reduce">
                    </div>
                  </div>
                  <div class="article-card__info">
                    <header class="article-card__header" {{ block.shopify_attributes }}>
                      {% if article.metafields.custom.reading_time != blank%}
                        <span class="caption">{{ article.metafields.custom.reading_time }}</span>
                      {% endif %}
                      <h2 class="article-card__title h5" id="Article-{{ articles.id }}">
                        {{ articles.title | escape }}
                      </h2>
                    </header>
                  </div>
               </a>
            </article>
            </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    </div>
  </div>
  </div>
</div>
{% schema %}
  {
    "name": "Related Article",
    "class": "related-article-section",
    "settings": [
       {
         "type": "text",
         "id": "title",
         "label": "Title",
         "default": "Related Article"
       }
    ],
    "presets": [
      {
        "name": "Related Article"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}