{% if article.metafields.custom.related_article_1 != blank or article.metafields.custom.related_article_2 != blank %}
{{ 'related-articles.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
  
<div class="related-blog-articles">
  <div class="page-width page-width--narrow">
    <div class="title-wrapper--self-padded-mobile center">
      <h4 class="related-article-title h4">{{ section.settings.title | escape }}</h4>
    </div>
  </div>
  <div class="related-blog page-width page-width--narrow">
    <div class="related-blog-wrapper">
     <div class="blog-articles">
        {% capture relatedArticles %}{{ article.metafields["custom"]["related_article_1"] }},{{ article.metafields["custom"]["related_article_2"] }}{% endcapture %}
        {% if article.metafields["custom"]["related_article_1"] != blank or article.metafields["custom"]["related_article_2"] != blank %}
        {% for articles in blogs.hydration-station.articles %}
        {% assign handle = articles.url | split: '/' %}
        {% assign handle = handle.last %}
        {% if relatedArticles contains handle %}
          <div class="blog-articles__article article">
            <article class="article-card{% if article.image == blank or show_image == false %} article-card--no-image{% endif %}" aria-labelledby="Article-{{ article.id }}">
              <div class="article-card__image-wrapper">
               <a href="{{ articles.url }}"> 
                  <div class="article-card__image media media--landscape">
                      <img srcset="
                             {%- if articles.image.src.width >= 165 -%}{{ articles.image.src | img_url: '165x' }} 165w,{%- endif -%}
                             {%- if articles.image.src.width >= 360 -%}{{ articles.image.src | img_url: '360x' }} 360w,{%- endif -%}
                             {%- if articles.image.src.width >= 533 -%}{{ articles.image.src | img_url: '533x' }} 533w,{%- endif -%}
                             {%- if articles.image.src.width >= 720 -%}{{ articles.image.src | img_url: '720x' }} 720w,{%- endif -%}
                             {%- if articles.image.src.width >= 940 -%}{{ articles.image.src | img_url: '940x' }} 940w,{%- endif -%}
                             {%- if articles.image.src.width >= 1066 -%}{{ articles.image.src | img_url: '1066x' }} 1066w{%- endif -%}"
                     src="{{ articles.image.src | img_url: '533x' }}"
                     sizes="(min-width: 1100px) 535px, (min-width: 769px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                     alt="{{ articles.image.src.alt | escape }}"
                     width="{{ articles.image.width }}"
                     height="{{ articles.image.height }}"
                     loading="lazy"
                     class="motion-reduce">
                  </div>
               </a>
              </div>
              <div class="article-card__info">
                <header class="article-card__header" {{ block.shopify_attributes }}>
                  {% if article.metafields.custom.reading_time != blank%}
                    <span class="caption">{{ article.metafields.custom.reading_time }}</span>
                  {% endif %}
                  <h2 class="article-card__title h5" id="Article-{{ articles.id }}">
                     <a href="{{ articles.url }}">{{ articles.title | escape }}</a>
                  </h2>
                </header>
                {% if secton.settings.show_excerpt == true %}
                {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
                  <p class="article-card__excerpt rte-width">
                  {%- if article.excerpt.size > 0 -%}
                    {{ article.excerpt | strip_html | truncatewords: 30 }}
                  {%- else -%}
                    {{ article.content | strip_html | truncatewords: 30 }} {% include 'relatedblogs' %} 
                  {%- endif -%}
                  </p>
                {%- endif -%}
                {% endif %}
                {% if section.settings.show_read_more %}
                <div class="article-card__footer center">
                  <a href="{{ articles.url }}" class="button">Read More</a>  
                </div>
                {% endif %}
              </div>
            </article>
            </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    </div>
     <div class="blog-redirection center">
        <a href="{{ section.settings.link_url }}" class="styled-link">{{ section.settings.link_text }}</a>
     </div> 
   </div>
  </div>
</div>

<style>
  #shopify-section-{{ section.id }} {
    background: {{ section.settings.bg_color }};
    {% if section.settings.show_section_borders %}
    border-top: 1px solid var(--charcoal);
    border-bottom: 1px solid var(--charcoal);
    {% endif %}
  }
</style>
{% endif %}

{% schema %}
  {
    "name": "Related Article",
    "class": "related-article-section",
    "settings": [
       {
         "type": "color",
         "id": "bg_color",
         "label": "Background color",
         "default": "#F8F1EB"
       },
       {
         "type": "text",
         "id": "title",
         "label": "Title",
         "default": "Related Articles"
       },
       {
         "type": "checkbox",
         "id": "show_section_borders",
         "label": "Show Section Borders",
         "default": true
       },
       {
         "type": "checkbox",
         "id": "show_excerpt",
         "label": "Show Excerpt",
         "default": false
       },
       {
         "type": "checkbox",
         "id": "show_read_more",
         "label": "Show Read More",
         "default": true
       },
       {
         "type": "text",
         "id": "link_text",
         "label": "Link Text",
         "default": "See All Articles"
       },
       {
         "type": "url",
         "id": "link_url",
         "label": "Link URL"
       }
    ],
    "presets": [
      {
        "name": "Related Article"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}