<script src="{{ 'reviews-slider.js' | asset_url }}"></script>
{{ 'reviews-slider.css' | asset_url | stylesheet_tag }} 

<div class="reviews-slider">
  <div class="page-width page-width--wide">
    <div class="reviews-slider__arrows"></div>
    <div class="reviews-slider__container">
      <div class="reviews-slider__content">
        <div class="reviews-slider__reviews">
          {% assign reviews_product = section.settings.product_for_reviews %}
          {% render 'okendo-reviews-product-rating-summary', product: reviews_product %}
        </div>
        <h2 class="reviews-slider__title h2">{{ section.settings.title }}</h2>
        <a href="{{ section.settings.link }}" class="reviews-slider__link body-small hide-mobile">{{ section.settings.link_label }}</a>
      </div>
      <div class="reviews-slider__slider slick-slider">
        {% for block in section.blocks %}
          <div class="reviews-slider__item slick-slide" {{ block.shopify_attributes }}>
            <div class="reviews-slider__image">
              {%- if block.settings.image != blank -%}
                <img
                  srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.image | img_url: '165x' }} 165w,{%- endif -%}
                    {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | img_url: '360x' }} 360w,{%- endif -%}
                    {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | img_url: '535x' }} 535w,{%- endif -%}
                    {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                    {%- if block.settings.image.width >= 1070 -%}{{ block.settings.image | img_url: '1070x' }} 1070w,{%- endif -%}
                    {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}"
                  src="{{ block.settings.image | img_url: '1500x' }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 769px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                  alt="{{ block.settings.image.alt | escape }}"
                  loading="lazy"
                  width="{{ block.settings.image.width }}"
                  height="{{ block.settings.image.height }}"
                >
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
            </div>
            <div class="reviews-slider__item-content">
              {% assign tags_split = block.settings.tags | split: ',' %}
              <div class="reviews-slider__tags">
                {% for tag in tags_split %}
                  <div class="reviews-slider__tag body-xs">{{ tag }}</div>
                {% endfor %}
              </div>
              <p class="reviews-slider__item-title body-large">{{ block.settings.title }}</p>
              <p class="reviews-slider__item-text body-small">{{ block.settings.text }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="center hide-desktop">
        <a href="{{ section.settings.link }}" class="reviews-slider__link body-small">{{ section.settings.link_label }}</a>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Reviews Slider",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "product",
        "id": "product_for_reviews",
        "label": "Product for Reviews"
      },
      {
        "type": "text",
        "id": "link_label",
        "label": "Link Label"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      }
    ],
    "blocks": [
      {
        "type": "review",
        "name": "Review",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "textarea",
            "id": "tags",
            "label": "Tags", 
            "info": "Separate each by a comma."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Reviews Slider"
      }
    ]
  }
{% endschema %}