{{ 'section-routine-products.css' | asset_url | stylesheet_tag }}

<div class="page-width routine-products__container">
  <h2>{{ section.settings.title }}</h2>
  <div class="routine-products__products">
    {% for block in section.blocks %}
    {% assign routineProduct = all_products[ block.settings.product ] %}
    <div class="routine-products__product">
      {% if block.settings.text != blank %}
        <h5 class="rhymes">{{ block.settings.text }}</h5>
      {% endif %}
      {%- if block.settings.new_product -%}
        <div class="routine-products__new">
          <p>New Product</p>
        </div>
      {%- endif -%}
      <img src="{{ block.settings.image | img_url: 'master' }}"/>
      <div class="routine-products__bottom">
        <h4>{{ block.settings.bottom_text }}</h4>
        <div>
          {% if routineProduct.metafields.okendo.ProductListingSnippet != blank %}
          <div data-oke-star-rating>{{ routineProduct.metafields.okendo.ProductListingSnippet }}</div>
          {% else %}
          <div class="okendo_placeholder"></div>
          {% endif %}
          {% if block.settings.add_to_cart == true %}
            <button class="js-add-to-cart button" data-id="{{ routineProduct.selected_or_first_available_variant.id }}">Add To Cart</button>
          {% else %}
          <a href="{{ routineProduct.url }}">
            <button class="button">Start Bundling</button>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Routine Products",
  "class": "spaced-section--full-width",
  "tag": "section",
  "settings": [
	{
    "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "Top Text"
        },
        {
          "type": "checkbox",
          "id": "new_product",
          "label": "New Product?",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Product Image"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "bottom_text",
          "label": "Bottom Text"
        },
        {
          "type": "checkbox",
          "id": "add_to_cart",
          "label": "Add To Cart?",
          "default": false
        }
      ]
    }
  ],
   "presets": [
      {
        "name": "Routine Products"
      }
    ]
}
{% endschema %}