{{ 'section-routine-products.css' | asset_url | stylesheet_tag }}

<div class="routine-products__container">
  <h2>{{ section.settings.title }}</h2>
  <div class="routine-products__products">
    {% for block in section.blocks %}
    {% assign routineProduct = all_products[ block.settings.product ] %}
    <div class="routine-products__product">
      {% if block.settings.text != blank %}
      <h5>{{ block.settings.text }}</h5>
      {% endif %}
      {% if block.settings.new_product == true %}
      <div>
        <span>New Product</span>
      </div>
      {% endif %}
      <img src="{{ block.settings.image | img_url: 'master' }}"/>
      <h4>{{ routineProduct.title }}</h4>
      <div class="okeReviews-reviewsSummary-starRating">
        <span class="okeReviews-starRating okeReviews-starRating--large">
            <span class="okeReviews-a11yText">{{ routineProduct.metafields.okendo.summaryData.reviewAverageValue | default: 0 }} out of 5</span>
            <span class="okeReviews-starRating-indicator" role="presentation">
                <span class="okeReviews-starRating-indicator-layer"></span>
                <span class="okeReviews-starRating-indicator-layer okeReviews-starRating-indicator-layer--foreground" style="width: {{ routineProduct.metafields.okendo.summaryData.reviewAverageValue | times: 20 }}%"></span>
            </span>
        </span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Routine Products",
  "class": "spaced-section--full-width",
  "tag": "section",
  "settings": [
	{
    "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "Top Text"
        },
        {
          "type": "checkbox",
          "id": "new_product",
          "label": "New Product?",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Product Image"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "checkbox",
          "id": "add_to_cart",
          "label": "Add To Cart?",
          "default": false
        }
      ]
    }
  ],
   "presets": [
      {
        "name": "Routine Products"
      }
    ]
}
{% endschema %}