{{ 'section-benefits.css' | asset_url | stylesheet_tag }}
{{ 'section-select-faq.css' | asset_url | stylesheet_tag }}


<div class="benefits__container select-faq__container
   {% if section.settings.add_top_border %} top-border{% endif %}
   {% if section.settings.add_bottom_border %} bottom-border{% endif %}
   {% if section.settings.background %} background--{{ section.settings.background }}{% endif %}
  ">
  {% if section.settings.title != blank %}
    <p class="page-width benefits__info-title2 medium caps">{{ section.settings.title }}</p>
  {% endif %}
  <div class="page-width benefits__flex">
    <div class="benefits__items hide-mobile">
      {% for block in section.blocks %}
      <div data-id="{{ forloop.index }}" class="benefits__item">
        <h3 class="{% if forloop.index == 1 %}active{% endif %}">{{ block.settings.title }}</h3>
      </div>
      {% endfor %}
      {% if section.settings.link_text != blank %}
        <a href="{{ section.settings.link }}" class="benefits_link">{{ section.settings.link_text }}</a>
      {% endif %}
    </div>
    <div class="benefits__items hide-desktop">
      {% for block in section.blocks %}
      <div data-id="{{ forloop.index }}" class="page-width benefits__item-mobile select-faq__item-mobile">
        <h4 class="light {% if forloop.index == 1 %}active{% endif %}">{{ block.settings.title }}</h4>
        <div class="select-faq__x {% if forloop.index == 1 %}minus{% endif %}"></div>
      </div>
      <div data-id="{{ forloop.index }}" class="page-width mobile-benefits-info">
      <p class="sh2 hide-desktop">{{ block.settings.text }}</p>
       <div  class="select-faq__titles-container">
        {% if block.settings.title1 != blank %}
          <p class="medium caps select-faq__titles">{{ block.settings.title1 }}</p>
        {%  endif %}
        {% if block.settings.text1 != blank %}
          <p class="select-faq__texts">{{ block.settings.text1 }}</p>
        {%  endif %}
        {% if block.settings.title2 != blank %}
          <p class="medium caps select-faq__titles">{{ block.settings.title2 }}</p>
        {%  endif %}
        {% if block.settings.text2 != blank %}
          <p class="select-faq__texts">{{ block.settings.text2 }}</p>
        {%  endif %}
      </div>
      {% if block.settings.list_item1 != blank %}
        <div class="select-faq__list-item">
          {% include 'icon-x2' %}
          <p class="sh2">{{ block.settings.list_item1 }}</p>
        </div>
      {%  endif %}
      {% if block.settings.list_item2 != blank %}
        <div class="select-faq__list-item">
          {% include 'icon-x2' %}
          <p class="sh2">{{ block.settings.list_item2 }}</p>
        </div>
      {%  endif %}
      {% if block.settings.list_item3 != blank %}
        <div class="select-faq__list-item">
          {% include 'icon-x2' %}
          <p class="sh2">{{ block.settings.list_item3 }}</p>
        </div>
      {%  endif %}
      {% if block.settings.list_item4 != blank %}
        <div class="select-faq__list-item">
          {% include 'icon-x2' %}
          <p class="sh2">{{ block.settings.list_item4 }}</p>
        </div>
      {%  endif %}
      {% if block.settings.list_item5 != blank %}
        <div class="select-faq__list-item">
          {% include 'icon-x2' %}
          <p class="sh2">{{ block.settings.list_item5 }}</p>
        </div>
      {% endif %}
      </div>
   {% endfor %}
    </div>
    <div class="benefits__info hide-mobile">
      {% for block in section.blocks %}
        <div style="{% if forloop.index == 1 %}display: block{% endif %}" data-id="{{ forloop.index }}" class="benefits__info-item">
          {% if block.settings.text != blank %} 
            <p class="select-faq__container-title sh4">{{ block.settings.text }}</p>
          {% endif %}
          <div class="select-faq__titles-container">
            {% if block.settings.title1 != blank %}
              <p class="medium caps select-faq__titles">{{ block.settings.title1 }}</p>
            {%  endif %}
            {% if block.settings.text1 != blank %}
              <p class="select-faq__texts">{{ block.settings.text1 }}</p>
            {%  endif %}
            {% if block.settings.title2 != blank %}
              <p class="medium caps select-faq__titles">{{ block.settings.title2 }}</p>
            {%  endif %}
            {% if block.settings.text2 != blank %}
              <p class="select-faq__texts">{{ block.settings.text2 }}</p>
            {%  endif %}
          </div>
          {% if block.settings.list_item1 != blank %}
            <div class="select-faq__list-item">
              {% include 'icon-x2' %}
              <p class="sh2">{{ block.settings.list_item1 }}</p>
            </div>
          {%  endif %}
          {% if block.settings.list_item2 != blank %}
            <div class="select-faq__list-item">
              {% include 'icon-x2' %}
              <p class="sh2">{{ block.settings.list_item2 }}</p>
            </div>
          {%  endif %}
          {% if block.settings.list_item3 != blank %}
            <div class="select-faq__list-item">
              {% include 'icon-x2' %}
              <p class="sh2">{{ block.settings.list_item3 }}</p>
            </div>
          {%  endif %}
          {% if block.settings.list_item4 != blank %}
            <div class="select-faq__list-item">
              {% include 'icon-x2' %}
              <p class="sh2">{{ block.settings.list_item4 }}</p>
            </div>
          {%  endif %}
          {% if block.settings.list_item5 != blank %}
            <div class="select-faq__list-item">
              {% include 'icon-x2' %}
              <p class="sh2">{{ block.settings.list_item5 }}</p>
            </div>
          {%  endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Select FAQ",
  "class": "spaced-section--full-width",
  "tag": "section",
  "settings": [
	{
    "type": "textarea",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "checkbox",
      "id": "add_top_border",
      "label": "Add Top Border"
    },
    {
      "type": "checkbox",
      "id": "add_bottom_border",
      "label": "Add Bottom Border"
    },
    {
      "type": "select",
      "id": "background",
      "label": "Background",
      "options": [
        {
          "value": "top",
          "label": "Gradient Top to Bottom"
        },
        {
          "value": "bottom",
          "label": "Gradient Bottom to Top"
        },
        {
          "value": "bg_color",
          "label": "Background Color"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "none"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Main Text"
        },
        {
          "type": "text",
          "id": "title1",
          "label": "Title 1"
        },
        {
          "type": "text",
          "id": "text1",
          "label": "Text 1"
        },
                {
          "type": "text",
          "id": "title2",
          "label": "Title 2"
        },
        {
          "type": "text",
          "id": "text2",
          "label": "Text 2"
        },
        {
          "type": "textarea",
          "id": "list_item1",
          "label": "List Item 1"
        },
        {
          "type": "textarea",
          "id": "list_item2",
          "label": "List Item 2"
        },
        {
          "type": "textarea",
          "id": "list_item3",
          "label": "List Item 3"
        },
        {
          "type": "textarea",
          "id": "list_item4",
          "label": "List Item 4"
        },
        {
          "type": "textarea",
          "id": "list_item5",
          "label": "List Item 5"
        }
      ]
    }
  ],
   "presets": [
      {
        "name": "Select FAQ"
      }
    ]
}
{% endschema %}