{{ 'section-shop-slide-out.css' | asset_url | stylesheet_tag }}

<div class="shop-slide-out">
  <div class="shop-slide-out__inner">
    <div class="shop-slide-out__header">
      <button class="shop-slide-out__close">
        {% render 'icon-arrow-left' %}
      </button>
      <p class="sh4 light">{{ section.settings.title }}</p>
    </div>
    <div class="shop-slide-out__content">
      {% comment %}
        <div class="shop-slide-out__marquee">
          <div class="shop-slide-out__marquee-container">
            {% assign marquee_arr = section.settings.marquee | split: ',' %}
            {% for marquee_item in marquee_arr %}
            <p class="shop-slide-out__marquee-item body-small">{{ marquee_item }}</p>
            {% endfor %}
          </div>
          <div class="shop-slide-out__marquee-container">
            {% assign marquee_arr = section.settings.marquee | split: ',' %}
            {% for marquee_item in marquee_arr %}
            <p class="shop-slide-out__marquee-item body-small">{{ marquee_item }}</p>
            {% endfor %}
          </div>
        </div>
      {% endcomment %}
      <div class="shop-slide-out__items">
        {% for block in section.blocks %}
        {% assign current_product = all_products[block.settings.product] %}
        {% unless block.settings.show_second_slide %}
        <a class="shop-slide-out__item" href="{{ current_product.url }}">
          <div class="shop-slide-out__item-content">
            <h3 class="h5 medium">{{ current_product.title }}</h3>
            <p class="body light">{{ block.settings.description }}</p>
          </div>
          <div class="shop-slide-out__item-image">
            <img src="{{ current_product.featured_image | img_url: '200x' }}" alt="{{ current_product.title | escape }}"
                 loading="lazy" class="motion-reduce img-fill">
            <div class="shop-slide-out__item-image-overlay">
              <p class="body-small">Explore</p>
            </div>
          </div>
        </a>
        {% else %}
        <button class="shop-slide-out__item has-second-slide">
          <div class="shop-slide-out__item-content">
            <h3 class="h5 medium">{{ current_product.title }}</h3>
            <p class="body light">{{ block.settings.description }}</p>
          </div>
          <div class="shop-slide-out__item-image">
            <img src="{{ current_product.featured_image | img_url: '200x' }}" alt="{{ current_product.title | escape }}"
                 loading="lazy" class="motion-reduce img-fill">
          </div>
        </button>
        {% endunless %}
        {% endfor %}
      </div>
      <div style="{% if section.settings.button_link_1 != blank and section.settings.button_link_2 != blank %}grid-template-columns: 1fr 1fr;{% else %}grid-template-columns: 1fr;{% endif %}" class="shop-slide-out__footer">
        {% if section.settings.button_link_1 != blank %}
        <a href="{{ section.settings.button_link_1 }}" class="button button--blue">{{ section.settings.button_label_1 }}</a>
        {% endif %}
        {% if section.settings.button_link_2 != blank %}
        <a href="{{ section.settings.button_link_2 }}" class="button">{{ section.settings.button_label_2 }}</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% for block in section.blocks %}
  {% if block.settings.show_second_slide %}
  {% assign current_product = all_products[block.settings.product] %}
  <div class="shop-slide-out__second">
    <div class="shop-slide-out__second-header">
      <button class="shop-slide-out__second-back">
        {% render 'icon-arrow-left' %}
      </button>
      <p class="sh4 light">Maybe Later</p>
    </div>
    <div class="shop-slide-out__second-content">
      <div class="shop-slide-out__second-image">
        <img src="{{ block.settings.second_image | img_url: '500x' }}" alt="{{ block.settings.second_image.alt | escape }}"
             loading="lazy" class="motion-reduce" width="100%">
      </div>
      <div class="shop-slide-out__second-content-container">
        <h3 class="h5 medium">{{ current_product.title }}</h3>
        <p class="sh2 light">{{ block.settings.second_description }}</p>
      </div>
      
    </div>
    <div class="shop-slide-out__second-footer">
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

{% javascript %}
document.addEventListener('jquery-ready', () => {
$('[href="#shop"]').click(function() {
$('.shop-slide-out').addClass('active');
    $('.page-overlay').addClass('is-visible');
 
    $('body').click(function(e) {
      const target = e.target;
      if ($(target).hasClass('page-overlay')) {
        $('.shop-slide-out').removeClass('active');
        $('.page-overlay').removeClass('is-visible');
      }
    });
  });

  $('.shop-slide-out__close').click(function() {
    $('.shop-slide-out').removeClass('active');
    $('.page-overlay').removeClass('is-visible');
  });

  $('.has-second-slide').click(function() {
    $('.shop-slide-out').addClass('show-second');
  });

  $('.shop-slide-out__second-back').click(function() {
    $('.shop-slide-out').removeClass('show-second');
  });
});
{% endjavascript %}

{% schema %}
  {
    "name": "Shop Slide Out",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "marquee",
        "label": "Marquee Items",
        "info": "Separate each item with a comma and no space."
      },
      {
        "type": "text",
        "id": "button_label_1",
        "label": "Button 1 Label"
      },
      {
        "type": "url",
        "id": "button_link_1",
        "label": "Button 1 Link"
      },
      {
        "type": "text",
        "id": "button_label_2",
        "label": "Button 2 Label"
      },
      {
        "type": "url",
        "id": "button_link_2",
        "label": "Button 2 Link"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "checkbox",
            "id": "show_second_slide",
            "label": "Show Second Slide"
          },
          {
            "type": "image_picker",
            "id": "second_image",
            "label": "Second Image"
          },
          {
            "type": "textarea",
            "id": "second_description",
            "label": "Second Description"
          }
        ]
      }
    ]
  }
{% endschema %}