{{ 'section-side-by-side-text.css' | asset_url | stylesheet_tag }}

<div style="background-color: {{ section.settings.background }};" class="side-by-side__container">
  <div class="page-width">
    <div style="color: {{ section.settings.color }};" class="side-by-side__text">
      <h2 class="h3 light">{{ section.settings.title1 }}</h2>
      <p class="h6 light">{{ section.settings.text1 }}</p>
    </div>
    <div style="color: {{ section.settings.color }};" class="side-by-side__text">
      <h2 class="h3 light">{{ section.settings.title2 }}</h2>
      <p class="h6 light">{{ section.settings.text2 }}</p>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Side by Side Text",
    "settings": [
      {
        "type": "text",
        "id": "title1",
        "label": "Title 1"
      },
      {
        "type": "textarea",
        "id": "text1",
        "label": "Text 1"
      },
      {
        "type": "text",
        "id": "title2",
        "label": "Title 2"
      },
      {
        "type": "textarea",
        "id": "text2",
        "label": "Text 2"
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background Color"
      },
	  {
        "type": "color",
        "id": "color",
        "label": "Text Color"
      }
    ],
    "presets": [
      {
        "name": "Side by Side Text"
      }
    ]
  }
{% endschema %}