{{ 'component-supplements-drawer.css' | asset_url | stylesheet_tag }}

{% assign ss = section.settings %}

<div id="supplementSideDrawer" class="supplement-side-drawer">
  <div class="drawer__wrapper-main">

    <div class="drawer__header">
      <a href="javascript:void(0)" class="drawer__close js-close-supplement-drawer">
        <span>Close</span> {% render 'icon-close-drawer' %}</a>
    </div>  
    <div class="drawer__title-wrapper">
      {%- if ss.product_name != blank -%}
        <div class="drawer__product-name">{{ ss.product_name }}</div>
      {%- endif -%}
      {%- if ss.title != blank -%}
        <div class="drawer__title">{{ ss.title }}</div>
      {%- endif -%}
    </div>

    <div class="drawer__serving-container">
      {%- for block in section.blocks -%}
        {%- assign bs = block.settings -%}
          {%- if block.type == 'serving' -%}
            <div class="drawer__serving">
              <div class="drawer__serving-wrapper">
                {%- if bs.icon_serving != blank -%}
                  <img class="" src="{{ bs.icon_serving | img_url: 'master' }}"  alt="{{ bs.icon_serving.alt }}">
                {%- endif -%}
                {%- if bs.serving_title != blank -%}
                  <div class="drawer__serving-title">{{ bs.serving_title }}</div>
                {%- endif -%}
              </div>
              <ul class="drawer__serving-list">
                {%- if bs.serving_item_one != blank -%}
                  <li class="drawer__serving-item">{{ bs.serving_item_one }}</li>
                {%- endif -%}
                {%- if bs.serving_item_two != blank -%}
                  <li class="drawer__serving-item">{{ bs.serving_item_two }}</li>
                {%- endif -%}
                {%- if bs.serving_item_three != blank -%}
                  <li class="drawer__serving-item">{{ bs.serving_item_three }}</li>
                {%- endif -%}
              </ul>
            </div>
          {%- endif -%}
      {%- endfor -%}
    </div>

    <div class="drawer__recommended">
      {%- for block in section.blocks -%}
        {%- assign bs = block.settings -%}
          {%- if block.type == 'recommended' -%}
            {%- if bs.heading != blank -%}
              <div class="drawer__recommended-heading">{{ bs.heading }}</div>
            {%- endif -%}
            {%- if bs.title != blank -%}
              <div class="drawer__recommended-title">{{ bs.title }}</div>
            {%- endif -%}
            {%- if bs.sub_title != blank -%}
              <div class="drawer__recommended-subtitle">{{ bs.sub_title }}</div>
            {%- endif -%}
            {%- if bs.content != blank -%}
              <div class="drawer__recommended-content">{{ bs.content }}</div>
            {%- endif -%}
          {%- endif -%}
      {%- endfor -%}
    </div>

    <div class="drawer__table">
      {%- for block in section.blocks -%}
        {%- assign bs = block.settings -%}
        {%- if block.type == 'table' -%}
          <div class="drawer__table-image">
            {% render 'lazy-image' image: bs.table_image, fade: true, classes: 'img-fill' %}
          </div>
          {% comment %} <img class="" src="{{ bs.table_image | img_url: 'master' }}"  alt="{{ bs.table_image.alt }}"> {% endcomment %}
        {%- endif -%}
      {%- endfor -%}
    </div>

    <div class="mobile-supplement-continue">
      <a href="javascript:void(0)" class="button button--full-width">Keep Shopping</a>        
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Supplement Facts Drawer",
    "settings": [
      {
        "type": "text",
        "id": "product_name",
        "label": "Product Name"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "serving",
        "name": "Serving",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon_serving",
            "label": "Icon Serving"
          },
          {
            "type": "text",
            "id": "serving_title",
            "label": "Serving Title"
          },
          {
            "type": "text",
            "id": "serving_item_one",
            "label": "Serving Item One"
          },
          {
            "type": "text",
            "id": "serving_item_two",
            "label": "Serving Item Two"
          },
          {
            "type": "text",
            "id": "serving_item_three",
            "label": "Serving Item Three"
          }
        ]
      },
      {
        "type": "recommended",
        "name": "Recommended",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "sub_title",
            "label": "Subtitle"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content"
          }
        ]
      },
      {
        "type": "table",
        "name": "Table Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "table_image",
            "label": "Table Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Supplement Facts Drawer"
      }
    ]
  }
{% endschema %}