{{ 'component-supplements-drawer.css' | asset_url | stylesheet_tag }}

{% assign ss = section.settings %}

<div id="supplementSideDrawer" class="supplement-side-drawer">
  <div class="main-side-drawer">
    <div class="drawer_header">
      <a href="javascript:void(0)" class="drawer_close js-close-supplement-drawer">Close</a>
    </div>  
    <div class="drawer_title-wrapper">
      {%- if ss.product_name != blank -%}
        <div class="drawer_product-name">{{ ss.product_name }}</div>
      {%- endif -%}
      {%- if ss.title != blank -%}
        <div class="drawer_title">{{ ss.title }}</div>
      {%- endif -%}
    </div>
    {%- for block in section.blocks -%}
      {%- assign bs = block.settings -%}
      {%- if block.type == 'serving' -%}
        <div>
          <img class="" src="{{ bs.icon_serving | img_url: 'master' }}"  alt="{{ bs.icon_serving.alt }}"
            >
        </div>
      {%- endif -%}

    {%- endfor -%}
    <div class="mobile-supplement-continue">
      <a href="javascript:void(0)" class="button button--full-width">Keep Shopping</a>        
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Supplement Facts Drawer",
    "settings": [
      {
        "type": "text",
        "id": "product_name",
        "label": "Product Name"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "max_blocks": 2,
    "blocks": [
      {
        "type": "serving",
        "name": "Serving",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon_serving",
            "label": "Icon Serving"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Supplement Facts Drawer"
      }
    ]
  }
{% endschema %}