{{ 'component-supplements-drawer.css' | asset_url | stylesheet_tag }}

{% assign ss = section.settings %}

<div id="supplementSideDrawer" class="supplement-side-drawer">
  <div class="drawer__wrapper-main">
    <div class="drawer__header">
      <a href="javascript:void(0)" class="drawer__close js-close-supplement-drawer">
        <span>Close</span> {% render 'icon-close-drawer' %}</a>
    </div>  
    <div class="drawer__title-wrapper">
      {%- if ss.product_name != blank -%}
        <div class="drawer__product-name">{{ ss.product_name }}</div>
      {%- endif -%}
      {%- if ss.title != blank -%}
        <div class="drawer__title">{{ ss.title }}</div>
      {%- endif -%}
    </div>
    {%- for block in section.blocks -%}
      {%- assign bs = block.settings -%}
      {%- if block.type == 'serving' -%}
        <div class="drawer__serving-wrapper">
          {%- if bs.icon_serving != blank -%}
            <img class="" src="{{ bs.icon_serving | img_url: 'master' }}"  alt="{{ bs.icon_serving.alt }}">
          {%- endif -%}
          {%- if bs.serving_title != blank -%}
            <div>{{ bs.serving_title }}</div>
          {%- endif -%}
        </div>
        <ul class="drawer__serving-list">
          <li class="drawer__serving-item">1 Short Squeeze (1.5mL)</li>
          <li class="drawer__serving-item">Electrolytes of ⅓ Sports Drink</li>
          <li class="drawer__serving-item"></li>
          <li class="drawer__serving-item"></li>
        </ul>
      {%- endif -%}

    {%- endfor -%}
    <div class="mobile-supplement-continue">
      <a href="javascript:void(0)" class="button button--full-width">Keep Shopping</a>        
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Supplement Facts Drawer",
    "settings": [
      {
        "type": "text",
        "id": "product_name",
        "label": "Product Name"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "max_blocks": 2,
    "blocks": [
      {
        "type": "serving",
        "name": "Serving",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon_serving",
            "label": "Icon Serving"
          },
          {
            "type": "text",
            "id": "serving_title",
            "label": "Serving Title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Supplement Facts Drawer"
      }
    ]
  }
{% endschema %}