<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css" />
{{ 'tabbed-multicolumn.css' | asset_url | stylesheet_tag }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
<script src="{{ 'tabbed-multicolumn.js' | asset_url }}" defer="defer"></script>

<div class="tabbed-multicolumn">
  <div class="page-width">
    <div class="headings custom_container">
      <p class="sh3 center">{{ section.settings.title }}</p>
      <h4 class="h4 center desc">{{ section.settings.subtitle }}</h4>
    </div>
    <p class="plus_icon">
      <span>+</span>
    </p>
    <div class="tabbed_heading custom_container">
      <div>
        <h1>🚰</h1>
        <h6 class="item">Fluids</h6>
      </div>
      <div>
        <h1>⚡</h1>
        <h6 class="item">Electrolytes</h6>
      </div>
    </div>
    <div class="tabbed_sections">
      <div class="tabbed_item tabs ">
        <div class="tab">
          <button class="tablinks sh3 active" onclick="openCity(event, 'tab1')">{{ section.settings.tab_title1 }}</button>
          <button class="tablinks sh3" onclick="openCity(event, 'tab2')">{{ section.settings.tab_title2 }}</button>
        </div>

        <div id="tab1" class="tabcontent" style="display:block;">
          <h4>{{ section.settings.tab_data1 }}</h4>
        </div>

        <div id="tab2" class="tabcontent">
          <h4>{{ section.settings.tab_data2 }}</h4> 
        </div>

      </div>
      <div class="tabbed_item scroller">
        <div class="scroller_inner">
          <h4>{{ section.settings.right_text }}</h4>
        </div>
      </div>
    </div>
    {% if section.settings.button_label != blank %}
    <a href="{{ section.settings.button_link }}" class="body bold arrow-link">{{ section.settings.button_label }} {% render 'icon-arrow-right' %}</a>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Multicolumn & Tab",
    "settings": [
	  {
        "type": "header",
        "content": "Headings"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
	  {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
	  {
        "type": "header",
        "content": "Left Column"
      },
	  {
        "type": "text",
        "id": "tab_title1",
        "label": "Tab Title"
      },
	  {
        "type": "text",
        "id": "tab_data1",
        "label": "Tab Data"
      },
	  {
        "type": "text",
        "id": "tab_title2",
        "label": "Tab Title"
      },
	  {
        "type": "text",
        "id": "tab_data2",
        "label": "Tab Data"
      },
	  {
        "type": "header",
        "content": "Right Column"
      },
      {
        "type": "textarea",
        "id": "right_text",
        "label": "Text"
      }
    ],
    "presets": [
      {
        "name": "Multicolumn & Tab"
      }
    ]
  }
{% endschema %}