{{ 'section-marquee.css' | asset_url | stylesheet_tag }}
{{ 'section-testimonials-new.css' | asset_url | stylesheet_tag }}

<div class="testimonial-new__container">
  {% render 'okendo-reviews-product-rating-summary', product: product %}
  <p class="sh3">{{ section.settings.title }}</p>
  <div class="marquee">
  <div class="marquee__container">
    {% for block in section.blocks %}
    <div class="testimonial-slider-item marquee__item">
      <h2>{{ block.settings.review }}</h2>
      <p class="sh4">- {{ block.settings.review_author }}</p>
    </div>
    {% endfor %}
  </div>
  <div class="marquee__container">
    {% for block in section.blocks %}
    <div class="testimonial-slider-item marquee__item">
      <h2>{{ block.settings.review }}</h2>
      <p class="sh4">- {{ block.settings.review_author }}</p>
    </div>
    {% endfor %}
  </div>
  </div>
  <a class="body" href="#">Read All Reviews</a>
</div>


{% schema %}
  {
    "name": "Testimonial Slider New",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "textarea",
            "id": "review",
            "label": "Review Text"
          },
          {
            "type": "text",
            "id": "review_author",
            "label": "Review Author"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonial Slider New"
      }
    ]
  }
{% endschema %}