{{ 'section-text-blocks.css' | asset_url | stylesheet_tag }}
{{ 'section-text-blocks2.css' | asset_url | stylesheet_tag }}

<script src="{{ 'section-text-blocks.js' | asset_url }}"></script>

<div class="Text_Block_Section Text_Block_Section2
  {% if section.settings.add_top_border %} top-border{% endif %}
  {% if section.settings.add_bottom_border %} bottom-border{% endif %}
  ">
  <div class="page-width">
    <div class="Text_Block_Row">
      <div class="Section_Header">
        {% if section.settings.section_title != blank %}
          <h2 class="text-block__title h4 light">{{ section.settings.section_title }}</h2>
        {% endif %}
      </div>
      <div class="Text_Blocks_Slider">
        <div class="Text_Blocks_Inr_Slider">
          {% for block in section.blocks %}
            <div class="Single_Block">
              {% if block.settings.title != blank %}
                <h2 class="h2">{{ block.settings.title }}</h2>
              {% endif %}
              {% if block.settings.suptext != blank %}
                <h5 class="light">{{ block.settings.suptext }}</h5>
              {% endif %}
              {% if block.settings.text != blank %}
                <p class="light">{{ block.settings.text }}</p>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <div class="text-slider__arrows"></div>
      </div>
    </div>
  </div>
</div>
 
{% schema %}
  {
    "name": "Text Block Section 2",
    "settings": [
      {
        "type": "textarea",
        "id": "section_title",
        "label": "Section Title"
      },
      {
        "type": "header",
        "content": "Style"
      },
      {
        "type": "checkbox",
        "id": "add_top_border",
        "label": "Add Top Border"
      },
      {
        "type": "checkbox",
        "id": "add_bottom_border",
        "label": "Add Bottom Border"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "suptext",
            "label": "Suptext"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Text Block Section 2"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}