{{ 'section-faq.css' | asset_url | stylesheet_tag }} 
{{ 'section-faq-text-above.css' | asset_url | stylesheet_tag }} 
{{ 'section-text-above.css' | asset_url | stylesheet_tag }} 

<div class="faq-suptext
   {% if section.settings.add_top_border %} top-border{% endif %}
   {% if section.settings.add_bottom_border %} bottom-border{% endif %}
   {% if section.settings.background %} background--{{ section.settings.background }}{% endif %}"
  >
  <div class="faq-suptext__container">
    <p class="emoji">{{ section.settings.emoji }}</p>
    <h5>{{ section.settings.suptitle }}</h5>
    <p class="light">{{ section.settings.suptext }}</p>
  </div>
</div>


{% schema %}
  {
    "name": "Text Above",
    "settings": [
      {
        "type": "text",
        "id": "emoji",
        "label": "Emoji"
      },
      {
        "type": "text",
        "id": "suptitle",
        "label": "Suptitle"
      },
      {
        "type": "textarea",
        "id": "suptext",
        "label": "Suptext"
      },  
      {
        "type": "checkbox",
        "id": "add_top_border",
        "label": "Add Top Border"
      },
      {
        "type": "checkbox",
        "id": "add_bottom_border",
        "label": "Add Bottom Border"
      },
      {
        "type": "select",
        "id": "background",
        "label": "Background",
        "options": [
          {
            "value": "top",
            "label": "Gradient Top to Bottom"
          },
          {
            "value": "bottom",
            "label": "Gradient Bottom to Top"
          },
          {
            "value": "bg_color",
            "label": "Background Color"
          },
          {
            "value": "none",
            "label": "None"
          }
        ],
        "default": "none"
      }
    ],
    "presets": [
      {
        "name": "Text Above"
      }
    ]
  }
{% endschema %}