{{ 'section-text-list.css' | asset_url | stylesheet_tag }}

<div class="text-list">
  <div class="page-width">
    <div class="text-list__container">
      <span class="h6">{{ section.settings.text }}</span>
      {% comment %}
      <h6 class="light">{{ section.settings.text }}</h6>
      {% endcomment %}
    </div>
    {% if section.blocks.size > 1 %}
      <div class="text-list__list {% if section.settings.show_divider != true %}show-mobile{% endif %}">
        {% for block in section.blocks %}
          {% if section.settings.show_divider != true %}
            <p class="body medium">
            {% render 'icon-checkmark' %}&nbsp;{{ block.settings.text }}
            {% unless forloop.last %}&nbsp;&nbsp;&nbsp;&nbsp;{% endunless %}</p>
          {% else %}
            <p class="body medium">{{ block.settings.text }}</p>
            {% unless forloop.last %}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{% endunless %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if section.settings.button_label != blank %}
      <a href="{{ section.settings.button_link }}" class="body bold arrow-link">{{ section.settings.button_label }} {% render 'icon-arrow-right' %}</a>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Text & List",
    "settings": [
      {
        "type": "textarea",
        "id": "text",
        "label": "Text",
        "info": "Wrap colorful text in a span tag. ex) <span>Text Here</span>"
      },
	  {
        "type": "text",
        "id": "button_label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
	  {
        "type": "checkbox",
        "id": "show_divider",
        "label": "Show Divider",
		"default": true
      }
    ],
    "blocks": [
      {
        "type": "list_item",
        "name": "List Item",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Text & List"
      }
    ]
  }
{% endschema %}