{{ 'section-text-two-blocks.css' | asset_url | stylesheet_tag }}

<div style="background: {{ section.settings.background }};" class="text-two-blocks__container">
  <div style="color: {{ section.settings.color }};" class="page-width">
    <h1>{{ section.settings.title }}</h1>
    <h6 class="light">{{ section.settings.subtitle }}</h6>
  </div>
</div>

{% schema %}
  {
    "name": "Text Two Blocks",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "video_url",
        "id": "video_url",
        "accept": [
          "youtube",
          "vimeo"
        ],
        "default": "https://vimeo.com/77477140",
        "label": "Video",
        "placeholder": "t:sections.video.settings.video_url.placeholder"
	  },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
	  {
        "type": "url",
        "id": "link",
        "label": "Link"
      },
	  {
        "type": "text",
        "id": "link_text",
        "label": "Link Text"
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background Color"
      },
	  {
        "type": "color",
        "id": "color",
        "label": "Text Color"
      }
    ],
    "presets": [
      {
        "name": "Text Two Blocks"
      }
    ]
  }
{% endschema %}
