{{ 'section-text-image-blocks.css' | asset_url | stylesheet_tag }}
<script src="{{ 'text-image-blocks-with-scroller.js' | asset_url }}" defer="defer"></script>

<div class="text-image-blocks-wrapper">
  {% for block in section.blocks %}
    <div class="text-image-blocks gradient--{{ block.settings.gradient }}{% if block.settings.extra_top_padding %} top-padding{% endif %}{% if block.settings.extra_bottom_padding %} bottom-padding{% endif %}">
      <div class="page-width">
        <div class="text-image-blocks__container{% if block.settings.is_reversed %} reversed{% endif %}">
          <div class="text-image-blocks__content">
            <div class="text-image-blocks__content-container">
              {% if block.settings.subtitle != blank %}
                <p class="sh4 light">{{ block.settings.subtitle }}</p>
              {% endif %}
              {% if block.settings.title != blank %}
                <h2 class="h1">{{ block.settings.title }} <span>{{ block.settings.title }}</span></h2>
              {% endif %}
              {% if block.settings.secondary_title != blank %}
                <h3>{{ block.settings.secondary_title }}</h3>
              {% endif %}
              <p class="sh2 light">{{ block.settings.text }}</p>
              {% if block.settings.subtext != blank %}
                <p class="body-xs">{{ block.settings.subtext }}</p>
              {% endif %}
              {% if block.settings.button_label != blank %}
                <a href="{{ block.settings.button_link }}" class="button">{{ block.settings.button_label }}</a>
              {% endif %}
            </div>
          </div>
          <div class="text-image-blocks__image">
            <div class="text-image-blocks__image-container size--{{ block.settings.image_size }}">
              {% if block.settings.video_url != blank %}
              <video autoplay loop muted playsinline class="img-fill">
                <source src="{{ block.settings.video_url }}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
              {% else %}
              <img
                srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.image | img_url: '165x' }} 165w,{%- endif -%}
                  {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | img_url: '360x' }} 360w,{%- endif -%}
                  {%- if block.settings.image.width >= 533 -%}{{ block.settings.image | img_url: '533x' }} 533w,{%- endif -%}
                  {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | img_url: '720x' }} 720w,{%- endif -%}
                  {%- if block.settings.image.width >= 940 -%}{{ block.settings.image | img_url: '940x' }} 940w,{%- endif -%}
                  {%- if block.settings.image.width >= 1066 -%}{{ block.settings.image | img_url: '1066x' }} 1066w{%- endif -%}"
                src="{{ block.settings.image | img_url: '533x' }}"
                sizes="(min-width: {{ block.page_width }}px) {{ block.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 769px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ block.settings.image.alt | escape }}"
                loading="lazy"
                class="motion-reduce img-fill"
              >
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Text / Image Blocks",
    "settings": [

    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [  
          {
            "type": "checkbox",
            "id": "is_reversed",
            "label": "Reversed Layout"
          },
          {
            "type": "checkbox",
            "id": "extra_top_padding",
            "label": "Extra Top Padding"
          },
          {
            "type": "checkbox",
            "id": "extra_bottom_padding",
            "label": "Extra Bottom Padding"
          },
          {
            "type": "select",
            "id": "gradient",
            "label": "Gradient",
            "options": [
              {
                "value": "none",
                "label": "No Gradient"
              },
              {
                "value": "top",
                "label": "Gradient on Top"
              },
              {
                "value": "bottom",
                "label": "Gradient on Bottom"
              }
            ],
            "default": "none"
          },
          {
            "type": "text",
            "id": "video_url",
            "label": "Video URL"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "image_size",
            "label": "Image Size",
            "options": [
              {
                "value": "square",
                "label": "Square"
              },
              {
                "value": "tall",
                "label": "Tall"
              }
            ],
            "default": "square"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "secondary_title",
            "label": "Secondary Title"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "textarea",
            "id": "subtext",
            "label": "Subtext"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button Label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Text / Image Blocks"
      }
    ]
  }
{% endschema %}
