{{ 'section-text-image-toggle.css' | asset_url | stylesheet_tag }}

<div {% if section.settings.background != blank %}style="background-color: {{ section.settings.background }};"{% endif %} class="text-image-toggle__container">
 <div class="page-width">
   <div class="text-image-toggle__text">
     <h1>{{ section.settings.title }}</h1>
     <p>{{ section.settings.subtitle }}</p>
     <div class="text-image-toggle__buttons">
     {% for block in section.blocks %}
      <div data-id="{{ forloop.index0 }}" class="text-image-toggle__button {% if forloop.index0 == 0 %}active{% endif %}">
        <span>{{ block.settings.title }}</span>
      </div>
     {% endfor %} 
     </div>
     {% if section.settings.supplements == true %}
      <a href="javascript:void(0);" class="hide-mobile tabs-label body js-open-supplement-drawer supplement-section-link">Full Supplement Facts</a>
     {% endif %}
   </div>
   <div class="text-image-toggle__images">
     {% for block in section.blocks %}
       {% if block.settings.mobile_image != blank and block.settings.image != blank %}
         <div data-id="{{ forloop.index0 }}" class="hide-mobile text-image-toggle__image">
           <img src="{{ block.settings.image | asset_url }}" / >
         </div>
        <div data-id="{{ forloop.index0 }}" class="hide-desktop text-image-toggle__image">
           <img src="{{ block.settings.mobile_image | asset_url }}" / >
         </div>
      {% else %}
         <div data-id="{{ forloop.index0 }}" class="text-image-toggle__image">
           <img src="{{ block.settings.image | asset_url }}" / >
         </div>
      {% endif %}
     {% endfor %}
   </div>
   {% if section.settings.supplements == true %}
    <a href="javascript:void(0);" class="hide-desktop tabs-label body js-ingredients-open supplement-section-link">Full Supplement Facts</a>
   {% endif %}
 </div>
</div>

{% schema %}
{
  "name": "Text Image Toggle",
  "class": "spaced-section--full-width",
  "tag": "section",
  "settings": [
	{
      "type": "textarea",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "checkbox",
      "id": "supplements",
      "label": "Show Supplments Link?",
      "default": true
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "image",
          "label": "Table SVG Filename"
        },
        {
          "type": "text",
          "id": "mobile_image",
          "label": "Mobile Table SVG Filename"
        }
      ]
    }
  ],
   "presets": [
      {
        "name": "Text Image Toggle"
      }
    ]
}
{% endschema %}