{{ 'section-text-slider.css' | asset_url | stylesheet_tag }}

{%- capture text_block -%}
    <h2 class="h3">{{ section.settings.title }}</h2>
    <h2 class="sh3">{{ section.settings.text2 }}</h2>
    <p class="h6 light">{{ section.settings.text }}</p>
{%- endcapture -%}
 
<div class="textblock-slider {% if section.settings.checkbox_backgound != blank %}background-bg{% endif %}">
  <div class="page-width">

    <svg class="text" style="width: 100%;" xmlns="http://www.w3.org/2000/svg" width="963.876" height="106.09" viewBox="0 0 963.876 106.09">
      <g id="Text_flies_in_wave-like_fashion" data-name="Text flies in wave-like fashion" transform="translate(-240.78 -700.822)">
        <path id="Path_275" data-name="Path 275" d="M283.333,737.9q-7.254-1.9-10.752-2.691l-4.39,21.065q3.583.681,10.93,1.828l-2.556,12.258-35.785-7.461,2.556-12.258q7,1.848,10.689,2.68l4.39-21.067q-3.707-.7-10.867-1.815l2.554-12.256,35.787,7.459Z" transform="translate(0 20.367)" fill="#ecd8c5"/>
        <path id="Path_276" data-name="Path 276" d="M291.1,746.021q-5.65-1.317-10.337-2.286l-1.152,6.57a8.51,8.51,0,0,0,.591,5.486q1.144,2.135,4.871,2.754a14.821,14.821,0,0,0,2.771.2,43.956,43.956,0,0,0-1.019,4.614q-.183,1.118-.717,5.112a43.279,43.279,0,0,1-4.7-.141q-1.884-.183-4.862-.676-7.264-1.2-9.693-5.21t-1.391-10.274l1.8-10.48q-2.941-.359-6.144-.635l1.819-10.986a7.913,7.913,0,0,0,5.8-1.143,8.3,8.3,0,0,0,3.482-4.464l16.883,2.8a28.959,28.959,0,0,1-8.166,5.792l11.98,1.982Z" transform="translate(23.868 27.74)" fill="#ecd8c5"/>
        <path id="Path_277" data-name="Path 277" d="M323.037,757.427a6.528,6.528,0,0,0,.2,3.054,3.01,3.01,0,0,0,1.882,1.45l-.83,5.862q-2.038.114-3.519.1t-3.925-.259q-5.386-.532-6.9-3.115a10.261,10.261,0,0,1-1.148-6.34l.154-1.565a15.461,15.461,0,0,1-6.042,7.118,14.853,14.853,0,0,1-9.107,1.632q-6.263-.613-9.178-3.432t-2.428-7.761a8.02,8.02,0,0,1,3.321-6.123q2.918-2.054,8.641-2.376a84.994,84.994,0,0,0-8.937-6.82,26.275,26.275,0,0,1,9.289-6.39,25.529,25.529,0,0,1,11.952-1.319q9.643.949,13.9,5.57t3.406,13.264Zm-17.826-2.61a7.846,7.846,0,0,0,4.232-3.156l.161-1.628a14.332,14.332,0,0,1-3.434.832q-1.855.228-4.46.352l-2.291.152q-3.576.349-3.74,2.037-.179,1.819,3.077,2.134A14.478,14.478,0,0,0,305.211,754.817ZM300.957,742.8a12.953,12.953,0,0,0-4.7,2.762,83.742,83.742,0,0,1,9.435.485,6.788,6.788,0,0,0,3.312-.241,1.663,1.663,0,0,0,1.08-1.347,1.523,1.523,0,0,0-.813-1.376,5.414,5.414,0,0,0-2.576-.791A14.035,14.035,0,0,0,300.957,742.8Z" transform="translate(48.521 35.373)" fill="#ecd8c5"/>
        <path id="Path_278" data-name="Path 278" d="M319.665,761.9q-.577,9.36-.713,13.573l-14.82-.919.5-7.09q.848-11.674,1.241-18.015.375-6.031.932-17.089l.356-6.788,14.82.919q-.678,8.91-1.026,14.56-.391,6.282-.513,9.3Q320.146,754.111,319.665,761.9Z" transform="translate(74.337 29.039)" fill="#ecd8c5"/>
        <path id="Path_279" data-name="Path 279" d="M328.891,762.2q-.4,9.366-.461,13.582l-14.836-.641.372-7.1q.629-11.688.9-18.033.261-6.038.613-17.107l.23-6.79,14.836.641q-.512,8.923-.756,14.577-.271,6.289-.339,9.307Q329.229,754.4,328.891,762.2Z" transform="translate(85.441 29.671)" fill="#ecd8c5"/>
        <path id="Path_280" data-name="Path 280" d="M338.854,767.29a37.429,37.429,0,0,1-10.187-4.582l6.683-8.944a22.344,22.344,0,0,0,6.955,3.3,26.283,26.283,0,0,0,7.037,1.224,9.838,9.838,0,0,0,4.379-.75,2.334,2.334,0,0,0,1.558-2.034,1.856,1.856,0,0,0-.741-1.578,3.4,3.4,0,0,0-2.071-.583c-.546-.006-1.165.011-1.858.048s-1.25.074-1.667.111a58.421,58.421,0,0,1-6.735.322,17.42,17.42,0,0,1-9.074-2.182q-3.475-2.135-3.434-6.92.046-5.532,5.292-8.544t15.377-2.923a37.2,37.2,0,0,1,10.024,1.5,27.943,27.943,0,0,1,8.93,4.323l-7.3,7.237a30.757,30.757,0,0,0-6.679-2.73,25.515,25.515,0,0,0-6.255-.839,7.61,7.61,0,0,0-3.782.85q-1.581.867-1.589,2a1.635,1.635,0,0,0,.65,1.387,2.738,2.738,0,0,0,1.726.52q1.069.01,2.958-.165,4.6-.274,6.861-.256,6.54.055,10.111,2.286a7.356,7.356,0,0,1,3.53,6.759q-.055,6.8-5.366,9.8t-14.62,2.932A40.9,40.9,0,0,1,338.854,767.29Z" transform="translate(103.127 38.051)" fill="#ecd8c5"/>
        <path id="Path_281" data-name="Path 281" d="M378.59,748.3q-5.793-.277-10.578-.387l.05,6.67a8.517,8.517,0,0,0,1.569,5.29q1.509,1.894,5.286,1.83a15.067,15.067,0,0,0,2.762-.3,44.1,44.1,0,0,0-.172,4.719q.02,1.134.213,5.157a42.481,42.481,0,0,1-4.645.708q-1.884.157-4.9.209-7.361.124-10.474-3.378t-3.217-9.858l-.117-10.632q-2.957.179-6.159.483l-.187-11.134a7.893,7.893,0,0,0,5.5-2.171,8.3,8.3,0,0,0,2.621-5.014l17.111-.289a29.077,29.077,0,0,1-6.99,7.166l12.141-.207Z" transform="translate(125.835 34.48)" fill="#ecd8c5"/>
        <path id="Path_282" data-name="Path 282" d="M404.5,756.2a6.452,6.452,0,0,0,.65,2.99,3.006,3.006,0,0,0,2.071,1.161l.037,5.918q-2,.414-3.467.611t-3.921.317q-5.405.264-7.283-2.069a10.273,10.273,0,0,1-2.06-6.105l-.078-1.569a15.463,15.463,0,0,1-4.936,7.924,14.844,14.844,0,0,1-8.77,2.945q-6.285.31-9.58-2.052t-3.538-7.322a8.015,8.015,0,0,1,2.391-6.542q2.585-2.458,8.2-3.612a84.51,84.51,0,0,0-9.839-5.442,26.291,26.291,0,0,1,8.255-7.679,25.546,25.546,0,0,1,11.63-3.054q9.676-.473,14.564,3.478t5.31,12.623ZM380.523,744.96a12.948,12.948,0,0,0-4.245,3.421,83.674,83.674,0,0,1,9.406-.9,6.835,6.835,0,0,0,3.24-.724,1.67,1.67,0,0,0,.872-1.493,1.524,1.524,0,0,0-1.006-1.241,5.4,5.4,0,0,0-2.665-.406A14.063,14.063,0,0,0,380.523,744.96Zm5.966,11.269a7.864,7.864,0,0,0,3.723-3.743l-.08-1.632a14.551,14.551,0,0,1-3.273,1.326q-1.8.5-4.362,1l-2.243.487q-3.485.864-3.4,2.56.085,1.822,3.356,1.662A14.569,14.569,0,0,0,386.49,756.229Z" transform="translate(144.136 37.254)" fill="#ecd8c5"/>
        <path id="Path_283" data-name="Path 283" d="M400.234,741.69q1.764-9.7,12.228-10.661a24.115,24.115,0,0,1,3.532-.072l-.719,14.218a22.247,22.247,0,0,0-7.548-1.013q-3.57.326-5.068,2.612a8.951,8.951,0,0,0-1.169,5.855l0-.061.315,4.14q.408,4.447,1.158,9.876l-14.973,1.374q-.329-9.07-1.063-17.087t-2.073-17.122q4.153-.192,6.344-.393,2.318-.212,6.311-.769Z" transform="translate(169.05 35.321)" fill="#ecd8c5"/>
        <path id="Path_284" data-name="Path 284" d="M432.378,743.382q-5.787.4-10.552.843l.826,6.618a8.5,8.5,0,0,0,2.171,5.073q1.721,1.708,5.462,1.2a14.819,14.819,0,0,0,2.71-.615,44.469,44.469,0,0,0,.378,4.71q.15,1.121.811,5.095a43.105,43.105,0,0,1-4.531,1.245q-1.852.372-4.847.776-7.3.978-10.793-2.139t-4.34-9.415l-1.352-10.55q-2.918.518-6.062,1.2l-1.48-11.039a7.9,7.9,0,0,0,5.212-2.793,8.279,8.279,0,0,0,2.019-5.286l16.963-2.276a29.026,29.026,0,0,1-6.109,7.931l12.034-1.615Z" transform="translate(187.743 29.579)" fill="#ecd8c5"/>
        <path id="Path_285" data-name="Path 285" d="M430.874,762.533a37.389,37.389,0,0,1-10.869-2.571l4.868-10.048a22.37,22.37,0,0,0,7.455,1.923,26.386,26.386,0,0,0,7.142-.13,9.843,9.843,0,0,0,4.158-1.565,2.334,2.334,0,0,0,1.145-2.291,1.853,1.853,0,0,0-1.026-1.41,3.4,3.4,0,0,0-2.145-.18c-.537.1-1.141.23-1.815.4s-1.213.309-1.617.426a57.9,57.9,0,0,1-6.553,1.589,17.387,17.387,0,0,1-9.322-.426q-3.817-1.441-4.682-6.142-1-5.444,3.582-9.393t14.544-5.781a37.221,37.221,0,0,1,10.126-.424,27.848,27.848,0,0,1,9.587,2.554l-5.794,8.487a30.69,30.69,0,0,0-7.074-1.415,25.475,25.475,0,0,0-6.3.359,7.6,7.6,0,0,0-3.551,1.552q-1.389,1.151-1.182,2.265a1.646,1.646,0,0,0,.9,1.241,2.782,2.782,0,0,0,1.791.18q1.053-.192,2.875-.719,4.46-1.141,6.688-1.552,6.435-1.184,10.361.33a7.357,7.357,0,0,1,4.747,5.972q1.232,6.683-3.414,10.641t-13.8,5.645A40.847,40.847,0,0,1,430.874,762.533Z" transform="translate(207.286 29.946)" fill="#ecd8c5"/>
        <path id="Path_286" data-name="Path 286" d="M483.156,746.2l-.206-25.251,12.208-2.782.828,35.046-16.381,3.734-7.431-14.762-.789,16.635-15.766,3.595-14.445-31.943,12.208-2.782,10.682,22.8-1.91-24.8,12.084-2.756Z" transform="translate(235.144 20.353)" fill="#ecd8c5"/>
        <path id="Path_287" data-name="Path 287" d="M469.937,722.289a6.952,6.952,0,0,1-2.923-4.595,7.1,7.1,0,0,1,.835-5.381q1.467-2.367,5.347-3.175a7.78,7.78,0,0,1,6.086.815,7.512,7.512,0,0,1,2.143,9.935q-1.513,2.308-5.329,3.106Q472.212,723.8,469.937,722.289Zm6.8,39.458q-1.643-10-2.995-16.472-1.611-7.7-4.1-17.142l14.781-3.091q1.425,9.282,3.112,17.348,1.418,6.774,3.858,16.292Z" transform="translate(265.242 9.461)" fill="#ecd8c5"/>
        <path id="Path_288" data-name="Path 288" d="M509.116,727.605q-5.764.659-10.5,1.321l1.124,6.575a8.535,8.535,0,0,0,2.4,4.971q1.793,1.627,5.512.952a14.466,14.466,0,0,0,2.678-.739,44.12,44.12,0,0,0,.591,4.69q.2,1.111,1.041,5.053a43.712,43.712,0,0,1-4.471,1.448q-1.832.456-4.805,1-7.244,1.307-10.88-1.647t-4.764-9.209l-1.828-10.476q-2.888.652-6,1.467l-1.98-10.958a7.887,7.887,0,0,0,5.079-3.027,8.272,8.272,0,0,0,1.78-5.373l16.842-3.043a29.052,29.052,0,0,1-5.744,8.2l11.949-2.158Z" transform="translate(277.451 11.479)" fill="#ecd8c5"/>
        <path id="Path_289" data-name="Path 289" d="M523.413,752.623q-.857-9.216-1.9-16.95a6.7,6.7,0,0,0-1.926-4.184,4.261,4.261,0,0,0-3.616-1.165,4.511,4.511,0,0,0-3.425,2.617,9.838,9.838,0,0,0-.75,6.005l-.08-.117q1.366,10.165,2.276,15.06l-14.9,2q-.707-9.047-2.767-24.388t-3.762-24.251l14.842-1.993,2.638,19.2.383,3.312a12.688,12.688,0,0,1,3.593-7.053,11.453,11.453,0,0,1,6.422-2.988,12.44,12.44,0,0,1,6.707.785,10.8,10.8,0,0,1,4.747,3.9,14.023,14.023,0,0,1,2.247,6.112l1.206,8.978q1.112,8.3,2.093,13.243Z" transform="translate(295.444 5.203)" fill="#ecd8c5"/>
        <path id="Path_290" data-name="Path 290" d="M547.906,750.619q-.277-9.252-.832-17.035a6.7,6.7,0,0,0-1.661-4.3,4.263,4.263,0,0,0-3.536-1.389,4.523,4.523,0,0,0-3.584,2.4,9.835,9.835,0,0,0-1.121,5.944l-.072-.12q.727,10.23,1.33,15.171l-15,1.065q-.144-9.073-1.239-24.512t-2.241-24.44l14.936-1.061,1.437,19.324L536.5,725a12.675,12.675,0,0,1,4.025-6.814,11.458,11.458,0,0,1,6.6-2.584,12.46,12.46,0,0,1,6.644,1.2,10.8,10.8,0,0,1,4.493,4.19,14.026,14.026,0,0,1,1.863,6.24l.643,9.037q.593,8.349,1.265,13.345Z" transform="translate(327.581 1.787)" fill="#ecd8c5"/>
        <path id="Path_291" data-name="Path 291" d="M583.925,707.572l-1.33,3.693q-5.461,16.1-11.523,31.093a29.28,29.28,0,0,1-9.419,12.423q-6.266,4.763-15.957,4.888-1.363-5.18-2.245-8.079a44.579,44.579,0,0,0-2.232-5.814,28.3,28.3,0,0,0,6.5.608,13.14,13.14,0,0,0,7.731-2.328q-2.481-6.654-5.812-14.29t-9.609-20.778l14.9-.482q.857,3.123,2.31,7.229t2.9,7.9q.417,1.183,1.343,3.575t1.482,4.014l1.476-5.021q4.274-13.8,5.016-18.168Z" transform="translate(351.142 7.92)" fill="#ecd8c5"/>
        <path id="Path_292" data-name="Path 292" d="M601.659,725.3q.033,12.646.441,24.473l-14.218.037.167-7.55a12.622,12.622,0,0,1-5.268,6.209,16.186,16.186,0,0,1-8.174,2,12.4,12.4,0,0,1-7.368-2.308,15.413,15.413,0,0,1-5.112-6.312,20.834,20.834,0,0,1-1.848-8.772,22.017,22.017,0,0,1,1.8-8.909,16.785,16.785,0,0,1,5.11-6.744,12,12,0,0,1,7.513-2.569,16.356,16.356,0,0,1,8.4,2.025,12.284,12.284,0,0,1,5.208,6.31q-.01-3.586-.283-11.515-.271-7.671-.278-10.819l14.218-.037Q601.625,712.526,601.659,725.3Zm-15.444,12.843q1.946-1.734,1.937-5.512a5.936,5.936,0,0,0-1.963-4.9,7.575,7.575,0,0,0-4.912-1.563,6.705,6.705,0,0,0-4.747,1.806,6.12,6.12,0,0,0-1.906,4.695,7.631,7.631,0,0,0,1.773,5.216,6.037,6.037,0,0,0,4.788,2A7.314,7.314,0,0,0,586.214,738.141Z" transform="translate(374.901 0)" fill="#ecd8c5"/>
        <path id="Path_293" data-name="Path 293" d="M597.228,717.274q2.885-9.428,13.388-9.163a24.394,24.394,0,0,1,3.517.341l-2.373,14.038a22.285,22.285,0,0,0-7.379-1.886q-3.583-.091-5.338,2a8.958,8.958,0,0,0-1.843,5.679l0-.061-.169,4.149q-.114,4.466,0,9.943L582,741.936q.734-9.047.939-17.1t-.065-17.246q4.147.293,6.349.35,2.328.059,6.359-.026Z" transform="translate(400.388 7.946)" fill="#ecd8c5"/>
        <path id="Path_294" data-name="Path 294" d="M638.026,733.847a6.5,6.5,0,0,0,.328,3.043,3,3,0,0,0,1.941,1.371l-.589,5.892q-2.031.2-3.512.239t-3.932-.1q-5.4-.309-7.024-2.827a10.281,10.281,0,0,1-1.406-6.288l.089-1.569a15.459,15.459,0,0,1-5.744,7.359,14.832,14.832,0,0,1-9.03,2.006q-6.282-.359-9.311-3.051t-2.745-7.657a8.014,8.014,0,0,1,3.064-6.253q2.833-2.171,8.539-2.725a84.4,84.4,0,0,0-9.213-6.451,26.315,26.315,0,0,1,9.02-6.766,25.571,25.571,0,0,1,11.888-1.811q9.673.551,14.116,4.995t3.945,13.112Zm-17.917-1.871a7.864,7.864,0,0,0,4.1-3.328l.094-1.635a14.5,14.5,0,0,1-3.4.974q-1.845.3-4.44.535l-2.284.248q-3.557.489-3.654,2.186-.1,1.82,3.162,2.008A14.572,14.572,0,0,0,620.109,731.976Zm-4.747-11.837a12.984,12.984,0,0,0-4.579,2.954,83.744,83.744,0,0,1,9.448.1,6.791,6.791,0,0,0,3.3-.378,1.661,1.661,0,0,0,1.024-1.393,1.526,1.526,0,0,0-.869-1.341,5.384,5.384,0,0,0-2.606-.683A14.1,14.1,0,0,0,615.362,720.14Z" transform="translate(418.067 8.663)" fill="#ecd8c5"/>
        <path id="Path_295" data-name="Path 295" d="M649.017,726.691q-5.728-.933-10.467-1.585l-.706,6.633a8.523,8.523,0,0,0,.958,5.433q1.284,2.054,5.044,2.417a14.7,14.7,0,0,0,2.78.017,43.889,43.889,0,0,0-.706,4.671q-.108,1.128-.372,5.149a43.424,43.424,0,0,1-4.695.178q-1.891-.059-4.9-.35-7.326-.711-10.022-4.542t-2.08-10.158l1.089-10.578q-2.957-.16-6.172-.22l1.073-11.084a7.892,7.892,0,0,0,5.712-1.532,8.293,8.293,0,0,0,3.173-4.686l17.033,1.652A28.933,28.933,0,0,1,638,714.433l12.086,1.174Z" transform="translate(443.535 6.609)" fill="#ecd8c5"/>
        <path id="Path_296" data-name="Path 296" d="M634.014,754.179q1.728-9.989,2.571-16.542,1-7.8,1.745-17.537l14.979,1.923q-1.7,9.236-2.747,17.409-.88,6.869-1.7,16.657Zm6.507-39.508a6.948,6.948,0,0,1-1.254-5.3,7.089,7.089,0,0,1,2.551-4.81q2.161-1.754,6.092-1.247a7.765,7.765,0,0,1,5.481,2.765,7.505,7.505,0,0,1-1.232,10.089q-2.184,1.685-6.053,1.189Q642.175,716.852,640.521,714.671Z" transform="translate(461.422 2.793)" fill="#ecd8c5"/>
        <path id="Path_297" data-name="Path 297" d="M647.626,741.405q-4.163-5.721-2.81-13.66A16.991,16.991,0,0,1,651.954,716q5.819-3.984,16.425-2.18a27.717,27.717,0,0,1,11.543,4.362,16.181,16.181,0,0,1,6.033,7.477,17.457,17.457,0,0,1,.789,9.228q-1.363,8-7.492,11.934t-16.857,2.106Q651.789,747.122,647.626,741.405Zm23.158-3.873a6.938,6.938,0,0,0,2.862-4.81,6.792,6.792,0,0,0-1.135-5.329q-1.65-2.292-5.681-2.98t-6.22.917a7,7,0,0,0-2.717,4.705,7.186,7.186,0,0,0,.983,5.466q1.532,2.243,5.566,2.927T670.784,737.532Z" transform="translate(473.708 14.597)" fill="#ecd8c5"/>
        <path id="Path_298" data-name="Path 298" d="M688.636,754.836q2.328-8.962,3.977-16.585a6.709,6.709,0,0,0-.391-4.59,4.259,4.259,0,0,0-3-2.323,4.337,4.337,0,0,0-3.838,1.067,9.279,9.279,0,0,0-2.732,4.59q-1.135,4.649-1.561,6.616-.906,4.179-1.737,9.215l-14.7-3.18q2.409-8.75,4.112-16.622t3.156-16.955q4.016,1.066,6.17,1.528,2.275.5,6.251,1.161l-.174,9.426a14.093,14.093,0,0,1,6.005-6.329A11.267,11.267,0,0,1,697.7,721a12.457,12.457,0,0,1,6.044,3.015,10.793,10.793,0,0,1,3.136,5.281,14.045,14.045,0,0,1,.041,6.509L705,744.667q-1.77,8.176-2.528,13.164Z" transform="translate(497.376 17.891)" fill="#ecd8c5"/>
      </g>
    </svg>
    
    <div class="textblock-slider__text">
      {{- text_block -}}
    </div>
    
    <div class="text-slider__slides-container">
      <div class="text-slider__slides">
        {% for block in section.blocks %}
        <div class="text-slider__slide">
          <div class="text-slider__slide-content">
            <p class="body medium">{{ block.settings.title }}</p>
            <p class="sh4">{{ block.settings.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    
    <div class="textblock-slider__arrow-container">
      <div class="text-slider__arrows"></div>
    </div>
    
  </div>
  
  <div class="">
    <a href="{{ section.settings.shop_all_link }}" class="button ">Shop Now</a>
  </div>
</div>
   
{% schema %}
  {
    "name": "Text Slider",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
	  {
        "type": "text",
        "id": "text2",
        "label": "Text"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
	  {
        "type": "checkbox",
        "id": "checkbox_backgound",
        "label": "Background"
      },
	  {
        "type": "url",
        "id": "shop_all_link",
        "label": "Shop All Link"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Text Slider"
      }
    ]
  }
{% endschema %}