{{ 'section-text-two-blocks.css' | asset_url | stylesheet_tag }}

<div style="background: {{ section.settings.background }};" class="text-two-blocks__container">
  <div style="color: {{ section.settings.color }};" class="page-width">
    <h1>{{ section.settings.title }}</h1>
    <h6 class="light">{{ section.settings.subtitle }}</h6>
    <div>

      
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Text Two Blocks",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "textarea",
        "id": "background",
        "label": "Background Style"
      }
    ],
    "presets": [
      {
        "name": "Text Two Blocks"
      }
    ]
  }
{% endschema %}
