{{ 'section-to-be-seen-testimonials.css' | asset_url | stylesheet_tag }}

<div style="background-color: {{ section.settings.background }}" class="to-be-seen-testimonials">
  {% for block in section.blocks %}
  <div style="color: {{ section.settings.color }}">
  <img src="{{ block.settings.image | img_url: "master" }}"/>
    <h2>{{ block.settings.testimonial }}</h2>
    <p class="sh4">- {{ block.settings.author }}</p>
  </div>
  {% endfor %}
</div>


{% schema %}
  {
    "name": "To Be Seen Testimonials",
    "settings": [
      {
        "type": "color",
        "id": "background",
        "label": "Background Color"
      },
	  {
        "type": "color",
        "id": "color",
        "label": "Text Color"
      }
	],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "textarea",
            "id": "testimonial",
            "label": "Testimonial"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "To Be Seen Testimonials"
      }
    ]
  }
{% endschema %}
