{{ 'section-yellow-toilets.css' | asset_url | stylesheet_tag }}

<div class="yellow-toilets">
  <div class="page-width">
	<div class="yellow-toilets__header">
      <h3>{{ section.settings.title }}</h3>
      <p class="sh2 light hide-mobile">{{ section.settings.text }}</p>
    </div>
    <div class="yellow-toilets__content">
      {% for block in section.blocks %}
        <div class="yellow-toilets__item">
          <h2 class="yellow-toilets__color yellow-toilets__color--{{ forloop.index }}">{{ block.settings.color }}</h2>
          <h5>{{ block.settings.title }}</h5>
          <p class="sh4 light">{{ block.settings.text }}</p>

          <style>
            .yellow-toilets__color--{{ forloop.index }}::before {
              content: '{{ block.settings.color }}';
            }
          </style>
        </div>
      {% endfor %}
    </div>
    <p class="yellow-toilets__mobile-text body-xs hide-desktop">SWIPE FOR A VIRTUAL CHECK-IN</p>
  </div>
</div>

{% schema %}
  {
    "name": "Yellow Toilets",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "text",
            "id": "color",
            "label": "Color"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Yellow Toilets"
      }
    ]
  }
{% endschema %}